﻿@model WarehouseModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Shipping.Warehouses.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Warehouses");


    var customerId = Model.Name.Substring(2);//Name="WH" + customerId

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Shipping.Warehouses.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Customers.Customers.Addresses.BackToCustomer").Text, "Edit", new { id = customerId })</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateWarehouse", Model)
}