﻿@{
    Layout = "~/Views/Shared/_LinePage.cshtml";

}

@model Nop.Web.Models.Line.LineSignInModel

@using Nop.Core;
@using Nop.Core.Infrastructure;

@{ 

    string googleUrl = "https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email&state=" + Model.LinkToken;
}

<section class="bootstrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="background-image:url(https://www.abcmore.com.tw/Content/new/1ED2D012-7FD0-463D-B133-F9A4DCE5B194.png); background-repeat:no-repeat; background-size:928px 36px; background-position:165px 0px;">
                <img src="https://www.abcmore.com.tw/Content/new/EBB596C4-FCAF-4008-9C90-2FA772A38381.png" class="img-fluid" alt="Responsive image" style="width:auto; height:36px;">
            </div>
        </div>
        @using (Html.BeginForm("AccountLink", "Line", FormMethod.Post, new { autocomplete = "off", id = "form1" }))
        {
            <div class="row justify-content-center mt-4">
                <div class="col-11">
                    @{
                        var errorMsg = Html.ValidationMessageFor(x => x.ErrorMsg);

                        if (!string.IsNullOrEmpty(errorMsg.ToHtmlString()))
                        {
                            <div class="row mb-3">
                                <div class="col-12">
                                    <span class="text-danger">@Html.ValidationMessageFor(x => x.ErrorMsg)</span>
                                </div>
                            </div>
                        }

                    }

                    <div class="row">
                        <div class="col-12">
                            @*<div class="form-group">
                                    <label for="LinkToken">LinkToken：</label>
                                    <input type="text" class="form-control rounded-0" id="LinkToken" name="LinkToken" placeholder="Enter Token" value="@Model.LinkToken">
                                </div>*@
                            <div class="form-group">
                                <label for="Account">電子信箱：</label>
                                <input type="email" class="form-control rounded-0" id="Account" name="Account" aria-describedby="emailHelp" placeholder="Enter email" value="@Model.Account">
                                <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.Account)</small>
                                <input type="hidden" id="LinkToken" name="LinkToken" value="@Model.LinkToken">
                            </div>
                            <div class="form-group">
                                <label for="Password">密碼：</label>
                                <input type="password" class="form-control rounded-0" id="Password" name="Password" placeholder="Password">
                                <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.Password)</small>
                            </div>
                            <button type="submit" name="SignIn" id="SignIn" class="btn btn-danger rounded-0">登入</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 text-center pb-1">
                            <small>或使用</small>
                        </div>
                        <div class="col-12 pb-2">
                            <button type="button" class="btn btn-outline-danger btn-sm btn-block rounded-0" onclick="location.href='@Url.Action("AuthenticateFromABCCar","ReturnRequest", new { state = Model.LinkToken })'"><i class="fa fa-car"></i> abc好車網登入</button>
                        </div>
                        <div class="col-12 pb-2">
                            <button type="button" class="btn btn-outline-danger btn-sm btn-block rounded-0" onclick="location.href='https://www.facebook.com/v3.2/dialog/oauth?client_id=742350016131465&redirect_uri=@(CommonHelper.GetAppSettingValue("FbReturnUrl"))&auth_type=rerequest&scope=email&state=@Model.LinkToken'"><i class="fa fa-facebook-official"></i> facebook登入</button>
                        </div>
                        <div class="col-12 pb-5">
                            <button type="button" class="btn btn-outline-danger btn-sm btn-block rounded-0" onclick="location.href='https://accounts.google.com/o/oauth2/v2/auth?client_id=885559723192-u0besd4revrlujnu5i8pt2o2pbqd0o5c.apps.googleusercontent.com&redirect_uri=@(CommonHelper.GetAppSettingValue("GoogleReturnUrl"))&response_type=code&scope=@(googleUrl)'"><i class="fa fa-google"></i>oogle登入</button>
                        </div>
                    </div>
                </div>
            </div>
        }



    </div>
</section>
@Html.AntiForgeryToken()

@section scripts {

    <script>
        //init LIFF
        function initializeApp(data) {
            @*
            $('#QueryString').val(urlParams.toString());
            //顯示UserId
            //$('#userid').val(data.context.userId);
            *@
        }
        //ready
        $(function () {
            //init LIFF
            liff.init(function (data) {
                initializeApp(data);
            });

        });
    </script>
}