﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="~/Content/bootstrap4/css/iso_bootstrap4.1.0min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap4/js/bootstrap.min.js"></script>

    <script>

        function Auth() {
            var URL = 'https://access.line.me/oauth2/v2.1/authorize?';
            URL += 'response_type=code';
            URL += '&client_id=1594612944';   //TODO:這邊要換成你的client_id
            URL += '&redirect_uri=https://ee251508.ngrok.io/line/LineSSOCallback';   //TODO:要將此redirect url 填回你的 LineLogin後台設定
            URL += '&scope=openid%20profile%20email';
            URL += '&state=abcde';
            window.location.href = URL;
        }
    </script>


</head>
<body>
    <section class="bootstrap">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" onclick="Auth();">與LINE帳號綁定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
