﻿@{
    Layout = "~/Views/Shared/_LinePage.cshtml";

}

@model Nop.Web.Models.Line.LineSignInModel


<section class="bootstrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="background-image:url(https://www.abcmore.com.tw/Content/new/1ED2D012-7FD0-463D-B133-F9A4DCE5B194.png); background-repeat:no-repeat; background-size:928px 36px; background-position:165px 0px;">
                <img src="https://www.abcmore.com.tw/Content/new/EBB596C4-FCAF-4008-9C90-2FA772A38381.png" class="img-fluid" alt="Responsive image" style="width:auto; height:36px;">
            </div>
        </div>
        @using (Html.BeginForm("JwtSSOVerify", "Line", FormMethod.Post, new { autocomplete = "off", id = "form1" }))
        {
            <div class="row justify-content-center mt-4">
                <div class="col-11">
                    <div class="row">
                        <div class="col-12">
                            <span>資料處理中...</span>
                            <input type="hidden" id="JwtToken" name="JwtToken" value="@ViewBag.JwtToken" />
                            <input type="hidden" id="UserId" name="UserId" />
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
</section>
@Html.AntiForgeryToken()

@section scripts {

    <script>
        //init LIFF
        function initializeApp(data) {
            @*
            $('#QueryString').val(urlParams.toString());
            //顯示UserId
            //$('#userid').val(data.context.userId);
            *@
            $('#UserId').val(data.context.userId);
            $("#form1").submit();


        }
        //ready
        $(function () {
            //init LIFF
            liff.init(function (data) {
                initializeApp(data);
            });

        });
    </script>
}