﻿@model CheckoutCompletedModel
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Checkout;
@using Nop.Services.Configuration;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");


    var _settingService = EngineContext.Current.Resolve<ISettingService>();

}
<div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
    }
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="page-body checkout-data">
        @Html.Widget("checkout_completed_top", Model.OrderId)
        <div class="section order-completed">
            <div class="title">
                <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
            </div>
            <div class="details">
                <div class="order-number">
                    <strong>@T("Checkout.OrderNumber"): @Model.OrderId</strong>
                </div>
                <div class="details-link">
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                </div>
            </div>

            @{
                //是否有安裝商品,有的話引導去預約
                if (Model.OrderInfo.OrderItems != null && Model.OrderInfo.OrderItems.Count > 0)
                {
                    var IsBooking = false;

                    foreach (var item in Model.OrderInfo.OrderItems)
                    {
                        var check = (item.Product.ProductCategories.Where(x => x.CategoryId == int.Parse(_settingService.GetSetting("tiresettings.category").Value)).Any()
                                        || item.Product.ProductCategories.Where(x => x.CategoryId == int.Parse(_settingService.GetSetting("carbeautysettings.category").Value)).Any()
                                        || item.Product.ProductCategories.Where(x => x.CategoryId == int.Parse(_settingService.GetSetting("maintenancesettings.category").Value)).Any());

                        if (check)
                        {
                            IsBooking = true;
                        }
                    }

                    if (IsBooking)
                    {
                        <div class="details">
                            <div class="order-number">
                                <strong>提醒您有安裝商品</strong>
                            </div>
                            <div class="details-link">
                                <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">立即前往預約適合您的地點與時間的安裝服務。</a>
                            </div>
                        </div>
                        if (System.Configuration.ConfigurationManager.AppSettings["UseLineBot"] == "true")
                        {
                            <div class="details" style="margin-top:15px;">
                                <div class="order-number">
                                    <strong>建議您加入abc好養車預約助理，讓您隨時隨地管理您的預約。</strong>
                                </div>
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["LinkQRCode"]" target="_blank">
                                    <i class="fab fa-line" aria-hidden="true" style="color:#1DB446; font-size:x-large;"></i> <strong>立即加入。</strong>
                                </a>
                            </div>
                        }

                    }
                }
            }


            <div class="buttons">
                <input type="button" value="@(T("Checkout.ThankYou.Continue"))購物" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
            </div>
        </div>
        @Html.Widget("checkout_completed_bottom", Model.OrderId)
    </div>
</div>
