﻿@model CheckoutConfirmModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class

    Html.AddCssFileParts("~/Content/bootstrap-iso.css");

    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-confirm-page");
}
<div class="page checkout-page order-confirm-page">
    @Html.Action("MyCheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Confirm })
    <div class="page-title">
        <h1>@T("Checkout.ConfirmYourOrder")</h1>
    </div>

    <div class="section order-summary" style="margin-bottom:15px;">
        <div class="title">
            <strong>@T("Checkout.OrderSummary")</strong>
        </div>
        @Html.Action("MyConfirmOrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
    </div>

    @*<section class="bootstrap-iso">
        @Html.Action("MyConfirmOrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
    </section>*@


    <div class="page-body checkout-data">

        @*<div class="section order-summary">
                @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
            </div>*@

        @*<div class="section order-summary" style="margin-bottom:15px;">
                @Html.Action("ReadOnlyOrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
            </div>*@

        @Html.Widget("checkout_confirm_top")
        @using (Html.BeginForm("MyConfirm", "Checkout", FormMethod.Post, new { id = "confirm-order-form" }))
        {
            bool isAssignSale = false;
            int[] abcCatalogs = new int[] { 14, 15, 7838 };

            foreach (var o in Model.ShoppingCartItems)
            {
                if (o.Product.ProductCategories.Where(x => abcCatalogs.Contains(x.CategoryId)).Any())
                {
                    isAssignSale = true;
                }
            }
            if (isAssignSale)
            {
                <div class="bootstrap-iso">
                    <div class="panel panel-default">
                        <div class="panel-heading">業務資訊</div>
                        <div class="panel-body">

                            <div class="form-group col-sm-4">
                                <label for="disabledTextInput">所屬工會</label>
                                <select class="form-control" style="border-radius:0;" name="Guild" id="Guild">
                                    <option value="0">請選擇</option>
                                    @foreach (var item in Model.Guilds)
                                    {
                                        <option value="@item.Value">@item.Key</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group col-sm-3">
                                <label for="disabledTextInput">業務窗口</label>
                                <select class="form-control" style="border-radius:0;" name="Salesman" id="Salesman">
                                    <option value="0">請選擇</option>
                                    @foreach (var item in Model.Salesmans)
                                    {
                                        <option value="@item.Value">@item.Key</option>
                                    }
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            }



            <div class="section confirm-order">

                @*發票資訊*@
                <div style="font-size:16px; margin-bottom:20px;">
                    <div style="margin-bottom:10px;">
                        發票資訊
                    </div>
                    <div style="margin-bottom:10px;">
                        <div style="float:left; margin-right:20px;">
                            <input id="InvInfo_0" type="radio" name="InvInfo" value="0" checked>
                            <label for="InvInfo_0">個人用</label>
                        </div>
                        <div style="float:left; margin-right:20px;">
                            <input id="InvInfo_1" type="radio" name="InvInfo" value="1">
                            <label for="InvInfo_1">公司用</label>
                        </div>
                        <div style="clear:left;"></div>
                    </div>

                    <div class="InvForCompany" style="max-width:400px; margin-bottom:15px; display:none;">
                        <div class="inputs">
                            <label for="InvCustomerName_1">發票抬頭：<span class="required"></span></label>
                            <input class="text-box single-line" placeholder="請輸入發票抬頭" id="InvCustomerName_1" name="InvCustomerName_1" type="text">

                        </div>
                        <div class="inputs">
                            <label for="InvIdentifier">統一編號：<span class="required"></span></label>
                            <input class="text-box single-line" placeholder="(例如:98765432-只允許輸入數字)" id="InvIdentifier" name="InvIdentifier" type="text">

                        </div>
                    </div>
                    <div style="margin-bottom:10px;">
                        <div style="float:left; margin-right:20px;">
                            <input id="InvPrint" type="checkbox" name="InvPrint" value="1">
                            <label for="InvPrint">索取紙本</label>
                        </div>
                        <div style="clear:left;"></div>
                    </div>
                    <div class="InvForPerson" style="max-width:400px; margin-bottom:15px; display:none;">
                        <div class="inputs">
                            <label for="InvCustomerName_0">買受人：<span class="required"></span></label>
                            <input class="text-box single-line" placeholder="請輸入買受人" id="InvCustomerName_0" name="InvCustomerName_0" type="text">
                        </div>
                    </div>
                    <div class="InvForPrint" style="max-width:400px; margin-bottom:15px; display:none;">
                        <div class="inputs">
                            <label for="InvCustomerAddr">郵寄地址：<span class="required"></span></label>
                            <input class="text-box single-line" placeholder="請輸入郵寄地址" id="InvCustomerAddr" name="InvCustomerAddr" type="text">
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#InvInfo_0").click(function () {
                            $(this).prop("checked", true);
                            $(".InvForPerson").show();
                            $(".InvForCompany").hide();
                        });
                        $("#InvInfo_1").click(function () {
                            $(".InvForPerson").hide();
                            $(".InvForCompany").show();
                        });
                        $("#InvPrint").click(function () {
                            if ($(this).prop("checked")) {
                                $(".InvForPerson").show();
                                $(".InvForPrint").show();
                            } else {
                                $(".InvForPerson").hide();
                                $(".InvForPrint").hide();
                            }

                        });

                    });
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.confirm-order-next-step-button').click(function () {
                            //terms of service
                            var termOfServiceOk = true;
                            if ($('#termsofservice').length > 0) {
                                //terms of service element exists
                                if (!$('#termsofservice').is(':checked')) {
                                    $("#terms-of-service-warning-box").dialog();
                                    termOfServiceOk = false;
                                } else {
                                    termOfServiceOk = true;
                                }
                            }

                            @*表單驗證*@
                            var invInfo = $('input:radio:checked[name="InvInfo"]').val();
                            var invIdentifier = $("#InvIdentifier").val();
                            //alert(invInfo);
                            if (invInfo == "1") {
                                if ($("#InvCustomerName_1").val() == "") {
                                    var elm = $("#InvCustomerName_1").parent();
                                    $("span.required", elm).html("必填");
                                    termOfServiceOk = false;
                                } else {
                                    var elm = $("#InvCustomerName_1").parent();
                                    $("span.required", elm).html("");
                                }
                                if ($("#InvIdentifier").val() == "") {
                                    var elm = $("#InvIdentifier").parent();
                                    $("span.required", elm).html("必填");
                                    termOfServiceOk = false;
                                } else if (invIdentifier.length > 8) {
                                    var elm = $("#InvIdentifier").parent();
                                    $("span.required", elm).html("超過長度");
                                    termOfServiceOk = false;
                                } else if (!$.isNumeric(invIdentifier)) {
                                    var elm = $("#InvIdentifier").parent();
                                    $("span.required", elm).html("資料錯誤");
                                    termOfServiceOk = false;
                                } else {
                                    var elm = $("#InvIdentifier").parent();
                                    $("span.required", elm).html("");
                                }
                            }

                            var invPrint = $('input:checkbox:checked[name="InvPrint"]').val();
                            //alert(invPrint);
                            if (invPrint == "1") {
                                if (invInfo == "1") {
                                    if ($("#InvCustomerAddr").val() == "") {
                                        var elm = $("#InvCustomerAddr").parent();
                                        $("span.required", elm).html("必填");
                                        termOfServiceOk = false;
                                    } else {
                                        var elm = $("#InvCustomerAddr").parent();
                                        $("span.required", elm).html("");
                                    }
                                } else {
                                    if ($("#InvCustomerName_0").val() == "") {
                                        var elm = $("#InvCustomerName_0").parent();
                                        $("span.required", elm).html("必填");
                                        termOfServiceOk = false;
                                    } else {
                                        var elm = $("#InvCustomerName_0").parent();
                                        $("span.required", elm).html("");
                                    }
                                    if ($("#InvCustomerAddr").val() == "") {
                                        var elm = $("#InvCustomerAddr").parent();
                                        $("span.required", elm).html("必填");
                                        termOfServiceOk = false;
                                    } else {
                                        var elm = $("#InvCustomerAddr").parent();
                                        $("span.required", elm).html("");
                                    }
                                }

                            }

                            @*表單驗證*@

                            if (termOfServiceOk) {
                                //$('#confirm-order-form').submit();
                                //$('.confirm-order-next-step-button').attr('disabled', 'disabled');
                                return true;
                            } else {
                                return false;
                            }
                        });


                        //填入發票預設值
                        $("#InvCustomerName_1").val($("#blName").data("name"));
                        $("#InvCustomerAddr").val($("#blAddress1").data("address1"));


                    });
                </script>
                @if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
                {
                    <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
                }
                else
                {
                    if (Model.TermsOfServiceOnOrderConfirmPage)
                    {
                        <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display: none;">
                            <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                        </div>
                        <div class="terms-of-service">
                            <input id="termsofservice" type="checkbox" name="termsofservice" />
                            <span>
                                @T("Checkout.TermsOfService.IAccept")
                                <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
                            </span>
                            <script>
                                $(document).ready(function() {
                                    $('#read-terms').on('click', function(e) {
                                        e.preventDefault();
                                        displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', '@T("Checkout.TermsOfService")');
                                    });
                                });
                            </script>
                        </div>
                    }
                    <div class="buttons">
                        @*<input type="submit" name="nextstep" value="@T("Checkout.ConfirmButton")" class="button-1 confirm-order-next-step-button" />*@
                        <input type="submit" name="nextstep" value="確認結帳" class="button-1 confirm-order-next-step-button" />
                    </div>
                    <script>
                        $('#confirm-order-form').on('submit', function () {
                            var button = $(this).find('input[type="submit"][name="nextstep"]');
                            setTimeout(function () {
                                button.attr('disabled', 'disabled');
                            }, 0);
                        });
                    </script>
                }
                @if (Model.Warnings.Count > 0)
                {
                    <div class="message-error">
                        <ul>
                            @foreach (var warning in Model.Warnings)
                            {
                                <li>@warning</li>
                            }
                        </ul>
                    </div>
                }

            </div>
        }
        @Html.Widget("checkout_confirm_bottom")
    </div>
</div>
