﻿@model OnePageFormCheckoutModel
@using Nop.Web.Models.Checkout;
@using Nop.Core



@using (Html.BeginForm("MyOnePageCheckout", "Checkout", FormMethod.Post, new { id = "confirm-order-form" }))
{
    @Html.AntiForgeryToken()

    @*訂購人資料*@
    <div class="card-body pb-0" id="billingAddress">
        <div class="alert alert-secondary rounded-0 py-2" role="alert">
            <div class="row">
                <div class="col-12 header-not-mobile">
                    <strong class="pr-5">訂購人資料</strong>
                    @if (Model.CheckoutBillingAddressModel.ExistingAddresses.Count <= 0)
                    {
                        <input type="hidden" name="billingAddressRadio" id="billingAddressRadio" value="1" />

                    }
                    else if (Model.CheckoutBillingAddressModel.ExistingAddresses.Count >= 1)
                    {
                        <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="2" onclick="billingAddressShow(this);">從最近訂購人資料挑選</span>
                        <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="1" onclick="billingAddressShow(this);">新增訂購人資料</span>
                        <input type="hidden" name="billingAddressRadio" id="billingAddressRadio" value="2" />

                    }
                </div>
                <div class="col-12 header-mobile">
                    <div class="row">
                        <div class="col-12">
                            <strong class="pr-5">訂購人資料</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-11 header-mobile">
                <div class="row">
                    <div class="col-12 mb-3">
                        @if (Model.CheckoutBillingAddressModel.ExistingAddresses.Count <= 0)
                        {

                        }
                        else if (Model.CheckoutBillingAddressModel.ExistingAddresses.Count >= 1)
                        {
                            <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="2" onclick="billingAddressShow(this);">從最近訂購人資料挑選</span>
                            <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="1" onclick="billingAddressShow(this);">新增訂購人資料</span>

                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-11">
                <div class="row">
                    <div class="col-12">

                        @if (Model.CheckoutBillingAddressModel.ExistingAddresses.Count > 0)
                        {
                            var currentAddress = Model.LastBillingAddress != null ? Model.LastBillingAddress : Model.CheckoutBillingAddressModel.ExistingAddresses[0];

                            <dl class="row" id="billingAddressInfo" data-id="@currentAddress.Id">
                                <dt class="col-sm-1">姓名：</dt>
                                <dd class="col-sm-11">@CommonHelper.MaskString(currentAddress.FirstName)</dd>
                                <dt class="col-sm-1">E-Mail：</dt>
                                <dd class="col-sm-11">@CommonHelper.MaskString(currentAddress.Email)</dd>
                                <dt class="col-sm-1">電話：</dt>
                                <dd class="col-sm-11">@CommonHelper.MaskString(currentAddress.PhoneNumber)</dd>
                                <dt class="col-sm-1">地址：</dt>
                                <dd class="col-sm-11">@(currentAddress.City)@(currentAddress.Address1)</dd>
                            </dl>
                            <input type="hidden" name="billingAddressInfoId" id="billingAddressInfoId" value="@currentAddress.Id" />
                        }
                        else
                        {
                            <input type="hidden" name="billingAddressInfoId" id="billingAddressInfoId" value="0" />
                        }

                        <div id="billingAddressNew" style="@(Model.CheckoutBillingAddressModel.ExistingAddresses.Count > 0 ? "display:none;" : "")">
                            <div class="form-row">
                                <div class="col-12 col-md-3 mb-3">
                                    <label for="billingAddress_FristName"><strong>姓名</strong></label>
                                    <input type="text" class="form-control rounded-0" id="billingAddress_FristName" name="billingAddress_FristName" placeholder="姓名" value="">
                                    <div class="invalid-feedback">
                                        必填
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <label for="billingAddress_PhoneNumber"><strong>電話</strong></label>
                                    <input type="text" class="form-control rounded-0" id="billingAddress_PhoneNumber" name="billingAddress_PhoneNumber" placeholder="電話" value="">
                                    <div class="invalid-feedback">
                                        必填
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <label for="billingAddress_Email"><strong>E-Mail</strong></label>
                                    <input type="text" class="form-control rounded-0" id="billingAddress_Email" name="billingAddress_Email" placeholder="E-Mail" value="">
                                    <div class="invalid-feedback">
                                        必填
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 col-md-2 mb-3">
                                    <label for="billingAddress_City"><strong>縣市</strong></label>
                                    <select class="form-control rounded-0" id="billingAddress_City" name="billingAddress_City" onchange="billingAddressCity(this);">
                                        <option value="">請選擇</option>
                                        @if (Model.CityList != null && Model.CityList.Count > 0)
                                        {
                                            foreach (var item in Model.CityList)
                                            {
                                                <option value="@item.City">@item.City</option>
                                            }
                                        }
                                    </select>
                                    <div class="invalid-feedback">
                                        必填
                                    </div>
                                </div>
                                <div class="col-12 col-md-2 mb-3">
                                    <label for="billingAddress_Area"><strong>鄉鎮市區</strong></label>
                                    <select class="form-control rounded-0" id="billingAddress_Area" name="billingAddress_Area">
                                        <option value="">請選擇</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        必填
                                    </div>
                                </div>
                                <div class="col-12 col-md-5 mb-3">
                                    <label for="billingAddress_Address1"><strong>地址</strong></label>
                                    <input type="text" class="form-control rounded-0" id="billingAddress_Address1" name="billingAddress_Address1" placeholder="地址" value="">
                                    <div class="invalid-feedback">
                                        必填
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    @*配送方式*@
    <div class="card-body pb-0" id="shippingMethod">
        <div class="alert alert-secondary rounded-0 py-2" role="alert">
            <div class="row">
                <div class="col-12">
                    <strong class="pr-5">配送方式</strong>
                </div>
            </div>
        </div>

        @*有宅配商品*@
        <div class="row justify-content-center">
            <div class="col-11">
                <div class="row">
                    @if (Model.IsShippingInput)
                    {
                        <div class="col-12 mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="shippingMethodRadio" id="shippingMethodRadio" value="1" checked="checked">
                                <label class="form-check-label" for="shippingMethodRadio"><strong>宅配</strong></label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-12 mb-3" style="display:none;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="shippingMethodRadio" id="shippingMethodRadio" value="1">
                                <label class="form-check-label" for="shippingMethodRadio"></label>
                            </div>
                        </div>
                    }
                    @if (Model.IsBookingInput)
                    {
                        <div class="col-12 mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="bookingMethodRadio" id="bookingMethodRadio" value="1" checked="checked">
                                <label class="form-check-label" for="bookingMethodRadio"><strong>服務商品，訂單完成後線上預約。</strong></label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-12 mb-3" style="display:none;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="bookingMethodRadio" id="bookingMethodRadio" value="1">
                                <label class="form-check-label" for="bookingMethodRadio"></label>
                            </div>
                        </div>
                    }
                    @if (Model.IsMyAccountInput)
                    {
                        <div class="col-12 mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="myAccountMethodRadio" id="myAccountMethodRadio" value="1" checked="checked">
                                <label class="form-check-label" for="myAccountMethodRadio"><strong>電子禮券，訂單完成後信託並匯入電子禮券帳戶。</strong></label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-12 mb-3" style="display:none;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="myAccountMethodRadio" id="myAccountMethodRadio" value="1">
                                <label class="form-check-label" for="myAccountMethodRadio"></label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @*有宅配時需要收件人資料*@
    <div class="card-body pb-0" id="shippingAddress" style="@(!Model.IsShippingInput?"display:none;":"")">
        <div class="alert alert-secondary rounded-0 py-2" role="alert">
            <div class="row">
                <div class="col-12 header-not-mobile">
                    <strong class="pr-5">收件人資料</strong>
                    @if (Model.CheckoutShippingAddressModel.ExistingAddresses.Count <= 0)
                    {
                        //沒有挑選按鈕
                        <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="3" onclick="shippingAddressShow(this);">同訂購人資料</span>
                        <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="1" onclick="shippingAddressShow(this);">新增收件人資料</span>
                        <input type="hidden" name="shippingAddressRadio" id="shippingAddressRadio" value="1" />

                    }
                    else if (Model.CheckoutShippingAddressModel.ExistingAddresses.Count >= 1)
                    {
                        <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="3" onclick="shippingAddressShow(this);">同訂購人資料</span>
                        <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="2" onclick="shippingAddressShow(this);">從最近收件人資料挑選</span>
                        <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="1" onclick="shippingAddressShow(this);">新增收件人資料</span>
                        <input type="hidden" name="shippingAddressRadio" id="shippingAddressRadio" value="2" />

                    }
                </div>
                <div class="col-12 header-mobile">
                    <div class="row">
                        <div class="col-12">
                            <strong class="pr-5">收件人資料</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-11 header-mobile">
                <div class="row">
                    <div class="col-12 mb-3">
                        @if (Model.CheckoutShippingAddressModel.ExistingAddresses.Count <= 0)
                        {
                            //沒有挑選按鈕
                            <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="3" onclick="shippingAddressShow(this);">同訂購人資料</span>
                            <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="1" onclick="shippingAddressShow(this);">新增收件人資料</span>

                        }
                        else if (Model.CheckoutShippingAddressModel.ExistingAddresses.Count >= 1)
                        {
                            <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="3" onclick="shippingAddressShow(this);">同訂購人資料</span>
                            <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="2" onclick="shippingAddressShow(this);">從最近收件人資料挑選</span>
                            <span class="badge badge-secondary" style="font-size:small; cursor:pointer;" data-val="1" onclick="shippingAddressShow(this);">新增收件人資料</span>

                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-11">
                <div class="row">
                    <div class="col-12">
                        @if (Model.CheckoutShippingAddressModel.ExistingAddresses.Count > 0)
                        {
                            var currentAddress = Model.LasShippingAddress != null ? Model.LasShippingAddress : Model.CheckoutShippingAddressModel.ExistingAddresses[0];

                            <dl class="row" id="shippingAddressInfo" data-id="@currentAddress.Id">
                                <dt class="col-sm-1">姓名：</dt>
                                <dd class="col-sm-11">@CommonHelper.MaskString(currentAddress.FirstName)</dd>
                                <dt class="col-sm-1">E-Mail：</dt>
                                <dd class="col-sm-11">@CommonHelper.MaskString(currentAddress.Email)</dd>
                                <dt class="col-sm-1">電話：</dt>
                                <dd class="col-sm-11">@CommonHelper.MaskString(currentAddress.PhoneNumber)</dd>
                                <dt class="col-sm-1">地址：</dt>
                                <dd class="col-sm-11">@(currentAddress.City)@(currentAddress.Address1)</dd>
                            </dl>
                            <input type="hidden" name="shippingAddressInfoId" id="shippingAddressInfoId" value="@currentAddress.Id" />

                        }
                        else
                        {
                            <input type="hidden" name="shippingAddressInfoId" id="shippingAddressInfoId" value="0" />
                        }

                        <div id="shippingAddressNew" style="@(Model.CheckoutShippingAddressModel.ExistingAddresses.Count > 0 ? "display:none;" : "")">
                            <div class="form-row">
                                <div class="col-12 col-md-3 mb-3">
                                    <label for="shippingAddress_FristName"><strong>姓名</strong></label>
                                    <input type="text" class="form-control rounded-0" id="shippingAddress_FristName" name="shippingAddress_FristName" placeholder="姓名" value="">
                                    <div class="invalid-feedback">
                                        必填
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <label for="shippingAddress_PhoneNumber"><strong>電話</strong></label>
                                    <input type="text" class="form-control rounded-0" id="shippingAddress_PhoneNumber" name="shippingAddress_PhoneNumber" placeholder="電話" value="">
                                    <div class="invalid-feedback">
                                        必填
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <label for="shippingAddress_Email"><strong>E-Mail</strong></label>
                                    <input type="text" class="form-control rounded-0" id="shippingAddress_Email" name="shippingAddress_Email" placeholder="E-Mail" value="">
                                    <div class="invalid-feedback">
                                        必填
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 col-md-2 mb-3">
                                    <label for="shippingAddress_City"><strong>縣市</strong></label>
                                    <select class="form-control rounded-0" id="shippingAddress_City" name="shippingAddress_City" onchange="shippingAddressCity(this);">
                                        <option value="">請選擇</option>
                                        @if (Model.CityList != null && Model.CityList.Count > 0)
                                        {
                                            foreach (var item in Model.CityList)
                                            {
                                                <option value="@item.City">@item.City</option>
                                            }
                                        }
                                    </select>
                                    <div class="invalid-feedback">
                                        必填
                                    </div>
                                </div>
                                <div class="col-12 col-md-2 mb-3">
                                    <label for="shippingAddress_Area"><strong>鄉鎮市區</strong></label>
                                    <select class="form-control rounded-0" id="shippingAddress_Area" name="shippingAddress_Area">
                                        <option value="">請選擇</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        必填
                                    </div>
                                </div>
                                <div class="col-12 col-md-5 mb-3">
                                    <label for="shippingAddress_Address1"><strong>地址</strong></label>
                                    <input type="text" class="form-control rounded-0" id="shippingAddress_Address1" name="shippingAddress_Address1" placeholder="地址" value="">
                                    <div class="invalid-feedback">
                                        必填
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*發票資訊*@
    <div class="card-body pb-0" id="shippingMethod">
        <div class="alert alert-secondary rounded-0 py-2" role="alert">
            <div class="row">
                <div class="col-12">
                    <strong class="pr-5">發票資訊</strong>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-11">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="invInfo" id="invInfo_0" value="0" checked="checked" onclick="invForPerson();">
                                    <label class="form-check-label" for="invInfo_0"><strong>個人用</strong></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="invInfo" id="invInfo_1" value="1" onclick="invForCompany();">
                                    <label class="form-check-label" for="invInfo_1"><strong>公司用</strong></label>
                                </div>
                            </div>
                            <div class="col-12" style="display:none;" id="invForCompany">
                                <div class="form-row">
                                    <div class="col-12 mb-3">
                                        <label for="InvCustomerName_1"><strong>發票抬頭：</strong></label>
                                        <input type="text" class="form-control rounded-0" id="invCustomerName_1" name="invCustomerName_1" placeholder="發票抬頭" value="">
                                        <div class="invalid-feedback">
                                            必填
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-row">
                                    <div class="col-12 mb-3">
                                        <label for="InvIdentifier"><strong>統一編號：</strong></label>
                                        <input type="text" class="form-control rounded-0" id="invIdentifier" name="invIdentifier" placeholder="統一編號" value="">
                                        <div class="invalid-feedback">
                                            必填
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="invPrint" id="invPrint" value="1" onclick="invForPrint();">
                                    <label class="form-check-label" for="invPrint">索取紙本</label>
                                </div>
                            </div>
                            <div class="col-12" style="display:none;" id="invForPrint">
                                <div class="form-row">
                                    <div class="col-12 mb-3">
                                        <label for="InvCustomerName_1"><strong>請輸入買受人：</strong></label>
                                        <input type="text" class="form-control rounded-0" id="invCustomerName_0" name="invCustomerName_0" placeholder="請輸入買受人" value="">
                                        <div class="invalid-feedback">
                                            必填
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="form-row">
                                    <div class="col-12 mb-3">
                                        <label for="InvIdentifier"><strong>郵寄地址：</strong></label>
                                        <input type="text" class="form-control rounded-0" id="invCustomerAddr" name="invCustomerAddr" placeholder="郵寄地址" value="">
                                        <div class="invalid-feedback">
                                            必填
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="invReturn" id="invReturn" value="1" checked="checked">
                                    <label class="form-check-label" for="invReturn">我同意辦理退貨時，由abc好養車代為處理電子發票及銷貨退回證明單。</label>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    @*使用紅利點數*@
    <div class="card-body pb-0" id="shippingMethod">
        <div class="alert alert-secondary rounded-0 py-2" role="alert">
            <div class="row">
                <div class="col-12">
                    <strong class="pr-5">使用紅利點數</strong>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-11">
                <div class="row">
                    @if (Model.CheckoutPaymentMethodModel.DisplayRewardPoints && Model.CheckoutPaymentMethodModel.PaymentMethods.Count > 0)
                    {
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="useRewardPoints" id="useRewardPoints" value="1" onclick="useRewardPoint();">
                                        <label class="form-check-label" for="useRewardPoints">@string.Format(T("Checkout.UseRewardPoints").Text, Model.CheckoutPaymentMethodModel.RewardPointsBalance, Model.CheckoutPaymentMethodModel.RewardPointsAmount)</label>
                                    </div>
                                </div>
                                <div class="col-12" style="display:none;" id="useForRewardPoint">
                                    <div class="form-row">
                                        <div class="col-sm-12 col-md-3 mb-3">
                                            <label for="useRewardPointValue"><strong>請輸入使用紅利點數：</strong></label>
                                            <input type="number" class="form-control rounded-0" id="useRewardPointValue" name="useRewardPointValue" placeholder="請輸入使用紅利點數" value="0" onkeyup="UpdateRewardPoints(this);">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="useRewardPoints" id="useRewardPoints" value="1" disabled="disabled">
                                        <label class="form-check-label" for="UseRewardPoints">目前無紅利點數</label>
                                    </div>
                                </div>
                                <div class="col-12" style="display:none;">
                                    <div class="form-row">
                                        <div class="col-sm-12 col-md-3 mb-3">
                                            <label for="InvCustomerName_1"><strong>請輸入使用紅利點數：</strong></label>
                                            <input type="number" class="form-control rounded-0" id="useRewardPointValue" name="useRewardPointValue" placeholder="請輸入使用紅利點數" value="0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

    @*付款方式*@
    <div class="card-body pb-0" id="paymentMethod">
        <div class="alert alert-secondary rounded-0 py-2" role="alert">
            <div class="row">
                <div class="col-12">
                    <strong class="pr-5">付款方式</strong>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-11">
                <div class="row">
                    @if (Model.CheckoutPaymentMethodModel.PaymentMethods.Count > 0)
                    {
                        for (int i = 0; i < Model.CheckoutPaymentMethodModel.PaymentMethods.Count; i++)
                        {
                            var paymentMethod = Model.CheckoutPaymentMethodModel.PaymentMethods[i];
                            var paymentMethodName = paymentMethod.Name;

                            <div class="col-sm-6 col-md-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="paymentMethodRadio" id="paymentMethodRadio_@(i)" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" onclick="selectPaymentMethod(this);">
                                    <label class="form-check-label" for="paymentMethodRadio_@(i)"><strong>@paymentMethodName</strong></label>
                                </div>
                            </div>

                        }

                    }

                </div>
                <div class="row">
                    <div class="col-12 mt-3 mb-3">
                        註：信用卡分期適用銀行 台新、玉山、富邦、遠東、永豐、國泰世華、華南、日盛、樂天、安泰、聯邦、兆豐、台中商銀、上海銀行、凱基、匯豐、星展、新光、合庫、彰銀、一銀、元大、陽信、台灣企銀、華泰、三信商銀
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*確認訂單*@
    <div class="card-body pb-0" id="shippingMethod">
        <div class="alert alert-secondary rounded-0 py-2" role="alert">
            <div class="row">
                <div class="col-12">
                    <strong class="pr-5">確認訂單</strong>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-11">
                <div class="row">
                    <div class="col-12">
                        @Html.Action("MyOnePageOrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = false })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body pb-0" id="shippingMethod">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-2">
                @*<button type="submit" class="btn btn-danger btn-lg btn-block" onclick="return validateForm();">確認結帳</button>*@
                <input type="submit" id="formSubmit" name="nextstep" value="確認結帳" class="btn btn-danger btn-lg btn-block rounded-0" />
            </div>
        </div>
    </div>

}



@*billing address select*@
<div style="display: none;" id="hiddenBillingAddress">
    <section class="bootstrap" data-selectable="true">
        <div class="row">
            <div class="col-12 mt-4">
                @if (Model.CheckoutBillingAddressModel.ExistingAddresses.Count > 0)
                {
                    <strong>最近訂購人資料</strong>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">選擇</th>
                                <th scope="col">姓名</th>
                                <th scope="col">地址</th>
                                <th scope="col">電話</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var address in Model.CheckoutBillingAddressModel.ExistingAddresses)
                            {
                                <tr>
                                    <td>
                                        <input type="radio" name="billingAddressRecord" onclick="billingAddressChange(this);" data-id="@address.Id" data-name="@(CommonHelper.MaskString(address.FirstName))" data-email="@(CommonHelper.MaskString(address.Email))" data-phone="@(CommonHelper.MaskString(address.PhoneNumber))" data-addr="@(address.City)@(address.Address1)" />
                                    </td>
                                    <td>
                                        @address.FirstName
                                    </td>
                                    <td>
                                        @(address.City)@(address.Address1)
                                    </td>
                                    <td>
                                        @(CommonHelper.MaskString(address.PhoneNumber))
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                }
                else
                {
                    <strong>沒有最近訂購人的資料</strong>

                }

            </div>
        </div>
    </section>
</div>

@*shipping address select*@
<div style="display: none;" id="hiddenShippingAddress">
    <section class="bootstrap" data-selectable="true">
        <div class="row">
            <div class="col-12 mt-4">
                @if (Model.CheckoutShippingAddressModel.ExistingAddresses.Count > 0)
                {
                    <strong>最近收件人資料</strong>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">選擇</th>
                                <th scope="col">姓名</th>
                                <th scope="col">地址</th>
                                <th scope="col">電話</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var address in Model.CheckoutShippingAddressModel.ExistingAddresses)
                            {
                                <tr>
                                    <td>
                                        <input type="radio" name="shippingAddressRecord" onclick="shippingAddressChange(this);" data-id="@address.Id" data-name="@(CommonHelper.MaskString(address.FirstName))" data-email="@(CommonHelper.MaskString(address.Email))" data-phone="@(CommonHelper.MaskString(address.PhoneNumber))" data-addr="@(address.City)@(address.Address1)" />
                                    </td>
                                    <td>
                                        @address.FirstName
                                    </td>
                                    <td>
                                        @(address.City)@(address.Address1)
                                    </td>
                                    <td>
                                        @(CommonHelper.MaskString(address.PhoneNumber))
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                }
                else
                {
                    <strong>沒有最近收件人的資料</strong>

                }

            </div>
        </div>
    </section>
</div>



<script type="text/javascript">


    $(document).ready(function () {

        loadOrderTotals();


        $("#formSubmit").click(function (event) {
            event.preventDefault();

            $(".is-invalid").each(function () { $(this).removeClass("is-invalid"); });

            @* Data Collection *@

            var formData = {
                billingAddressRadio: $("#billingAddressRadio").val(),
                billingAddressInfoId: $("#billingAddressInfoId").val(),
                billingAddress_FristName: $("#billingAddress_FristName").val(),
                billingAddress_PhoneNumber: $("#billingAddress_PhoneNumber").val(),
                billingAddress_Email: $("#billingAddress_Email").val(),
                billingAddress_City: $("#billingAddress_City").val(),
                billingAddress_Area: $("#billingAddress_Area").val(),
                billingAddress_Address1: $("#billingAddress_Address1").val(),
                shippingAddressRadio: $("#shippingAddressRadio").val(),
                shippingAddressInfoId: $("#shippingAddressInfoId").val(),
                shippingAddress_FristName: $("#shippingAddress_FristName").val(),
                shippingAddress_PhoneNumber: $("#shippingAddress_PhoneNumber").val(),
                shippingAddress_Email: $("#shippingAddress_Email").val(),
                shippingAddress_City: $("#shippingAddress_City").val(),
                shippingAddress_Area: $("#shippingAddress_Area").val(),
                shippingAddress_Address1: $("#shippingAddress_Address1").val(),
                shippingMethodRadio: "0",
                bookingMethodRadio: "0",
                myAccountMethodRadio: "0",
                invInfo: $("input[name='invInfo']:checked").val(),
                invCustomerName_1: $("#invCustomerName_1").val(),
                invIdentifier: $("#invIdentifier").val(),
                invPrint: "0",
                invCustomerName_0: $("#invCustomerName_0").val(),
                invCustomerAddr: $("#invCustomerAddr").val(),
                invReturn: "0",
                useRewardPoints: "0",
                useRewardPointValue: $("#useRewardPointValue").val(),
                paymentMethodRadio: $("input[name='paymentMethodRadio']:checked").val(),

            };

            if ($("#shippingMethodRadio").prop("checked")) {
                formData.shippingMethodRadio = "1";
            }
            if ($("#bookingMethodRadio").prop("checked")) {
                formData.bookingMethodRadio = "1";
            }
            if ($("#myAccountMethodRadio").prop("checked")) {
                formData.myAccountMethodRadio = "1";
            }
            if ($("#invPrint").prop("checked")) {
                formData.invPrint = "1";
            }
            if ($("#invReturn").prop("checked")) {
                formData.invReturn = "1";
            }
            if ($("#useRewardPoints").prop("checked")) {
                formData.useRewardPoints = "1";
            }
            if (formData.paymentMethodRadio == null) {
                formData.paymentMethodRadio = "0";
            }

            @* verify *@

            var check = true;

            if (formData.billingAddressRadio == "1") {
                if (formData.billingAddress_FristName.length <= 0) {
                    $("#billingAddress_FristName").addClass("is-invalid");
                    check = false;
                }
                if (formData.billingAddress_PhoneNumber.length <= 0) {
                    $("#billingAddress_PhoneNumber").addClass("is-invalid");
                    check = false;
                }
                if (formData.billingAddress_Email.length <= 0) {
                    $("#billingAddress_Email").addClass("is-invalid");
                    check = false;
                }
                if (formData.billingAddress_City.length <= 0) {
                    $("#billingAddress_City").addClass("is-invalid");
                    check = false;
                }
                if (formData.billingAddress_Area.length <= 0) {
                    $("#billingAddress_Area").addClass("is-invalid");
                    check = false;
                }
                if (formData.billingAddress_Address1.length <= 0) {
                    $("#billingAddress_Address1").addClass("is-invalid");
                    check = false;
                }
            }

            if (formData.shippingAddressRadio == "1") {
                if (formData.shippingAddress_FristName.length <= 0) {
                    $("#shippingAddress_FristName").addClass("is-invalid");
                    check = false;
                }
                if (formData.shippingAddress_PhoneNumber.length <= 0) {
                    $("#shippingAddress_PhoneNumber").addClass("is-invalid");
                    check = false;
                }
                if (formData.shippingAddress_Email.length <= 0) {
                    $("#shippingAddress_Email").addClass("is-invalid");
                    check = false;
                }
                if (formData.shippingAddress_City.length <= 0) {
                    $("#shippingAddress_City").addClass("is-invalid");
                    check = false;
                }
                if (formData.shippingAddress_Area.length <= 0) {
                    $("#shippingAddress_Area").addClass("is-invalid");
                    check = false;
                }
                if (formData.shippingAddress_Address1.length <= 0) {
                    $("#shippingAddress_Address1").addClass("is-invalid");
                    check = false;
                }
            }

            if (formData.invInfo == "2") {
                if (formData.invCustomerName_1.length <= 0) {
                    $("#invCustomerName_1").addClass("is-invalid");
                    check = false;
                }
                if (formData.invIdentifier.length <= 0) {
                    $("#invIdentifier").addClass("is-invalid");
                    $("#invIdentifier").siblings(".invalid-feedback").html("必填");
                    check = false;
                }
                if (formData.invIdentifier.length > 8) {
                    $("#invIdentifier").addClass("is-invalid");
                    $("#invIdentifier").siblings(".invalid-feedback").html("統編資料錯誤");
                    check = false;
                }
            }

            if (formData.invPrint == "1") {
                if (formData.invCustomerName_0.length <= 0) {
                    $("#invCustomerName_0").addClass("is-invalid");
                    check = false;
                }
                if (formData.invCustomerAddr.length <= 0) {
                    $("#invCustomerAddr").addClass("is-invalid");
                    check = false;
                }
            }

            if (!check) {

                alert("請檢查輸入的資料");
                return false;
            }

            //console.log(formData);
            $("form#confirm-order-form").submit();

        });

    });

    var loadOrderTotals = function () {

         $.ajax({
            cache: false,
            type: "POST",
            data: addAntiForgeryToken(),
            url: "@Url.Action("MyOnePageOrderTotalsAjax", "ShoppingCart")",
            dataType: 'html',
            success: function (data) {
                $("#orderTotals").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert('Failed to load reservation time.');
            }
        });
    }

    var updateRewardTimeId;
    var UpdateRewardPoints = function () {
        window.clearInterval(updateRewardTimeId);
        updateRewardTimeId = window.setTimeout(UpdateRewardPointsGo, 1000);

    }

    var UpdateRewardPointsGo = function () {

        var postData = {
            UseRewardPointValue: $("#useRewardPointValue").val(), UseRewardPoint: $("#useRewardPoints").val()
        };
        addAntiForgeryToken(postData);     

        $.ajax({
            cache: false,
            type: "POST",
            data: postData,
            url: "@Url.Action("CheckRewardPoints", "Checkout")",
            dataType: 'json',
            success: function (data) {

                if (data.status == "OK") {
                    
                } else {

                    if (data.code == 1009) {
                        alert("輸入錯誤(超過可用的紅利點數)");
                    } else {
                        alert("錯誤" + data.code );
                    }

                    $("#useRewardPointValue").val("0");
                }
                loadOrderTotals();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert('Failed to load reservation time.');
            }
        });
    }

    var selectPaymentMethod = function (e) {

        var paymentMethod = $("input[name='paymentMethodRadio']:checked").val();

        var postData = {
            paymentmethod: paymentMethod
        };
        addAntiForgeryToken(postData);   

        $.ajax({
            cache: false,
            type: "POST",
            data: postData,
            url: "@Url.Action("CheckPaymentMethod", "Checkout")",
            dataType: 'json',
            success: function (data) {

                if (data.status == "OK") {
                    
                } else {

                    alert("錯誤" + data.code);
                }
                loadOrderTotals();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert('Failed to load reservation time.');
            }
        });


    }

    var billingAddressShow = function (e) {

        //var radio = $('input:radio[name="billingAddressRadio"]:checked').val();
        var radio = $(e).data("val");
        $("#billingAddressRadio").val(radio);
        var billingAddressInfo = $("#billingAddressInfo");
        var billingAddressNew = $("#billingAddressNew");

        if (radio == "1") {

            if (billingAddressInfo.length > 0) {
                billingAddressInfo.hide();
            }
            if (billingAddressNew.length > 0) {
                billingAddressNew.show();
            }

        } else if (radio == "2") {

            if (billingAddressInfo.length > 0) {

                $.fancybox.open({
                    src: '#hiddenBillingAddress',
                    type: 'inline',
                    touch: false,
                    opts: {
                        afterShow: function (instance, current) {

                        }
                    }
                });

                billingAddressInfo.show();
            }
            if (billingAddressNew.length > 0) {
                billingAddressNew.hide();
            }

        }

    }

    var billingAddressChange = function (e) {

        var address = $(e);
        var billingAddressInfo = $("#billingAddressInfo");

        if (billingAddressInfo.length > 0) {

            billingAddressInfo.data("id", address.data("id"));
            $("#billingAddressInfoId").val(address.data("id"));
            $("dd", billingAddressInfo).eq(0).html(address.data("name"));
            $("dd", billingAddressInfo).eq(1).html(address.data("email"));
            $("dd", billingAddressInfo).eq(2).html(address.data("phone"));
            $("dd", billingAddressInfo).eq(3).html(address.data("addr"));
            $.fancybox.close();
        }
    }

    var billingAddressCity = function (e) {

        console.log($(e).val());
        $("#billingAddress_Area").empty();

        if ($(e).val() == "") {
            $("#billingAddress_Area").append("<option value=''>請選擇</option>");
        } else {

            $.ajax({
                cache: false,
                type: "GET",
                url: "/api/v1/AbcAddress",
                data: { level: 1, city: $(e).val(), area: "" },
                success: function (data) {
                    $("#billingAddress_Area").append("<option value=''>請選擇</option>");
                    $.each(data, function (id, option) {
                        console.log(option.Area);
                        $("#billingAddress_Area").append("<option value='" + option.Area + "'>" + option.Area + "</option>");
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve City.');
                },
                complete: function () {

                }
            });

        }

    }

    var shippingAddressShow = function (e) {

        //var radio = $('input:radio[name="shippingAddressRadio"]:checked').val();
        var radio = $(e).data("val");
        $("#shippingAddressRadio").val(radio);
        var shippingAddressInfo = $("#shippingAddressInfo");
        var shippingAddressNew = $("#shippingAddressNew");

        console.log($("#shippingAddressRadio").val());
        if (radio == "1") {

            if (shippingAddressInfo.length > 0) {
                shippingAddressInfo.hide();
            }
            if (shippingAddressNew.length > 0) {
                shippingAddressNew.show();
            }

        } else if (radio == "2") {

            if (shippingAddressInfo.length > 0) {

                $.fancybox.open({
                    src: '#hiddenShippingAddress',
                    type: 'inline',
                    touch: false,
                    opts: {
                        afterShow: function (instance, current) {

                        }
                    }
                });

                shippingAddressInfo.show();
            }
            if (shippingAddressNew.length > 0) {
                shippingAddressNew.hide();
            }

        } else if (radio == "3") {

            //var billingStatus = $('input:radio[name="billingAddressRadio"]:checked').val();
            var billingStatus = $("#billingAddressRadio").val();

            if (billingStatus == "1") {
                @*新增的狀態*@
                var billingAddressData = {
                    billingAddress_FristName: $("#billingAddress_FristName").val(),
                    billingAddress_PhoneNumber: $("#billingAddress_PhoneNumber").val(),
                    billingAddress_Email: $("#billingAddress_Email").val(),
                    billingAddress_City: $("#billingAddress_City").val(),
                    billingAddress_Area: $("#billingAddress_Area").val(),
                    billingAddress_Address1: $("#billingAddress_Address1").val()
                };

                var check = (billingAddressData.billingAddress_FristName != "" &&
                    billingAddressData.billingAddress_PhoneNumber != "" &&
                    billingAddressData.billingAddress_FristName != "" &&
                    billingAddressData.billingAddress_City != "" &&
                    billingAddressData.billingAddress_Area != "" &&
                    billingAddressData.billingAddress_Address1 != "");

                if (!check) {
                    alert("訂購人資料正確");
                } else {
                    if (shippingAddressInfo.length > 0) {

                        shippingAddressInfo.data("id", "0");
                        $("#shippingAddressInfoId").val("0");
                        $("dd", shippingAddressInfo).eq(0).html(billingAddressData.billingAddress_FristName);
                        $("dd", shippingAddressInfo).eq(1).html(billingAddressData.billingAddress_PhoneNumber);
                        $("dd", shippingAddressInfo).eq(2).html(billingAddressData.billingAddress_Email);
                        $("dd", shippingAddressInfo).eq(3).html(billingAddressData.billingAddress_City + billingAddressData.billingAddress_Area + billingAddressData.billingAddress_Address1);

                        shippingAddressInfo.show();
                    }
                    if (shippingAddressNew.length > 0) {
                        shippingAddressNew.hide();
                    }
                }


            } else {

                var billingAddressInfo = $("#billingAddressInfo");

                if (shippingAddressInfo.length > 0) {

                    shippingAddressInfo.data("id", billingAddressInfo.data("id"));
                    $("#shippingAddressInfoId").val($("#billingAddressInfoId").val());
                    $("dd", shippingAddressInfo).eq(0).html($("dd", billingAddressInfo).eq(0).html());
                    $("dd", shippingAddressInfo).eq(1).html($("dd", billingAddressInfo).eq(1).html());
                    $("dd", shippingAddressInfo).eq(2).html($("dd", billingAddressInfo).eq(2).html());
                    $("dd", shippingAddressInfo).eq(3).html($("dd", billingAddressInfo).eq(3).html());

                    shippingAddressInfo.show();
                }
                if (shippingAddressNew.length > 0) {
                    shippingAddressNew.hide();
                }
            }


        }

    }

    var shippingAddressChange = function (e) {

        $(e).attr("checked", false);
        var address = $(e);
        var shippingAddressInfo = $("#shippingAddressInfo");

        if (shippingAddressInfo.length > 0) {

            shippingAddressInfo.data("id", address.data("id"));
            $("#shippingAddressInfoId").val(address.data("id"));
            $("dd", shippingAddressInfo).eq(0).html(address.data("name"));
            $("dd", shippingAddressInfo).eq(1).html(address.data("email"));
            $("dd", shippingAddressInfo).eq(2).html(address.data("phone"));
            $("dd", shippingAddressInfo).eq(3).html(address.data("addr"));
            $.fancybox.close();
        }
    }

    var shippingAddressCity = function (e) {

        console.log($(e).val());
        $("#shippingAddress_Area").empty();

        if ($(e).val() == "") {
            $("#shippingAddress_Area").append("<option value=''>請選擇</option>");
        } else {

            $.ajax({
                cache: false,
                type: "GET",
                url: "/api/v1/AbcAddress",
                data: { level: 1, city: $(e).val(), area: "" },
                success: function (data) {
                    $("#shippingAddress_Area").append("<option value=''>請選擇</option>");
                    $.each(data, function (id, option) {
                        console.log(option.Area);
                        $("#shippingAddress_Area").append("<option value='" + option.Area + "'>" + option.Area + "</option>");
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve City.');
                },
                complete: function () {

                }
            });

        }

    }

    var invForPerson = function () {
        $("#invForCompany").hide();
    }
    var invForCompany = function () {
        $("#invForCompany").show();
    }
    var invForPrint = function () {
        if ($("#invPrint").prop("checked")) {
            $("#invForPrint").show();
        } else {
            $("#invForPrint").hide();
        }
    }
    var useRewardPoint = function () {
        if ($("#useRewardPoints").prop("checked")) {
            $("#useForRewardPoint").show();
        } else {
            $("#useRewardPointValue").val("0");
            $("#useForRewardPoint").hide();
            UpdateRewardPointsGo();
        }
    }

    var validateForm = function () {

        

    }


</script>



