﻿@model CheckoutPaymentMethodModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-payment-method-page");
}
<div class="page checkout-page payment-method-page">
    @Html.Action("MyCheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Payment })
    <div class="page-title">
        <h1>@T("Checkout.SelectPaymentMethod")</h1>
    </div>



    <div class="page-body checkout-data">
        @Html.Widget("checkout_payment_method_top")
        <div class="section payment-method">
            @using (Html.BeginForm("MyPaymentMethod", "Checkout", FormMethod.Post))
            {
                if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
                {
                    <div class="use-reward-points">
                        @Html.EditorFor(model => model.UseRewardPoints, new { htmlAttributes = new { @onclick = "SetPoint()" } })
                        @string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)
                        <spsn id="setPoint" style="display:none;">
                            <strong style="color:red;">請輸入使用紅利點數：</strong><input type="number" class="form-control" id="UseRewardPointValue" name="UseRewardPointValue" value="0">
                        </spsn>

                    </div>


                    <script>
                        var SetPoint = function () {
                            //alert("UseRewardPoints");
                            $("#setPoint").toggle();
                        }
                    </script>
                }


                if (Model.PaymentMethods.Count > 0)
                {
                    <ul class="method-list">
                        @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                        {
                            var paymentMethod = Model.PaymentMethods[i];
                            var paymentMethodName = paymentMethod.Name;
                            if (!String.IsNullOrEmpty(paymentMethod.Fee))
                            {
                                paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
                            }
                            <li>
                                <div class="method-name">
                                    @*@if (!String.IsNullOrEmpty(paymentMethod.LogoUrl))
                                    {
                                        <div class="payment-logo">
                                            <label for="paymentmethod_@(i)">
                                                <img src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />
                                            </label>
                                        </div>
                                    }
                                    <div class="payment-details">
                                        <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" />
                                        <label for="paymentmethod_@(i)">@paymentMethodName</label>
                                        @if (paymentMethod.PaymentMethodSystemName.Equals("Payments.CreditCardThree"))
                                        {
                                            <span>分期手續費3% 適用台新、玉山、永豐三家銀行</span>
                                        }
                                        else if (paymentMethod.PaymentMethodSystemName.Equals("Payments.CreditCardSix"))
                                        {
                                            <span>分期手續費4.5% 適用台新、玉山、永豐三家銀行</span>
                                        }
                                    </div>*@
                                    <div class="bootstrap">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-check" style="min-height:35px; padding-left:90px; background:url(@paymentMethod.LogoUrl) no-repeat;">
                                                    <input class="form-check-input" id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected">
                                                    <label class="form-check-label" for="paymentmethod_@(i)" style="padding-right:50px;">
                                                        @paymentMethodName


                                                    </label>
                                                    <div style="white-space:normal;word-wrap:break-word;word-break:break-all;">
                                                        @if (paymentMethod.PaymentMethodSystemName.Equals("Payments.CreditCardThree"))
                                                        {
                                                        <span>分期手續費3% 台新、玉山、富邦、遠東、永豐、國泰世華、華南、日盛、樂天、安泰、聯邦、兆豐、台中商銀、上海銀行、凱基、匯豐、星展、新光、合庫、彰銀、一銀、元大、陽信、台灣企銀、華泰、三信商銀</span>
                                                        }
                                                        else if (paymentMethod.PaymentMethodSystemName.Equals("Payments.CreditCardSix"))
                                                        {
                                                        <span>分期手續費4.5% 台新、玉山、富邦、遠東、永豐、國泰世華、華南、日盛、樂天、安泰、聯邦、兆豐、台中商銀、上海銀行、凱基、匯豐、星展、新光、合庫、彰銀、一銀、元大、陽信、台灣企銀、華泰、三信商銀</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </li>
                        }
                    </ul>
                    <div class="buttons">
                        <input type="button" name="checkstep" value="@T("Checkout.NextButton")" class="button-1 payment-method-next-step-button" data-points="@Model.RewardPointsBalance" onclick="checkForm(this);" />
                        <input type="submit" name="nextstep" id="nextstep" value="@T("Checkout.NextButton")" class="button-1 payment-method-next-step-button" style="display:none;" />
                    </div>
                }
                else
                {
                    <div class="message-error">
                        @T("Checkout.NoPaymentMethods")
                    </div>
                }
            }
        </div>
        @Html.Widget("checkout_payment_method_bottom")

        <div class="section order-summary" style="margin-bottom:15px;">
            <div class="title">
                <strong>@T("Checkout.OrderSummary")</strong>
            </div>
            @Html.Action("ReadOnlyOrderSummary", "ShoppingCart")
        </div>
        @*<div class="section order-summary">
                <div class="title">
                    <strong>@T("Checkout.OrderSummary")</strong>
                </div>
                @Html.Action("OrderSummary", "ShoppingCart")
            </div>*@
    </div>
</div>

<script>

    var checkForm = function (e) {

        var pointData = $("#UseRewardPointValue").val();
        var pointValue;
        var pointCanUse = parseInt($(e).data("points"));

        if ($.isNumeric(pointData)) {
            pointValue = parseInt(pointData);
        }

        if (pointValue > pointCanUse) {

            alert("輸入使用的紅利點數已超超過您的實際的紅利點數");

            return false;
        } else {

            $("#nextstep").trigger("click");

        }

    }

</script>