﻿@model CheckoutShippingMethodModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AddCssFileParts("~/Content/bootstrap-iso.css");
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-shipping-method-page");
}
<div class="page checkout-page shipping-method-page">
    @Html.Action("MyCheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Shipping })
    <div class="page-title">
        <h1>@T("Checkout.SelectShippingMethod")</h1>
    </div>
    <div class="page-body checkout-data">
        <div class="section shipping-method">
            @using (Html.BeginForm("MyShippingMethod", "Checkout", FormMethod.Post, new { id = "MyShippingMethodFrm" }))
            {
                @Html.Widget("checkout_shipping_method_top")
                if (Model.Warnings.Count == 0)
                {
                    <ul class="method-list" style="display:none;">
                        @for (int i = 0; i < Model.ShippingMethods.Count; i++)
                        {
                            var shippingMethod = Model.ShippingMethods[i];
                            <li>
                                <div class="method-name">
                                    <input id="shippingoption_@(i)" type="radio" name="shippingoption" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)" checked="@shippingMethod.Selected" />
                                    <label for="shippingoption_@(i)">@T("Checkout.SelectShippingMethod.MethodAndFee", shippingMethod.Name, shippingMethod.Fee)</label>
                                </div>
                                @if (!String.IsNullOrEmpty(shippingMethod.Description))
                                {
                                    <div class="method-description">
                                        @Html.Raw(shippingMethod.Description)
                                    </div>
                                }
                            </li>
                        }
                    </ul>
                    if (Model.NotifyCustomerAboutShippingFromMultipleLocations)
                    {
                        <div class="multiple-locations" style="display:none;">
                            @T("Checkout.ShippingMethod.ShippingFromMultipleLocations")
                        </div>
                    }

                    <div>
                        <div>
                            <div style="font-size:16px; margin-bottom:20px;">
                                輪胎相關商品配送方式
                            </div>
                            <div style="font-size:16px; margin-bottom:20px;">
                                保修相關商品配送方式
                            </div>
                            <div style="font-size:16px; margin-bottom:20px;">
                                洗車美容相關商品配送方式
                            </div>
                        </div>
                    </div>

                    <div class="buttons">
                        <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 shipping-method-next-step-button" />
                    </div>

                }
                else
                {
                    <div class="message-error">
                        <ul>
                            @foreach (var warning in Model.Warnings)
                            {
                                <li>@warning</li>
                            }
                        </ul>
                    </div>
                }


                @Html.Widget("checkout_shipping_method_bottom")
            }


        </div>



        <div class="section order-summary" style="margin-bottom:15px;">
            <div class="title">
                <strong>@T("Checkout.OrderSummary")</strong>
            </div>
            @Html.Action("ReadOnlyOrderSummary", "ShoppingCart")
        </div>

        @*<div class="section order-summary">
                <div class="title">
                    <strong>@T("Checkout.OrderSummary")</strong>
                </div>
                @Html.Action("OrderSummary", "ShoppingCart")
            </div>*@


    </div>
</div>
