﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");

    //Html.AddCssFileParts("~/Content/bootstrap.min.css");
    //Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox.min.css");
    //Html.AddScriptParts("~/Content/fancybox/jquery.fancybox.min.js");

}


<div class="page account-page">

    <div class="page-body" style="border: 1px solid #f3f3f3; background-color:#ffffff; padding:25px;">

        <section style="width:100%;" class="myCalendarSection">
            <div class="container">
                <div class="tab_container">
                    <div style="display: block;padding: 10px 15px;background: #fff;color: #333333;border-bottom: 2px solid #f0f0f0; margin-bottom:3px;">
                        <h2>完工確認單</h2>
                        <input type="hidden" id="token" value="@ViewBag.token" />
                    </div>
                </div>
            </div>
        </section>
        <section style="width:100%; padding-top:30px;">
            <div class="container account-page">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <form>
                            <div class="form-group" style="margin-bottom:30px;">
                                <label for="vCode">請輸入驗證碼</label>
                                <input type="text" class="form-control" id="vCode" placeholder="驗證碼">
                            </div>
                            <button type="submit" class="button-1">確認完工</button>
                        </form>

                    </div>

                </div>
            </div>
        </section>
        


    </div>
</div>




<script>
    
    $(document).ready(function () {


    });

</script>
