﻿@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");

    

}


<div class="page account-page">

    <div class="page-body" style="border: 1px solid #f3f3f3; background-color:#ffffff; padding:25px;">
        <input type="hidden" id="orderId" name="orderId" value="@ViewBag.OrderId" />
        <input type="hidden" id="orderItemId" name="orderItemId" value="@ViewBag.OrderItemId" />
        <div id="map" style="height:600px;"></div>
    </div>
</div>


<script>
    var map;
    $(document).ready(function () {
        //initMap();
    });

    function initMap() {

        var myLatLng = { lat: 25.037493, lng: 121.564358 };
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: myLatLng
        });


        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                myLatLng.lat = position.coords.latitude;
                myLatLng.lng = position.coords.longitude;

                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 11,
                    center: myLatLng
                });

                //var marker = new google.maps.Marker({
                //    position: myLatLng,
                //    map: map,
                //    //icon: "hide.png"
                //});
                  
                @* ajax 取附近安裝點 *@               
                //var data = [
                //    {
                //        position: { lat: 25.022519, lng: 121.550490 },
                //        map: map,
                //        title: '小明的位置'
                //    },
                //    {
                //        position: { lat: 25.034385, lng: 121.566047 },
                //        map: map,
                //        title: '大雄的位置'
                //    }
                //];

                //for (var i = 0; data.length > i; i++) {
                //    var content = '<div id="content">' +
                //        '<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
                //        '</div>';

                //    var infowindow = new google.maps.InfoWindow();

                //    var _marker = new google.maps.Marker(data[i]);

                //    google.maps.event.addListener(_marker, 'click', (function (_marker, content, infowindow) {
                //        return function () {
                //            infowindow.setContent(content);
                //            infowindow.open(map, _marker);
                //        };
                //    })(_marker, content, infowindow));  

                        
                //}
                @* ajax 取附近安裝點 *@
            });
        }
            
    }
    

</script>
