﻿@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";


    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox.min.css");
    Html.AddCssFileParts("~/Content/layui/css/layui.css");

    Html.AddScriptParts("~/Content/fancybox/jquery.fancybox.min.js");
    Html.AddScriptParts("~/Content/layui/layui.js");

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");




}


<div class="page account-page">
    <div id="notLocation"></div>
    <div class="page-body" style="border: 1px solid #f3f3f3; background-color:#ffffff; padding:25px;">
        <input type="hidden" id="orderId" name="orderId" value="@ViewBag.OrderId" />
        <input type="hidden" id="orderItemId" name="orderItemId" value="@ViewBag.OrderItemId" />
        <div id="map" style="height:600px;"></div>
    </div>
</div>

<div class="bootstrap" style="display:none;" id="hidden-content">
    <div style="min-width:280px;" id="timeSlotModal">
    </div>
</div>

    <script>

        var ShowCalendar = function (e) {

            $(e).html("");
            var parent = $(e).parent();

            var startDate = new Date($(e).data("start"));
            var endDate = new Date($(e).data("end"));
            var vendorId = $(e).data("cust");

            layui.use('laydate', function () {
                var laydate = layui.laydate;

                laydate.render({
                    trigger: 'click',
                    theme: '#d0021b',
                    elem: e, //指定元素
                    show: true, //直接显示
                    btns: ['clear'],
                    done: function (value, date) {

                        if (activeInfoWindow) { activeInfoWindow.close(); }

                        //console.log(value, date);

                        if (value != "") {
                            var currDate = new Date(value);
                            if (currDate > startDate && currDate <= endDate) {
                                gotoBooking(value, vendorId);
                            } else {
                                $("#timeSlotModal").empty();
                                $.fancybox.open({
                                    src: '#hidden-content',
                                    type: 'inline',
                                    opts: {
                                        afterShow: function (instance, current) {
                                            var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>您選擇的日期無法預約</strong></div>";
                                            html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
                                            html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>關閉</button>";
                                            html += "</div>";

                                            $("#timeSlotModal").append(html);
                                        }
                                    }
                                });
                            }
                        }

                    },
                    ready: function (date) {
                        $(e).html("立即預約");
                        $(".CalendarData", parent).val(date.year + "-" + date.month + "-" + date.date);

                        var elm = $('div.layui-laydate-content>table>tbody');

                        $("tr", elm).each(function () {

                            var items = $("td", this);

                            for (var i = 0; i < items.length; i++) {
                                var item = $(items[i]);
                                if (!item.hasClass("laydate-day-prev") && !item.hasClass("laydate-day-next")) {
                                    var currDate = new Date(item.attr("lay-ymd"));
                                    if (currDate > startDate && currDate <= endDate) {

                                    } else {
                                        item.addClass("laydate-day-prev");
                                    }
                                }
                                if (i == 0) { item.addClass("laydate-day-prev"); }
                            }
                        });
                    },
                    change: function (value, date, edate) {

                        var elm = $('div.layui-laydate-content>table>tbody');

                        $("tr", elm).each(function () {

                            var items = $("td", this);

                            for (var i = 0; i < items.length; i++) {
                                var item = $(items[i]);
                                if (!item.hasClass("laydate-day-prev") && !item.hasClass("laydate-day-next")) {
                                    var currDate = new Date(item.attr("lay-ymd"));
                                    if (currDate > startDate && currDate <= endDate) {

                                    } else {
                                        item.addClass("laydate-day-prev");
                                    }
                                }
                                if (i == 0) { item.addClass("laydate-day-prev"); }
                            }
                        });


                    }
                });
            });
            
        }

        var activeInfoWindow;
        var map;
        $(document).ready(function () {
            //initMap();

            navigator.permissions.query({ name: 'geolocation' }).then(function (status) {
                console.log(status.state);

                if (status.state == "denied") {

                    $("#notLocation").html("<div style='margin-bottom:10px;'><h3 style='color:red;'>無法取得地理位置</h3></div>");
                }
            });

           
        });

        function initMap() {

            var myLatLng = { lat: 25.037493, lng: 121.564358 };
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: myLatLng
            });

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    myLatLng.lat = position.coords.latitude;
                    myLatLng.lng = position.coords.longitude;

                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 11,
                        center: myLatLng
                    });
                });
            }

            var postData = {
                orderItemId: $("#orderItemId").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                data: postData,
                url: "@Url.Action("GetServiceVendors", "booking")",
                dataType: 'json',
                success: function (data) {
                    console.log(data.status, data.datas);
                    if (data.status == "OK") {
                        for (var i = 0; i < data.datas.length; i++) {
                            //console.log(data.datas[i].lat, data.datas[i].lng);

                            @* 一併過濾縣市 *@
                            if ($("#AbcAddressCity option[value='" + data.datas[i].city + "']").length > 0) {

                            } else {
                                $("#AbcAddressCity").append($('<option></option>').val(data.datas[i].city).html(data.datas[i].city));
                            }

                            var d = {
                                position: { lat: Number(data.datas[i].lat), lng: Number(data.datas[i].lng) },
                                map: map,
                                title: data.datas[i].company
                            }

                            @*var content = '<div class="content">' +
                                '<div>安裝廠 : ' + data.datas[i].company + '</div>' +
                                '<div>地址 : ' + data.datas[i].address + '</div>' +
                                '<div>庫存 : 足夠</div>' +
                                '<div class="bootstrap" style="padding:5px 0;"><a class="btn btn-primary" href="@Url.Action("FindBookingDate", "booking")/' + data.datas[i].customerId + '?o=' + $("#orderId").val() + '&oi=' + $("#orderItemId").val() + '" role="button">立即預約</a></div>' +
                                '</div>';*@

                            var content = '<div class="content">' +
                                '<div>安裝廠 : ' + data.datas[i].company + '</div>' +
                                '<div>地址 : ' + data.datas[i].address + '</div>' +
                                '<div>庫存 : 足夠</div>' +
                                '<div class="bootstrap" style="padding:5px 0;">' +
                                '<a class="btn btn-primary" href="javascript:;" data-cust="' + data.datas[i].customerId + '" data-od="' + $("#orderId").val() + '" data-odi="' + $("#orderItemId").val() + '" data-delay="' + data.datas[i].delayDay + '" data-sunday="' + data.datas[i].canSunday + '" data-start="' + data.datas[i].startDate + '" data-end="' + data.datas[i].endDate + '" onclick="ShowCalendar(this)" role="button">立即預約</a>' +
                                '<input type="text" class="CalendarData" style="display:none;">' +
                                '</div>' +
                                '</div>';

                            var infowindow = new google.maps.InfoWindow();

                            var _marker = new google.maps.Marker(d);

                            google.maps.event.addListener(_marker, 'mouseover', (function (_marker, content, infowindow) {
                                return function () {
                                    infowindow.setContent(content);
                                    if (activeInfoWindow) { activeInfoWindow.close(); }
                                    infowindow.open(map, _marker);
                                    activeInfoWindow = infowindow;

                                };
                            })(_marker, content, infowindow));

                            google.maps.event.addListener(_marker, 'click', (function (_marker, content, infowindow) {
                                return function () {
                                    infowindow.setContent(content);
                                    if (activeInfoWindow) { activeInfoWindow.close(); }
                                    infowindow.open(map, _marker);
                                    activeInfoWindow = infowindow;
                                };
                            })(_marker, content, infowindow));

                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to load reservation time.');
                }
            });

        }

        var gotoBooking = function (bDate, pid) {

        $("#timeSlotModal").empty();

        $.fancybox.open({
            src: '#hidden-content',
            type: 'inline',
            opts: {
                afterShow: function (instance, current) {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        data: { reservationDate: bDate, shopCode: pid, orderId: $("#orderId").val(), orderItemId: $("#orderItemId").val() },
                        url: "@Url.Action("BookingList", "Booking")",
                        dataType: 'json',
                        success: function (data) {
                            if (data.status == "OK") {
                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>預約 " + data.date + " 時段</strong></div>";
                                html += "<table class='table table-sm table-hover account-page'>";
                                html += "<thead class='thead-light'>";
                                html += "<tr>";
                                html += "<th scope='col'>時段</th>";
                                //html += "<th scope='col'>狀態</th>";
                                html += "<th scope='col'></th>";
                                html += "</tr>";
                                html += "</thead>";
                                html += "<tbody>";
                                for (var i = 0; i < data.datas.length; i++) {
                                    html += "<tr>";
                                    html += "<td style='padding-top:10px;'>" + data.datas[i].timeStart + " ~ " + data.datas[i].timeEnd + "</td>";
                                    if (data.datas[i].status == "Y") {
                                        //html += "<td style='padding-top:10px;'>可預約</td>";
                                        html += "<td style='padding:5px;'><button type='button' class='btn btn-warning btn-sm' data-code='" + pid + "' data-date='" + bDate + "' data-time='" + data.datas[i].timeStart + "' onclick='bookingConfirm(this);'>預約</button></th>";
                                    } else {
                                        if (data.datas[i].myBooking == "Y") {
                                            //html += "<td style='padding-top:10px;'>不可預約</td>";
                                            html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-code='" + pid + "' data-date='" + bDate + "' data-time='" + data.datas[i].timeStart + "' disabled>我的預約</button></th>";
                                        } else {
                                            //html += "<td style='padding-top:10px;'>不可預約</td>";
                                            html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-code='" + pid + "' data-date='" + bDate + "' data-time='" + data.datas[i].timeStart + "' disabled>無法預約</button></th>";
                                        }

                                    }
                                    html += "</tr>";
                                }
                                html += "</tbody>";
                                html += "</table>";
                                $("#timeSlotModal").append(html);

                            } else if (data.status == "ERROR"){
                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>" + data.message + "</strong></div>";
                                html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
                                html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>關閉</button>";
                                html += "</div>";

                                $("#timeSlotModal").append(html);
                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to load reservation time.');
                        }
                    });
                }
            }
        });
        }

        var bookingConfirm = function (e) {
            var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>請再次確認您要預約日期時段是否正確<br />" + $(e).data("date") + " " + $(e).data("time") + "</strong></div>";
            html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
            //html += "<button type='button' class='btn btn-primary btn-sm' onclick='javascript:location.href=\"/login/checkoutasguest?returnUrl=/PartnerVendor/Detail/" + $("#PartnerVendorId").val() + "\";'>確認</button> ";
            html += "<button type='button' class='btn btn-primary btn-sm' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + $(e).data("time") + "' onclick='bookingClick(this);'>預約</button> ";
            html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>取消</button>";
            html += "</div>";
            $("#timeSlotModal").empty().append(html);
        }

        var bookingClick = function (e) {

            var postData = {
                reservationDate: $(e).data("date"), shopCode: $(e).data("code"), time: $(e).data("time"), orderId: $("#orderId").val(), orderItemId: $("#orderItemId").val()
            };
            addAntiForgeryToken(postData);

            $.fancybox.close();
            $.ajax({
                cache: false,
                type: "POST",
                data: postData,
                url: "@Url.Action("BookingInsert", "Booking")",
                dataType: 'json',
                success: function (data) {

                    if (data.status == "OK") {
                        alert("預約完成");
                        location.reload();
                    } else if (data.status == "FAIL") {
                        alert(data.message);
                    } else {
                        alert("錯誤");
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert('Failed to load reservation time.');
                }
            });

        }

    </script>
