﻿@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");

    

}


<div class="page account-page">
    <div id="notLocation"></div>
    <div class="page-body" style="border: 1px solid #f3f3f3; background-color:#ffffff; padding:25px;">
        <input type="hidden" id="orderId" name="orderId" value="@ViewBag.OrderId" />
        <input type="hidden" id="orderItemId" name="orderItemId" value="@ViewBag.OrderItemId" />
        <div id="map" style="height:600px;"></div>
    </div>
</div>


<script>
    var map;
    $(document).ready(function () {
        //initMap();

        navigator.permissions.query({ name: 'geolocation' }).then(function (status) {
            console.log(status.state);

            if (status.state == "denied") {

                $("#notLocation").html("<div style='margin-bottom:10px;'><h3 style='color:red;'>無法取得地理位置</h3></div>");
            }
        });
    });

    function initMap() {

        var myLatLng = { lat: 25.037493, lng: 121.564358 };
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: myLatLng
        });

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                myLatLng.lat = position.coords.latitude;
                myLatLng.lng = position.coords.longitude;

                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 11,
                    center: myLatLng
                });           
            });
        }

        var postData = {
            orderItemId: $("#orderItemId").val()
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            data: postData,
            url: "@Url.Action("GetServiceVendors", "booking")",
            dataType: 'json',
            success: function (data) {
                console.log(data.status, data.datas);
                if (data.status == "OK") {
                    for (var i = 0; i < data.datas.length; i++) {
                        //console.log(data.datas[i].lat, data.datas[i].lng);

                        @* 一併過濾縣市 *@
                        if ($("#AbcAddressCity option[value='" + data.datas[i].city + "']").length > 0) {

                        } else {
                            $("#AbcAddressCity").append($('<option></option>').val(data.datas[i].city).html(data.datas[i].city));
                        }
                        

                        var d = {
                            position: { lat: Number(data.datas[i].lat), lng: Number(data.datas[i].lng) },
                            map: map,
                            title: data.datas[i].company
                        }

                        var content = '<div class="content">' +
                            '<div>安裝廠 : ' + data.datas[i].company + '</div>' +
                            '<div>地址 : ' + data.datas[i].address + '</div>' +
                            '<div>庫存 : 足夠</div>' +
                            '<div class="bootstrap" style="padding:5px 0;"><a class="btn btn-primary" href="@Url.Action("FindBookingDate", "booking")/' + data.datas[i].customerId + '?o=' + $("#orderId").val() + '&oi=' + $("#orderItemId").val() + '" role="button">立即預約</a></div>' +
                            '</div>';

                        var infowindow = new google.maps.InfoWindow();

                        var _marker = new google.maps.Marker(d);

                        google.maps.event.addListener(_marker, 'mouseover', (function (_marker, content, infowindow) {
                            return function () {
                                infowindow.setContent(content);
                                infowindow.open(map, _marker);
                            };
                        })(_marker, content, infowindow));  

                        google.maps.event.addListener(_marker, 'click', (function (_marker, content, infowindow) {
                            return function () {
                                infowindow.setContent(content);
                                infowindow.open(map, _marker);
                            };
                        })(_marker, content, infowindow)); 

                                

                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to load reservation time.');
            }
        });
       
    }
    

</script>
