﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");

    Html.AddCssFileParts("~/Content/bootstrap-iso.css");
    Html.AddCssFileParts("~/Content/calendar.css");
    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox.min.css");

    Html.AddScriptParts("~/Content/fancybox/jquery.fancybox.min.js");




}


<div class="page account-page">

    <div class="page-body" style="border: 1px solid #f3f3f3; background-color:#ffffff; padding:25px;">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <section style="width:100%;" class="myCalendarSection">
                <div class="container">
                    <div class="tab_container">
                        <div style="display: block;padding: 10px 15px;background: #fff;color: #333333;border-bottom: 2px solid #f0f0f0; margin-bottom:3px;">
                            <span>選擇安裝日期及時段</span>
                            <input type="hidden" id="serviceCustomerId" value="@ViewBag.ServiceCustomerId" />
                            <input type="hidden" id="serviceOrderId" value="@ViewBag.ServiceOrderId" />
                            <input type="hidden" id="serviceOrderItemId" value="@ViewBag.ServiceOrderItemId" />
                            <input type="hidden" id="delayDay" value="@ViewBag.DelayDay" />
                            <input type="hidden" id="canSunday" value="@ViewBag.CanSunday" />
                        </div>
                    </div>
                </div>
            </section>
            <section style="width:100%; padding-top:0;" class="myCalendarSection">
                <div class="container account-page">
                    <div class="tab_container">
                        <div class="bootstrap-iso">
                            <div class="col-xs-4 col-md-4" style="padding-bottom:5px; padding-top:5px; text-align:left;">
                                <button type="button" class="btn btn-warning" onclick="lastMonth();">上個月</button>

                            </div>
                            <div class="col-xs-4 col-md-4" style="padding-bottom:5px; padding-top:5px;text-align:center;">
                                <button type="button" class="btn btn-warning" disabled><span id="current_date"></span></button>
                            </div>
                            <div class="col-xs-4 col-md-4" style="padding-bottom:5px; padding-top:5px;text-align:right;">
                                <button type="button" class="btn btn-warning" onclick="nextMonth();">下個月</button>

                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        @*<div style="display: block;padding: 10px 15px;background: #fff;color: #333333;border-bottom: 2px solid #f0f0f0; margin-bottom:3px;">
            <div style="float:left; width:20%;">
                <button type="button" class="button-1" onclick="lastMonth();"><i class="fa fa-angle-left"></i> 上個月</button>
            </div>
            <div style="float:left; width:60%; text-align:center;">
                <button type="button" class="button-1" disabled><span id="current_date"></span></button>
            </div>
            <div style="float:left; width:20%; text-align:right;">
                <button type="button" class="button-1" onclick="nextMonth();">下個月 <i class="fa fa-angle-right"></i></button>
            </div>
            <div style="clear:both;"></div>

        </div>*@
                    </div>
                </div>
            </section>
            <section style="width:100%; padding-top:0; padding-bottom:50px;" class="myCalendarSection">
                <div class="container">
                    <div class="tab_container">
                        <div class="myCalendarWrap">
                            <div class="myCalendar" style="min-height:500px;">
                                <div id="calendar-wrap">
                                    <div id="calendar" class="bootstrap-iso">
                                        <ul class="weekdays">
                                            <li>星期日</li>
                                            <li>星期一</li>
                                            <li>星期二</li>
                                            <li>星期三</li>
                                            <li>星期四</li>
                                            <li>星期五</li>
                                            <li>星期六</li>
                                        </ul>

                                        <!-- Days from previous month -->



                                    </div><!-- /. calendar -->
                                </div><!-- /. wrap -->

                                <div style="clear:both"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }



    </div>
</div>

<!-- Modal -->
<div style="display:none; width:500px;" id="hidden-content">
    <h2>選擇預約時段</h2>
    <div style="padding:15px 0 15px 0; border-bottom:1px solid #d0cbcb">
        09:00~10:30
    </div>
    <div style="padding:15px 0 15px 0; border-bottom:1px solid #d0cbcb">
        10:30~12:00
    </div>
    <div style="padding:15px 0 15px 0; border-bottom:1px solid #d0cbcb">
        13:00~14:30
    </div>
    <div style="padding:15px 0 15px 0; border-bottom:1px solid #d0cbcb">
        14:30~16:00
    </div>
    <div style="padding:15px 0 15px 0; border-bottom:1px solid #d0cbcb">
        16:00~17:30
    </div>
</div>

<div style="display:none; max-width:600px; cursor:default;" id="trueModal">
    <h2>I'm a modal!</h2>
    <p>You can close me only by pressing custom button below.</p>
    <p>It would also be possible to prevent closing using `beforeClose` callback.</p>
    <p>
        <button data-fancybox-close class="button-1">Close me</button>
    </p>
</div>

<div class="bootstrap" style="display:none; max-width:360px; cursor:default;" id="timeSlotModal">
    <h2>I'm a modal!</h2>
    <p>You can close me only by pressing custom button below.</p>
    <p>It would also be possible to prevent closing using `beforeClose` callback.</p>
    <p>
        <button data-fancybox-close class="button-1">Close me</button>
    </p>
</div>




<script>
    var map;
    $(document).ready(function () {

        createCalendar();

    });

    var week = function (i) {
        if (i % 7 == 0) {
            return " (日)";
        } else if (i % 7 == 1) {
            return " (一)";
        } else if (i % 7 == 2) {
            return " (二)";
        } else if (i % 7 == 3) {
            return " (三)";
        } else if (i % 7 == 4) {
            return " (四)";
        } else if (i % 7 == 5) {
            return " (五)";
        } else if (i % 7 == 6) {
            return " (六)";
        }
    }

    //////////////var now = new Date();
    //////////////var date = new Date();//當天

    ////////////////var edate = new Date($("#ecDate").val());
    //////////////var edate = new Date();//Test
    //////////////edate.setDate(edate.getDate() + 14);

    var date = new Date();//當天
    //var edate = new Date($("#ecDate").val());
    var edate = new Date();//Test
    //edate.setDate(edate.getDate() + 14);
    edate.setDate(edate.getDate() + 30);

    var m = edate.getFullYear() + '-' + (edate.getMonth() + 1) + '-' + edate.getDate();

    function createCalendar() {


        var canSunday = parseInt($("#canSunday").val());
        var delayDay = parseInt($("#delayDay").val());
        var now = new Date();
        var realNow = new Date();
        now.setDate(now.getDate() + delayDay);

        $(".day").remove();
        $(".myCalendarSection").show();

        var shopCode = $("#serviceCustomerId").val();
        console.log("shopCode", shopCode);

        var strCalendar = "";

        // 每月日數陣列
        var monthDays = new Array(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);

        // 閏年判斷
        mYear = date.getFullYear();
        if (((mYear % 4 == 0) && (mYear % 100 != 0)) || (mYear % 400 == 0)) monthDays[1] = 29;

        // 設定日期為該月第一天
        date.setDate(1);

        // 該月第一天的星期
        var day = date.getDay();

        // 計算秀出時需要的格數
        var total = monthDays[date.getMonth()] + day;
        var totalCells = total + (total % 7 ? 7 - total % 7 : 0);

        var html = '';
        for (var i = 0; i < totalCells; i++) {

            if (i % 7 == 0) {
                html += '<ul class="days">';
            }

            if (i >= day && i < total) {

                var tempDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/";
                var isSunday = (i % 7 == 0 && canSunday == 1);
                var whichDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + ((i - day) + 1);
                var currDate = new Date(whichDate);
                var nowDate = new Date(now.getFullYear() + "/" + (now.getMonth() + 1) + "/" + now.getDate());

                if (currDate.getTime() < nowDate.getTime()) {
                    html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                    html += "<div class='date'><span class='badge badge-pill badge-secondary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                    html += "<br style='clear:both;' /><div class='booking'></div>";
                    html += "</li>";
                } else if (currDate.getTime() > nowDate.getTime()) {

                    //var d3 = (currDate - nowDate) / 86400000;
                    //if (d3 <= 14) {
                    //    html += "<li style='position:relative;' class='day canUse' data-code='" + shopCode + "' data-date='" + whichDate + "' onclick='gotoBooking(this);'>";
                    //    html += "<div class='date'><span class='badge badge-pill badge-primary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                    //    html += "<button type='button' class='btn btn-info btn-sm fullDate' style='position: absolute; right:5px; top:5px;'>選擇時段</button>";
                    //    html += "<br style='clear:both;' /><div class='booking'></div>";
                    //    html += "</li>";
                    //} else {
                    //    html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                    //    html += "<div class='date'><span class='badge badge-pill badge-secondary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                    //    html += "<br style='clear:both;' /><div class='booking'></div>";
                    //    html += "</li>";
                    //}
                    if (currDate.getTime() <= edate.getTime()) {
                        if (!isSunday) {
                            html += "<li style='position:relative;' class='day canUse' data-code='" + shopCode + "' data-date='" + whichDate + "' onclick='gotoBooking(this);'>";
                            html += "<div class='date'><span class='badge badge-pill badge-primary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                            html += "<button type='button' class='btn btn-info btn-sm fullDate' style='position: absolute; right:5px; top:5px; display:none;'>選擇時段</button>";
                            html += "<br style='clear:both;' /><div class='booking'></div>";
                            html += "</li>";
                        } else {
                            html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                            html += "<div class='date'><span class='badge badge-pill badge-secondary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                            html += "<br style='clear:both;' /><div class='booking'></div>";
                            html += "</li>";
                        }
                    } else {
                        html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                        html += "<div class='date'><span class='badge badge-pill badge-secondary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                        html += "<br style='clear:both;' /><div class='booking'></div>";
                        html += "</li>";
                    }

                } else if (currDate.getTime() == nowDate.getTime()) {
                    html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                    html += "<div class='date'><span class='badge badge-pill badge-info'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                    html += "<br style='clear:both;' /><div class='booking'></div>";
                    html += "</li>";
                }


            }
            else {
                html += "<li class='day other-month'>";
                html += "<div class='date'>-</div>";
                html += "<br style='clear:both;' /><div class='booking'></div>";
                html += "</li>";
            }

            if (i % 7 == 6) {
                html += "</ul>";
            }

        }
        $("#calendar").append(html);

        $("#current_date").html("<strong>" + date.getFullYear() + "年" + (date.getMonth() + 1) + "月</strong>");

        listBooking(shopCode);//顯示已被預約時間
    }

    var lastMonth = function () {

        //alert(date.getMonth());

        var m = date.getMonth();

        if (m == 0) {
            date.setFullYear(date.getFullYear() - 1);
            date.setMonth(11);
        } else {
            date.setMonth(m - 1);
        }

        createCalendar();
    }

    var nextMonth = function () {

        var m = date.getMonth();

        if (m == 11) {
            date.setFullYear(date.getFullYear() + 1);
            date.setMonth(0);
        } else {
            date.setMonth(m + 1);
        }

        createCalendar();

    }

    var listBooking = function (shopCode) {

        $("li.day").each(function () {

            //console.log($(this).data("date"));
            var elm = $(this);
            var x = elm.data("date");

            if (x === undefined) {

            } else {
                //console.log("/api/v1/StoreBookingApi?shopAddressId=0&reservationDate=" + $(this).data("date") + "&shopCode=" + shopCode);
                $.ajax({
                    cache: false,
                    type: "GET",
                    data: { reservationDate: $(this).data("date"), shopCode: shopCode },
                    url: "@Url.Action("BookingList", "Booking")",
                    dataType: 'json',
                    success: function (data) {

                        if (data.status == "OK") {
                            var html = "";
                            for (var i = 0; i < data.datas.length; i++) {
                                if (data.datas[i].status == "N") {
                                    html += "<div style='font-size:12px; color:red;'>" + data.datas[i].timeStart + "<span style='color:#999999;'> (已預約)</span></div>"
                                }

                            }
                            $("div.booking", elm).html(html);
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //alert('Failed to load reservation time.');
                    }
                });
                //$("div.booking", elm).html("<div style='font-size:12px; color:red;'>" + $(this).data("date") + "</div>");
                //console.log($(this).data("date"));
            }

        });
    }

    var gotoBooking = function (e) {

        $("#timeSlotModal").empty();
        $.fancybox.open({
            src: '#timeSlotModal',
            type: 'inline',
            opts: {
                afterShow: function (instance, current) {
                    //console.info('done!');
                    $.ajax({
                        cache: false,
                        type: "GET",
                        data: { reservationDate: $(e).data("date"), shopCode: $(e).data("code") },
                        url: "@Url.Action("BookingList", "Booking")",
                        dataType: 'json',
                        success: function (data) {

                           

                            if (data.status == "OK") {
                                //var html = "<div style='margin-top:20px; margin-bottom:15px; width:500px;'><h4>請選擇 " + data.date + " 預約時段</h4></div>"
                                //html += "<table class='table table-sm table-hover account-page'>";
                                //html += "<thead class='thead-light'>";
                                //html += "<tr>";
                                //html += "<th scope='col'>時段</th>";
                                //html += "<th scope='col'>狀態</th>";
                                //html += "<th scope='col'></th>";
                                //html += "</tr>";
                                //html += "</thead>";
                                //html += "<tbody>";
                                //for (var i = 0; i < data.datas.length; i++) {

                                //    html += "<tr>";
                                //    html += "<td>" + data.datas[i].timeStart + " ~ " + data.datas[i].timeEnd + "</td>";
                                //    if (data.datas[i].status == "Y") {
                                //        html += "<td>可預約</td>";
                                //        html += "<td style='padding:5px;'><button type='button' class='button-1' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' onclick='bookingClick(this);'>預約</button></th>";
                                //    } else {
                                //        html += "<td>不可預約</td>";
                                //        html += "<td style='padding:5px;'><button type='button' class='button-1' style='background-color:#888888;' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' disabled>無法預約</button></th>";
                                //    }
                                //    html += "</tr>";
                                //}
                                //html += "</tbody>";
                                //html += "</table>";
                                //$("#timeSlotModal").append(html);

                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>預約 " + data.date + " 時段</strong></div>";
                                html += "<table class='table table-sm table-hover account-page'>";
                                html += "<thead class='thead-light'>";
                                html += "<tr>";
                                html += "<th scope='col'>時段</th>";
                                html += "<th scope='col'>狀態</th>";
                                html += "<th scope='col'></th>";
                                html += "</tr>";
                                html += "</thead>";
                                html += "<tbody>";
                                for (var i = 0; i < data.datas.length; i++) {
                                    html += "<tr>";
                                    html += "<td style='padding-top:10px;'>" + data.datas[i].timeStart + " ~ " + data.datas[i].timeEnd + "</td>";
                                    if (data.datas[i].status == "Y") {
                                        html += "<td style='padding-top:10px;'>可預約</td>";
                                        html += "<td style='padding:5px;'><button type='button' class='btn btn-warning btn-sm' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' onclick='bookingClick(this);'>預約</button></th>";
                                    } else {
                                        html += "<td style='padding-top:10px;'>不可預約</td>";
                                        html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' disabled>無法預約</button></th>";

                                    }
                                    html += "</tr>";
                                }
                                html += "</tbody>";
                                html += "</table>";
                                $("#timeSlotModal").append(html);
                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to load reservation time.');
                        }
                    });
                }
            }
        });
    }

    var bookingClick = function (e) {

        var postData = {
            reservationDate: $(e).data("date"), shopCode: $(e).data("code"), time: $(e).data("time"), orderId: $("#serviceOrderId").val(), orderItemId: $("#serviceOrderItemId").val()
        };
        addAntiForgeryToken(postData);

        $.fancybox.close();
        $.ajax({
            cache: false,
            type: "POST",
            data: postData,
            url: "@Url.Action("BookingInsert", "Booking")",
            dataType: 'json',
            success: function (data) {

                if (data.status == "OK") {
                    alert("預約完成");
                    location.reload();
                } else if (data.status == "FAIL") {
                    alert(data.message);
                } else {
                    alert("錯誤");
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert('Failed to load reservation time.');
            }
        });

    }

</script>
