﻿@model PublicBookingDetailModel
@using Nop.Web.Models.Bookings
@using Nop.Core
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("預約資訊");
    //page class

}
<div class="page">
    <div class="page-title">
        <h1>預約資訊</h1>
    </div>
    <div class="page-body">

        <section class="bootstrap">

            <div class="row">

                <div class="col-12">

                    <div class="card rounded-0">
                        <div class="card-header">
                            <strong>預約資訊</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-10">
                                    <dl class="row">
                                        <dt class="col-sm-2">預約單號：</dt>
                                        <dd class="col-sm-10">@CommonHelper.MaskString(Model.BookingId.ToString())</dd>
                                        <dt class="col-sm-2">建立時間：</dt>
                                        <dd class="col-sm-10">@Model.BookingCreateDate</dd>
                                        <dt class="col-sm-2">預約時間：</dt>
                                        <dd class="col-sm-10">@Model.BookingDate</dd>
                                        <dt class="col-sm-2">預約時段：</dt>
                                        <dd class="col-sm-10">@Model.BookingTime</dd>
                                        <dt class="col-sm-2">預約項目：</dt>
                                        <dd class="col-sm-10">@Model.BookingItem</dd>

                                        <dt class="col-sm-2">廠商編號：</dt>
                                        <dd class="col-sm-10">@CommonHelper.MaskString(Model.VendorId.ToString())</dd>
                                        <dt class="col-sm-2">廠商名稱：</dt>
                                        <dd class="col-sm-10">@Model.VendorTitle</dd>
                                        <dt class="col-sm-2">廠商地址：</dt>
                                        <dd class="col-sm-10">@Model.VendorAddress</dd>
                                        <dt class="col-sm-2">廠商電話：</dt>
                                        <dd class="col-sm-10">@CommonHelper.MaskString(@Model.VerdorPhoneNumber)</dd>
                                        <dt class="col-sm-2">廠商Email：</dt>
                                        <dd class="col-sm-10">@CommonHelper.MaskString(Model.VendorEmail)</dd>

                                        <dt class="col-sm-2">會員編號：</dt>
                                        <dd class="col-sm-10">@CommonHelper.MaskString(Model.BuyerId.ToString())</dd>
                                        <dt class="col-sm-2">會員名稱：</dt>
                                        <dd class="col-sm-10">@CommonHelper.MaskString(Model.BuyerName)</dd>
                                        <dt class="col-sm-2">會員電話：</dt>
                                        <dd class="col-sm-10">@CommonHelper.MaskString(Model.BuyerPhoneNumber)</dd>
                                        <dt class="col-sm-2">會員Email：</dt>
                                        <dd class="col-sm-10">@CommonHelper.MaskString(Model.BuyerEmail)</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    @*<a href="@Url.Action("Booking", "ServiceVendor", new { id = item.OrderId, orderItemId = item.Id })" class="btn btn-danger rounded-0" role="button">立即預約</a>*@
                                    <a href="@Url.RouteUrl("MoreBooking")" class="btn btn-danger rounded-0" role="button">詳細資料</a>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>

            </div>


        </section>

    </div>
</div>
