﻿@model CustomerAddressEditModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-edit-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myform" }))
{
    @Html.AntiForgeryToken()
    <div class="page account-page address-edit-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.CustomerAddresses.Edit")</h1>
        </div>
        <div class="page-body">
            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">
                    @validationSummary
                </div>
            }
            @{
                var dataDictAddress = new ViewDataDictionary();
                //Merge ModelState (required for validation)
                dataDictAddress.ModelState.Merge(ViewData.ModelState);
                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                dataDictAddress.Add("Lane", ViewBag.Lane);
                dataDictAddress.Add("Alley", ViewBag.Alley);
                dataDictAddress.Add("Num", ViewBag.Num);
                dataDictAddress.Add("Hyphen", ViewBag.Hyphen);
                dataDictAddress.Add("Suite", ViewBag.Suite);

                @*@Html.Partial("_CreateOrUpdateAddress", Model.Address, dataDictAddress)*@
                @Html.Partial("_CreateOrUpdateAddress_abc", Model.Address, dataDictAddress)
            }
            <div class="buttons">
                <input type="submit" id="formSubmit" class="button-1 save-address-button" value="@T("Common.Save")" />                       
            </div>
        </div>
    </div>
}