﻿@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page change-password-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
        </div>
        <div class="page-body">



            @*@if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }*@
            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @*@if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }*@
            <div class="fieldset">

                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="bootstrap" style="background-color:transparent;">
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-info rounded-0" role="alert" style="margin-bottom:0;">
                                    @Model.Result
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="bootstrap" style="background-color:transparent;">
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger rounded-0" role="alert" style="margin-bottom:0;">
                                    @validationSummary
                                </div>
                            </div>
                        </div>
                    </div>
                }


                <div class="form-fields">
                    <div class="inputs">
                        @Html.LabelFor(model => model.OldPassword, new { }, ":")
                        @Html.EditorFor(model => model.OldPassword)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.NewPassword, new { }, ":")
                        @Html.EditorFor(model => model.NewPassword)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.ConfirmNewPassword, new { }, ":")
                        @Html.EditorFor(model => model.ConfirmNewPassword)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" class="button-1 change-password-button" value="@T("Account.ChangePassword.Button")" />
            </div>
        </div>
    </div>
}