﻿@model RegisterModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox.min.css");
    Html.AddScriptParts("~/Content/fancybox/jquery.fancybox.min.js");

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}


<div class="bootstrap" style="background-color:transparent;">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 shadow-none p-3 mb-1 bg-transparent rounded">
                <h6>@T("Account.Register")</h6>
                <hr />
            </div>
        </div>
        <div class="row justify-content-md-center">

            <div class="col-xs-12 col-md-6 border bg-white">
                <div class="row bg-light">
                    <div class="col p-3">
                        <strong>@T("Account.YourPersonalDetails")</strong>
                    </div>
                </div>

                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }

                <div class="row bg-white">
                    <div class="col px-5 pt-3 pb-5">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "registerform" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="Email">帳號(Email)</label>
                                    <input type="text" class="form-control rounded-0" id="Email" name="Email" placeholder="請輸入email" autocomplete="off" value="@Model.Email">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="Password">密碼</label>
                                    <input type="password" class="form-control rounded-0" id="Password" name="Password" placeholder="請輸入密碼" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="ConfirmPassword">確認密碼</label>
                                    <input type="password" class="form-control rounded-0" id="ConfirmPassword" name="ConfirmPassword" placeholder="請輸入確認密碼" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-9">
                                    <label for="Phone">行動電話</label>
                                    <input type="text" class="form-control rounded-0" id="Phone" name="Phone" placeholder="請輸入行動電話" autocomplete="off" value="@Model.Phone">
                                </div>
                                <div class="form-group col-3">
                                    <label>&nbsp;&nbsp;</label>
                                    <button type="button" class="btn btn-secondary rounded-0" id="CellphoneBtn" name="CellphoneBtn" onclick="verifyCode();">獲取驗證碼</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="captchaValid">簡訊驗證碼</label>
                                    <input type="text" class="form-control rounded-0" id="VerifyCode" name="VerifyCode" placeholder="請輸入簡訊驗證碼" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="JoinPolicy" name="JoinPolicy">
                                <label class="form-check-label" for="exampleCheck1">
                                    我同意服務條款,並無條件地遵守它們（
                                    <a data-fancybox="" data-type="iframe" href="@Url.RouteUrl("TopicPopup", new {SystemName = "abc好養車會員服務條款" })">
                                        閱讀
                                    </a>
                                    ）
                                </label>
                            </div>
                            @*<script>
                                           $(document).ready(function() {
                                               $('#read-terms').on('click', function(e) {
                                                   e.preventDefault();
                                                   displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "abcMore會員服務條款" })', '@T("Checkout.TermsOfService")');
                                               });
                                           });
                                </script>*@
                            <hr />
                            <input type="hidden" id="captchaValid" name="captchaValid" value="true" />
                            <input type="hidden" id="FirstName" name="FirstName" value="FirstName" />
                            <input type="hidden" id="LastName" name="LastName" value="LastName" />
                            <button type="submit" id="formSubmit" class="btn btn-primary rounded-0">加入會員</button>


                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#formSubmit").click(function (event) {
            event.preventDefault();

            var input = {
                Email: $("#Email").val(),
                Password: $("#Password").val(),
                ConfirmPassword: $("#ConfirmPassword").val(),
                Phone: $("#Phone").val(),
                VerifyCode: $("#VerifyCode").val(),

            };

            var error = "";
            if (input.Email == "") {
                error += "請輸入Email\n";
            }
            if (input.Password == "") {
                error += "請輸入密碼\n";
            }
            if (input.ConfirmPassword == "") {
                error += "請輸入確認密碼\n";
            }
            if (input.Phone == "") {
                error += "請輸入行動電話\n";
            }
            if (input.VerifyCode == "") {
                error += "請輸入驗證碼\n";
            }
            if (!$("#JoinPolicy").prop("checked")) {
                error += "請閱讀並同意會員服務條款\n";
            }
            if (error.length > 0) {
                alert(error);
                return false;
            }

            $("form#registerform").submit();

        });

    });

    var InterValObj; //timer變量，控制時間
    var count = 180; //間隔函數，1秒執行
    var curCount;//當前剩餘秒數


    var verifyCode = function () {
        var cellphone = $("#Phone").val();
        if (cellphone.length != 10) {
            alert("請輸入正確行動電話號碼");
            return false;
        }


        var email = $("#Email").val();
        if (email.length <= 0) {
            alert("請輸入Email");
            return false;

        }else{

            var postData2 = {
                email: email,
            };
            addAntiForgeryToken(postData2);

            $.ajax({
                cache: false,
                url: "@Url.Action("GetEmailVerify", "Customer")",
                type: 'post',
                data: postData2,
                dataType: 'json',
                success: function (json) {
                    //alert(json.status);
                    if (json.status == "ERROR") {
                        alert('要註冊的Email已存在');
                        return false;
                    } else if (json.status == "OK"){

                        curCount = count;
                        $("#CellphoneBtn").attr("disabled", "true");

                        var postData = {
                            phoneNumber: cellphone,
                        };
                        addAntiForgeryToken(postData);

                        $.ajax({
                            cache: false,
                            url: "@Url.Action("GetCellphoneVerifyCode", "Customer")",
                            type: 'post',
                            data: postData,
                            dataType: 'json',
                            success: function (json) {
                                //alert(json.status);
                                if (json.status == "OK") {
                                    $("#CellphoneBtn").text(curCount + "秒重新發送");
                                    InterValObj = window.setInterval(SetRemainTime, 1000); //啟動計時器，1秒執行一次
                                } else {
                                    alert('發送失敗');
                                    $("#CellphoneBtn").removeAttr("disabled");//啟用按鈕
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Failed to save preferences.');
                                $("#CellphoneBtn").removeAttr("disabled");//啟用按鈕
                            }
                        });
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to save preferences.');
                    return false;
                }
            });

        }

        

    }
    //timer處理函數
    var SetRemainTime = function() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止計時器
            $("#CellphoneBtn").removeAttr("disabled");//啟用按鈕
            $("#CellphoneBtn").text("獲取驗證碼");
        }
        else {
            curCount--;
            $("#CellphoneBtn").text(curCount + "秒重新發送");
        }
    }
</script>



@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="page registration-page">
            <div class="page-title">
                <h1>@T("Account.Register")</h1>
            </div>
            <div class="page-body">
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                @Html.Partial("_ExternalAuthentication.AssociateMessage")

                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Account.YourPersonalDetails")</strong>
                    </div>
                    <div class="form-fields">
                        @if (Model.GenderEnabled)
                        {
                            <div class="inputs">
                                <label>@T("Account.Fields.Gender"):</label>
                                <div class="gender">
                                    <span class="male">
                                        @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
                                        <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                    </span>
                                    <span class="female">
                                        @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
                                        <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                    </span>
                                </div>
                            </div>
                        }
                        <div class="inputs">
                            @Html.LabelFor(model => model.FirstName, new { }, ":")
                            @Html.EditorFor(model => model.FirstName)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(model => model.LastName, new { }, ":")
                            @Html.EditorFor(model => model.LastName)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                        @if (Model.DateOfBirthEnabled)
                        {
                            <div class="inputs date-of-birth">
                                <label>@T("Account.Fields.DateOfBirth"):</label>
                                @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
                                    Html.FieldNameFor(x => x.DateOfBirthMonth),
                                    Html.FieldNameFor(x => x.DateOfBirthYear),
                                    DateTime.Now.Year - 110,
                                    DateTime.Now.Year,
                                    Model.DateOfBirthDay,
                                    Model.DateOfBirthMonth,
                                    Model.DateOfBirthYear)
                                @if (Model.DateOfBirthRequired)
                                {
                                    @Html.RequiredHint()
                                }
                                @Html.ValidationMessageFor(model => model.DateOfBirthDay)
                                @Html.ValidationMessageFor(model => model.DateOfBirthMonth)
                                @Html.ValidationMessageFor(model => model.DateOfBirthYear)
                            </div>
                        }
                        <div class="inputs">
                            @Html.LabelFor(model => model.Email, new { }, ":")
                            @Html.EditorFor(model => model.Email)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        @if (Model.EnteringEmailTwice)
                        {
                            <div class="inputs">
                                @Html.LabelFor(model => model.ConfirmEmail, new { }, ":")
                                @Html.EditorFor(model => model.ConfirmEmail)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.ConfirmEmail)
                            </div>
                        }
                        @if (Model.UsernamesEnabled)
                        {
                            <div class="inputs">
                                @Html.LabelFor(model => model.Username, new { }, ":")
                                @Html.EditorFor(model => model.Username)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.Username)
                                @if (Model.CheckUsernameAvailabilityEnabled)
                                {
                                    @Html.Partial("_CheckUsernameAvailability")
                                }
                            </div>

                        }
                    </div>
                </div>
                @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                {
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.CompanyDetails")</strong>
                        </div>
                        <div class="form-fields">
                            @if (Model.CompanyEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.Company, new { }, ":")
                                    @Html.EditorFor(model => model.Company)
                                    @if (Model.CompanyRequired)
                                    {
                                        @Html.RequiredHint()
                                    }
                                    @Html.ValidationMessageFor(model => model.Company)
                                </div>
                            }
                            @if (Model.DisplayVatNumber)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.VatNumber, new { }, ":")
                                    @Html.EditorFor(model => model.VatNumber)
                                    <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled || Model.ZipPostalCodeEnabled
                || Model.CityEnabled || Model.CountryEnabled)
                {
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.YourAddress")</strong>
                        </div>
                        <div class="form-fields">
                            @if (Model.StreetAddressEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.StreetAddress, new { }, ":")
                                    @Html.EditorFor(model => model.StreetAddress)
                                    @if (Model.StreetAddressRequired)
                                    {
                                        @Html.RequiredHint()
                                    }
                                    @Html.ValidationMessageFor(model => model.StreetAddress)
                                </div>
                            }
                            @if (Model.StreetAddress2Enabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.StreetAddress2, new { }, ":")
                                    @Html.EditorFor(model => model.StreetAddress2)
                                    @if (Model.StreetAddress2Required)
                                    {
                                        @Html.RequiredHint()
                                    }
                                    @Html.ValidationMessageFor(model => model.StreetAddress2)
                                </div>
                            }
                            @if (Model.ZipPostalCodeEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.ZipPostalCode, new { }, ":")
                                    @Html.EditorFor(model => model.ZipPostalCode)
                                    @if (Model.ZipPostalCodeRequired)
                                    {
                                        @Html.RequiredHint()
                                    }
                                    @Html.ValidationMessageFor(model => model.ZipPostalCode)
                                </div>
                            }
                            @if (Model.CityEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.City, new { }, ":")
                                    @Html.EditorFor(model => model.City)
                                    @if (Model.CityRequired)
                                    {
                                        @Html.RequiredHint()
                                    }
                                    @Html.ValidationMessageFor(model => model.City)
                                </div>
                            }
                            @if (Model.CountryEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.CountryId, new { }, ":")
                                    @Html.DropDownList("CountryId", Model.AvailableCountries)
                                    @if (Model.CountryRequired)
                                    {
                                        @Html.RequiredHint()
                                    }
                                    @Html.ValidationMessageFor(model => model.CountryId)
                                </div>
                            }
                            @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.StateProvinceId, new { }, ":")
                                    @Html.DropDownList("StateProvinceId", Model.AvailableStates)
                                    @if (Model.StateProvinceRequired)
                                    {
                                        @Html.RequiredHint()
                                    }
                                    @Html.ValidationMessageFor(model => model.StateProvinceId)
                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (Model.PhoneEnabled || Model.FaxEnabled)
                {
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.YourContactInformation")</strong>
                        </div>
                        <div class="form-fields">
                            @if (Model.PhoneEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.Phone, new { }, ":")
                                    @Html.EditorFor(model => model.Phone)
                                    @if (Model.PhoneRequired)
                                    {
                                        @Html.RequiredHint()
                                    }
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            }
                            @if (Model.FaxEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.Fax, new { }, ":")
                                    @Html.EditorFor(model => model.Fax)
                                    @if (Model.FaxRequired)
                                    {
                                        @Html.RequiredHint()
                                    }
                                    @Html.ValidationMessageFor(model => model.Fax)
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                {
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.Options")</strong>
                        </div>
                        <div class="form-fields">
                            @if (Model.NewsletterEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.Newsletter, new { }, ":")
                                    @Html.EditorFor(model => model.Newsletter)
                                    @Html.ValidationMessageFor(model => model.Newsletter)
                                </div>
                            }
                            @if (Model.CustomerAttributes.Count > 0)
                            {
                                @Html.Partial("_CustomerAttributes", Model.CustomerAttributes)
                            }
                        </div>
                    </div>
                }
                @if (Model.AllowCustomersToSetTimeZone)
                {
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.Preferences")</strong>
                        </div>
                        <div class="form-fields">
                            @if (Model.AllowCustomersToSetTimeZone)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.TimeZoneId, new { }, ":")
                                    @Html.DropDownList("TimeZoneId", Model.AvailableTimeZones)
                                    @Html.ValidationMessageFor(model => model.TimeZoneId)
                                </div>
                            }
                        </div>
                    </div>
                }
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Account.YourPassword")</strong>
                    </div>
                    <div class="form-fields">
                        <div class="inputs">
                            @Html.LabelFor(model => model.Password, new { }, ":")
                            @Html.EditorFor(model => model.Password)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(model => model.ConfirmPassword, new { }, ":")
                            @Html.EditorFor(model => model.ConfirmPassword)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                        @if (Model.HoneypotEnabled)
                        {
                            @Html.Raw(Html.GenerateHoneypotInput())
                        }
                    </div>
                </div>
                @if (Model.AcceptPrivacyPolicyEnabled)
                {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#register-button').click(function () {
                                if ($('#accept-privacy-policy').is(':checked')) {
                                    //do some stuff
                                    return true;
                                }
                                else {
                                    //just show validation errors, dont post
                                    alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                    return false;
                                }
                            });
                        });
                    </script>
                    <div class="accept-privacy-policy">
                        <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                        <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                        <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                        <script>
                            $(document).ready(function() {
                                $('#read-privacyinfo').on('click', function (e) {
                                    displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new { SystemName = "privacyinfo" })', '@T("Account.Fields.AcceptPrivacyPolicy")');
                                });
                            });
                        </script>
                    </div>
                }
                <div class="buttons">
                    <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
                </div>
            </div>
        </div>
    }*@