﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";

    var controllerName = Url.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = Url.RequestContext.RouteData.Values["action"].ToString();


}



<div class="center-2">
    @Html.Widget("main_column_before")
    @RenderBody()
    @Html.Widget("main_column_after")
</div>

<div class="side-2">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="block">
            <div class="title">
                <strong>找服務據點</strong>
            </div>
            <div class="listbox account-page">
                <div class="inputs" style="font-size:14px; font-family:'Microsoft JhengHei';">
                    <label for="FirstName">縣市:</label>
                    <select class="form-control" id="AbcAddressCity" name="AbcAddressCity" onchange="changeCity(this);">
                        <option value="">請選擇</option>
                    </select>
                </div>
                <div class="inputs" style="font-size:14px; font-family:'Microsoft JhengHei';">
                    <label for="FirstName">鄉鎮市區:</label>
                    <select class="form-control" id="AbcAddressArea" name="AbcAddressArea" onchange="changeArea(this);">
                        <option value="" selected>不限</option>
                    </select>
                </div>
                <div class="inputs" style="font-size:14px; font-family:'Microsoft JhengHei';">
                    <label for="FirstName">道路或街名或村里:</label>
                    <select class="form-control" id="AbcAddressRoad" name="AbcAddressRoad">
                        <option value="" selected>不限</option>
                    </select>
                </div>
                <div>
                    <input type="button" value="搜尋" name="save-info-button" class="button-1 save-customer-info-button" onclick="searchVendor();">
                </div>
            </div>
        </div>
    }



</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp2sgHJbLuJn8EW4PF3tAKoPLaCYgBbbY&callback=initMap">
</script>
<script type="text/javascript">

    $(document).ready(function () {

        @* load abc address *@
        @*
        $.ajax({
            cache: false,
            type: "GET",
            url: "/api/v1/AbcAddress",
            data: { level:0, city:"", area:"" },
            success: function (data) {

                $.each(data, function (id, option) {
                    //if (currentCity == option.City) {
                    //    $("#AbcAddressCity").append("<option value='" + option.City + "' selected>" + option.City + "</option>");
                    //} else {
                    //    $("#AbcAddressCity").append($('<option></option>').val(option.City).html(option.City));
                    //}
                    $("#AbcAddressCity").append($('<option></option>').val(option.City).html(option.City));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve City.');
            }
        });
        *@
    });

    var changeCity = function (e) {

        var elm = $(e);

        $.ajax({
            cache: false,
            type: "GET",
            url: "/api/v1/AbcAddress",
            data: { level: 1, city: elm.val(), area: "" },
            success: function (data) {
                $("#AbcAddressArea").empty().append($('<option></option>').val("").html("不限"));
                $("#AbcAddressRoad").empty().append($('<option></option>').val("").html("不限"));
                $.each(data, function (id, option) {
                    $("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve City.');
            }
        });

    }

    var changeArea = function (e) {

        var elm = $(e);

        $.ajax({
            cache: false,
            type: "GET",
            url: "/api/v1/AbcAddress",
            data: { level: 2, city: $("#AbcAddressCity").val(), area: elm.val() },
            success: function (data) {
                $("#AbcAddressRoad").empty().append($('<option></option>').val("").html("不限"));
                $.each(data, function (id, option) {
                    $("#AbcAddressRoad").append($('<option></option>').val(option.Road).html(option.Road));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve Area.');
            }
        });

    }

    var searchVendor = function () {

        var input = {
            city: $("#AbcAddressCity").val(),
            area: $("#AbcAddressArea").val(),
            road: $("#AbcAddressRoad").val()
        };

        if (input.city.length <= 0) {
            alert("請選擇縣市");
            return false;
        }

        var zoomId = 11;
        if (input.city.length > 0) {
            zoomId = 12;
        }
        if (input.area.length > 0) {
            zoomId = 13;
        }
        if (input.area.length > 0) {
            zoomId = 14;
        }



        var addressCollect = input.city + input.area + input.road;

        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': addressCollect }, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                var location = results[0].geometry.location;
                map.setCenter(new google.maps.LatLng(location.lat(), location.lng()));
                map.setZoom(zoomId);

                @*
                //////console.log(location.lat(), location.lng());
                ////var mapOptions = {
                ////    center: new google.maps.LatLng(location.lat(), location.lng()),
                ////    zoom: zoomId,
                ////    mapTypeId: google.maps.MapTypeId.roadmap
                ////    //mapTypeId: google.maps.MapTypeId.HYBRID
                ////};
                ////map = new google.maps.Map(document.getElementById("map"),
                ////    mapOptions);

                ////var marker = new google.maps.Marker({
                //    //position: new google.maps.LatLng(mapData.lat, mapData.lng)
                ////});
                //marker.setMap(map);
                *@


                @*
                var postData = {
                    lng: location.lng(), lat: location.lat(), limit: 3, orderId: $("#orderId").val(), orderItemId: $("#orderItemId").val()
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    data: postData,
                    url: "@Url.Action("GetNearestLocation", "booking")",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.status);
                        if (data.status == "OK") {
                            for (var i = 0; i < data.datas.length; i++) {
                                console.log(data.datas[i].lat, data.datas[i].lng);
                                var d = {
                                    position: { lat: Number(data.datas[i].lat), lng: Number(data.datas[i].lng) },
                                    map: map,
                                    title: data.datas[i].company
                                }

                                var content = '<div id="content">' +
                                    '<div>安裝廠 : ' + data.datas[i].company + '</div>' +
                                    '<div>地址 : ' + data.datas[i].address + '</div>' +
                                    '<div>庫存 : 足夠</div>' +
                                    '<div class="bootstrap" style="padding:5px 0;"><a class="btn btn-primary" href="@Url.Action("FindBookingDate", "booking")/' + data.datas[i].customerId + '?o=' + $("#orderId").val() + '&oi=' + $("#orderItemId").val() + '" role="button">立即預約</a></div>' +
                                    '</div>';

                                var infowindow = new google.maps.InfoWindow();

                                var _marker = new google.maps.Marker(d);

                                google.maps.event.addListener(_marker, 'mouseover', (function (_marker, content, infowindow) {
                                    return function () {
                                        infowindow.setContent(content);
                                        infowindow.open(map, _marker);
                                    };
                                })(_marker, content, infowindow));

                            }
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to load reservation time.');
                    }
                });
                *@

            } else {
                //alert('此位置無法定址');
                console.log("無法定址");
            }
        });

    }



</script>