﻿@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo
@using Nop.Core.Infrastructure;
@{
    var displayMiniProfiler = EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;

    Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts("~/Scripts/public.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");

    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }
    //custom tag(s)
    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();
    if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
    {
        Html.AppendHeadCustomParts(seoSettings.CustomHeadTags);
    }
    var browser = Request.Browser;
    if (browser.Browser == "IE" && browser.MajorVersion == 8)
    {
        Html.AppendHeadCustomParts("<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/>");
    }

    var isAndroid23Class = "notAndroid23";
    if (!string.IsNullOrWhiteSpace(Request.UserAgent) && Request.UserAgent.IndexOf("Android 2.", StringComparison.InvariantCultureIgnoreCase) > 0)
    {
        isAndroid23Class = "android23";
    }

    string currentPageClass = Html.Partial("_CurrentPageClass").ToString().Trim();

    var supportRtl = this.ShouldUseRtlTheme();
}
<!DOCTYPE html>
<html@(this.ShouldUseRtlTheme() ? Html.Raw(" dir=\"rtl\"") : null) @Html.NopPageCssClasses()>
    <head>
        <title>@Html.NopTitle()</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="description" content="@(Html.NopMetaDescription())" />
        <meta name="keywords" content="@(Html.NopMetaKeywords())" />
        <meta name="generator" content="nopCommerce" />
        <meta name="og:url" content="https://www.abcmore.com.tw" />
        <meta name="og:type" content="website" />
        <meta name="og:title" content="www.abcmore.com.tw" />
        <meta name="og:image" content="" />
        <meta name="og:description" content="@(Html.NopMetaDescription())" />
        <meta name="fb:app_id" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>


        @Html.NopHeadCustom()
        @*This is used so that themes can inject content into the header*@
        @Html.Partial("Head")
        @Html.Widget("head_html_tag")
        @Html.Widget("head_html_tag_after_css_files_pavilion")
        @Html.NopCssFiles(this.Url, ResourceLocation.Head)
        @Html.NopScripts(this.Url, ResourceLocation.Head)
        @Html.NopCanonicalUrls()
        @Html.Action("RssHeaderLink", "News")
        @Html.Action("RssHeaderLink", "Blog")
        @*Favicon - upload favicon.ico file to the root directory*@
        @Html.Action("Favicon", "Common")
        @if (displayMiniProfiler)
        {
            @StackExchange.Profiling.MiniProfiler.RenderIncludes()
        }

        <style type="text/css">

            .price{
                font-family: Arial, sans-serif;
            }
            .noshow {
                visibility: hidden;
            }

            .card-img-top {
                width: auto;
                height: 200px;
            }

            .wrap {
                text-align: center;
            }

                .wrap ul {
                    display: inline-block;
                }

            .fixImage div img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }

            .fixImage p img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }

            .fixImage iframe {
                max-width: 100%;
            }

            .youtube-rwd {
                position: relative;
                height: 0;
                padding-bottom: 56.25%;
                overflow: hidden;
                margin: 20px 0;
            }

                .youtube-rwd iframe,
                .youtube-rwd object,
                .youtube-rwd embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%
                }
        </style>


        @Html.Widget("home_page_GoogleGtm")


    </head>
    <body class="@isAndroid23Class @currentPageClass @if (supportRtl){<text>rtl</text>}">
        @Html.Widget("home_page_GoogleGtmNoScript")

        @RenderBody()
        @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
        @Html.NopScripts(this.Url, ResourceLocation.Foot)
        <div id="goToTop"></div>
    </body>
        </html>
