﻿@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration

@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";

    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action");
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase) && actionName.Equals("index", StringComparison.InvariantCultureIgnoreCase);

    var storeId = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.Id;
    var settingsService = EngineContext.Current.Resolve<ISettingService>();
    bool isLogoStickyOnMobileDevice = settingsService.GetSettingByKey("pavilionthemesettings.islogostickyonmobiledevice", false, storeId, true);
    string stickyLogoClass = isLogoStickyOnMobileDevice ? "mobile-sticky-logo" : string.Empty;
}

@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div class="master-wrapper-page @stickyLogoClass">
    @Html.Partial("Header")
    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    <div class="overlayOffCanvas"></div>
    <div class="responsive-nav-wrapper-parent">
        <div class="responsive-nav-wrapper">
            <div style="background-color:#ffffff;width:54px; padding-left:2px; border-left-width:0; border-right-width:0;">
                @*<a href="@Url.RouteUrl("HomePage")">
                    </a>*@
                <img src="/Content/new/logo_r.png" alt="logo" style="width:52px;" onclick="javascript: location.href = '@Url.RouteUrl("HomePage")';">
            </div>
            <div class="menu-title">
                <span>@T("SevenSpikes.Themes.Common.MenuTitle")</span>
            </div>
            <div class="shopping-cart-link">
                <span>@T("ShoppingCart")</span>
            </div>
            <div class="filters-button">
                <span>@T("SevenSpikes.Themes.Common.Filters")</span>
            </div>
            <div class="personal-button" id="header-links-opener">
                <span>@T("SevenSpikes.Themes.Common.Personal")</span>
            </div>
            <div class="preferences-button" id="header-selectors-opener">
                <span>@T("SevenSpikes.Themes.Pavilion.Header.Preferences")</span>
            </div>
            <div class="search-wrap">
                <span>@T("Search")</span>
            </div>
        </div>

        @*<section class="bootstrap">
            <div style="height:53px;" class="row align-items-center">
                <div class="col-1 col-sm-3">
                    <img class="img-fluid" src="/Content/new/EBB596C4-FCAF-4008-9C90-2FA772A38381.png" alt="logo">
                </div>
                <div class="col-11 col-sm-9">
                    <div class="responsive-nav-wrapper">
                        <div class="menu-title">
                            <span>@T("SevenSpikes.Themes.Common.MenuTitle")</span>
                        </div>
                        <div class="shopping-cart-link">
                            <span>@T("ShoppingCart")</span>
                        </div>
                        <div class="filters-button">
                            <span>@T("SevenSpikes.Themes.Common.Filters")</span>
                        </div>
                        <div class="personal-button" id="header-links-opener">
                            <span>@T("SevenSpikes.Themes.Common.Personal")</span>
                        </div>
                        <div class="preferences-button" id="header-selectors-opener">
                            <span>@T("SevenSpikes.Themes.Pavilion.Header.Preferences")</span>
                        </div>
                        <div class="search-wrap">
                            <span>@T("Search")</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
        @*<div class="responsive-nav-wrapper">
            <div style="background-color:#ffffff;">
                <img src="/Content/new/EBB596C4-FCAF-4008-9C90-2FA772A38381.png" alt="logo" style="width:140px;">
            </div>
            <div class="menu-title">
                <span>@T("SevenSpikes.Themes.Common.MenuTitle")</span>
            </div>
            <div class="shopping-cart-link">
                <span>@T("ShoppingCart")</span>
            </div>
            <div class="filters-button">
                <span>@T("SevenSpikes.Themes.Common.Filters")</span>
            </div>
            <div class="personal-button" id="header-links-opener">
                <span>@T("SevenSpikes.Themes.Common.Personal")</span>
            </div>
            <div class="preferences-button" id="header-selectors-opener">
                <span>@T("SevenSpikes.Themes.Pavilion.Header.Preferences")</span>
            </div>
            <div class="search-wrap">
                <span>@T("Search")</span>
            </div>
        </div>*@
    </div>
    <div class="master-wrapper-content">
        @Html.Widget("content_before")
        @Html.Widget("pavilion_color_squares")

        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }

        <div class="master-column-wrapper">
            @RenderBody()
        </div>

        @Html.Widget("content_after")
    </div>
    @if (isHomePage)
    {
        @Html.Widget("homepage_content_after")
    }

    @Html.Action("Footer", "Common")
</div>

@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")