﻿@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@using System.Web.Mvc

@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action");
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase) &&
                        actionName.Equals("index", StringComparison.InvariantCultureIgnoreCase);

    var currentStore = EngineContext.Current.Resolve<IStoreContext>().CurrentStore;
    int storeId = currentStore.Id;
    var settingsService = EngineContext.Current.Resolve<ISettingService>();
    bool isHomeSliderFullWidth = settingsService.GetSettingByKey("pavilionthemesettings.ishomepagemainsliderfullwidth", false, storeId, true);
    bool stickyCategoryMenuFlyout = settingsService.GetSettingByKey("pavilionthemesettings.StickyCategoryMenuFlyout", true, storeId, true);
    bool showCategoriesInSideMenu = settingsService.GetSettingByKey("pavilionthemesettings.ShowCategoriesInSideMenu", true, storeId, true);

    var homePageMainSlider = new MvcHtmlString("");

    if (isHomePage)
    {
        homePageMainSlider = Html.Widget("home_page_main_slider");
    }
}

<section class="bootstrap" style="background-color:#f6f6f6;">
    <div class="container-fluid header-not-mobile">
        <div class="row py-2">
            <div class="col-sm-3">
                @Html.Action("AdminHeaderLinks_abc", "Common")
            </div>
            <div class="col-sm-9 text-sm-right">
                @Html.Action("HeaderLinks_abc", "Common")
            </div>
        </div>

    </div>

    <div class="container-fluid d-none d-lg-block fixBar">
        <div class="row">
            <div class="col-sm-3 header-line">
                <div style="width:142px; height:44px; padding-top:0px;">
                    <a href="@Url.RouteUrl("HomePage")">
                        <img src="~/Content/new/EBB596C4-FCAF-4008-9C90-2FA772A38381.png" alt="logo" style="height:44px;" />
                    </a>
                </div>
            </div>
            <div class="col-sm-9" style="height:44px; background-color:#e73928;">
                <div class="row">
                    <div class="col-lg-4 col-xl-5" style="padding-top:12px;">
                        <span class="font-weight-bold text-white"><a href="/" class="myHeaderLink">首頁</a></span>
                        <span class="font-weight-bold text-white px-2">｜</span>
                        <span class="font-weight-bold text-white"><a href="/PartnerVendor" class="myHeaderLink">找服務店家</a></span>
                        <span class="font-weight-bold text-white px-2">｜</span>
                        <span class="font-weight-bold text-white"><a href="/電子禮券使用說明" class="myHeaderLink">電子禮券使用說明</a></span>
                    </div>
                    <div class="col-lg-6 col-xl-5 search-box" style="padding-top:9px;">
                        @*<input type="text" name="more_search_input" id="more_search_input" placeholder="搜尋" />
                            <button type="submit" name="more_search_button" id="more_search_button"><i class="fa fa-search" aria-hidden="true"></i></button>*@
                        @Html.Action("MySearchBox", "Catalog")
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-lg-2 col-xl-2" style="padding-top:12px;">
                        @Html.Action("MyMiniShoppingCart", "ShoppingCart")
                        <div class="float-left">
                            <span class="font-weight-bold text-white pl-4 pr-2">｜</span>
                        </div>
                        @Html.Action("MyMiniWish", "Common")

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @*<input type="hidden" id="controllerName" value="@controllerName" />
        <input type="hidden" id="actionName" value="@actionName" />*@
    <input type="hidden" id="ProdTag" value="@actionName" />
    @*新layout*@

</section>
<section class="fixFlag"></section>

<div class="header">

    @Html.Widget("header")
    <div class="header-upper" style="display:none;">
        <div class="center">
            @*@Html.Action("AdminHeaderLinks", "Common")*@
            @{
                var taxTypeSelectorHtml = @Html.Action("TaxTypeSelector", "Common");
                var currencySelectorHtml = @Html.Action("CurrencySelector", "Common");
                var languageSelectorHtml = @Html.Action("LanguageSelector", "Common");

                MvcHtmlString headerSelectorWidgetHtml = @Html.Widget("header_selectors");
                // it is better to trim the string and then check for null or empty because the MvcHtmlString.IsNullOrEmpty fail if the variable contains empty spaces
                var headerSelectorWidgetHtmlString = headerSelectorWidgetHtml.ToHtmlString().Trim();
            }

            @if (!MvcHtmlString.IsNullOrEmpty(taxTypeSelectorHtml) ||
                 !MvcHtmlString.IsNullOrEmpty(currencySelectorHtml) ||
                 !MvcHtmlString.IsNullOrEmpty(languageSelectorHtml) ||
                 !String.IsNullOrEmpty(headerSelectorWidgetHtmlString))
            {
                <div class="header-selectors-wrapper">
                    <label>@T("SevenSpikes.Themes.Pavilion.Header.Preferences")</label>
                    <div class="header-selectors">
                        @taxTypeSelectorHtml
                        @currencySelectorHtml
                        @languageSelectorHtml
                        @headerSelectorWidgetHtml
                    </div>
                </div>
                <div class="header-selector-widget" style="display: none;">@headerSelectorWidgetHtml</div>

            }
            <div class="header-links-wrapper">
                <label>@T("SevenSpikes.Themes.Pavilion.Header.MyAccount")</label>
                @Html.Action("HeaderLinks", "Common")
            </div>
        </div>
    </div>

    <div class="header-middle header-mobile">
        <div class="center">
            @*<div class="header-logo">
                @Html.Action("Logo", "Common")
            </div>*@
            <div class="header-menu-parent">
                <div class="header-menu @if (showCategoriesInSideMenu){<text>categories-in-side-panel</text>}">
                    <div class="close-menu">
                        <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
                    </div>
                    @{
                        var menuHtml = Html.Widget("theme_header_menu");
                    }
                    @if (!MvcHtmlString.IsNullOrEmpty(menuHtml))
                    {
                        @menuHtml
                    }
                    else
                    {
                        @Html.Action("TopMenu", "Catalog")
                    }
                </div>
            </div>
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            @Html.Action("MyWishLinks_abc", "Common")
        </div>
    </div>

    <div class="header-lower header-mobile">
        <div class="center">
            @if (showCategoriesInSideMenu)
            {
                <span class="category-navigation-title">@T("SevenSpikes.Themes.Pavilion.Header.AllCategories")</span>

                if (!isHomePage || isHomeSliderFullWidth)
                {
                    <div class="category-navigation-list-wrapper">
                        <ul class="category-navigation-list @if (stickyCategoryMenuFlyout){<text>sticky-flyout</text>}"></ul>
                    </div>
                }
            }

            <div class="search-box store-search-box @if (!showCategoriesInSideMenu){<text>full-width</text>}">
                @*@Html.Action("SearchBox", "Catalog")*@
                @Html.Action("MySearchBox", "Catalog")
            </div>

        </div>
    </div>
</div>

@if (isHomePage)
{
    var homePageSliderCss = isHomeSliderFullWidth ? "slider-fullwidth" : "slider-right-column";

    <div class="two-columns-area @homePageSliderCss">
        @*@if (isHomeSliderFullWidth)
        {
            @homePageMainSlider
        }*@

        <div class="center">
            <div class="two-colums-area-left">
                @if (showCategoriesInSideMenu && !isHomeSliderFullWidth)
                {
                    <div class="category-navigation-list-wrapper" style="margin-top:-15px;">
                        <ul style="border-color:#f6f6f6;" class="category-navigation-list @if (stickyCategoryMenuFlyout){<text>sticky-flyout</text>}"></ul>
                    </div>
                }

                @Html.Action("HomepageProducts", "Product")
            </div>
            <div class="two-colums-area-right">
                @if (!isHomeSliderFullWidth)
                {
                    @homePageMainSlider
                }
                @Html.Widget("homepage_slider_after")
            </div>
        </div>
    </div>
}