﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddCssFileParts("~/Content/simplePagination.css");
    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox.min.css");
    Html.AddCssFileParts("~/Content/layui/css/layui.css");

    Html.AddScriptParts("~/Scripts/jquery.simplePagination.js");
    Html.AddScriptParts("~/Content/fancybox/jquery.fancybox.min.js");
    Html.AddScriptParts("~/Content/layui/layui.js");


}

@model List<AbcAddress>
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@{

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;

}

<div class="breadcrumb">
    <ul>
        <li>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="@Url.RouteUrl("HomePage")" itemprop="url">
                    <span itemprop="title">@T("Products.Breadcrumb.Top")</span>
                </a>
            </span>
            <span class="delimiter">@breadcrumbDelimiter</span>
        </li>
        <li>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/order/history" itemprop="url">
                    <span itemprop="title">訂單管理</span>
                </a>
            </span>
            <span class="delimiter">@breadcrumbDelimiter</span>
        </li>
        <li>
            <strong class="current-item">預約服務店家</strong>
        </li>
    </ul>
</div>

<div class="page">
    <section class="bootstrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="card rounded-0" style="background-color:#ffffff;">
                    <div class="card-header" style="background-color:#ffffff;">
                        <strong style="font-size:1.2em;">預約服務店家</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-2 mb-1" style="display:none;">
                                <select class="form-control rounded-0" id="ServiceCatalog" name="ServiceCatalog" onchange="changeCatalog(this);">
                                    <option value="0">全部類別</option>
                                    <option value="1">輪胎鋁圈</option>
                                    <option value="2">油品保養</option>
                                    <option value="3">汽車美容</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-2 mb-1">
                                <select class="form-control rounded-0" id="AbcAddressCity" name="AbcAddressCity" onchange="changeCity(this);">
                                    <option value="">請選擇縣市</option>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (var addr in Model)
                                        {
                                    <option value="@addr.City">@addr.Area</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-12 col-md-2 mb-1">
                                <select class="form-control rounded-0" id="AbcAddressArea" name="AbcAddressArea" onchange="changeArea(this);">
                                    <option value="" selected>請選擇區域</option>
                                </select>
                            </div>

                            <div class="col-12 col-md-6 mb-1">
                                <div class="form-row">
                                    <div class="col-auto">
                                        <label class="sr-only" for="AbcKeyword">搜尋</label>
                                        <input type="text" class="form-control rounded-0" id="AbcKeyword" placeholder="搜尋">
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-light rounded-0" onclick="keywordSearch();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-12" id="vendorList">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="pagination wrap" style="padding:10px;">
    </div>

    <div style="margin-top:20px;">
        <div id="map" style="height:600px; display:none;"></div>
    </div>

</div>
<input type="hidden" id="size" name="size" value="8" />
<input type="hidden" id="page" name="page" value="1" />
<input type="hidden" id="total" name="total" value="0" />
<input type="hidden" id="orderId" name="orderId" value="@ViewBag.OrderId" />
<input type="hidden" id="orderItemId" name="orderItemId" value="@ViewBag.OrderItemId" />
@Html.AntiForgeryToken()

<div class="bootstrap" style="display:none;" id="hidden-content">
    <div style="min-width:280px;" id="timeSlotModal">
    </div>
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp2sgHJbLuJn8EW4PF3tAKoPLaCYgBbbY&callback=initMap">
</script>

<script>
    var activeInfoWindow;
    var map;
    $(document).ready(function () {
        //initMap();
    });

    function initMap() {

        var myLatLng = { lat: 25.037493, lng: 121.564358 };
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myLatLng
        });


        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                myLatLng.lat = position.coords.latitude;
                myLatLng.lng = position.coords.longitude;

                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: myLatLng
                });
            });
        }

    }

    var searchVendor = function () {

        var input = {
            city: $("#AbcAddressCity").val(),
            area: $("#AbcAddressArea").val()
        };

        if (input.city.length <= 0) {
            return false;
        }

        var addressCollect = input.city + input.area + input.road;

        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': addressCollect }, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                var location = results[0].geometry.location;
                //console.log(location.lat(), location.lng());
                var mapOptions = {
                    center: new google.maps.LatLng(location.lat(), location.lng()),
                    zoom: 14,
                    mapTypeId: google.maps.MapTypeId.roadmap
                    //mapTypeId: google.maps.MapTypeId.HYBRID
                };
                map = new google.maps.Map(document.getElementById("map"),
                    mapOptions);
                //var marker = new google.maps.Marker({
                    //position: new google.maps.LatLng(mapData.lat, mapData.lng)
                //});
                //marker.setMap(map);

                var postData = {
                    lng: location.lng(), lat: location.lat(), limit: 3
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    data: postData,
                    url: "@Url.Action("GetNearestLocationByOffline", "booking")",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.status);
                        if (data.status == "OK") {
                            for (var i = 0; i < data.datas.length; i++) {
                                console.log(data.datas[i].lat, data.datas[i].lng);
                                var d = {
                                    position: { lat: Number(data.datas[i].lat), lng: Number(data.datas[i].lng) },
                                    map: map,
                                    title: data.datas[i].company
                                }

                                var content = '<div id="content">' +
                                    '<div>安裝廠 : ' + data.datas[i].company + '</div>' +
                                    '<div>地址 : ' + data.datas[i].address + '</div>' +
                                    '<div>庫存 : 足夠</div>' +
                                    '<div class="bootstrap" style="padding:5px 0;"><a class="btn btn-primary" href="@Url.Action("Detail", "PartnerVendor")/' + data.datas[i].customerId + '" role="button">立即預約</a></div>' +
                                    '</div>';

                                var infowindow = new google.maps.InfoWindow();

                                var _marker = new google.maps.Marker(d);

                                google.maps.event.addListener(_marker, 'mouseover', (function (_marker, content, infowindow) {
                                    return function () {
                                        infowindow.setContent(content);
                                        infowindow.open(map, _marker);
                                    };
                                })(_marker, content, infowindow));

                            }
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to load reservation time.');
                    }
                });


            } else {
                //alert('此位置無法定址');
            }
        });

    }
</script>


<script type="text/javascript">

    String.prototype.format = function () {
        a = this;
        for (k in arguments) {
            a = a.replace("{" + k + "}", arguments[k])
        }
        return a
    }

    var params = "city={0}&area={1}&pagesize={2}&page={3}&catalog={4}&keyword={5}&orderId={6}&orderItemId={7}";
    var result;

    $(document).ready(function () {

        var hash = window.location.hash.substr(1);
        result = hash.split('&').reduce(function (result, item) {
            var parts = item.split('=');
            result[parts[0]] = parts[1];
            return result;
        }, {});

        //$("#hash_text").html(decodeURI(result["city"]));
        var currentCity = result["city"] != null ? decodeURI(result["city"]) : "";
        var currentArea = result["area"] != null ? decodeURI(result["area"]) : "";
        var currentSize = result["pagesize"] != null ? decodeURI(result["pagesize"]) : "";
        var currentPage = result["page"] != null ? decodeURI(result["page"]) : "";
        var currentCatalog = result["catalog"] != null ? decodeURI(result["catalog"]) : "";
        var currentKeyword = result["keyword"] != null ? decodeURI(result["keyword"]) : "";

        $("#size").val(currentSize);
        $("#page").val(currentPage);
        $("#AbcKeyword").val(currentKeyword);

        @* load abc address *@
        if (currentCity.length > 0) {
            $.ajax({
                cache: false,
                type: "GET",
                url: "/api/v1/AbcAddress",
                data: { level: 1, city: currentCity, area: "" },
                success: function (data) {
                    $.each(data, function (id, option) {
                        //$("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                        if (currentArea == option.Area) {
                            $("#AbcAddressArea").append("<option value='" + option.Area + "' selected>" + option.Area + "</option>");
                        } else {
                            $("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                        }
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve City.');
                },
                complete: function () {
                    loadVendor();
                }
            });
        } else {
            loadVendor();
        }

    });//documemt end


    var changeCity = function (e) {

        var elm = $(e);
        result["city"] = encodeURI(elm.val());
        result["area"] = "";
        result["catalog"] = $("#ServiceCatalog").val();
        result["keyword"] = $("#AbcKeyword").val();
        $("#page").val(1);
        window.location.hash = params.format(encodeURI(elm.val()), "", $("#size").val(), $("#page").val(), $("#ServiceCatalog").val(), $("#AbcKeyword").val(), $("#orderId").val(), $("#orderItemId").val());

        $.ajax({
            cache: false,
            type: "GET",
            url: "/api/v1/AbcAddress",
            data: { level: 1, city: elm.val(), area: "" },
            success: function (data) {
                $("#AbcAddressArea").empty().append($('<option></option>').val("").html("請選擇"));
                $.each(data, function (id, option) {
                    $("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve City.');
            },
            complete: function () {
                loadVendor();

            }
        });

    }

    var changeArea = function (e) {

        var elm = $(e);
        result["city"] = encodeURI($("#AbcAddressCity").val());
        result["area"] = encodeURI(elm.val());
        result["catalog"] = $("#ServiceCatalog").val();
        result["keyword"] = $("#AbcKeyword").val();
        $("#page").val(1);
        window.location.hash = params.format(encodeURI($("#AbcAddressCity").val()), encodeURI(elm.val()), $("#size").val(), $("#page").val(), $("#ServiceCatalog").val(), $("#AbcKeyword").val(), $("#orderId").val(), $("#orderItemId").val());
        loadVendor();
    }

    var changeCatalog = function (e) {

        var elm = $(e);
        result["city"] = encodeURI($("#AbcAddressCity").val());
        result["area"] = encodeURI($("#AbcAddressArea").val());
        result["catalog"] = $("#ServiceCatalog").val();
        result["keyword"] = $("#AbcKeyword").val();
        $("#page").val(1);

        //console.log(result["city"], result["area"], result["catalog"]);

        window.location.hash = params.format(encodeURI($("#AbcAddressCity").val()), encodeURI($("#AbcAddressArea").val()), $("#size").val(), $("#page").val(), $("#ServiceCatalog").val(), $("#AbcKeyword").val(), $("#orderId").val(), $("#orderItemId").val());
        loadVendor();
    }

    var keywordSearch = function () {

        result["city"] = encodeURI($("#AbcAddressCity").val());
        result["area"] = encodeURI($("#AbcAddressArea").val());
        result["catalog"] = $("#ServiceCatalog").val();
        result["keyword"] = $("#AbcKeyword").val();
        $("#page").val(1);

        window.location.hash = params.format(encodeURI($("#AbcAddressCity").val()), encodeURI($("#AbcAddressArea").val()), $("#size").val(), $("#page").val(), $("#ServiceCatalog").val(), $("#AbcKeyword").val(), $("#orderId").val(), $("#orderItemId").val());
        loadVendor();
    }

    var loadVendor = function () {

        $(".pagination").pagination('destroy');
        $("#vendorList").empty();

        var postData = {
            city: result["city"] != null ? decodeURI(result["city"]) : "",
            area: result["area"] != null ? decodeURI(result["area"]) : "",
            size: $("#size").val(),
            page: $("#page").val(),
            catalog: result["catalog"] != null ? decodeURI(result["catalog"]) : $("#ServiceCatalog").val(),
            keyword: result["keyword"] != null ? decodeURI(result["keyword"]) : $("#AbcKeyword").val(),
            orderId: $("#orderId").val(),
            orderItemId: $("#orderItemId").val()
                    };
            addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            url: "@Url.Action("BookingVendorList","ServiceVendor")",
            data: postData,
            success: function (data) {
                $("#total").val(data.total);
                $("#size").val(data.size);
                $("#page").val(data.page);
                if (data.total > 0) {
                    $("#map").show();
                    var count = 0;
                    var html = "";
                    $.when(
                        $.each(data.datas, function (id, option) {
                            count++;
                            if (count % 4 == 1) {
                                html += "<div class='card-deck mt-3'>";
                            }
                            html += "<div class='card rounded-0'>";
                            if (option.PartnerVendorPictures.length <= 0) {
                                html += "<a href='@Url.Action("BookingDetail", "ServiceVendor")/" + option.CustomerId + "?orderId=" + $("#orderId").val() + "&orderItemId=" + $("#orderItemId").val() + "'><img class='card-img-top rounded-0' src='/Content/Images/default-image.png' alt=''></a>";
                            } else {
                                html += "<a href='@Url.Action("BookingDetail", "ServiceVendor")/" + option.CustomerId + "?orderId=" + $("#orderId").val() + "&orderItemId=" + $("#orderItemId").val() + "'><img class='card-img-top rounded-0' src='" + option.PartnerVendorPictures[0].PictureUrl + "' alt=''></a>";
                            }
                            html += "<div class='card-body'>";
                            if (option.VendorTags != null) {
                                html += "<p class='card-text' style='margin-bottom:5px;'>";
                                for (var j = 0; j < option.VendorTags.length; j++) {
                                    html += "<span class='badge badge-secondary'>" + option.VendorTags[j] + "</span> ";
                                }
                                html += "</p>";
                            }
                            html += "<strong class='card-title'><a href='@Url.Action("BookingDetail", "ServiceVendor")/" + option.CustomerId + "?orderId=" + $("#orderId").val() + "&orderItemId=" + $("#orderItemId").val() + "'>" + option.VendorTitle + "</a></strong>";
                            if (option.AddressInfo != null) {
                                html += "<p class='card-text' style='margin-bottom:0px;'>" + option.AddressInfo + "</p>";
                            }
                            if (option.VendorBodyOverview != null) {
                                html += "<p class='card-text' style='margin-bottom:0px;'>" + option.VendorBodyOverview + "</p>";
                            }

                            //html += " <p class='card-text' style='margin-bottom:5px;'>營業時間：" + option.VendorStartTime + " ~ " + option.VendorEndTime + "</p>";
                            html += " <p class='card-text' style='margin-bottom:0px;'><button type='button' class='btn btn-danger btn-sm rounded-0' data-cust='" + option.CustomerId + "' data-od='" + $("#orderId").val() + "' data-odi='" + $("#orderItemId").val() + "' data-delay='" + option.DelayDay + "' data-sunday='" + option.CanSunday + "' data-start='" + option.StartDate + "' data-end='" + option.EndDate + "' onclick='ShowCalendarByButton(this);'>立即預約</button><input id='in" + option.CustomerId + "' type='text' class='CalendarData' style='width:0px;visibility: hidden;'></p>";
                            html += "</div>";
                            html += "</div>";
                            if (count % 4 == 0) {
                                html += "</div>";
                            }

                        })
                    ).done(function () {

                        var h = count % 4;

                        if (h > 0) {
                            for (var i = 0; i < (4 - h); i++) {
                                html += "<div class='card' style='visibility: hidden;'></div>";
                            }
                            html += "</div>";
                        }

                        $("#vendorList").html(html);
                        $(".pagination").pagination({
                            items: $("#total").val(),
                            itemsOnPage: $("#size").val(),
                            currentPage: $("#page").val(),
                            cssStyle: 'light-theme',
                            onPageClick: function (pageNumber, event) {
                                event.preventDefault();
                                $("#page").val(pageNumber);
                                result["city"] = encodeURI($("#AbcAddressCity").val());
                                result["area"] = encodeURI($("#AbcAddressArea").val());
                                window.location.hash = params.format(encodeURI($("#AbcAddressCity").val()), encodeURI($("#AbcAddressArea").val()), $("#size").val(), pageNumber, $("#ServiceCatalog").val(), $("#AbcKeyword").val());
                                loadVendor();
                            }
                        });

                        var mapArea = {
                            city: $("#AbcAddressCity").val(),
                            area: $("#AbcAddressArea").val()
                        };

                        if (mapArea.city.length > 0) {

                            var addressCollect = mapArea.city + mapArea.area;

                            var geocoder = new google.maps.Geocoder();
                            geocoder.geocode({ 'address': addressCollect }, function (results, status) {
                                if (status === google.maps.GeocoderStatus.OK) {
                                    var location = results[0].geometry.location;
                                    //console.log(location.lat(), location.lng());
                                    var mapOptions = {
                                        center: new google.maps.LatLng(location.lat(), location.lng()),
                                        zoom: 12,
                                        mapTypeId: google.maps.MapTypeId.roadmap
                                        //mapTypeId: google.maps.MapTypeId.HYBRID
                                    };
                                    map = new google.maps.Map(document.getElementById("map"),
                                        mapOptions);
                                    //var marker = new google.maps.Marker({
                                    //position: new google.maps.LatLng(mapData.lat, mapData.lng)
                                    //});
                                    //marker.setMap(map);

                                    $.each(data.datas, function (id, option) {

                                        console.log(option.VendorTitle, option.Latitude, option.Longitude);
                                        var d = {
                                            position: { lat: Number(option.Latitude), lng: Number(option.Longitude) },
                                            map: map,
                                            title: option.VendorTitle
                                        }

                                        @*var content = '<div id="content">' +
                                            '<div>安裝廠 : ' + option.VendorTitle + '</div>' +
                                            '<div>地址 : ' + option.AddressInfo + '</div>' +
                                            '<div>庫存 : 足夠</div>' +
                                            '<div class="bootstrap" style="padding:5px 0;"><a class="btn btn-primary" href="@Url.Action("Detail", "PartnerVendor")/' + option.CustomerId + '" role="button">立即預約</a></div>' +
                                            '</div>';*@

                                        var content = '<div class="content">' +
                                            '<div>安裝廠 : ' + option.VendorTitle + '</div>' +
                                            '<div>地址 : ' + option.AddressInfo  + '</div>' +
                                            '<div>庫存 : 足夠</div>' +
                                            '<div class="bootstrap" style="padding:5px 0;">' +
                                            '<a class="btn btn-primary" href="javascript:;" data-cust="' + option.CustomerId + '" data-od="' + $("#orderId").val() + '" data-odi="' + $("#orderItemId").val() + '" data-delay="' + option.DelayDay + '" data-sunday="' + option.CanSunday + '" data-start="' + option.StartDate + '" data-end="' + option.EndDate + '" onclick="ShowCalendar(this)" role="button">立即預約</a>' +
                                            '<input type="text" class="CalendarData" style="display:none;">' +
                                            '</div>' +
                                            '</div>';

                                        var infowindow = new google.maps.InfoWindow();

                                        var _marker = new google.maps.Marker(d);

                                        //google.maps.event.addListener(_marker, 'mouseover', (function (_marker, content, infowindow) {
                                        //    return function () {
                                        //        infowindow.setContent(content);
                                        //        infowindow.open(map, _marker);
                                        //    };
                                        //})(_marker, content, infowindow));
                                        google.maps.event.addListener(_marker, 'click', (function (_marker, content, infowindow) {
                                            return function () {
                                                infowindow.setContent(content);
                                                if (activeInfoWindow) { activeInfoWindow.close(); }
                                                infowindow.open(map, _marker);
                                                activeInfoWindow = infowindow;
                                            };
                                        })(_marker, content, infowindow));

                                    });

                                } else {
                                    //alert('此位置無法定址');
                                }
                            });
                        } else {
                            $("#map").hide(); @* 沒選區域 *@
                        }

                    });

                } else {
                    $("#vendorList").html("<div style='margin-top:30px;'>找不到資料</div>");
                    $("#map").hide(); @* 沒選區域 *@
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve Vendor.');
            },
            complete: function () {
                //searchVendor();
            }
        });

    }

    var ShowCalendar = function (e) {

        $(e).html("");
        var parent = $(e).parent();

        var startDate = new Date($(e).data("start"));
        var endDate = new Date($(e).data("end"));
        var vendorId = $(e).data("cust");

        layui.use('laydate', function () {
            var laydate = layui.laydate;

            laydate.render({
                trigger: 'click',
                theme: '#d0021b',
                elem: e, //指定元素
                show: true, //直接显示
                btns: ['clear'],
                done: function (value, date) {

                    if (activeInfoWindow) { activeInfoWindow.close(); }

                    //console.log(value, date);

                    if (value != "") {
                        var currDate = new Date(value);
                        if (currDate > startDate && currDate <= endDate) {
                            gotoBooking(value, vendorId);
                        } else {
                            $("#timeSlotModal").empty();
                            $.fancybox.open({
                                src: '#hidden-content',
                                type: 'inline',
                                opts: {
                                    afterShow: function (instance, current) {
                                        var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>您選擇的日期無法預約</strong></div>";
                                        html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
                                        html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>關閉</button>";
                                        html += "</div>";

                                        $("#timeSlotModal").append(html);
                                    }
                                }
                            });
                        }
                    }

                },
                ready: function (date) {
                    $(e).html("立即預約");
                    $(".CalendarData", parent).val(date.year + "-" + date.month + "-" + date.date);

                    var elm = $('div.layui-laydate-content>table>tbody');

                    $("tr", elm).each(function () {

                        var items = $("td", this);

                        for (var i = 0; i < items.length; i++) {
                            var item = $(items[i]);
                            if (!item.hasClass("laydate-day-prev") && !item.hasClass("laydate-day-next")) {
                                var currDate = new Date(item.attr("lay-ymd"));
                                if (currDate > startDate && currDate <= endDate) {

                                } else {
                                    item.addClass("laydate-day-prev");
                                }
                            }
                            if (i == 0) { item.addClass("laydate-day-prev"); }
                        }
                    });
                },
                change: function (value, date, edate) {

                    var elm = $('div.layui-laydate-content>table>tbody');

                    $("tr", elm).each(function () {

                        var items = $("td", this);

                        for (var i = 0; i < items.length; i++) {
                            var item = $(items[i]);
                            if (!item.hasClass("laydate-day-prev") && !item.hasClass("laydate-day-next")) {
                                var currDate = new Date(item.attr("lay-ymd"));
                                if (currDate > startDate && currDate <= endDate) {

                                } else {
                                    item.addClass("laydate-day-prev");
                                }
                            }
                            if (i == 0) { item.addClass("laydate-day-prev"); }
                        }
                    });


                }
            });
        });

    }

    var ShowCalendarByButton = function (e) {

        var input = "in" + $(e).data("cust");
        var startDate = new Date($(e).data("start"));
        var endDate = new Date($(e).data("end"));
        var vendorId = $(e).data("cust");

        layui.use('laydate', function () {
            var laydate = layui.laydate;

            laydate.render({
                eventElem: e,
                trigger: 'click',
                theme: '#d0021b',
                elem: '#' + input, //指定元素
                show: true, //直接显示
                btns: ['clear'],
                done: function (value, date) {

                    if (value != "") {
                        var currDate = new Date(value);
                        if (currDate > startDate && currDate <= endDate) {
                            gotoBooking(value, vendorId);
                        } else {
                            $("#timeSlotModal").empty();
                            $.fancybox.open({
                                src: '#hidden-content',
                                type: 'inline',
                                opts: {
                                    afterShow: function (instance, current) {
                                        var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>您選擇的日期無法預約</strong></div>";
                                        html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
                                        html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>關閉</button>";
                                        html += "</div>";

                                        $("#timeSlotModal").append(html);
                                    }
                                }
                            });
                        }
                    }

                },
                ready: function (date) {

                    var elm = $('div.layui-laydate-content>table>tbody');

                    $("tr", elm).each(function () {

                        var items = $("td", this);

                        for (var i = 0; i < items.length; i++) {
                            var item = $(items[i]);
                            if (!item.hasClass("laydate-day-prev") && !item.hasClass("laydate-day-next")) {
                                var currDate = new Date(item.attr("lay-ymd"));
                                if (currDate > startDate && currDate <= endDate) {

                                } else {
                                    item.addClass("laydate-day-prev");
                                }
                            }
                            if (i == 0) { item.addClass("laydate-day-prev"); }
                        }
                    });
                },
                change: function (value, date, edate) {

                    var elm = $('div.layui-laydate-content>table>tbody');

                    $("tr", elm).each(function () {

                        var items = $("td", this);

                        for (var i = 0; i < items.length; i++) {
                            var item = $(items[i]);
                            if (!item.hasClass("laydate-day-prev") && !item.hasClass("laydate-day-next")) {
                                var currDate = new Date(item.attr("lay-ymd"));
                                if (currDate > startDate && currDate <= endDate) {

                                } else {
                                    item.addClass("laydate-day-prev");
                                }
                            }
                            if (i == 0) { item.addClass("laydate-day-prev"); }
                        }
                    });


                }
            });
        });

    }


    var gotoBooking = function (bDate, pid) {

        $("#timeSlotModal").empty();

        $.fancybox.open({
            src: '#hidden-content',
            type: 'inline',
            opts: {
                afterShow: function (instance, current) {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        data: { reservationDate: bDate, shopCode: pid, orderId: $("#orderId").val(), orderItemId: $("#orderItemId").val() },
                        url: "@Url.Action("BookingList", "Booking")",
                        dataType: 'json',
                        success: function (data) {
                            if (data.status == "OK") {
                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>預約 " + data.date + " 時段</strong></div>";
                                html += "<table class='table table-sm table-hover account-page'>";
                                html += "<thead class='thead-light'>";
                                html += "<tr>";
                                html += "<th scope='col'>時段</th>";
                                //html += "<th scope='col'>狀態</th>";
                                html += "<th scope='col'></th>";
                                html += "</tr>";
                                html += "</thead>";
                                html += "<tbody>";
                                for (var i = 0; i < data.datas.length; i++) {
                                    html += "<tr>";
                                    html += "<td style='padding-top:10px;'>" + data.datas[i].timeStart + " ~ " + data.datas[i].timeEnd + "</td>";
                                    if (data.datas[i].status == "Y") {
                                        //html += "<td style='padding-top:10px;'>可預約</td>";
                                        html += "<td style='padding:5px;'><button type='button' class='btn btn-warning btn-sm' data-code='" + pid + "' data-date='" + bDate + "' data-time='" + data.datas[i].timeStart + "' data-plate='" + data.customerPlate + "' data-car='" + data.customerCar + "' onclick='bookingConfirm(this);'>預約</button></th>";
                                    } else {
                                        if (data.datas[i].myBooking == "Y") {
                                            //html += "<td style='padding-top:10px;'>不可預約</td>";
                                            html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-code='" + pid + "' data-date='" + bDate + "' data-time='" + data.datas[i].timeStart + "' disabled>我的預約</button></th>";
                                        } else {
                                            //html += "<td style='padding-top:10px;'>不可預約</td>";
                                            html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-code='" + pid + "' data-date='" + bDate + "' data-time='" + data.datas[i].timeStart + "' disabled>無法預約</button></th>";
                                        }

                                    }
                                    html += "</tr>";
                                }
                                html += "</tbody>";
                                html += "</table>";
                                $("#timeSlotModal").append(html);

                            } else if (data.status == "ERROR"){
                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>" + data.message + "</strong></div>";
                                html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
                                html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>關閉</button>";
                                html += "</div>";

                                $("#timeSlotModal").append(html);
                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to load reservation time.');
                        }
                    });
                }
            }
        });
        }

        var bookingConfirm = function (e) {
            var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>請再次確認您要預約日期時段是否正確<br />" + $(e).data("date") + " " + $(e).data("time") + "</strong></div>";

            html += "<div style='margin-top:10px; margin-bottom:15px; width:100%;'>";
            html += "<strong>您可以輸入下列資訊以提供更好服務</strong>";
            html += "<div class='form-group'>";
            html += "<label for='customerPlate'>車牌號碼</label>";
            html += "<input type='text' class='form-control' id='customerPlate' name='customerPlate' placeholder='車牌號碼' value='" + $(e).data("plate") + "'>";
            html += "</div>";
            html += "<div class='form-group'>";
            html += "<label for='customerCar'>車型車款</label>";
            html += "<input type='text' class='form-control' id='customerCar' name='customerCar' placeholder='車型車款' value='" + $(e).data("car") + "'>";
            html += "</div>";
            html += "</div>";

            html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
            //html += "<button type='button' class='btn btn-primary btn-sm' onclick='javascript:location.href=\"/login/checkoutasguest?returnUrl=/PartnerVendor/Detail/" + $("#PartnerVendorId").val() + "\";'>確認</button> ";
            html += "<button type='button' class='btn btn-primary btn-sm' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + $(e).data("time") + "' onclick='bookingClick(this);'>預約</button> ";
            html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>取消</button>";
            html += "</div>";
            $("#timeSlotModal").empty().append(html);
        }

        var bookingClick = function (e) {

            var info = $("#timeSlotModal");
            var customerPlate = $("#customerPlate", info).val();
            var customerCar = $("#customerCar", info).val();

            var postData = {
                reservationDate: $(e).data("date"), shopCode: $(e).data("code"), time: $(e).data("time"), orderId: $("#orderId").val(), orderItemId: $("#orderItemId").val(), customerPlate: customerPlate, customerCar: customerCar
            };
            addAntiForgeryToken(postData);

            
            $.ajax({
                cache: false,
                type: "POST",
                data: postData,
                url: "@Url.Action("BookingInsert", "Booking")",
                dataType: 'json',
                success: function (data) {
                    $.fancybox.close();
                    if (data.status == "OK") {
                        alert("預約完成");
                        //location.reload();
                        location.href = "/order/history";
                    } else if (data.status == "FAIL") {
                        alert(data.message);
                    } else {
                        alert("錯誤");
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert('Failed to load reservation time.');
                }
            });

        }

</script>