﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddCssFileParts("~/Content/Vendor/flexslider.css");

    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox.min.css");

    Html.AddCssFileParts("~/Content/layui/css/layui.css");
    Html.AddCssFileParts("~/Content/swiper/css/swiper.min.css");
    Html.AddCssFileParts("~/Content/new/last.css");

    Html.AddScriptParts("~/Content/Vendor/jquery.flexslider.js");
    Html.AddScriptParts("~/Content/fancybox/jquery.fancybox.min.js");

    Html.AddScriptParts("~/Content/layui/layui.js");
    Html.AddScriptParts("~/Content/swiper/js/swiper.min.js");


}
@model Nop.Web.Models.Customer.PartnerVendorInfoModel
@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Orders;
@using Nop.Core.Infrastructure;
@{

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;

}


<div class="breadcrumb">
    <section class="bootstrap" style="background-color:transparent;">
        <div class="row">
            <div class="col-10">
                <ul class="mb-0">
                    @Html.Widget("productbreadcrumb_before", Model.CustomerId)
                    <li>
                        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="@Url.RouteUrl("HomePage")" itemprop="url">
                                <span itemprop="title">@T("Products.Breadcrumb.Top")</span>
                            </a>
                        </span>
                        <span class="delimiter">@breadcrumbDelimiter</span>
                    </li>
                    <li>
                        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="/order/history" itemprop="url">
                                <span itemprop="title">訂單管理</span>
                            </a>
                        </span>
                        <span class="delimiter">@breadcrumbDelimiter</span>
                    </li>
                    <li>
                        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="/ServiceVendor/Booking/@ViewBag.OrderId?orderItemId=@ViewBag.OrderItemId" itemprop="url">
                                <span itemprop="title">預約服務店家</span>
                            </a>
                        </span>
                        <span class="delimiter">@breadcrumbDelimiter</span>
                    </li>
                    <li>
                        <strong class="current-item">@Model.VendorTitle</strong>
                        @*<strong class="current-item"><a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })" itemprop="url">@Model.ProductName</a></strong>*@
                        @Html.Widget("productbreadcrumb_after", Model.CustomerId)
                    </li>
                </ul>

            </div>
            <div class="col-2 text-right">
                <button type="button" class="btn btn btn-outline-secondary btn-sm" onclick="javascript: history.go(-1);">返回</button>
            </div>
        </div>
    </section>
</div>

<div class="page">

    <section class="bootstrap">
        <div class="row pb-3">
            <div class="col-sm-12 col-md-4">
                <div style="margin:15px;">
                    @if (Model.PartnerVendorPictures != null && Model.PartnerVendorPictures.Count > 0)
                    {
                        <div class="swiper-container swiper1">
                            <div class="swiper-wrapper">
                                @foreach (var pic in Model.PartnerVendorPictures)
                                {
                                    <div class="swiper-slide">
                                        <img src="@pic.PictureUrl" class="img-fluid">
                                    </div>
                                }
                            </div>
                            @{
                                if (Model.PartnerVendorPictures.Count > 1)
                                {
                                    <!-- Add Pagination -->
                                    <div class="swiper-pagination"></div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                }
                            }

                        </div>

                    }
                    else
                    {

                        <div class="swiper-container swiper1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="/Content/Images/default-image.png" class="img-fluid">
                                </div>
                            </div>

                        </div>

                    }

                </div>
            </div>

            <div class="col-sm-12 col-md-4 pt-3">
                <div class="px-3">
                    <h4>@Model.VendorTitle</h4>
                    <p>
                        <span class="fa fa-star text-warning" id="star1"></span>
                        <span class="fa fa-star text-warning" id="star2"></span>
                        <span class="fa fa-star text-warning" id="star3"></span>
                        <span class="fa fa-star text-warning" id="star4"></span>
                        <span class="fa fa-star text-warning" id="star5"></span>
                    </p>
                    @if (!string.IsNullOrEmpty(Model.VendorBodyOverview))
                    {
                        <text>
                            @Html.Raw(Model.VendorBodyOverview)
                        </text>
                    }
                    else
                    {
                        <p>
                            營業時間：@Model.VendorStartTime ~ @Model.VendorEndTime
                        </p>
                    }
                    <p>
                        服務地址：@Model.AddressInfo
                    </p>
                    <p>
                        連絡電話：@Model.PhoneInfo
                    </p>
                    <p style="margin-bottom:30px;">
                        營業種類：
                        @if (Model.VendorTags != null)
                        {
                            foreach (var item in Model.VendorTags)
                            {
                                <span class='border p-2'><strong>@item</strong></span>
                            }
                        }
                    </p>

                    <p>
                        <div>
                            <div style="float:left; margin-left:0px; width:0px;">
                                <button type="button" class="btn btn-danger btn-lg rounded-0" style="width:0px;" id="bookingNowContent"></button>
                            </div>
                            <div style="float:left;">
                                <button type="button" class="btn btn-danger btn-lg rounded-0" id="bookingNowBtn">立即預約</button>
                            </div>
                            <div style="clear:left;"></div>
                        </div>

                    </p>


                </div>

            </div>

            <div class="col-sm-12 col-md-4 pt-3">
                <div class="px-3">
                    <div id="map" style="height:180px;"></div>
                </div>
                @{
                    if (Model.MyBookings != null && Model.MyBookings.Count > 0)
                    {
                        var count = 0;
                        <div class="mt-3 px-3">
                            <div class="layui-card">
                                <div class="layui-card-header">我的預約</div>
                                <div class="layui-card-body">

                                    @foreach (var item in Model.MyBookings)
                                    {
                                        if (item.Order != null)
                                        {
                                            count++;
                                            int bookingOrderItemId = item.OrderItemId.HasValue ? item.OrderItemId.Value : 0;
                                            OrderItem orderItem = item.Order.OrderItems.Where(x => x.Id == bookingOrderItemId).FirstOrDefault();

                                            if (count <= 3)
                                            {
                                                <span class="layui-badge layui-bg-gray">@(item.BookingTimeSlotStart.ToString("yyyy-MM-dd HH:mm")) @(orderItem != null ? CommonHelper.SubComment(orderItem.Product.Name, 28) : "")</span>
                                                <br />
                                            }
                                        }


                                    }

                                    @if (count > 3)
                                    {
                                        <a href="@Url.RouteUrl("CustomerMyBookings")"><span class="layui-badge layui-bg-gray">查看更多...</span></a>
                                        <br />
                                    }


                                </div>
                            </div>
                        </div>
                    }
                }

            </div>

        </div>
    </section>

    @if (Model.Products.Count > 0)
    {
        <section class="header-mobile bootstrap">
            <div class="row" style="margin-top:15px; padding-top:15px;">
                <div class="col-sm-12">
                    <div class="product-grid">
                        <div class="item-grid">

                            @for (int i = 0; i < Model.Products.Count; i++)
                            {
                                <div class="item-box" style="z-index:@(9999-i);">
                                    @Html.Partial("_ProductBoxSimple", Model.Products[i])
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    @if (Model.Products.Count > 0)
    {
        <section class="bootstrap header-not-mobile-inline">
            <div class="card rounded-0 mt-3">
                <div class="card-header">
                    <strong style="font-size:large;">推薦商品</strong>
                </div>
                <div class="card-body fixImage">

                    <div class="swiper-container swiper2 product-grid" style="width: 95%;">
                        <div class="swiper-wrapper item-grid">

                            @for (int i = 0; i < Model.Products.Count; i++)
                            {
                                <div class="swiper-slide item-box" style="margin:0; z-index:@(9999-i);">
                                    @Html.Partial("_ProductBoxSimple", Model.Products[i])
                                </div>
                            }
                        </div>
                        <!-- Add Pagination -->
                        @*<div class="swiper-pagination"></div>*@

                    </div>
                    <!-- Add Arrows -->
                    @if (Model.Products.Count >= 6)
                    {
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    }
                </div>
            </div>

        </section>
    }



    <section class="bootstrap">
        <div class="card rounded-0 mt-3">
            <div class="card-header">
                <strong style="font-size:large;">廠商介紹</strong>
            </div>
            <div class="card-body fixImage">
                <h5 class="card-title">@Model.VendorTitle</h5>
                <p class="card-text">
                    @Html.Raw(Model.VendorBody)

                </p>

            </div>
        </div>

    </section>

</div>
<div class="bootstrap" style="display:none;" id="hidden-content">
    <div style="min-width:280px;" id="timeSlotModal">
    </div>
</div>
<input type="hidden" id="PartnerVendorId" value="@Model.CustomerId" />
<input type="hidden" id="DelayDay" value="@Model.DelayDay" />
<input type="hidden" id="CanSunday" value="@Model.CanSunday" />
<input type="hidden" id="StartDate" value="@Model.StartDate" />
<input type="hidden" id="EndDate" value="@Model.EndDate" />
<input type="hidden" id="OrderId" value="@ViewBag.OrderId" />
<input type="hidden" id="OrderItemId" value="@ViewBag.OrderItemId" />
@Html.AntiForgeryToken()





<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp2sgHJbLuJn8EW4PF3tAKoPLaCYgBbbY&callback=initMap">
</script>

<script type="text/javascript">

    var date = new Date();//當天
    //var edate = new Date($("#ecDate").val());
    var edate = new Date();//Test
    //edate.setDate(edate.getDate() + 14);
    edate.setDate(edate.getDate() + 30);

    var mm = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();

    var calendar;

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        calendar = laydate.render({
            eventElem: '#bookingNowBtn',
            trigger: 'click',
            theme: '#d0021b',
            elem: '#bookingNowContent',
            //showBottom: false,
            btns: ['clear'],
            value: new Date(),
            done: function (value, date) {
                //{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                $("#bookingNowContent").html(mm);//重置
                console.log(value);

                var pid = $("#PartnerVendorId").val();
                var startDate = new Date($("#StartDate").val());
                var endDate = new Date($("#EndDate").val());

                if (value != "") {
                    var currDate = new Date(value);
                    if (currDate > startDate && currDate <= endDate) {
                        gotoBooking(value);
                    } else {
                        $("#timeSlotModal").empty();
                        $.fancybox.open({
                            src: '#hidden-content',
                            type: 'inline',
                            opts: {
                                afterShow: function (instance, current) {
                                    var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>您選擇的日期無法預約</strong></div>";
                                    html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
                                    html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>關閉</button>";
                                    html += "</div>";

                                    $("#timeSlotModal").append(html);
                                }
                            }
                        });
                    }
                }
            },
            ready: function (date) {

                var pid = $("#PartnerVendorId").val();
                var startDate = new Date($("#StartDate").val());
                var endDate = new Date($("#EndDate").val());
                var elm = $('div.layui-laydate-content>table>tbody');

                $("tr", elm).each(function () {

                    var items = $("td", this);

                    for (var i = 0; i < items.length; i++) {
                        var item = $(items[i]);
                        if (!item.hasClass("laydate-day-prev") && !item.hasClass("laydate-day-next")) {
                            var currDate = new Date(item.attr("lay-ymd"));
                            if (currDate > startDate && currDate <= endDate) {

                            } else {
                                item.addClass("laydate-day-prev");
                            }
                        }
                    }
                });

            },
            change: function (value, date, endDate) {

                var pid = $("#PartnerVendorId").val();
                var startDate = new Date($("#StartDate").val());
                var endDate = new Date($("#EndDate").val());
                var elm = $('div.layui-laydate-content>table>tbody');

                $("tr", elm).each(function () {

                    var items = $("td", this);

                    for (var i = 0; i < items.length; i++) {
                        var item = $(items[i]);
                        if (!item.hasClass("laydate-day-prev") && !item.hasClass("laydate-day-next")) {
                            var currDate = new Date(item.attr("lay-ymd"));
                            if (currDate > startDate && currDate <= endDate) {

                            } else {
                                item.addClass("laydate-day-prev");
                            }
                        }
                    }
                });


            }
        });
    });

    var gotoBooking = function (bDate) {

        $("#timeSlotModal").empty();

        var pid = $("#PartnerVendorId").val();
        console.log(bDate, pid);

        $.fancybox.open({
            src: '#hidden-content',
            type: 'inline',
            opts: {
                afterShow: function (instance, current) {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        data: { reservationDate: bDate, shopCode: pid, orderId: $("#OrderId").val(), orderItemId: $("#OrderItemId").val() },
                        url: "@Url.Action("BookingList", "Booking")",
                        dataType: 'json',
                        success: function (data) {
                            if (data.status == "OK") {
                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>預約 " + data.date + " 時段</strong></div>";
                                html += "<table class='table table-sm table-hover account-page'>";
                                html += "<thead class='thead-light'>";
                                html += "<tr>";
                                html += "<th scope='col'>時段</th>";
                                html += "<th scope='col'>狀態</th>";
                                html += "<th scope='col'></th>";
                                html += "</tr>";
                                html += "</thead>";
                                html += "<tbody>";
                                for (var i = 0; i < data.datas.length; i++) {
                                    html += "<tr>";
                                    html += "<td style='padding-top:10px;'>" + data.datas[i].timeStart + " ~ " + data.datas[i].timeEnd + "</td>";
                                    if (data.datas[i].status == "Y") {
                                        html += "<td style='padding-top:10px;'>可預約</td>";
                                        html += "<td style='padding:5px;'><button type='button' class='btn btn-warning btn-sm' data-code='" + pid + "' data-date='" + bDate + "' data-time='" + data.datas[i].timeStart + "' data-plate='" + data.customerPlate + "' data-car='" + data.customerCar + "' onclick='bookingConfirm(this);'>預約</button></th>";
                                    } else {
                                        if (data.datas[i].myBooking == "Y") {
                                            html += "<td style='padding-top:10px;'>不可預約</td>";
                                            html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-code='" + pid + "' data-date='" + bDate + "' data-time='" + data.datas[i].timeStart + "' disabled>我的預約</button></th>";
                                        } else {
                                            html += "<td style='padding-top:10px;'>不可預約</td>";
                                            html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-code='" + pid + "' data-date='" + bDate + "' data-time='" + data.datas[i].timeStart + "' disabled>無法預約</button></th>";
                                        }

                                    }
                                    html += "</tr>";
                                }
                                html += "</tbody>";
                                html += "</table>";
                                $("#timeSlotModal").append(html);

                            } else if (data.status == "LOGIN"){
                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>請先登入</strong></div>";
                                html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
                                html += "<button type='button' class='btn btn-primary btn-sm' onclick='javascript:location.href=\"/login/checkoutasguest?returnUrl=/PartnerVendor/Detail/" + $("#PartnerVendorId").val() + "\";'>確認</button> ";
                                html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>取消</button>";
                                html += "</div>";

                                $("#timeSlotModal").append(html);
                            } else if (data.status == "ERROR") {
                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>" + data.message + "</strong></div>";
                                html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
                                html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>關閉</button>";
                                html += "</div>";

                                $("#timeSlotModal").append(html);
                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to load reservation time.');
                        }
                    });
                }
            }
        });
    }



    //var map;
    $(document).ready(function () {

        $("#bookingNowContent").html(mm);

        createCalendar();

        $(window).load(function () {
            // The slider being synced must be initialized first
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 50,
                itemMargin: 5,
                asNavFor: '#slider'
            });

            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                sync: "#carousel"
            });
        });

    });




    function createCalendar() {
        var canSunday = parseInt($("#CanSunday").val());
        var delayDay = parseInt($("#DelayDay").val());
        var now = new Date();
        var realNow = new Date();
        now.setDate(now.getDate() + delayDay);

        // 每月日數陣列
        var monthDays = new Array(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);

        // 閏年判斷
        mYear = date.getFullYear();
        if (((mYear % 4 == 0) && (mYear % 100 != 0)) || (mYear % 400 == 0)) monthDays[1] = 29;

        // 設定日期為該月第一天
        date.setDate(1);

        // 該月第一天的星期
        var day = date.getDay();

        // 計算秀出時需要的格數
        var total = monthDays[date.getMonth()] + day;
        var totalCells = total + (total % 7 ? 7 - total % 7 : 0);

        var html = '';
        for (var i = 0; i < totalCells; i++) {

            if (i >= day && i < total) {
                var isSunday = (i % 7 == 0 && canSunday == 1);
                var whichDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + ((i - day) + 1);
                var currDate = new Date(whichDate);
                var nowDate = new Date(now.getFullYear() + "/" + (now.getMonth() + 1) + "/" + now.getDate());

                var todayStyle;
                if (currDate.getTime() == new Date(realNow.getFullYear() + "/" + (realNow.getMonth() + 1) + "/" + realNow.getDate()).getTime()) {
                    todayStyle = "<span style='color:#0066FF;'>" + ((i - day) + 1) + "</span>";
                } else {
                    todayStyle = ((i - day) + 1);
                }

                if (currDate.getTime() <= nowDate.getTime()) {
                    html += '<div class="border pl-1 text-secondary" style="background-color:#F0F0F0; width:14.2%; height:30px; cursor:not-allowed;">';
                    html += '<small>' + todayStyle + '</small>';
                    html += '</div>';
                } else if (currDate.getTime() > nowDate.getTime()) {
                    if (currDate.getTime() <= edate.getTime()) {
                        if (!isSunday) {
                            html += '<div class="border pl-1 canUse" style="color:#777777; background-color:#ffffff; width:14.2%; height:30px; cursor:pointer;" data-book="0" data-date="' + whichDate + '" onmouseover="mOver(this);" onmouseout="mOut(this);" onclick="setBooking(this);">';
                            html += '<small>' + todayStyle + ' <span class="badge badge-pill badge-info mybooking"></span></small>';
                            html += '</div>';
                        } else {
                            html += '<div class="border pl-1 text-secondary" style="background-color:#F0F0F0; width:14.2%; height:30px; cursor:not-allowed;">';
                            html += '<small>' + todayStyle + '</small>';
                            html += '</div>';
                        }

                    } else {
                        html += '<div class="border pl-1 text-secondary" style="background-color:#F0F0F0; width:14.2%; height:30px; cursor:not-allowed;">';
                        html += '<small>' + todayStyle + '</small>';
                        html += '</div>';
                    }

                }


            }
            else {
                html += '<div class="border pl-1 text-secondary bg-light" style="width:14.2%; height:30px; cursor:not-allowed;">';
                html += '</div>';
            }

        }
        $("#calendar").empty().append(html);

        $("#current_date").html("<strong>" + date.getFullYear() + "年" + (date.getMonth() + 1) + "月</strong>");

        listBooking();//顯示已被預約時間

    }

    var lastMonth = function () {

        //alert(date.getMonth());

        var m = date.getMonth();

        if (m == 0) {
            date.setFullYear(date.getFullYear() - 1);
            date.setMonth(11);
        } else {
            date.setMonth(m - 1);
        }

        createCalendar();
    }

    var nextMonth = function () {

        var m = date.getMonth();

        if (m == 11) {
            date.setFullYear(date.getFullYear() + 1);
            date.setMonth(0);
        } else {
            date.setMonth(m + 1);
        }

        createCalendar();

    }

    var listBooking = function () {

        var pid = $("#PartnerVendorId").val();

        $("div.canUse").each(function () {

            var elm = $(this);
            var d = elm.data("date");

            if (d === undefined) {

            } else {
                //console.log("/api/v1/StoreBookingApi?shopAddressId=0&reservationDate=" + $(this).data("date") + "&shopCode=" + shopCode);
                $.ajax({
                    cache: false,
                    type: "POST",
                    data: { reservationDate: $(this).data("date"), shopCode: pid },
                    url: "@Url.Action("BookingList", "PartnerVendor")",
                    dataType: 'json',
                    success: function (data) {

                        if (data.status == "OK") {
                            var html = "";
                            for (var i = 0; i < data.datas.length; i++) {
                                if (data.datas[i].myBooking == "Y") {
                                    html = "Me";
                                }

                            }
                            @*$("span.mybooking", elm).html(html);*@
                            if (html.length > 0) {
                                elm.css({ 'background-color': '#ffb5b5' });
                                elm.data("book", "1");
                            }

                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //alert('Failed to load reservation time.');
                    }
                });
                //$("div.booking", elm).html("<div style='font-size:12px; color:red;'>" + $(this).data("date") + "</div>");
                //console.log($(this).data("date"));
            }

        });
    }

    var mOver = function (e) {
        //console.log('#d2e9ff');

        if ($(e).data("book")=="0") {
            $(e).css('background-color', '#f2e6e6');
        }

    }
    var mOut = function (e) {
        //console.log('#ffffff');
        if ($(e).data("book") == "0") {
            $(e).css('background-color', '#ffffff');
        }

    }

    var setBooking = function (e) {

        $("#timeSlotModal").empty();

        console.log($(e).data("date"), $("#PartnerVendorId").val());

        $.fancybox.open({
            src: '#hidden-content',
            type: 'inline',
            opts: {
                afterShow: function (instance, current) {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        data: { reservationDate: $(e).data("date"), shopCode: $("#PartnerVendorId").val() },
                        url: "@Url.Action("BookingList", "PartnerVendor")",
                        dataType: 'json',
                        success: function (data) {
                            if (data.status == "OK") {
                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>預約 " + data.date + " 時段</strong></div>";
                                html += "<table class='table table-sm table-hover account-page'>";
                                html += "<thead class='thead-light'>";
                                html += "<tr>";
                                html += "<th scope='col'>時段</th>";
                                //html += "<th scope='col'>狀態</th>";
                                html += "<th scope='col'></th>";
                                html += "</tr>";
                                html += "</thead>";
                                html += "<tbody>";
                                for (var i = 0; i < data.datas.length; i++) {
                                    html += "<tr>";
                                    html += "<td style='padding-top:10px;'>" + data.datas[i].timeStart + " ~ " + data.datas[i].timeEnd + "</td>";
                                    if (data.datas[i].status == "Y") {
                                        //html += "<td style='padding-top:10px;'>可預約</td>";
                                        html += "<td style='padding:5px;'><button type='button' class='btn btn-warning btn-sm' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' data-plate='" + data.customerPlate + "' data-car='" + data.customerCar + "' onclick='bookingConfirm(this);'>預約</button></th>";
                                    } else {
                                        if (data.datas[i].myBooking == "Y") {
                                            //html += "<td style='padding-top:10px;'>不可預約</td>";
                                            html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' disabled>我的預約</button></th>";
                                        } else {
                                            //html += "<td style='padding-top:10px;'>不可預約</td>";
                                            html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' disabled>無法預約</button></th>";
                                        }

                                    }
                                    html += "</tr>";
                                }
                                html += "</tbody>";
                                html += "</table>";
                                $("#timeSlotModal").append(html);

                            } else if (data.status == "LOGIN"){
                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>請先登入</strong></div>";
                                html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
                                html += "<button type='button' class='btn btn-primary btn-sm' onclick='javascript:location.href=\"/login/checkoutasguest?returnUrl=/PartnerVendor/Detail/" + $("#PartnerVendorId").val() + "\";'>確認</button> ";
                                html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>取消</button>";
                                html += "</div>";

                                $("#timeSlotModal").append(html);
                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to load reservation time.');
                        }
                    });
                }
            }
        });
    }


    var bookingConfirm = function (e) {
        var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>請再次確認您要預約日期時段是否正確<br />" + $(e).data("date") + " " + $(e).data("time") + "</strong></div>";

        html += "<div style='margin-top:10px; margin-bottom:15px; width:100%;'>";
        html += "<strong>您可以輸入下列資訊以提供更好服務</strong>";
        html += "<div class='form-group'>";
        html += "<label for='customerPlate'>車牌號碼</label>";
        html += "<input type='text' class='form-control' id='customerPlate' name='customerPlate' placeholder='車牌號碼' value='" + $(e).data("plate") + "'>";
        html += "</div>";
        html += "<div class='form-group'>";
        html += "<label for='customerCar'>車型車款</label>";
        html += "<input type='text' class='form-control' id='customerCar' name='customerCar' placeholder='車型車款' value='" + $(e).data("car") + "'>";
        html += "</div>";
        html += "</div>";

        html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
        //html += "<button type='button' class='btn btn-primary btn-sm' onclick='javascript:location.href=\"/login/checkoutasguest?returnUrl=/PartnerVendor/Detail/" + $("#PartnerVendorId").val() + "\";'>確認</button> ";
        html += "<button type='button' class='btn btn-primary btn-sm' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + $(e).data("time") + "' onclick='bookingClick(this);'>預約</button> ";
        html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>取消</button>";
        html += "</div>";
        $("#timeSlotModal").empty().append(html);
    }


    var bookingClick = function (e) {

        var info = $("#timeSlotModal");
        var customerPlate = $("#customerPlate", info).val();
        var customerCar = $("#customerCar", info).val();

        var postData = {
            reservationDate: $(e).data("date"), shopCode: $("#PartnerVendorId").val(), time: $(e).data("time"), orderId: $("#OrderId").val(), orderItemId: $("#OrderItemId").val(), customerPlate: customerPlate, customerCar: customerCar
        };
        addAntiForgeryToken(postData);

         
        $.ajax({
            cache: false,
            type: "POST",
            data: postData,
            url: "@Url.Action("BookingInsert", "Booking")",
            dataType: 'json',
            success: function (data) {
                $.fancybox.close();
                if (data.status == "OK") {
                    
                    alert("預約完成");
                    //location.reload();
                    location.href = "/order/history";
                } else if (data.status == "FAIL") {
                    alert(data.message);
                } else {
                    alert("錯誤");
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert('Failed to load reservation time.');
            }
        });





    }

    var LayerTest = function () {

        $.fancybox.open({
            src: '@Url.Action("Booking", "PartnerVendor")',
            type: 'iframe',
            autoScale: true,
            smallBtn: true,
            opts: {
                iframe: {},
                fullScreen: false,
                afterShow: function (instance, current) {
                    console.info('done!');
                }
            }
        });

    }

    function initMap() {

        //var myLatLng = { lat: 25.037493, lng: 121.564358 };
        var myLatLng = { lat: @Model.Latitude, lng: @Model.Longitude };
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(myLatLng.lat, myLatLng.lng)
                });
                marker.setMap(map);
        //if (navigator.geolocation) {
        //    navigator.geolocation.getCurrentPosition(function (position) {
        //        myLatLng.lat = position.coords.latitude;
        //        myLatLng.lng = position.coords.longitude;

        //        map = new google.maps.Map(document.getElementById('map'), {
        //            zoom: 14,
        //            center: myLatLng
        //        });
        //    });
        //}

    }



    $(document).ready(function () {
        @*
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: false,//可选选项，自动滑动
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        })
            *@

        var swiper1 = new Swiper('.swiper1', {
            autoplay: false,
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        var swiper2 = new Swiper('.swiper2', {
            slidesPerView: 5,
            spaceBetween: 10,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });

</script>


