﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap4/css/iso_bootstrap4.1.0min.css" rel="stylesheet" />
    <style type="text/css">
        body .bootstrap {
            font-family: Microsoft JhengHei;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            /*height: 30px;*/
            padding: 10px;
            width: 100%;
            background: #999;
        }
    </style>


    <script src="~/Scripts/jquery-1.6.4.min.js"></script>


</head>
<body>

    <div class="bootstrap">
        <div class="container py-3">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8">
                    <div class="card border-secondary">
                        <div class="card-header">
                            進行電子禮券付款請求
                        </div>
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form01" })){


                        <div class="card-body">
                            <h5 class="card-title">由APP發出</h5>
                            <p class="card-text">
                                1.向Server取得RSA Public Key
                                <div>
                                    <textarea class="form-control" name="RSAPublicKey" rows="3">@ViewBag.RSAPublicKey</textarea>
                                </div>
                            </p>
                            <p class="card-text">
                                2.APP自己產生一組AES KEY與IV
                                <div>
                                    AES KEY(32位英數組合):
                                    <input type="text" name="AESKey" class="form-control" value="@ViewBag.AESKey">
                                </div>
                                <div>
                                    AES IV (16位英數組合):
                                    <input type="text" name="AESIV" class="form-control" value="@ViewBag.AESIV">
                                </div>
                            </p>

                            <p class="card-text">
                                3.要給Server的資料
                                <div>
                                    <textarea class="form-control" name="PostData" rows="3">@ViewBag.PostData</textarea>
                                </div>
                            </p>

                            <p class="card-text">
                                4.將要給Server的資料用AES KEY加密
                                <div>
                                    <textarea class="form-control" name="PostDataToEncryptByAES" rows="3">@ViewBag.PostDataToEncryptByAES</textarea>
                                </div>
                            </p>

                            <p class="card-text">
                                5.將AES KEY用RSA Public Key加密
                                <div>
                                    AES KEY:
<textarea class="form-control" name="AESKeyToEncryptByRSA" rows="3">@ViewBag.AESKeyToEncryptByRSA</textarea>
                                </div>
                                <div>
                                    AES IV:
<textarea class="form-control" name="AESIVToEncryptByRSA" rows="3">@ViewBag.AESIVToEncryptByRSA</textarea>
                                </div>
                            </p>

                            <p class="card-text">
                                6.最後傳給Server取得OneTimeToken
                                <ul>
                                    <li>data=@ViewBag.PostDataToEncryptByAES</li>
                                    <li>key=@ViewBag.AESKeyToEncryptByRSA</li>
                                    <li>iv=@ViewBag.AESIVToEncryptByRSA</li>
                                </ul>
                            </p>

                            <p>
                                <button type="submit" name="nextstep" class="btn btn-primary">Submit</button>
                            </p>

                        </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
