﻿@{
    Layout = null;
}
@using Nop.Core.CustomModels.Secure
@model TrustCardPostModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap4/css/iso_bootstrap4.1.0min.css" rel="stylesheet" />
    <style type="text/css">
        body .bootstrap {
            font-family: Microsoft JhengHei;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            /*height: 30px;*/
            padding: 10px;
            width: 100%;
            background: #999;
        }
    </style>


    <script src="~/Scripts/jquery-1.6.4.min.js"></script>


</head>
<body>

    <div class="bootstrap">
        <div class="container py-3">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8">
                    <div class="card border-secondary">
                        <div class="card-header">
                            儲值卡API測試(會員開卡)
                        </div>
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form01" }))
                        {


                        <div class="card-body">
                            <h5 class="card-title">Post Data</h5>

                            <div class="form-group">
                                <label for="PostData">PostData</label>
                                @Html.TextAreaFor(m => m.PostData, 8, 20, new { @class = "form-control rounded-0" })
                            </div>

                            <div class="form-group">
                                <label for="RSAData">RSAData</label>
                                @Html.TextAreaFor(m => m.RSAData, 8, 20, new { @class = "form-control rounded-0" })
                            </div>

                            <div class="form-group">
                                <label for="CheckValue">CheckValue</label>
                                @Html.EditorFor(m => m.CheckValue, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>

                            <div class="form-group">
                                <label for="ResponseData">ResponseData</label>
                                @Html.TextAreaFor(m => m.ResponseData, 8, 20, new { @class = "form-control rounded-0" })
                            </div>

                            <p>
                                <button type="submit" name="nextstep" class="btn btn-primary">Submit</button>
                            </p>

                        </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
