﻿@{
    Layout = null;
}
@using Nop.Core.CustomModels.Secure
@model TrustCardPostModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap4/css/iso_bootstrap4.1.0min.css" rel="stylesheet" />
    <style type="text/css">
        body .bootstrap {
            font-family: Microsoft JhengHei;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            /*height: 30px;*/
            padding: 10px;
            width: 100%;
            background: #999;
        }
    </style>


    <script src="~/Scripts/jquery-1.6.4.min.js"></script>


</head>
<body>

    <div class="bootstrap">
        <div class="container py-3">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8">
                    <div class="card border-secondary">
                        <div class="card-header">
                            儲值卡API測試(會員開卡)
                        </div>
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form01" }))
                        {


                        <div class="card-body">
                            <h5 class="card-title">Post Data</h5>



                            <div class="form-group">
                                <label for="Version">Version</label>
                                @Html.EditorFor(m => m.TrustCardMember.Version, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>

                            <div class="form-group">
                                <label for="Version">Version</label>
                                @Html.EditorFor(m => m.TrustCardMember.Version, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="UID">UID</label>
                                @Html.EditorFor(m => m.TrustCardMember.UID, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="PID">PID</label>
                                @Html.EditorFor(m => m.TrustCardMember.PID, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="StoreSernum">StoreSernum</label>
                                @Html.EditorFor(m => m.TrustCardMember.StoreSernum, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="PlatForm">PlatForm</label>
                                @Html.EditorFor(m => m.TrustCardMember.PlatForm, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="WorkID">WorkID</label>
                                @Html.EditorFor(m => m.TrustCardMember.WorkID, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="Barcode">Barcode</label>
                                @Html.EditorFor(m => m.TrustCardMember.Barcode, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="Virtual">Virtual</label>
                                @Html.EditorFor(m => m.TrustCardMember.Virtual, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="Reg">Reg</label>
                                @Html.EditorFor(m => m.TrustCardMember.Reg, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="Staff">Staff</label>
                                @Html.EditorFor(m => m.TrustCardMember.Staff, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>

                            <div class="form-group">
                                <label for="MoneyMax">MoneyMax</label>
                                @Html.EditorFor(m => m.TrustCardMember.MoneyMax, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="Name">Name</label>
                                @Html.EditorFor(m => m.TrustCardMember.Name, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="Birthday">Birthday</label>
                                @Html.EditorFor(m => m.TrustCardMember.Birthday, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="Address">Address</label>
                                @Html.EditorFor(m => m.TrustCardMember.Address, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="Sex">Sex</label>
                                @Html.EditorFor(m => m.TrustCardMember.Sex, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="Tel">Tel</label>
                                @Html.EditorFor(m => m.TrustCardMember.Tel, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="Mail">Mail</label>
                                @Html.EditorFor(m => m.TrustCardMember.Mail, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="AccountID">AccountID</label>
                                @Html.EditorFor(m => m.TrustCardMember.AccountID, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>
                            <div class="form-group">
                                <label for="Method">Method</label>
                                @Html.EditorFor(m => m.TrustCardMember.Method, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>

                            <div class="form-group">
                                <label for="RSAData">RSAData</label>
                                @Html.TextAreaFor(m => m.RSAData, 8, 20, new { @class = "form-control rounded-0" })
                            </div>

                            <div class="form-group">
                                <label for="CheckValue">CheckValue</label>
                                @Html.EditorFor(m => m.CheckValue, new { htmlAttributes = new { @class = "form-control rounded-0" } })
                            </div>

                            <div class="form-group">
                                <label for="ResponseData">ResponseData</label>
                                @Html.TextAreaFor(m => m.ResponseData, 8, 20, new { @class = "form-control rounded-0" })
                            </div>

                            <p>
                                <button type="submit" name="nextstep" class="btn btn-primary">Submit</button>
                            </p>

                        </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
