﻿@model CustomerOrderListModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    Html.AddCssFileParts("~/Content/bootstrap-iso.css");

    Html.AddScriptParts("~/Content/webkit/layer/layer.js");

    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");
}
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order;
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Orders })
}
<div class="page account-page order-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.CustomerOrders")</h1>
    </div>
    <div class="page-body">
        @if (Model.RecurringOrders.Count > 0)
        {
            <div class="section recurring-payments">
                <div class="title">
                    <strong>@T("Account.CustomerOrders.RecurringOrders")</strong>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="table-wrapper">
                        <table class="data-table">
                            <colgroup>
                                <col width="1" />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>
                                        <span class="item-count">#</span>
                                    </th>
                                    <th class="start-date" data-hide="w410, w480, w580">
                                        @T("Account.CustomerOrders.RecurringOrders.StartDate")
                                    </th>
                                    <th class="cycle-info" data-hide="w410, w480, w580, w768, w980">
                                        @T("Account.CustomerOrders.RecurringOrders.CycleInfo")
                                    </th>
                                    <th class="next-payment">
                                        @T("Account.CustomerOrders.RecurringOrders.NextPayment")
                                    </th>
                                    <th class="total-cycles" data-hide="w410, w480, w580, w768, w980">
                                        @T("Account.CustomerOrders.RecurringOrders.TotalCycles")
                                    </th>
                                    <th class="cycles-remaining" data-hide="w410, w480, w580, w768, w980">
                                        @T("Account.CustomerOrders.RecurringOrders.CyclesRemaining")
                                    </th>
                                    <th class="initial-order" data-hide="w410, w480, w580, w768">
                                        @T("Account.CustomerOrders.RecurringOrders.InitialOrder")
                                    </th>
                                    <th class="cancel" data-hide="w410">
                                        @T("Account.CustomerOrders.RecurringOrders.Cancel")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var counter = 0;}
                                @foreach (var item in Model.RecurringOrders)
                                {
                                    counter++;
                                    <tr>
                                        <td>
                                            <span class="item-count">@counter</span>
                                        </td>
                                        <td class="start-date">
                                            @item.StartDate
                                        </td>
                                        <td class="cycle-info">
                                            @item.CycleInfo
                                        </td>
                                        <td class="next-payment">
                                            @item.NextPayment
                                        </td>
                                        <td class="total-cycles">
                                            @item.TotalCycles
                                        </td>
                                        <td class="cycles-remaining">
                                            @item.CyclesRemaining
                                        </td>
                                        <td class="initial-order">
                                            <a href="@Url.RouteUrl("OrderDetails", new { orderId = item.InitialOrderId })">@string.Format(T("Account.CustomerOrders.RecurringOrders.ViewInitialOrder").Text, item.InitialOrderId)</a>
                                        </td>
                                        <td class="cancel">
                                            @if (item.CanCancel)
                                            {
                                                <input type="submit" name="cancelRecurringPayment@(item.Id)" value="@T("Account.CustomerOrders.RecurringOrders.Cancel")" class="button-2 cancel-recurring-order-button" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            if (Model.CancelRecurringPaymentErrors.Count > 0)
            {
                <div class="message-error">
                    <ul>
                        @foreach (var error in Model.CancelRecurringPaymentErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }
        }

        @if (Model.Orders.Count > 0)
        {
            <div class="order-list">
                @foreach (var order in Model.Orders)
                {
                    <div class="section order-item">
                        <div class="title">
                            <strong>@T("Account.CustomerOrders.OrderNumber"): @order.Id</strong>
                        </div>
                        <ul class="info">
                            <li>
                                @T("Account.CustomerOrders.OrderStatus"):
                                <span class="order-status @order.OrderStatusEnum.ToString().ToLowerInvariant()">@order.OrderStatus</span>
                            </li>
                            <li>
                                付款狀態:
                                <span class="order-status @order.OrderStatusEnum.ToString().ToLowerInvariant()">@order.PaymentStatus</span>
                            </li>
                            @{
                                if (order.PaymentMethodSystemName.Equals("Payments.CtbcAtm"))
                                {
                                    <li>
                                        ATM帳號:
                                        <span class="order-status @order.OrderStatusEnum.ToString().ToLowerInvariant()">@order.CardNumber</span>
                                    </li>
                                }
                            }
                            <li>
                                @T("Account.CustomerOrders.OrderDate"):
                                <span class="order-date">@order.CreatedOn.ToString()</span>
                            </li>
                            <li>
                                @T("Account.CustomerOrders.OrderTotal"):
                                <span class="order-total">@order.OrderTotal</span>
                            </li>

                            @*預約安裝處理*@
                            @*for abc好車網商品 先不處理*@
                            @*<li class="bootstrap-iso"><a href="@Url.Action("FindService", "Booking", new { id = order.Id })" class="btn btn-primary" role="button">預約安裝</a></li>*@

                            @{
                                if (order.OrderItemBookings != null && order.OrderItemBookings.Count > 0)
                                {
                                    <li class="bootstrap-iso">
                                        @foreach (var booking in order.OrderItemBookings)
                                        {

                                            if (booking.IsBookingAllowed)
                                            {
                                                <p>
                                                    <strong>安裝服務： </strong>@booking.OrderItemName
                                                    <a href="javascript:;" data-id="@booking.BookingId" onclick="bookingView(this);" class="btn btn-warning btn-xs" role="button">查看預約資訊</a>
                                                </p>
                                                <p style="color:red;">請依照時間準時前往，現場僅保留10分鐘，因故無法如期前往使用服務，請於預約日期前致電店家取消預約。</p>
                                            }
                                            else
                                            {
                                                //檢查訂單付款狀態
                                                if (booking.PaymentStatusId == 30)
                                                {
                                                <p>
                                                    <strong>安裝服務： </strong>@booking.OrderItemName
                                                    @*<a href="@Url.Action("FindService", "Booking", new { id = order.Id, item = booking.OrderItemId })" class="btn btn-info btn-xs" role="button">立即預約</a>*@
                                                    <a href="@Url.Action("Booking", "ServiceVendor", new { id = order.Id, orderItemId = booking.OrderItemId })" class="btn btn-info btn-xs" role="button">立即預約</a>
                                                </p>

                                                }
                                                else
                                                {
                                                    <p>
                                                        <strong>安裝服務： </strong>@booking.OrderItemName
                                                        <a href="javascript:;" class="btn btn-info btn-xs disabled" role="button">未開放預約</a>
                                                    </p>
                                                }


                                            }

                                        }
                                    </li>
                                }

                            }




                            @*預約安裝處理*@




                        </ul>
                        <div class="buttons">
                            @if (order.IsReturnRequestAllowed)
                            {
                                <input type="button" value="@T("Account.CustomerOrders.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = order.Id })')" />
                            }
                            <input type="button" value="@T("Account.CustomerOrders.OrderDetails")" class="button-2 order-details-button-more" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')" />
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerOrders.NoOrders")
            </div>
        }
    </div>
</div>
@Html.AntiForgeryToken()

<script>
 var map;
    $(document).ready(function () {


    });

    var bookingView = function (e) {

        //layer.open({
        //    title: '在线调试'
        //    , content: '可以填写任意的layer代码'
        //});

        var layerLoad = layer.load(2);

        var postData = {
            id: $(e).data("id")
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            data: postData,
            url: "@Url.Action("BookingDetail", "Booking")",
            dataType: 'json',
            success: function (data) {
                layer.close(layerLoad);
                if (data.status == "OK") {

                    var html = "<table>";
                    html += "<tr><td style='width:100px;'>廠商</td><td>" + data.item.BookingName + "</td></tr>";
                    if (data.item.BookingType == 1) {
                        html += "<tr><td>服務</td><td>套餐服務</td></tr>";
                    } else {
                        html += "<tr><td>服務</td><td>線下服務</td></tr>";
                    }
                    html += "<tr><td>地址</td><td>" + data.item.BookingAddress + "</td></tr>";
                    html += "<tr><td>電話</td><td>" + data.item.BookingPhone + "</td></tr>";
                    html += "<tr><td>預約時間</td><td>" + data.item.BookingTime + "</td></tr>";
                    html += "<tr><td>預約時段</td><td>" + data.item.BookingTimeSlot + "</td></tr>";
                    html += "<tr><td>建立時間</td><td>" + data.item.CreateBooking + "</td></tr>";
                    if (data.item.CheckStatus == "N") {
                        html += "<tr><td>預約狀態</td><td>預約完成</td></tr>";
                    } else if(data.item.CheckStatus == "A"){
                        html += "<tr><td>預約狀態</td><td>線下服務已完成待付款</td></tr>";
                    } else if (data.item.CheckStatus == "B") {
                        html += "<tr><td>預約狀態</td><td>結案</td></tr>";
                    }
                    html += "</table>";

                    var index = layer.open({
                        area: 'auto',
                        title: '預約資訊',
                        scrollbar: false,
                        btn: ['關閉'],
                        content: html
                    });
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                layer.close(layerLoad);
                alert('Failed to load reservation time.');
            }
        });


    }
</script>