﻿@model CustomerMyCouponsModel
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-reward-points-page");
}


@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.MyCoupon })
}
<div class="page account-page reward-points-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.MyAccountPoints")</h1>
    </div>
    <div class="page-body">
        <div class="reward-points-overview">
            <div class="bootstrap">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-dark mb-3 rounded-0">
                            <div class="card-header">
                                <strong>新會員限時索取500元折扣碼</strong>
                            </div>
                            <div class="card-body">
                                @*<h5 class="card-title">Light card title</h5>*@
                                <p class="card-text">
                                    abc好養車新會員可於活動期間至2019/10/31止，可透過《facebook》、《LINE》索取500元折扣碼，單筆購物金額需超過1,200元才可使用，單一會員限使用一次。 ( 500元折扣碼使用期限至2019/10/31止 )
                                </p>
                            </div>
                        </div>

                        @if (Model.MyCoupons != null && Model.MyCoupons.Count > 0)
                        {
                            foreach (var coupon in Model.MyCoupons)
                            {
                                <div class="card border-dark mb-3 rounded-0">
                                    <div class="card-header">
                                        <strong>@coupon.Name</strong>
                                    </div>
                                    <div class="card-body">
                                        @*<h5 class="card-title">Light card title</h5>*@
                                        @if (coupon.RequiresCouponCode)
                                        {
                                        <p class="card-text">
                                            @(coupon.DiscountText)
                                            折扣碼：<span class="badge badge-info">@(coupon.CouponCode)</span>
                                        </p>
                                        }
                                        <p class="card-text">
                                            @coupon.Period
                                        </p>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="section reward-points-history">


        </div>
    </div>
</div>
