﻿@model CustomerMyAccountPointsModel
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-reward-points-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.MyAccount })
}
<div class="page account-page reward-points-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.MyAccountPoints")</h1>
    </div>
    <div class="page-body">
        <div class="reward-points-overview">
                <div class="current-balance">@T("MyAccountPoints.CurrentBalance", Model.MyAccountPointsBalance, Model.MyAccountPointsBalance)</div>
                @*@if (Model.MinimumRewardPointsBalance > 0)
                {
                    <div class="min-balance">@T("RewardPoints.MinimumBalance", Model.MinimumRewardPointsBalance, Model.MinimumRewardPointsAmount)</div>
                }*@
            </div>
        <div class="section reward-points-history">
            <div class="title">
                @*<strong>@T("RewardPoints.History")</strong>*@
            </div>
            @if (Model.MyAccountPoints.Count > 0)
            {
                <div class="table-wrapper">
                    <table class="data-table">
                        <colgroup>
                            <col width="1" />
                            <col />
                            <col width="1" />
                            <col width="1" />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span class="item-count">#</span>
                                </th>
                                <th class="date" data-hide="w410, w480, w580">
                                    @T("MyAccountPoints.Fields.Date")
                                </th>
                                <th class="points">
                                    @T("MyAccountPoints.Fields.Points")
                                </th>
                                <th class="points-balance" data-hide="w410">
                                    @T("MyAccountPoints.Fields.PointsBalance")
                                </th>
                                <th class="message" data-hide="w410, w480">
                                    @T("MyAccountPoints.Fields.Message")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.MyAccountPoints.Count; i++)
                            {
                                var item = Model.MyAccountPoints[i];
                                <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                    <td>
                                        <span class="item-count">@(i + 1)</span>
                                    </td>
                                    <td class="date">
                                        @item.CreatedOn
                                    </td>
                                    <td class="points">
                                        @item.Points
                                    </td>
                                    <td class="points-balance">
                                        @item.PointsBalance
                                    </td>
                                    <td class="message">
                                        @item.Message
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @*var pager = Html.Pager(Model.PagerModel);
                if (!MvcHtmlString.IsNullOrEmpty(pager))
                {
                    <div class="pager">
                        @pager
                    </div>
                }*@
            }
            else
            {
                <div class="no-data">
                    @T("RewardPoints.NoHistory")
                </div>
            }
        </div>
    </div>
</div>
