﻿@model CustomerMyBookingsModel
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Helpers
@{

    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    Html.AddCssFileParts("~/Content/fontawesome/css/all.css");

    Html.AddScriptParts("~/Content/webkit/layer/layer.js");

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-reward-points-page");

    var dateTimeHelper = EngineContext.Current.Resolve<IDateTimeHelper>();
}

@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.MyBooking })
}
<div class="page account-page reward-points-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.MyBookings")</h1>
    </div>
    <div class="page-body">

        <section class="bootstrap">

            <div class="row justify-content-center">
                <div class="col-11 mt-4 mb-4">
                    @if (System.Configuration.ConfigurationManager.AppSettings["UseLineBot"] == "true")
                    {
                        <div class="row my-3">
                            <div class="col-12">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["LinkQRCode"]" target="_blank">
                                    <i class="fab fa-line" aria-hidden="true" style="color:#1DB446; font-size:x-large;"></i> <strong>加入abc好養車預約助理，讓您隨時隨地管理您的預約。</strong>
                                </a>
                            </div>
                        </div>
                    }


                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        @if (ViewBag.Tab == "0")
                        {
                            <li class="nav-item">
                                <a class="nav-link active" id="yesNooking-tab" data-toggle="tab" href="#yesNooking" role="tab" aria-controls="yesNooking" aria-selected="true"><strong>待預約</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="noBooking-tab" data-toggle="tab" href="#noBooking" role="tab" aria-controls="noBooking" aria-selected="false"><strong>已預約</strong></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="yesNooking-tab" data-toggle="tab" href="#yesNooking" role="tab" aria-controls="yesNooking" aria-selected="false"><strong>待預約</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="noBooking-tab" data-toggle="tab" href="#noBooking" role="tab" aria-controls="noBooking" aria-selected="true"><strong>已預約</strong></a>
                            </li>
                        }

                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade @(ViewBag.Tab == "0"?"show active":"")" id="yesNooking" role="tabpanel" aria-labelledby="yesNooking-tab">

                            @if (Model.ToDoBookings != null && Model.ToDoBookings.Count > 0)
                            {
                                <div class="card rounded-0" style="border-top-width:0;">
                                    @*<div class="card-header">
                                            <strong>待預約</strong>
                                        </div>*@
                                    <div class="card-body">
                                        @foreach (var item in Model.ToDoBookings)
                                        {
                                            <div class="row">
                                                <div class="col-sm-12 col-md-10">
                                                    <dl class="row">
                                                        <dt class="col-sm-2">訂單編號</dt>
                                                        <dd class="col-sm-10">@(CommonHelper.PadZero(item.OrderId.ToString(), 10)) <a href="@Url.RouteUrl("OrderDetails", new { orderId = item.OrderId })"><span class="badge badge-info">詳細</span></a></dd>
                                                        <dt class="col-sm-2">訂單日期</dt>
                                                        <dd class="col-sm-10">@dateTimeHelper.ConvertToUserTime(item.Order.CreatedOnUtc, DateTimeKind.Utc)</dd>
                                                        <dt class="col-sm-2">服務項目</dt>
                                                        <dd class="col-sm-10">@item.Product.Name</dd>
                                                    </dl>
                                                </div>
                                                <div class="col-sm-12 col-md-2">
                                                    <a href="@Url.Action("Booking", "ServiceVendor", new { id = item.OrderId, orderItemId = item.Id })" class="btn btn-danger rounded-0" role="button">立即預約</a>
                                                </div>
                                                @if (Model.ToDoBookings.IndexOf(item) != Model.ToDoBookings.Count - 1)
                                                {
                                                    <div class="col-12">
                                                        <hr />
                                                    </div>
                                                }

                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="card rounded-0" style="border-top-width:0;">
                                    <div class="card-body">
                                        <p>無資料</p>
                                    </div>
                                </div>


                            }
                        </div>
                        <div class="tab-pane fade @(ViewBag.Tab == "1"?"show active":"")" id="noBooking" role="tabpanel" aria-labelledby="noBooking-tab">
                            @if (Model.MyBookings != null && Model.MyBookings.Count > 0)
                            {
                                <div class="card rounded-0" style="border-top-width:0;">
                                    @*<div class="card-header">
                                            <strong>已預約</strong>
                                        </div>*@
                                    <div class="card-body">

                                        @foreach (var item in Model.MyBookings)
                                        {
                                            <div class="row">
                                                <div class="col-sm-12 col-md-2">
                                                    <dl>
                                                        <dt>預約單號</dt>
                                                        <dd>@(CommonHelper.PadZero(item.BookingId.ToString(), 10))</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>服務</dt>
                                                        @if (item.BookingType == 1)
                                                        {
                                                            <dd>套餐服務</dd>
                                                        }
                                                        else if (item.BookingType == 2)
                                                        {
                                                            <dd>線下服務</dd>
                                                        }
                                                    </dl>
                                                </div>
                                                <div class="col-sm-12 col-md-8">
                                                    <dl class="row">
                                                        <dt class="col-sm-2">訂單編號</dt>
                                                        <dd class="col-sm-10">@(item.OrderId == 0 ? "線下服務尚未完成，暫無訂單編號" : CommonHelper.PadZero(item.OrderId.ToString(), 10))</dd>
                                                        <dt class="col-sm-2">廠商</dt>
                                                        <dd class="col-sm-10">@item.BookingName</dd>
                                                        <dt class="col-sm-2">地址</dt>
                                                        <dd class="col-sm-10">@item.BookingAddress</dd>
                                                        <dt class="col-sm-2">電話</dt>
                                                        <dd class="col-sm-10">@item.BookingPhone</dd>
                                                        <dt class="col-sm-2">預約時間</dt>
                                                        <dd class="col-sm-10">@item.BookingTimeSlot</dd>
                                                        <dt class="col-sm-2">建立時間</dt>
                                                        <dd class="col-sm-10">@item.CreateBooking</dd>
                                                        <dt class="col-sm-2">預約狀態</dt>
                                                        @if (item.CheckStatus.Equals("N"))
                                                        {
                                                            <dd class="col-sm-10">預約完成</dd>
                                                        }
                                                        else if (item.CheckStatus.Equals("A"))
                                                        {
                                                            <dd class="col-sm-10">線下服務已完成待付款</dd>
                                                        }
                                                        else if (item.CheckStatus.Equals("Y"))
                                                        {
                                                            <dd class="col-sm-10">結案</dd>
                                                        }
                                                    </dl>
                                                </div>
                                                <div class="col-sm-12 col-md-2">
                                                    @if (item.CheckStatus.Equals("N"))
                                                    {
                                                        if (item.BookingType == 1)
                                                        {
                                                            <button type="button" data-bid="@item.BookingId" class="btn btn-info rounded-0" onclick="finallyBooking(this);">完工確認</button>
                                                        }
                                                        else if (item.BookingType == 2)
                                                        {
                                                            <button type="button" data-bid="@item.BookingId" class="btn btn-info rounded-0" onclick="finallyBookingForOffline(this);">完工確認</button>
                                                        }

                                                    }

                                                </div>
                                                @if (Model.MyBookings.IndexOf(item) != Model.MyBookings.Count - 1)
                                                {
                                                    <div class="col-12">
                                                        <hr />
                                                    </div>
                                                }

                                            </div>



                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="card rounded-0" style="border-top-width:0;">
                                    <div class="card-body">
                                        <p>無資料</p>
                                    </div>
                                </div>


                            }

                        </div>
                    </div>
                </div>

            </div>



        </section>



    </div>
</div>

@Html.AntiForgeryToken()


<script>

    $(document).ready(function () {


    });

    var finallyBooking = function (e) {

        var index = layer.open({
            area: 'auto',
            title: '完工確認',
            scrollbar: false,
            content: '<h3>確認要進行完工確認作業？</h3>',
            btn: ['繼續', '取消'],
            yes: function (index) {
                layer.close(index);
                layer.load();

                var postData = {
                    bid: $(e).data("bid")
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    data: postData,
                    url: "@Url.Action("CustomerMyBookingCheckout", "Order")",
                    dataType: 'json',
                    success: function (data) {

                        if (data.status == "OK") {
                            var html = "<section class='bootstrap'>";
                            html += "<div class='row'>";
                            html += "<div class='col-12'>";
                            html += "<div class='form-group'>";
                            html += "<label for='_vcode'>" + data.msg + "</label>";
                            html += "<input type='text' class='form-control' id='_vcode' placeholder=''>";
                            html += "<small id='_vcodeHelp' class='form-text text-danger'></small>";
                            html += "</div>";
                            html += "</div>";
                            html += "</div>";
                            html += "</section>";

                            layer.open({
                                title: '請輸入核銷驗證碼'
                                , content: html
                                , btn: ['繼續', '取消']
                                , yes: function (index) {

                                    if ($("#_vcode").val() == "") {
                                        $("#_vcodeHelp").html("必須輸入驗證碼");
                                        return;
                                    }


                                    layer.close(index);
                                    layer.load();

                                    var postData = {
                                        token: data.token,
                                        bid: $(e).data("bid"),
                                        vcode: $("#_vcode").val()
                                    };
                                    addAntiForgeryToken(postData);

                                    @*第二階*@
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        data: postData,
                                        url: "@Url.Action("CustomerMyBookingConfirm", "Order")",
                                        dataType: 'json',
                                        success: function (data) {

                                            layer.open({
                                                title: '訊息',
                                                content: "<strong>" + data.msg + "</strong>"
                                            });

                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert('Failed to load reservation time.');
                                        },
                                        complete: function () {
                                            layer.closeAll('loading');
                                        }
                                    });
                                }
                            });
                        } else {
                            layer.open({
                                title: '訊息',
                                content: "<strong>" + data.msg + "</strong>"
                            });
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to load reservation time.');
                    },
                    complete: function () {
                        layer.closeAll('loading');
                    }
                });


            }
        });


    }


    var finallyBookingForOffline = function (e) {

        var index = layer.open({
            area: 'auto',
            title: '完工確認',
            scrollbar: false,
            content: '<h3>確認要進行完工確認作業？</h3>',
            btn: ['繼續', '取消'],
            yes: function (index) {
                layer.close(index);
                layer.load();

                var postData = {
                    bid: $(e).data("bid")
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    data: postData,
                    url: "@Url.Action("CustomerMyBookingForOfflineInput", "Order")",
                    dataType: 'json',
                    success: function (data) {

                        if (data.status == "OK") {
                            var html = "<section class='bootstrap'>";
                            html += "<div class='row'>";
                            html += "<div class='col-12' style='margin-bottom:15px;'>";
                            html += "可使用：<span id='_canuse' style='color:red; font-weight:bold;'>" + data.msg + "</span>";
                            html += "</div>";
                            html += "<div class='col-12'>";
                            html += "<div class='form-group'>";
                            html += "<label for='_myaccount'>輸入消費金額</label>";
                            html += "<input type='text' class='form-control' id='_myaccount' placeholder=''>";
                            html += "<small id='_myaccountHelp' class='form-text text-danger'></small>";
                            html += "</div>";
                            html += "</div>";
                            html += "</div>";
                            html += "</section>";

                            layer.open({
                                title: '請輸入消費金額'
                                , content: html
                                , btn: ['繼續', '取消']
                                , yes: function (index) {

                                    if ($("#_myaccount").val() == "") {
                                        $("#_myaccountHelp").html("必須輸入消費金額");
                                        return;
                                    } else {
                                        if (!$.isNumeric($("#_myaccount").val())) {
                                            $("#_myaccountHelp").html("必須輸入數字");
                                            return;
                                        }



                                        var can = parseInt($("#_canuse").html());
                                        var use = parseInt($("#_myaccount").val());
                                        if (use > can) {
                                            $("#_myaccountHelp").html("消費金額不能大於電子禮券金額");
                                            return;
                                        } else if (use <= 0) {
                                            $("#_myaccountHelp").html("消費金額錯誤請重新輸入");
                                            return;
                                        }


                                    }
                                    layer.close(index);
                                    layer.load();

                                    var postData = {
                                        token: data.token,
                                        bid: $(e).data("bid"),
                                        use: $("#_myaccount").val()
                                    };
                                    addAntiForgeryToken(postData);

                                    @*第二階*@
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        data: postData,
                                        url: "@Url.Action("CustomerMyBookingForOfflineCheckout", "Order")",
                                        dataType: 'json',
                                        success: function (data) {

                                           if (data.status == "OK") {
                                                var html = "<section class='bootstrap'>";
                                                html += "<div class='row'>";
                                                html += "<div class='col-12'>";
                                                html += "<div class='form-group'>";
                                                html += "<label for='_vcode'>" + data.msg + "</label>";
                                                html += "<input type='text' class='form-control' id='_vcode' placeholder=''>";
                                                html += "<small id='_vcodeHelp' class='form-text text-danger'></small>";
                                                html += "</div>";
                                                html += "</div>";
                                                html += "</div>";
                                                html += "</section>";

                                                layer.open({
                                                    title: '請輸入核銷驗證碼'
                                                    , content: html
                                                    , btn: ['繼續', '取消']
                                                    , yes: function (index) {

                                                        if ($("#_vcode").val() == "") {
                                                            $("#_vcodeHelp").html("必須輸入驗證碼");
                                                            return;
                                                        }
                                                        layer.close(index);
                                                        layer.load();

                                                        var postData2 = {
                                                            token: data.token,@*消費金額已埋在token*@
                                                            bid: $(e).data("bid"),
                                                            vcode: $("#_vcode").val()
                                                        };
                                                        addAntiForgeryToken(postData2);

                                                        @*第三階*@
                                                        $.ajax({
                                                            cache: false,
                                                            type: "POST",
                                                            data: postData2,
                                                            url: "@Url.Action("CustomerMyBookingForOfflineConfirm", "Order")",
                                                            dataType: 'json',
                                                            success: function (data) {

                                                                //layer.open({
                                                                //    title: '訊息',
                                                                //    content: "<strong>" + data.msg + "</strong>"
                                                                //});
                                                                layer.alert(data.msg, { icon: 1, title: "訊息" }, function () {
                                                                    window.location.reload();
                                                                });

                                                            },
                                                            error: function (xhr, ajaxOptions, thrownError) {
                                                                alert('Failed to load reservation time.');
                                                            },
                                                            complete: function () {
                                                                layer.closeAll('loading');
                                                            }
                                                        });
                                                    }
                                                });
                                            } else {
                                                layer.open({
                                                    title: '訊息',
                                                    content: "<strong>" + data.msg + "</strong>"
                                                });
                                            }

                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert('Failed to load reservation time.');
                                        },
                                        complete: function () {
                                            layer.closeAll('loading');
                                        }
                                    });
                                }
                            });
                        } else {
                            layer.open({
                                title: '訊息',
                                content: "<strong>" + data.msg + "</strong>"
                            });
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to load reservation time.');
                    },
                    complete: function () {
                        layer.closeAll('loading');
                    }
                });


            }
        });


    }
</script>