﻿@model OrderDetailsModel
@using Nop.Web.Models.Order
@using Nop.Core
@using Nop.Core.Infrastructure;
@using Nop.Services.Configuration;
@{
    if (!Model.PrintMode)
    {
        Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Print.cshtml";
    }

    Html.AddCssFileParts("~/Content/bootstrap-iso.css");

    Html.AddScriptParts("~/Content/webkit/layer/layer.js");

    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
    //page class
    Html.AppendPageCssClassParts("html-order-details-page");

    var _settingService = EngineContext.Current.Resolve<ISettingService>();

}
@if (Model.PrintMode)
{
    <script type="text/javascript">
        $(document).ready(function () {
            window.print();
        });
    </script>
}
<div class="page order-details-page">
    @if (!Model.PrintMode)
    {
        <div class="page-title">
            <h1>@T("Order.OrderInformation")</h1>
            @*<a href="@Url.RouteUrl("CustomerOrders")" class="button-2">返回</a>*@
            <a href="javascript: window.history.go(-1);" class="button-2">返回</a>
            @*<a href="@Url.RouteUrl("PrintOrderDetails", new { orderId = Model.Id })" target="_blank" class="button-2 print-order-button">@T("Order.Print")</a>
                @if (!Model.PdfInvoiceDisabled)
                {
                    <a href="@Url.RouteUrl("GetOrderPdfInvoice", new { orderId = Model.Id })" class="button-2 pdf-invoice-button">@T("Order.GetPDFInvoice")</a>
                }*@
        </div>
    }

    <section class="bootstrap-iso">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>@T("Order.Order#")@Model.Id</strong>
            </div>
            <div class="panel-body">

                <dl class="dl-horizontal">
                    <dt>@T("Order.OrderDate")：</dt>
                    <dd>@Model.CreatedOn.ToString("D")</dd>
                    <dt>付款狀態：</dt>
                    <dd>@Model.PaymentMethodStatus</dd>
                    @{
                        if (Model.PaymentMethodSystemName.Equals("Payments.CtbcAtm"))
                        {
                            <dt>ATM帳號：</dt>
                            <dd>@Model.CardNumber</dd>
                        }
                    }
                    <dt>@T("Order.OrderStatus")：</dt>
                    <dd>@Model.OrderStatus</dd>
                    <dt>發票號碼：</dt>
                    <dd>@Model.InvNumber</dd>
                    <dt>@T("Order.OrderTotal")：</dt>
                    <dd><strong>@Model.OrderTotal</strong></dd>
                </dl>
            </div>
        </div>

        @*預約安裝*@
        @{
            var IsBooking = false;

            foreach (var item in Model.Items)
            {
                IsBooking = (item.ProductInfo.ProductCategories.Where(x => x.CategoryId == int.Parse(_settingService.GetSetting("tiresettings.category").Value)).Any()
                                || item.ProductInfo.ProductCategories.Where(x => x.CategoryId == int.Parse(_settingService.GetSetting("carbeautysettings.category").Value)).Any()
                                || item.ProductInfo.ProductCategories.Where(x => x.CategoryId == int.Parse(_settingService.GetSetting("maintenancesettings.category").Value)).Any());
            }

            if (IsBooking)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>預約服務</strong>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            @foreach (var item in Model.Items)
                            {
                                var booking = Model.AbcBookings.Where(x => x.OrderItemId == item.Id).FirstOrDefault();
                                if (item.ProductInfo.ProductCategories.Where(x => x.CategoryId == int.Parse(_settingService.GetSetting("carbeautysettings.category").Value)).Any())
                                {
                                    if (booking != null)
                                    {
                                        <dt style="padding-top:10px;">汽車美容：</dt>
                                        @*<dd style="padding-top:10px;">@item.ProductName <a href="#" class="btn btn-info btn-xs" role="button">查看預約資訊</a></dd>*@
                                        <dd style="padding-top:10px;">@item.ProductName <a href="javascript:;" data-id="@booking.Id" onclick="bookingView(this);" class="btn btn-warning btn-xs" role="button">查看預約資訊</a><br /><span style="color:red;">請依照時間準時前往，現場僅保留10分鐘，因故無法如期前往使用服務，請於預約日期前致電店家取消預約。</span></dd>
                                    }
                                    else
                                    {

                                        if (Model.PaymentStatusId == 30)
                                        {
                                            <dt style="padding-top:10px;">汽車美容：</dt>
                                            @*<dd style="padding-top:10px;">@item.ProductName <a href="@Url.Action("FindService", "Booking", new { id = Model.Id, item = item.Id })" class="btn btn-info btn-xs" role="button">立即預約</a></dd>*@
                                            <dd style="padding-top:10px;">@item.ProductName <a href="@Url.Action("Booking", "ServiceVendor", new { id = Model.Id, orderItemId = item.Id })" class="btn btn-info btn-xs" role="button">立即預約</a></dd>
                                        }
                                        else
                                        {
                                            <dt style="padding-top:10px;">汽車美容：</dt>
                                            <dd style="padding-top:10px;">@item.ProductName <a href="javascript:;" class="btn btn-info btn-xs disabled" role="button">未開放預約</a></dd>
                                        }
                                    }

                                }
                                else if (item.ProductInfo.ProductCategories.Where(x => x.CategoryId == int.Parse(_settingService.GetSetting("maintenancesettings.category").Value)).Any())
                                {
                                    if (booking != null)
                                    {
                                        <dt style="padding-top:10px;">汽修保養：</dt>
                                        @*<dd style="padding-top:10px;">@item.ProductName <a href="#" class="btn btn-info btn-xs" role="button">查看預約資訊</a></dd>*@
                                        <dd style="padding-top:10px;">@item.ProductName <a href="javascript:;" data-id="@booking.Id" onclick="bookingView(this);" class="btn btn-warning btn-xs" role="button">查看預約資訊</a><br /><span style="color:red;">請依照時間準時前往，現場僅保留10分鐘，因故無法如期前往使用服務，請於預約日期前致電店家取消預約。</span></dd>
                                    }
                                    else
                                    {

                                        if (Model.PaymentStatusId == 30)
                                        {
                                            <dt style="padding-top:10px;">汽修保養：</dt>
                                            @*<dd style="padding-top:10px;">@item.ProductName <a href="#" class="btn btn-info btn-xs" role="button">立即預約</a></dd>*@
                                            @*<dd style="padding-top:10px;">@item.ProductName <a href="@Url.Action("FindService", "Booking", new { id = Model.Id, item = item.Id })" class="btn btn-info btn-xs" role="button">立即預約</a></dd>*@
                                            <dd style="padding-top:10px;">@item.ProductName <a href="@Url.Action("Booking", "ServiceVendor", new { id = Model.Id, orderItemId = item.Id })" class="btn btn-info btn-xs" role="button">立即預約</a></dd>
                                        }
                                        else
                                        {
                                            <dt style="padding-top:10px;">汽修保養：</dt>
                                            <dd style="padding-top:10px;">@item.ProductName <a href="javascript:;" class="btn btn-info btn-xs disabled" role="button">未開放預約</a></dd>
                                        }
                                    }

                                }
                                else if (item.ProductInfo.ProductCategories.Where(x => x.CategoryId == int.Parse(_settingService.GetSetting("tiresettings.category").Value)).Any())
                                {
                                    if (booking != null)
                                    {
                                        <dt style="padding-top:10px;">輪胎鋁圈：</dt>
                                        <dd style="padding-top:10px;">@item.ProductName <a href="javascript:;" data-id="@booking.Id" onclick="bookingView(this);" class="btn btn-warning btn-xs" role="button">查看預約資訊</a></dd>

                                    }
                                    else
                                    {

                                        if (Model.PaymentStatusId == 30)
                                        {
                                            <dt style="padding-top:10px;">輪胎鋁圈：</dt>
                                            @*<dd style="padding-top:10px;">@item.ProductName <a href="@Url.Action("FindService", "Booking", new { id = Model.Id, item = item.Id })" class="btn btn-info btn-xs" role="button">立即預約</a><br /><span style="color:red;">請依照時間準時前往，現場僅保留10分鐘，因故無法如期前往使用服務，請於預約日期前致電店家取消預約。</span></dd>*@
                                            <dd style="padding-top:10px;">@item.ProductName <a href="@Url.Action("Booking", "ServiceVendor", new { id = Model.Id, orderItemId = item.Id })" class="btn btn-info btn-xs" role="button">立即預約</a><br /><span style="color:red;">請依照時間準時前往，現場僅保留10分鐘，因故無法如期前往使用服務，請於預約日期前致電店家取消預約。</span></dd>

                                        }
                                        else
                                        {
                                            <dt style="padding-top:10px;">輪胎鋁圈：</dt>
                                            <dd style="padding-top:10px;">@item.ProductName <a href="javascript:;" class="btn btn-info btn-xs disabled" role="button">未開放預約</a></dd>
                                        }
                                    }


                                }

                            }
                        </dl>

                    </div>
                </div>
            }

        }


        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>訂單資訊</strong>
            </div>
            <div class="panel-body">
                @*購買人資訊*@
                <dl class="dl-horizontal">
                    <dt>購買人：</dt>
                    <dd>@Model.BillingAddress.FirstName</dd>
                    <dt>@T("Order.Email")：</dt>
                    <dd>@Model.BillingAddress.Email</dd>

                    @if (Model.BillingAddress.PhoneEnabled)
                    {
                        <dt>@T("Order.Phone")：</dt>
                        <dd>@(!string.IsNullOrEmpty(Model.BillingAddress.PhoneNumber) ? CommonHelper.MaskString(Model.BillingAddress.PhoneNumber) : "")</dd>
                    }

                    <dt>地址：</dt>
                    <dd>@Model.BillingAddress.Address1</dd>
                </dl>

                @*付款*@
                <dl class="dl-horizontal">
                    <dt>@T("Order.Payment.Method")：</dt>
                    <dd>@Model.PaymentMethod</dd>
                    @if (!Model.PrintMode)
                    {
                        <dt>@T("Order.Payment.Status")：</dt>
                        <dd>@Model.PaymentMethodStatus</dd>
                    }


                </dl>



                @*出貨配送狀態 (若無宅配商品不顯示)*@
                @if (Model.HasShippingOrderItem)
                {
                    @*寄件人資資訊*@
                    if (!Model.PaymentMethodSystemName.Equals("Payments.MyAccount"))
                    {
                        <dl class="dl-horizontal">
                            <dt>收件人：</dt>
                            <dd>@Model.ShippingAddress.FirstName</dd>
                            <dt>@T("Order.Email")：</dt>
                            <dd>@Model.ShippingAddress.Email</dd>

                            @if (Model.ShippingAddress.PhoneEnabled)
                            {
                                <dt>@T("Order.Phone")：</dt>
                                <dd>@(!string.IsNullOrEmpty(Model.ShippingAddress.PhoneNumber) ? CommonHelper.MaskString(Model.ShippingAddress.PhoneNumber) : "")</dd>
                            }

                            <dt>地址：</dt>
                            <dd>@Model.ShippingAddress.Address1</dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt>@T("Order.Shipping.Name")：</dt>
                            <dd>
                                <span>宅配</span>
                            </dd>
                            <dt>@T("Order.Shipping.Status")：</dt>
                            <dd>@Model.ShippingStatus</dd>
                        </dl>
                    }


                }
                else
                {

                }
                @*<dl class="dl-horizontal">

                        <dt>@T("Order.Shipping.Name")：</dt>
                        <dd>
                            @if (Model.PaymentMethodSystemName.Equals("Payments.MyAccount"))
                            {
                                <span>無須配送</span>
                            }
                            else
                            {
                                <span>@Model.ShippingMethod</span>
                            }
                        </dd>
                        <dt>@T("Order.Shipping.Status")：</dt>
                        <dd>@Model.ShippingStatus</dd>


                    </dl>*@
            </div>
        </div>

    </section>
    <div class="page-body">
        @Html.Widget("orderdetails_page_top", Model.Id)


        @if (Model.Items.Count > 0)
        {
            @Html.Widget("orderdetails_page_beforeproducts", Model.Id)
            <div class="section products" style="margin:0 0 10px;">
                <div class="title">
                    <strong>@T("Order.Product(s)")</strong>
                </div>
                <div class="table-wrapper">
                    <table class="data-table">
                        <colgroup>
                            <col />
                            @if (Model.ShowSku)
                            {
                                <col width="1" />
                            }
                            <col />
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span class="item-count">#</span>
                                </th>
                                @if (Model.ShowSku)
                                {
                                    <th class="sku" data-hide="w410, w480, w580, w768">
                                        @T("Order.Product(s).SKU")
                                    </th>
                                }
                                <th class="name">
                                    @T("Order.Product(s).Name")                                   
                                </th>
                                <th class="price" data-hide="w410, w480, w580" style="min-width:120px;">
                                    @T("Order.Product(s).Price")
                                </th>
                                <th class="quantity" data-hide="w410, w480, w580" style="min-width:90px;">
                                    @T("Order.Product(s).Quantity")
                                </th>
                                <th class="total" data-hide="w410" style="min-width:120px;">
                                    @T("Order.Product(s).Total")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var counter = 0;}
                            @foreach (var item in Model.Items)
                            {
                                counter++;
                                <tr>
                                    <td>
                                        <span class="item-count">@counter</span>
                                    </td>
                                    @if (Model.ShowSku)
                                    {
                                        <td class="sku">
                                            @item.Sku
                                        </td>
                                    }
                                        <td class="product">
                                            @if (!Model.PrintMode)
                                            {
                                                <em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>
                                            }
                                            else
                                            {
                                                @item.ProductName
                                            }
                                            @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                            {
                                                <div class="attributes">
                                                    @Html.Raw(item.AttributeInfo)
                                                </div>
                                            }
                                            @if (!String.IsNullOrEmpty(item.RentalInfo))
                                            {
                                                <div class="rental-info">
                                                    @Html.Raw(item.RentalInfo)
                                                </div>
                                            }
                                            @if (item.DownloadId > 0)
                                            {
                                                <div class="download">
                                                    <a href="@Url.RouteUrl("GetDownload", new { orderItemId = item.OrderItemGuid })">@T("DownloadableProducts.Fields.Download")</a>
                                                </div>
                                            }
                                            @if (item.LicenseId > 0)
                                            {
                                                <div class="download license">
                                                    <a href="@Url.RouteUrl("GetLicense", new {orderItemId = item.OrderItemGuid})">@T("DownloadableProducts.Fields.DownloadLicense")</a>
                                                </div>
                                            }
                                            @{
                                                //需信託的商品才會有資料
                                                if (item.TrustCardLogs != null && item.TrustCardLogs.Count > 0)
                                                {
                                                    foreach (var trust in item.TrustCardLogs)
                                                    {
                                                        if (trust.LogType == 10 && trust.ActType == 10 && trust.Status.Equals("Y"))
                                                        {
                                                            <div class="attributes">
                                                                電子禮券儲值信託完成
                                                            </div>
                                                        }

                                                        if (trust.LogType == 10 && trust.ActType == 10 && trust.Status.Equals("N"))
                                                        {
                                                            <div class="attributes">
                                                                電子禮券儲值信託失敗
                                                            </div>
                                                        }

                                                        if (trust.LogType == 20 && trust.ActType == 10 && trust.Status.Equals("Y"))
                                                        {
                                                            <div class="attributes">
                                                                套餐儲值信託完成
                                                            </div>
                                                        }

                                                        if (trust.LogType == 20 && trust.ActType == 10 && trust.Status.Equals("N"))
                                                        {
                                                            <div class="attributes">
                                                                套餐儲值信託失敗
                                                            </div>
                                                        }

                                                    }

                                                }
                                            }
                                            @Html.Widget("orderdetails_product_line", item.Id)
                                        </td>
                                    <td class="unit-price">
                                        @item.UnitPrice
                                    </td>
                                    <td class="quantity">
                                        @item.Quantity
                                    </td>
                                    <td class="total">
                                        @item.SubTotal
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @Html.Widget("orderdetails_page_afterproducts", Model.Id)

            <div class="section options" style="margin:0 0 10px;">
                @if (Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
                {
                    var inclTax = Model.PricesIncludeTax;
                    //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                    //of course, you can modify appropriate locales to include VAT info there
                    <div class="tax-shipping-info">
                        @T(inclTax ? "Order.TaxShipping.InclTax" : "Order.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                {
                    @*<div class="selected-checkout-attributes">
                            @Html.Raw(Model.CheckoutAttributeInfo)
                        </div>*@
                }
                @if (!Model.PrintMode)
                {
                    @*線下服務的訂單不要出現*@

                    if (!string.IsNullOrEmpty(Model.PaymentMethodSystemName) && !Model.PaymentMethodSystemName.Equals("Payments.MyAccount"))
                    {
                        <div class="actions" style="margin:10px 0 0;">
                            @if (Model.IsReOrderAllowed && !Model.PaymentMethodSystemName.Equals("Payments.MyAccount"))
                            {
                                <input type="button" value="@T("Order.Reorder")" class="button-1 re-order-button" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = Model.Id })    ')" />
                            }
                            @if (Model.IsReturnRequestAllowed)
                            {
                                <input type="button" value="@T("Order.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = Model.Id })    ')" />
                            }
                        </div>
                    }


                }
            </div>

            <div class="section totals">
                <div class="total-info">
                    <table class="cart-total">
                        <tbody>
                            <tr>
                                <td class="cart-total-left">
                                    <label>@T("Order.SubTotal"):</label>
                                </td>
                                <td class="cart-total-right">
                                    <span>@Model.OrderSubtotal</span>
                                </td>
                            </tr>
                            @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        @{
                                            if (Model.PaymentMethodSystemName.Equals("Payments.MyAccount"))
                                            {
                                                <label>電子禮券:</label>
                                            }
                                            else
                                            {
                                                <label>@T("Order.SubTotalDiscount"):</label>
                                            }
                                        }

                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.OrderSubTotalDiscount</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.IsShippable)
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <label>@T("Order.Shipping"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        @*<span>@Model.OrderShipping</span>*@
                                        @if (Model.OrderShipping.Trim().Length > 1)
                                        {
                                            <span>@(Model.OrderShipping)</span>
                                        }
                                        else
                                        {
                                            <span>@(Model.OrderShipping)0</span>
                                        }
                                    </td>
                                </tr>
                            }
                            @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <label>@T("Order.PaymentMethodAdditionalFee"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.PaymentMethodAdditionalFee</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                            {
                                foreach (var taxRate in Model.TaxRates)
                                {
                                    <tr>
                                        <td class="cart-total-left">
                                            <label>@string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):</label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span>@taxRate.Value</span>
                                        </td>
                                    </tr>
                                }
                            }
                            @if (Model.DisplayTax)
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <label>@T("Order.Tax"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.Tax</span>
                                    </td>
                                </tr>
                            }
                            @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <label>@T("Order.TotalDiscount"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.OrderTotalDiscount</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.GiftCards.Count > 0)
                            {
                                foreach (var gc in Model.GiftCards)
                                {
                                    <tr>
                                        <td class="cart-total-left">
                                            <label>@string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):</label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span>@gc.Amount</span>
                                        </td>
                                    </tr>
                                }
                            }
                            @if (Model.RedeemedRewardPoints > 0)
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <label>@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.RedeemedRewardPointsAmount</span>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td class="cart-total-left">
                                    <label>@T("Order.OrderTotal"):</label>
                                </td>
                                <td class="cart-total-right">
                                    <span><strong>@Model.OrderTotal</strong></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        @if (!Model.PrintMode)
        {
            if (Model.Shipments.Count > 0)
            {
                <div class="section shipments">
                    <div class="title">
                        <strong>@T("Order.Shipments")</strong>
                    </div>
                    <div class="table-wrapper">
                        <table class="data-table">
                            <colgroup>
                                <col width="1" />
                                <col width="1" />
                                <col />
                                <col />
                                <col />
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>
                                        <span class="item-count">#</span>
                                    </th>
                                    <th class="shipment-id" data-hide="w410, w480, w580, w768">
                                        @T("Order.Shipments.ID")
                                    </th>
                                    <th class="tracking-number">
                                        @T("Order.Shipments.TrackingNumber")
                                    </th>
                                    <th class="shipping-date" data-hide="w410, w480, w580">
                                        @T("Order.Shipments.ShippedDate")
                                    </th>
                                    <th class="delivery-date" data-hide="w410, w480, w580">
                                        @T("Order.Shipments.DeliveryDate")
                                    </th>
                                    <th class="view-details" data-hide="w410">
                                        @T("Order.Shipments.ViewDetails")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var counter = 0;}
                                @foreach (var item in Model.Shipments)
                                {
                                    counter++;
                                    <tr>
                                        <td>
                                            <span class="item-count">@counter</span>
                                        </td>
                                        <td class="shipment-id">
                                            @item.Id.ToString()
                                        </td>
                                        <td class="tracking-number">
                                            @item.TrackingNumber
                                        </td>
                                        <td class="shipped-date">
                                            @if (item.ShippedDate.HasValue)
                                            {
                                                @item.ShippedDate.Value.ToString("D")
                                            }
                                            else
                                            {
                                                @T("Order.Shipments.ShippedDate.NotYet")
                                            }
                                        </td>
                                        <td class="delivery-date">
                                            @if (item.DeliveryDate.HasValue)
                                            {
                                                @item.DeliveryDate.Value.ToString("D")
                                            }
                                            else
                                            {
                                                @T("Order.Shipments.DeliveryDate.NotYet")
                                            }
                                        </td>
                                        <td class="view-details">
                                            <a href="@Url.RouteUrl("ShipmentDetails", new { shipmentId = item.Id })" title="@T("Order.Shipments.ViewDetails")">@T("Order.Shipments.ViewDetails")</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
        @if (!Model.PrintMode)
        {
            if (Model.OrderNotes.Count > 0)
            {
                <div class="section order-notes">
                    <div class="title">
                        <strong>@T("Order.Notes")</strong>
                    </div>
                    <div class="table-wrapper">
                        <table class="data-table">
                            <colgroup>
                                <col />
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="created-on">
                                        @T("Order.Notes.CreatedOn")
                                    </th>
                                    <th class="note">
                                        @T("Order.Notes.Note")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderNotes)
                                {
                                    <tr>
                                        <td class="created-on">
                                            @item.CreatedOn.ToString()
                                        </td>
                                        <td class="note">
                                            @Html.Raw(item.Note)
                                            @if (item.HasDownload)
                                            {
                                                <p class="download">
                                                    <a href="@Url.RouteUrl("GetOrderNoteFile", new { ordernoteid = item.Id })">@T("Order.Notes.Download")</a>
                                                </p>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
        @Html.Widget("orderdetails_page_bottom", Model.Id)
    </div>
</div>
@Html.AntiForgeryToken()

<script>
 var map;
    $(document).ready(function () {


    });

    var bookingView = function (e) {

        //layer.open({
        //    title: '在线调试'
        //    , content: '可以填写任意的layer代码'
        //});

        var layerLoad = layer.load(2);

        var postData = {
            id: $(e).data("id")
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            data: postData,
            url: "@Url.Action("BookingDetail", "Booking")",
            dataType: 'json',
            success: function (data) {
                layer.close(layerLoad);
                if (data.status == "OK") {

                    var html = "<table>";
                    html += "<tr><td style='width:100px;'>廠商</td><td>" + data.item.BookingName + "</td></tr>";
                    if (data.item.BookingType == 1) {
                        html += "<tr><td>服務</td><td>套餐服務</td></tr>";
                    } else {
                        html += "<tr><td>服務</td><td>線下服務</td></tr>";
                    }
                    html += "<tr><td>地址</td><td>" + data.item.BookingAddress + "</td></tr>";
                    html += "<tr><td>電話</td><td>" + data.item.BookingPhone + "</td></tr>";
                    html += "<tr><td>預約時間</td><td>" + data.item.BookingTime + "</td></tr>";
                    html += "<tr><td>預約時段</td><td>" + data.item.BookingTimeSlot + "</td></tr>";
                    html += "<tr><td>建立時間</td><td>" + data.item.CreateBooking + "</td></tr>";
                    if (data.item.CheckStatus == "N") {
                        html += "<tr><td>預約狀態</td><td>預約完成</td></tr>";
                    } else if(data.item.CheckStatus == "A"){
                        html += "<tr><td>預約狀態</td><td>線下服務已完成待付款</td></tr>";
                    } else if (data.item.CheckStatus == "B") {
                        html += "<tr><td>預約狀態</td><td>結案</td></tr>";
                    }
                    html += "</table>";

                    var index = layer.open({
                        area: 'auto',
                        title: '預約資訊',
                        scrollbar: false,
                        btn: ['關閉'],
                        content: html
                    });
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                layer.close(layerLoad);
                alert('Failed to load reservation time.');
            }
        });


    }
</script>