﻿@model CustomerAddressModel


@Html.ValidationSummary(true)
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @*@Html.EditorFor(model => model.Address, "Address")*@


                    @if (Model.Address.CountryEnabled && Model.Address.StateProvinceEnabled)
                    {
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp2sgHJbLuJn8EW4PF3tAKoPLaCYgBbbY&libraries=places"></script>
                        <script type="text/javascript">

                            //function searchPlace() {
                            //    var geocoder = new google.maps.Geocoder();

                            //    geocoder.geocode({ 'address': '台北市忠孝東路五段'  }, function (results, status) {
                            //        if (status === google.maps.GeocoderStatus.OK) {
                            //            var location = results[0].geometry.location;
		                          //          // location.Pa 緯度
		                          //          // location.Qa 經度
                            //            alert(location.lat() + "," + location.lng());
                            //        } else {
                            //            alert('此位置無法定址');
                            //        }
                            //    });
                            //}

                            $(document).ready(function () {

                                @* load abc address *@

                                var currentCity = $("#_AbcAddressCity").val();
                                var currentArea = $("#_AbcAddressArea").val();
                                var currentRoad = $("#_AbcAddressRoad").val();

                                $.ajax({
                                    cache: false,
                                    type: "GET",
                                    url: "/api/v1/AbcAddress",
                                    data: { level:0, city:"", area:"" },
                                    success: function (data) {

                                        $.each(data, function (id, option) {
                                            if (currentCity == option.City) {
                                                $("#AbcAddressCity").append("<option value='" + option.City + "' selected>" + option.City + "</option>");
                                            } else {
                                                $("#AbcAddressCity").append($('<option></option>').val(option.City).html(option.City));
                                            }

                                        });
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Failed to retrieve City.');
                                    }
                                });

                                if (currentCity.length > 0) {
                                    $.ajax({
                                        cache: false,
                                        type: "GET",
                                        url: "/api/v1/AbcAddress",
                                        data: { level: 1, city: currentCity, area: "" },
                                        success: function (data) {
                                            $.each(data, function (id, option) {
                                                //$("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                                                if (currentArea == option.Area) {
                                                    $("#AbcAddressArea").append("<option value='" + option.Area + "' selected>" + option.Area + "</option>");
                                                } else {
                                                    $("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                                                }
                                            });
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert('Failed to retrieve City.');
                                        }
                                    });
                                }

                                if (currentCity.length > 0 && currentArea.length > 0) {
                                    $.ajax({
                                        cache: false,
                                        type: "GET",
                                        url: "/api/v1/AbcAddress",
                                        data: { level: 2, city: currentCity, area: currentArea },
                                        success: function (data) {
                                            $.each(data, function (id, option) {
                                                //$("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                                                if (currentRoad == option.Road) {
                                                    $("#AbcAddressRoad").append("<option value='" + option.Road + "' selected>" + option.Road + "</option>");
                                                } else {
                                                    $("#AbcAddressRoad").append($('<option></option>').val(option.Road).html(option.Road));
                                                }
                                            });
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert('Failed to retrieve City.');
                                        }
                                    });
                                }


                                @* load abc address *@

                                $("#formSubmit").click(function (event) {
                                    event.preventDefault();

                                    var input = {
                                        abcAddressFirstName: $("#AbcAddressFirstName").val(),
                                        abcAddressCompany: $("#AbcAddressCompany").val(),
                                        abcAddressEmail: $("#AbcAddressEmail").val(),
                                        abcAddressPhoneNumber: $("#AbcAddressPhoneNumbere").val(),
                                        abcAddressFaxNumber: $("#AbcAddressFaxNumber").val(),
                                        city: $("#AbcAddressCity").val(),
                                        area: $("#AbcAddressArea").val(),
                                        road: $("#AbcAddressRoad").val(),
                                        lane: $("#AbcAddressLane").val(),
                                        alley: $("#AbcAddressAlley").val(),
                                        num: $("#AbcAddressNum").val(),
                                        hyphen: $("#AbcAddressHyphen").val(),
                                        suite: $("#AbcAddressSuite").val(),
                                    };

                                    var error = "";
                                    if (input.abcAddressFirstName == "") {
                                        error += "請輸入聯絡人名稱\n";
                                    }
                                    if (input.abcAddressCompany == "") {
                                        error += "請輸入公司名稱\n";
                                    }
                                    if (input.city == "") {
                                        error += "請輸入縣市\n";
                                    }
                                    if (input.area == "") {
                                        error += "請輸入鄉鎮市區\n";
                                    }
                                    if (input.road == "") {
                                        error += "請輸入道路或街名或村里\n";
                                    }
                                    if (input.abcAddressPhoneNumber == "") {
                                        error += "請輸入連絡電話\n";
                                    }
                                    if (error.length > 0) {
                                        alert(error);
                                        return false;
                                    }

                                    var addressCollect = input.city + input.area + input.road;
                                    addressCollect += input.lane.length > 0 ? input.lane + "巷" : "";
                                    addressCollect += input.alley.length > 0 ? input.alley + "弄" : "";
                                    addressCollect += input.num.length > 0 ? input.num + "號" : "";
                                    addressCollect += input.hyphen.length > 0 ? input.hyphen + "樓" : "";
                                    addressCollect += input.suite.length > 0 ? input.suite + "室" : "";

                                    //alert(addressCollect);

                                    var geocoder = new google.maps.Geocoder();
                                    geocoder.geocode({ 'address': addressCollect }, function (results, status) {
                                        if (status === google.maps.GeocoderStatus.OK) {
                                            var location = results[0].geometry.location;
                                            //alert(location.lat() + "," + location.lng());
                                            $("#AbcAddressLatitude").val(location.lat());
                                            $("#AbcAddressLongitude").val(location.lng());
                                            //console.log(location.lat(), location.lng());
                                            $("form").submit();
                                        } else {
                                            //alert('此位置無法定址');
                                            //console.log(status);
                                            $("form").submit();
                                        }
                                    });

                                });

                                //country only taiwan
                                //var option = $("#Address_CountryId").find("option");
                                $("#@Html.FieldIdFor(model => model.Address.CountryId)").find("option").each(function () {

                                    var This = $(this);

                                    if (This.attr("value") == "77") {
                                        This.prop("selected", true);
                                    } else {
                                        This.remove();
                                    }

                                });


                                $("#@Html.FieldIdFor(model => model.Address.CountryId)").change(function () {
                                    var selectedItem = $(this).val();
                                    var ddlStates = $("#@Html.FieldIdFor(model => model.Address.StateProvinceId)");
                                    $.ajax({
                                        cache: false,
                                        type: "GET",
                                        url: "@(Url.Action("GetStatesByCountryId", "Country"))",
                                        data: { "countryId": selectedItem, "addSelectStateItem": "false" },
                                        success: function (data) {
                                            ddlStates.html('');
                                            $.each(data, function (id, option) {
                                                ddlStates.append($('<option></option>').val(option.id).html(option.name));
                                            });
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert('Failed to retrieve states.');
                                        }
                                    });
                                });
                            });

                            var changeCity = function (e) {

                                var elm = $(e);

                                $.ajax({
                                    cache: false,
                                    type: "GET",
                                    url: "/api/v1/AbcAddress",
                                    data: { level: 1, city: elm.val(), area: "" },
                                    success: function (data) {
                                        $("#AbcAddressArea").empty().append($('<option></option>').val("").html("請選擇"));
                                        $("#AbcAddressRoad").empty().append($('<option></option>').val("").html("請選擇"));
                                        $.each(data, function (id, option) {
                                            $("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                                        });
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Failed to retrieve City.');
                                    }
                                });

                            }

                            var changeArea = function (e) {

                                var elm = $(e);

                                $.ajax({
                                    cache: false,
                                    type: "GET",
                                    url: "/api/v1/AbcAddress",
                                    data: { level: 2, city: $("#AbcAddressCity").val(), area: elm.val() },
                                    success: function (data) {
                                        $("#AbcAddressRoad").empty().append($('<option></option>').val("").html("請選擇"));
                                        $.each(data, function (id, option) {
                                            $("#AbcAddressRoad").append($('<option></option>').val(option.Road).html(option.Road));
                                        });
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Failed to retrieve Area.');
                                    }
                                });

                            }



                        </script>
                    }

                    @Html.HiddenFor(model => model.Address.Id)
                    @Html.HiddenFor(model => model.Address.FirstNameEnabled)
                    @Html.HiddenFor(model => model.Address.FirstNameRequired)
                    @Html.HiddenFor(model => model.Address.LastNameEnabled)
                    @Html.HiddenFor(model => model.Address.LastNameRequired)
                    @Html.HiddenFor(model => model.Address.EmailEnabled)
                    @Html.HiddenFor(model => model.Address.EmailRequired)
                    @Html.HiddenFor(model => model.Address.CompanyEnabled)
                    @Html.HiddenFor(model => model.Address.CompanyRequired)
                    @Html.HiddenFor(model => model.Address.CountryEnabled)
                    @Html.HiddenFor(model => model.Address.StateProvinceEnabled)
                    @Html.HiddenFor(model => model.Address.CityEnabled)
                    @Html.HiddenFor(model => model.Address.CityRequired)
                    @Html.HiddenFor(model => model.Address.StreetAddressEnabled)
                    @Html.HiddenFor(model => model.Address.StreetAddressRequired)
                    @Html.HiddenFor(model => model.Address.StreetAddress2Enabled)
                    @Html.HiddenFor(model => model.Address.StreetAddress2Required)
                    @Html.HiddenFor(model => model.Address.ZipPostalCodeEnabled)
                    @Html.HiddenFor(model => model.Address.ZipPostalCodeRequired)
                    @Html.HiddenFor(model => model.Address.PhoneEnabled)
                    @Html.HiddenFor(model => model.Address.PhoneRequired)
                    @Html.HiddenFor(model => model.Address.FaxEnabled)
                    @Html.HiddenFor(model => model.Address.FaxRequired)

                    @*自訂台灣地址*@
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label" for="AbcAddressFirstName" title="">聯絡人名稱</label>
                                <div class="ico-help" title="輸入聯絡人名稱">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control text-box single-line" id="AbcAddressFirstName" name="AbcAddressFirstName" type="text" value="@Model.Address.FirstName">
                            <input id="_AbcAddressCity" name="_AbcAddressCity" type="hidden" value="@Model.Address.City">
                            <input id="_AbcAddressArea" name="_AbcAddressArea" type="hidden" value="@Model.Address.Area">
                            <input id="_AbcAddressRoad" name="_AbcAddressRoad" type="hidden" value="@Model.Address.Road">
                            <input id="AbcAddressLatitude" name="AbcAddressLatitude" type="hidden" value="">
                            <input id="AbcAddressLongitude" name="AbcAddressLongitude" type="hidden" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label" for="AbcAddressCompany" title="">公司名稱</label>
                                <div class="ico-help" title="輸入公司名稱">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control text-box single-line" id="AbcAddressCompany" name="AbcAddressCompany" type="text" value="@Model.Address.Company">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label" for="AbcAddressEmail" title="">電子信箱</label>
                                <div class="ico-help" title="輸入電子信箱">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control text-box single-line" id="AbcAddressEmail" name="AbcAddressEmail" type="text" value="@Model.Address.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label" for="AbcAddressCity" title="">縣市</label>
                                <div class="ico-help" title="輸入縣市">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="AbcAddressCity" name="AbcAddressCity" onchange="changeCity(this);">
                                <option value="">請選擇</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label" for="AbcAddressArea" title="">鄉鎮市區</label>
                                <div class="ico-help" title="輸入鄉鎮市區">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="AbcAddressArea" name="AbcAddressArea" onchange="changeArea(this);">
                                <option value="" selected>請選擇</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label" for="AbcAddressRoad" title="">道路或街名或村里</label>
                                <div class="ico-help" title="輸入道路或街名或村里">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="AbcAddressRoad" name="AbcAddressRoad">
                                <option value="" selected>請選擇</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">

                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="float:left; width:8%;">
                                        <input class="form-control text-box single-line" id="AbcAddressLane" name="AbcAddressLane" type="text" value="@ViewBag.Lane">
                                    </div>
                                    <div style="float:left; padding:6px 15px 0 3px;">
                                        巷
                                    </div>
                                    <div style="float:left; width:8%;">
                                        <input class="form-control text-box single-line" id="AbcAddressAlley" name="AbcAddressAlley" type="text" value="@ViewBag.Alley">
                                    </div>
                                    <div style="float:left; padding:6px 15px 0 3px;">
                                        弄
                                    </div>
                                    <div style="float:left; width:8%;">
                                        <input class="form-control text-box single-line" id="AbcAddressNum" name="AbcAddressNum" type="text" value="@ViewBag.Num">
                                    </div>
                                    <div style="float:left; padding:6px 15px 0 3px;">
                                        號之
                                    </div>
                                    <div style="float:left; width:8%;">
                                        <input class="form-control text-box single-line" id="AbcAddressHyphen" name="AbcAddressHyphen" type="text" value="@ViewBag.Hyphen">
                                    </div>
                                    <div style="float:left; padding:6px 15px 0 3px;">
                                        樓之
                                    </div>
                                    <div style="float:left; width:8%;">
                                        <input class="form-control text-box single-line" id="AbcAddressSuite" name="AbcAddressSuite" type="text" value="@ViewBag.Suite">
                                    </div>
                                    <div style="float:left; padding:6px 15px 0 3px;">
                                        室
                                    </div>
                                    <div style="clear:left;"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label" for="AbcAddressPhoneNumber" title="">連絡電話</label>
                                <div class="ico-help" title="輸入連絡電話">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control text-box single-line" id="AbcAddressPhoneNumber" name="AbcAddressPhoneNumber" type="text" value="@Model.Address.PhoneNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label" for="AbcAddressFaxNumber" title="">傳真電話</label>
                                <div class="ico-help" title="輸入傳真電話">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control text-box single-line" id="AbcAddressFaxNumber" name="AbcAddressFaxNumber" type="text" value="@Model.Address.FaxNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label" for="AbcAddressOtherEmail" title="">附加Email通知</label>
                                <div class="ico-help" title="多個Email請以逗號','區隔">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control text-box single-line" id="AbcAddressOtherEmail" name="AbcAddressOtherEmail" type="text" value="@Model.Address.Address2">
                        </div>
                    </div>
                    @*擴充台灣地址*@

                    @if (Model.Address.FirstNameEnabled)
                    {
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Address.FirstName)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Address.FirstName)
                                @Html.ValidationMessageFor(model => model.Address.FirstName)
                            </div>
                        </div>
                    }
                    @if (Model.Address.LastNameEnabled)
                    {
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Address.LastName)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Address.LastName)
                                @Html.ValidationMessageFor(model => model.Address.LastName)
                            </div>
                        </div>
                    }
                    @if (Model.Address.EmailEnabled)
                    {
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Address.Email)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Address.Email)
                                @Html.ValidationMessageFor(model => model.Address.Email)
                            </div>
                        </div>
                    }
                    @if (Model.Address.CompanyEnabled)
                    {
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Address.Company)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Address.Company)
                                @Html.ValidationMessageFor(model => model.Address.Company)
                            </div>
                        </div>
                    }
                    @if (Model.Address.CountryEnabled)
                    {
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Address.CountryId)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownListFor(model => model.Address.CountryId, Model.Address.AvailableCountries)
                                @Html.ValidationMessageFor(model => model.Address.CountryId)
                            </div>
                        </div>
                    }
                    @if (Model.Address.CountryEnabled && Model.Address.StateProvinceEnabled)
                    {
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Address.StateProvinceId)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownListFor(model => model.Address.StateProvinceId, Model.Address.AvailableStates)
                                @Html.ValidationMessageFor(model => model.Address.StateProvinceId)
                            </div>
                        </div>
                    }
                    @if (Model.Address.CityEnabled)
                    {
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Address.City)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Address.City)
                                @Html.ValidationMessageFor(model => model.Address.City)
                            </div>
                        </div>
                    }
                    @if (Model.Address.StreetAddressEnabled)
                    {
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Address.Address1)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Address.Address1)
                                @Html.ValidationMessageFor(model => model.Address.Address1)
                            </div>
                        </div>
                    }
                    @if (Model.Address.StreetAddress2Enabled)
                    {
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Address.Address2)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Address.Address2)
                                @Html.ValidationMessageFor(model => model.Address.Address2)
                            </div>
                        </div>
                    }
                    @if (Model.Address.ZipPostalCodeEnabled)
                    {
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Address.ZipPostalCode)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Address.ZipPostalCode)
                                @Html.ValidationMessageFor(model => model.Address.ZipPostalCode)
                            </div>
                        </div>
                    }
                    @if (Model.Address.PhoneEnabled)
                    {
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Address.PhoneNumber)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Address.PhoneNumber)
                                @Html.ValidationMessageFor(model => model.Address.PhoneNumber)
                            </div>
                        </div>
                    }
                    @if (Model.Address.FaxEnabled)
                    {
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Address.FaxNumber)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Address.FaxNumber)
                                @Html.ValidationMessageFor(model => model.Address.FaxNumber)
                            </div>
                        </div>
                    }
                    @if (Model.Address.CustomAddressAttributes.Count > 0)
                    {
                        @Html.Partial("_AddressAttributes", Model.Address.CustomAddressAttributes)
                    }



                </div>
            </div>
        </div>
    </div>
</div>
