﻿

@{
    Html.AddCssFileParts("~/Content/bootstrap-iso.css");
    Html.AddCssFileParts("~/Content/calendar.css");
    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox.min.css");


    Html.AddScriptParts("~/Content/fancybox/jquery.fancybox.min.js");
    Html.AddScriptParts("~/Content/webkit/layer/layer.js");

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");



}


<div class="content-header clearfix">
    <h1 class="pull-left">
        @*@T("Admin.Customers.Customers")*@
        預約時段管理
        @if ((bool)ViewBag.IsGroup)
        {
            <small> - <i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("返回", "AdminAbcBookingList")</small>
        }

    </h1>
</div>


<section class="bootstrap-iso">
    <section style="width:100%;" class="myCalendarSection">
        <div class="container">
            <div class="tab_container">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form01" }))
                {
                    @Html.AntiForgeryToken()
                    <div style="display:none;">
                        <input type="hidden" id="serviceCustomerId" name="serviceCustomerId" value="@ViewBag.ServiceCustomerId" />
                        <input type="hidden" name="delayday" id="delayday" value="@ViewBag.DelayDay" />
                        <input type="hidden" name="canSunday" id="canSunday" value="@ViewBag.CanSunday" />
                        <button type="submit" id="resetDelayDay" name="resetDelayDay" class="btn btn-primary">submit</button>
                        <button type="submit" id="resetSunday" name="resetSunday" class="btn btn-primary">submit</button>
                    </div>
                    <div style="display: block; padding: 10px 15px; background: #fff; color: #333333; border-bottom: 2px solid #f0f0f0; margin-bottom:3px; font-size:large;">
                        店家名稱：@(ViewBag.ServiceCustomerName)
                    </div>
                    <div style="display: block;padding: 10px 15px;background: #fff;color: #333333;border-bottom: 2px solid #f0f0f0; margin-bottom:3px;">
                        <div>
                            <span>營業日自動鎖定設定：今天 + <strong>@ViewBag.DelayDay</strong>天</span>
                            <button type="button" class="btn btn-success btn-xs" onclick="resetDelayDayDo();">重設</button>
                        </div>
                        <div style="margin-top: 10px;">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="selectSunday" onclick="resetSundayDo();" @((int)ViewBag.CanSunday == 1 ? "checked" : "")> 星期日是否鎖定
                                </label>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="tab_container">
                <div style="display: block;padding: 10px 15px;background: #fff;color: #333333;border-bottom: 2px solid #f0f0f0; margin-bottom:3px;">
                    <span>選擇要鎖定的安裝日期及時段@*(@ViewBag.ServiceCustomerId)*@</span>

                </div>
            </div>
        </div>
    </section>
    <section style="width:100%; padding-top:0;" class="myCalendarSection">
        <div class="container account-page">
            <div class="tab_container">
                <div style="display: block;padding: 10px 15px;background: #fff;color: #333333;border-bottom: 2px solid #f0f0f0; margin-bottom:3px;">
                    <div style="float:left; width:20%;">
                        <button type="button" class="btn btn-default" onclick="lastMonth();"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> 上個月</button>
                    </div>
                    <div style="float:left; width:60%; text-align:center;">
                        <button type="button" class="btn btn-default" disabled><span id="current_date"></span></button>
                    </div>
                    <div style="float:left; width:20%; text-align:right;">
                        <button type="button" class="btn btn-default" onclick="nextMonth();">下個月 <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
                    </div>
                    <div style="clear:both;"></div>

                </div>
            </div>
        </div>
    </section>
    <section style="width:100%; padding-top:0; padding-bottom:50px;" class="myCalendarSection">
        <div class="container">
            <div class="tab_container">
                <div class="myCalendarWrap">
                    <div class="myCalendar" style="min-height:500px;">
                        <div id="calendar-wrap">
                            <div id="calendar" class="bootstrap-iso">
                                <ul class="weekdays">
                                    <li>星期日</li>
                                    <li>星期一</li>
                                    <li>星期二</li>
                                    <li>星期三</li>
                                    <li>星期四</li>
                                    <li>星期五</li>
                                    <li>星期六</li>
                                </ul>

                                <!-- Days from previous month -->



                            </div><!-- /. calendar -->
                        </div><!-- /. wrap -->

                        <div style="clear:both"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Modal -->
<div style="display:none; width:500px;" id="hidden-content">
    <h2>選擇預約時段</h2>
    <div style="padding:15px 0 15px 0; border-bottom:1px solid #d0cbcb">
        09:00~10:30
    </div>
    <div style="padding:15px 0 15px 0; border-bottom:1px solid #d0cbcb">
        10:30~12:00
    </div>
    <div style="padding:15px 0 15px 0; border-bottom:1px solid #d0cbcb">
        13:00~14:30
    </div>
    <div style="padding:15px 0 15px 0; border-bottom:1px solid #d0cbcb">
        14:30~16:00
    </div>
    <div style="padding:15px 0 15px 0; border-bottom:1px solid #d0cbcb">
        16:00~17:30
    </div>
</div>

<div style="display:none; max-width:600px; cursor:default;" id="trueModal">
    <h2>I'm a modal!</h2>
    <p>You can close me only by pressing custom button below.</p>
    <p>It would also be possible to prevent closing using `beforeClose` callback.</p>
    <p>
        <button data-fancybox-close class="button-1">Close me</button>
    </p>
</div>

<div class="bootstrap-iso" style="display:none; max-width:600px; cursor:default;" id="timeSlotModal">

</div>

<script>
    var map;
    $(document).ready(function () {

        createCalendar();

    });

    var week = function (i) {
        if (i % 7 == 0) {
            return " (日)";
        } else if (i % 7 == 1) {
            return " (一)";
        } else if (i % 7 == 2) {
            return " (二)";
        } else if (i % 7 == 3) {
            return " (三)";
        } else if (i % 7 == 4) {
            return " (四)";
        } else if (i % 7 == 5) {
            return " (五)";
        } else if (i % 7 == 6) {
            return " (六)";
        }
    }

    var now = new Date();
    var date = new Date();//當天


    //var edate = new Date($("#ecDate").val());
    var edate = new Date();//Test
    edate.setDate(edate.getDate() + 14);

    var m = edate.getFullYear() + '-' + (edate.getMonth() + 1) + '-' + edate.getDate();

    function createCalendar() {

        $(".day").remove();
        $(".myCalendarSection").show();

        var shopCode = $("#serviceCustomerId").val();
        console.log("shopCode", shopCode);

        var strCalendar = "";

        // 每月日數陣列
        var monthDays = new Array(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);

        // 閏年判斷
        mYear = date.getFullYear();
        if (((mYear % 4 == 0) && (mYear % 100 != 0)) || (mYear % 400 == 0)) monthDays[1] = 29;

        // 設定日期為該月第一天
        date.setDate(1);

        // 該月第一天的星期
        var day = date.getDay();

        // 計算秀出時需要的格數
        var total = monthDays[date.getMonth()] + day;
        var totalCells = total + (total % 7 ? 7 - total % 7 : 0);

        var html = '';
        for (var i = 0; i < totalCells; i++) {

            if (i % 7 == 0) {
                html += '<ul class="days">';
            }

            if (i >= day && i < total) {
                var tempDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/";
                var whichDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + ((i - day) + 1);
                var currDate = new Date(whichDate);
                var nowDate = new Date(now.getFullYear() + "/" + (now.getMonth() + 1) + "/" + now.getDate());

                if (currDate.getTime() < nowDate.getTime()) {
                    html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                    html += "<div class='date'><span class='badge badge-pill badge-secondary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                    html += "<br style='clear:both;' /><div class='booking'></div>";
                    html += "</li>";
                } else if (currDate.getTime() > nowDate.getTime()) {

                    //var d3 = (currDate - nowDate) / 86400000;
                    //if (d3 <= 14) {
                    //    html += "<li style='position:relative;' class='day canUse' data-code='" + shopCode + "' data-date='" + whichDate + "' onclick='gotoBooking(this);'>";
                    //    html += "<div class='date'><span class='badge badge-pill badge-primary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                    //    html += "<button type='button' class='btn btn-info btn-sm fullDate' style='position: absolute; right:5px; top:5px;'>選擇時段</button>";
                    //    html += "<br style='clear:both;' /><div class='booking'></div>";
                    //    html += "</li>";
                    //} else {
                    //    html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                    //    html += "<div class='date'><span class='badge badge-pill badge-secondary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                    //    html += "<br style='clear:both;' /><div class='booking'></div>";
                    //    html += "</li>";
                    //}
                    if (currDate.getTime() <= edate.getTime()) {
                        html += "<li style='position:relative;' class='day canUse' data-code='" + shopCode + "' data-date='" + whichDate + "' onclick='gotoBooking(this);'>";
                        html += "<div class='date'><span class='badge badge-pill badge-primary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                        html += "<button type='button' class='btn btn-info btn-sm fullDate' style='position: absolute; right:5px; top:5px; display:none;'>選擇時段</button>";
                        html += "<br style='clear:both;' /><div class='booking'></div>";
                        html += "</li>";

                    } else {
                        //html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                        //html += "<div class='date'><span class='badge badge-pill badge-secondary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                        //html += "<br style='clear:both;' /><div class='booking'></div>";
                        //html += "</li>";
                        html += "<li style='position:relative;' class='day canUse' data-code='" + shopCode + "' data-date='" + whichDate + "' onclick='gotoBooking(this);'>";
                        html += "<div class='date'><span class='badge badge-pill badge-primary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                        html += "<button type='button' class='btn btn-info btn-sm fullDate' style='position: absolute; right:5px; top:5px; display:none;'>選擇時段</button>";
                        html += "<br style='clear:both;' /><div class='booking'></div>";
                        html += "</li>";
                    }

                } else if (currDate.getTime() == nowDate.getTime()) {
                    html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                    html += "<div class='date'><span class='badge badge-pill badge-info'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                    html += "<br style='clear:both;' /><div class='booking'></div>";
                    html += "</li>";
                }


            }
            else {
                html += "<li class='day other-month'>";
                html += "<div class='date'>-</div>";
                html += "<br style='clear:both;' /><div class='booking'></div>";
                html += "</li>";
            }

            if (i % 7 == 6) {
                html += "</ul>";
            }

        }
        $("#calendar").append(html);

        $("#current_date").html("<strong>" + date.getFullYear() + "年" + (date.getMonth() + 1) + "月</strong>");

        listBooking(shopCode);//顯示已被預約時間
    }

    var lastMonth = function () {

        //alert(date.getMonth());

        var m = date.getMonth();

        if (m == 0) {
            date.setFullYear(date.getFullYear() - 1);
            date.setMonth(11);
        } else {
            date.setMonth(m - 1);
        }

        createCalendar();
    }

    var nextMonth = function () {

        var m = date.getMonth();

        if (m == 11) {
            date.setFullYear(date.getFullYear() + 1);
            date.setMonth(0);
        } else {
            date.setMonth(m + 1);
        }

        createCalendar();

    }

    var listBooking = function (shopCode) {

        $("li.day").each(function () {

            //console.log($(this).data("date"));
            var elm = $(this);
            var x = elm.data("date");

            if (x === undefined) {

            } else {
                //console.log("/api/v1/StoreBookingApi?shopAddressId=0&reservationDate=" + $(this).data("date") + "&shopCode=" + shopCode);
                $.ajax({
                    cache: false,
                    type: "GET",
                    data: { reservationDate: $(this).data("date"), shopCode: shopCode },
                    url: "@Url.Action("BookingList", "ServiceVendor")",
                    dataType: 'json',
                    success: function (data) {

                        if (data.status == "OK") {
                            var html = "";
                            for (var i = 0; i < data.datas.length; i++) {
                                if (data.datas[i].status == "N") {
                                    if (data.datas[i].typeBy == 0) {
                                        html += "<div style='font-size:12px; color:red;'>" + data.datas[i].timeStart + "<span style='color:#999999;'> (鎖定預約)</span></div>";

                                    }else{
                                        html += "<div style='font-size:12px; color:red;'>" + data.datas[i].timeStart + "<span style='color:#999999;'> (已預約)</span></div>";
                                    }

                                }

                            }
                            $("div.booking", elm).html(html);
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //alert('Failed to load reservation time.');
                    }
                });
                //$("div.booking", elm).html("<div style='font-size:12px; color:red;'>" + $(this).data("date") + "</div>");
                //console.log($(this).data("date"));
            }

        });
    }

    var gotoBooking = function (e) {

        $("#timeSlotModal").empty();
        $.fancybox.open({
            src: '#timeSlotModal',
            type: 'inline',
            opts: {
                afterShow: function (instance, current) {
                    //console.info('done!');

                    $.ajax({
                        cache: false,
                        type: "GET",
                        data: { reservationDate: $(e).data("date"), shopCode: $(e).data("code") },
                        url: "@Url.Action("BookingList", "ServiceVendor")",
                        dataType: 'json',
                        success: function (data) {

                            if (data.status == "OK") {
                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:500px;'><h4>請選擇 " + data.date + " 鎖定時段</h4></div>"
                                html += "<table class='table table-sm table-hover account-page'>";
                                html += "<thead class='thead-light'>";
                                html += "<tr>";
                                html += "<th scope='col'>時段</th>";
                                html += "<th scope='col'>狀態</th>";
                                html += "<th scope='col'>";
                                html += "<button type='button' class='btn btn-info' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='' onclick='bookingAllClick(this);'>全鎖</button>";
                                html += " <button type='button' class='btn btn-danger' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='' onclick='bookingAllDelClick(this);'>全刪</button>";
                                @*
                                var BookTp = false;
                                var DelBid = "";
                                var AddTim = "";
                                for (var i = 0; i < data.datas.length; i++) {
                                    if (data.datas[i].status == "Y") {
                                        if (AddTim != "") { AddTim += ","; }
                                        AddTim += data.datas[i].timeStart;
                                    } else {
                                        if (data.datas[i].typeBy == 2) {
                                            BookTp = true;
                                            if (DelBid != "") { DelBid += ","; }
                                            DelBid += data.datas[i].bid;

                                            if (AddTim != "") { AddTim += ","; }
                                            AddTim += data.datas[i].timeStart;
                                        }
                                    }
                                }
                                if (BookTp == false) {
                                    html += "<button type='button' class='btn btn-info' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + AddTim + "' onclick='bookingClick(this);'>鎖定全部預約</button></th>";
                                } else {
                                    html += "<button type='button' class='btn btn-danger' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + AddTim + "' data-bid='" + DelBid + "' onclick='bookingDelClick(this);'>刪除全部鎖定</button></th>";
                                }
                                *@
                                html += "</th>";
                                html += "</tr>";
                                html += "</thead>";
                                html += "<tbody>";
                                for (var i = 0; i < data.datas.length; i++) {

                                    html += "<tr>";
                                    html += "<td>" + data.datas[i].timeStart + " ~ " + data.datas[i].timeEnd + "</td>";
                                    if (data.datas[i].status == "Y") {
                                        html += "<td>可預約</td>";
                                        html += "<td style='padding:5px;'><button type='button' class='btn btn-info' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' onclick='bookingClick(this);'>鎖定預約</button></th>";
                                    } else {
                                        if (data.datas[i].typeBy == 0) {
                                            html += "<td>不可預約</td>";
                                            html += "<td style='padding:5px;'><button type='button' class='btn btn-danger' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' data-bid='" + data.datas[i].bid + "' onclick='bookingDelClick(this);'>刪除鎖定</button></th>";

                                        } else {
                                            html += "<td>不可預約</td>";
                                            html += "<td style='padding:5px;'><button type='button' class='btn btn-default' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' data-bid='" + data.datas[i].bid + "' disabled>已預約</button></th>";
                                        }
                                    }
                                    html += "</tr>";
                                }
                                html += "</tbody>";
                                html += "</table>";
                                $("#timeSlotModal").append(html);
                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            //alert('Failed to load reservation time.');
                        }
                    });
                }
            }
        });
    }

    var bookingClick = function (e) {

        var postData = { reservationDate: $(e).data("date"), shopCode: $(e).data("code"), time: $(e).data("time")};
        addAntiForgeryToken(postData);

        $.fancybox.close();
        $.ajax({
            cache: false,
            type: "GET",
            data: postData,
            url: "@Url.Action("BookingInsert", "ServiceVendor")",
            dataType: 'json',
            success: function (json) {

                if (json.status == "OK") {
                    alert("鎖定完成");
                    location.reload();
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to load reservation time.');
            }
        });

    }

    var bookingAllClick = function (e) {

        var postData = { reservationDate: $(e).data("date"), shopCode: $(e).data("code"), time: $(e).data("time")};
        addAntiForgeryToken(postData);

        $.fancybox.close();
        $.ajax({
            cache: false,
            type: "GET",
            data: postData,
            url: "@Url.Action("BookingInsertALL", "ServiceVendor")",
            dataType: 'json',
            success: function (json) {

                if (json.status == "OK") {
                    alert("鎖定完成");
                    location.reload();
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to load reservation time.');
            }
        });

    }

    var bookingDelClick = function (e) {

        var postData = { reservationDate: $(e).data("date"), shopCode: $(e).data("code"), time: $(e).data("time"), bid: $(e).data("bid") };
        addAntiForgeryToken(postData);

        $.fancybox.close();
        $.ajax({
            cache: false,
            type: "GET",
            data: postData,
            url: "@Url.Action("BookingDelete", "ServiceVendor")",
            dataType: 'json',
            success: function (json) {

                if (json.status == "OK") {
                    alert("解除完成");
                    location.reload();
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to load reservation time.');
            }
        });

    }

    var bookingAllDelClick = function (e) {

        var postData = { reservationDate: $(e).data("date"), shopCode: $(e).data("code"), time: $(e).data("time"), bid: $(e).data("bid") };
        addAntiForgeryToken(postData);

        $.fancybox.close();
        $.ajax({
            cache: false,
            type: "GET",
            data: postData,
            url: "@Url.Action("BookingDeleteALL", "ServiceVendor")",
            dataType: 'json',
            success: function (json) {

                if (json.status == "OK") {
                    alert("解除完成");
                    location.reload();
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to load reservation time.');
            }
        });

    }

    var resetDelayDayDo = function () {

        layer.open({
            title: '請輸入自動鎖定天數'
            , content: '<input type="text" class="form-control" id="_delayday" placeholder="0">'
            , btn: ['確定', '取消']
            , yes: function (index) {
                layer.close(index);
                //alert($("#_OrderTotal").val());
                var d = $("#_delayday").val();
                if (!$.isNumeric(d) || parseInt(d) <= 0 ) {
                    layer.alert('只能是數字並大於0天', { title: '通知' });
                } else {
                    $("#delayday").val($("#_delayday").val());
                    $("#resetDelayDay").trigger('click');
                }
            }
        });
    }

    var resetSundayDo = function () {

        if ($("#selectSunday").prop("checked")) {
            $("#canSunday").val("1");
            $("#resetSunday").trigger('click');
        } else {
            $("#canSunday").val("0");
            $("#resetSunday").trigger('click');
        }


    }

</script>

