﻿@model Nop.Admin.Models.Booking.AbcBookingModel

@{
    //Html.AddCssFileParts("~/Content/bootstrap-iso.css"); ;
    //Html.AppendCssFileParts("~/Content/bootstrap4/css/font-awesome.min.css");

    Html.AddCssFileParts("~/Administration/Content/layui/css/layui.css");

    Html.AddScriptParts("~/Administration/Content/layui/layui.js");
    //Html.AddScriptParts("~/Content/webkit/layer/layer.js");

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");

    string returnPage = ViewBag.IsGroup;
}

@Html.HiddenFor(x => x.BookingCustomerId)
@Html.HiddenFor(x => x.CustomerId)

<div class="content-header clearfix">
    <h1 class="pull-left">
        @*@T("Admin.Customers.Customers")*@
        預約工單管理 -

        @if (string.IsNullOrEmpty(returnPage))
        {
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("返回", "GroupAbcBookingList")</small>
        }
        else
        {
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("返回", "AbcBookingList")</small>
        }
    </h1>
</div>

<div class="content">
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form01" }))
            {
                @Html.AntiForgeryToken()

                <h3 style="font-family: Microsoft JhengHei;">工單資訊</h3>
                <hr />
                <div style="display:none;">
                    <input type="hidden" name="id" id="Id" value="@Model.Id" />
                    <input type="hidden" name="total" id="total" value="0" />
                    <button type="submit" id="deleteBooking" name="deleteBooking" class="btn btn-primary">刪除預約</button>
                    <button type="submit" id="completeBooking" name="completeBooking" class="btn btn-primary">輸入結帳金額</button>
                    <button type="submit" id="resetBooking" name="resetBooking" class="btn btn-primary">刪除重設</button>
                </div>
                <dl class="dl-horizontal" style="font-family: Microsoft JhengHei;">
                    <dt>工單編號：</dt>
                    <dd>@Model.Id</dd>
                    <dt>建立時間：</dt>
                    <dd>@(Model.CheckDateTime.ToString("yyyy-MM-dd HH:mm"))</dd>
                    <dt>預約日期：</dt>
                    <dd>@(Model.BookingTimeSlotStart.ToString("yyyy-MM-dd"))</dd>
                    <dt>預約時段：</dt>
                    <dd>@(Model.BookingTimeSlotStart.ToString("HH:mm")) ~ @(Model.BookingTimeSlotEnd.ToString("HH:mm"))</dd>
                    @if (Model.BookingType == 2)
                    {
                        <dt>服務項目：</dt>
                        <dd>依現場實際狀況</dd>
                    }
                    else
                    {
                        <dt>服務項目：</dt>
                        <dd>@Model.OrderItemName</dd>
                    }
                </dl>

                <dl class="dl-horizontal" style="font-family: Microsoft JhengHei; margin:20px 0;">
                    <dt>狀態處理：</dt>
                    <dd>

                        @{
                            if (Model.BookingStatus.Equals("Y") && Model.CheckStatus.Equals("N"))
                            {
                                <button type="button" class="btn btn-danger" onclick="modifyBookingDo();">修改客戶預約</button>
                                <button type="button" class="btn btn-danger" onclick="deleteBookingDo();">刪除客戶預約</button>
                                <div style="color:red; margin-top:6px;"> 注意：修改或刪除預約將影響客戶權益，請先聯絡客戶後再行刪除</div>
                            }
                            else if (Model.BookingStatus.Equals("Y") && Model.CheckStatus.Equals("Y"))
                            {
                                <span>已完成</span>
                            }
                            else
                            {
                                <span>處理中</span>
                            }

                        }
                    </dd>
                </dl>

                //線下核銷測試用
                @*if (Model.BookingType == 2)
                    {
                        <dl class="dl-horizontal">
                            <dt>完工核銷：</dt>
                            <dd>
                                @{
                                    if (Model.BookingStatus.Equals("Y") && Model.CheckStatus.Equals("A"))
                                    {
                                        <span style="color:blue;">等待電子禮券款中</span>
                                        <button type="button" class="btn btn-primary" onclick="resetBookingDo();">刪除重設</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" onclick="completeBookingDo();">輸入結帳金額</button>
                                    }

                                }

                            </dd>
                        </dl>
                    }*@



                <dl class="dl-horizontal" style="font-family: Microsoft JhengHei;">
                    <dt>店家名稱：</dt>
                    <dd>@Model.BookingCustomerName</dd>
                    <dt>店家地址：</dt>
                    <dd>@Model.BookingCustomerAddress</dd>
                    <dt>店家電話：</dt>
                    <dd>@Model.BookingCustomerPhone</dd>
                </dl>

                <dl class="dl-horizontal" style="font-family: Microsoft JhengHei; margin-top:20px;">
                    <dt>客戶編號：</dt>
                    <dd>@Model.CustomerId</dd>
                    <dt>客戶名稱：</dt>
                    <dd>@Model.CustomerName</dd>
                    <dt>聯絡電話：</dt>
                    <dd>@Model.CustomerPhone</dd>
                    <dt>電子信箱：</dt>
                    <dd>@Model.CustomerEmail</dd>
                </dl>


                @*<table>
                        <tbody>
                            <tr>
                                <td style="padding:5px 0;">編號：</td>
                                <td style="padding:5px 0;">@Model.Id</td>
                            </tr>

                        </tbody>

                    </table>
                    <h4>詳細資訊後續補上</h4>*@
            }


        </div>
    </div>
</div>


<div style="display:none; font-family: Microsoft JhengHei;" id="myCalendar">
    <div id="selectCalendar"></div>
</div>

<script>

    layui.use(['laydate', 'layer'], function () {

        var laydate = layui.laydate;
        var layer = layui.layer;

        laydate.render({
            elem: '#selectCalendar'
            , position: 'static'
            , showBottom: false
            , change: function (value, date) {

            }
            , done: function (value, date, endDate) {
                //console.log(value); @*//得到日期生成的值，如：2017-08-18*@
                //console.log(date); @*//得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}*@
                //console.log(endDate); @*//得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。*@

                layer.closeAll();

                var postData = {
                    reservationDate: value,
                    serviceId: $("#BookingCustomerId").val(),
                    customerId: $("#CustomerId").val(),
                    bookingId: $("#Id").val(),
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    data: postData,
                    url: "@Url.Action("BookingTimeSlotList", "ServiceVendor")",
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == "OK") {
                            var html = "<div style='font-family: Microsoft JhengHei; margin:15px 25px 0 25px;'>";
                            html += "<table class='table table-sm table-hover account-page'>";
                            html += "<thead class='thead-light'>";
                            html += "<tr>";
                            html += "<th scope='col'><strong>選擇 " + data.date + " 時段</strong></th>";
                            //html += "<th scope='col'>狀態</th>";
                            html += "<th scope='col'></th>";
                            html += "</tr>";
                            html += "</thead>";
                            html += "<tbody>";
                            for (var i = 0; i < data.datas.length; i++) {
                                html += "<tr>";
                                html += "<td style='padding-top:10px;'>" + data.datas[i].timeStart + " ~ " + data.datas[i].timeEnd + "</td>";
                                if (data.datas[i].status == "Y") {
                                    //html += "<td style='padding-top:10px;'>可預約</td>";
                                    html += "<td style='padding:5px;'><button type='button' class='btn btn-warning btn-sm' data-cid='" + postData.customerId + "' data-sid='" + postData.serviceId + "' data-date='" + postData.reservationDate + "' data-time='" + data.datas[i].timeStart + "' onclick='bookingConfirm(this);'>預約</button></td>";
                                } else {
                                    if (data.datas[i].myBooking == "Y") {
                                        //html += "<td style='padding-top:10px;'>不可預約</td>";
                                        html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-cid='" + postData.customerId + "' data-sid='" + postData.serviceId + "' data-date='" + postData.reservationDate + "' data-time='" + data.datas[i].timeStart + "' disabled>我的預約</button></td>";
                                    } else {
                                        //html += "<td style='padding-top:10px;'>不可預約</td>";
                                        html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-cid='" + postData.customerId + "' data-sid='" + postData.serviceId + "' data-date='" + postData.reservationDate + "' data-time='" + data.datas[i].timeStart + "' disabled>無法預約</button></td>";
                                    }

                                }
                                html += "</tr>";
                            }
                            html += "</tbody>";
                            html += "</table></div>";
                            //$("#timeSlotModal").append(html);

                            layer.open({
                                type: 1,
                                title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
                                content: html,
                                scrollbar: false,
                                move: false,
                                btn: ['取消']
                            });

                        } else if (data.status == "ERROR") {

                            var html = "<div style='font-family: Microsoft JhengHei; margin:25px;'><strong>" + data.message + "</strong></div>";

                            layer.open({
                                type: 1,
                                title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
                                content: html,
                                scrollbar: false,
                                move: false,
                                btn: ['確定'],
                                yes: function (index) {
                                    layer.close(index);
                                }
                            });
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to load reservation time.');
                    }
                });

            }
        });

    });

    var bookingConfirm = function (e) {

        var layer = layui.layer;
        layer.closeAll();

        var html = "<div style='margin:25px; font-family: Microsoft JhengHei;'><strong>請再次確認您要修改的預約日期時段是否正確<br />" + $(e).data("date") + " " + $(e).data("time") + "</strong></div>";
        html += "<div style='margin:25px;'>";
        //html += "<button type='button' class='btn btn-primary btn-sm' onclick='javascript:location.href=\"/login/checkoutasguest?returnUrl=/PartnerVendor/Detail/" + $("#PartnerVendorId").val() + "\";'>確認</button> ";
        html += "<button style='font-family: Microsoft JhengHei;' type='button' class='btn btn-primary btn-sm' data-cid='" + $(e).data("cid") + "' data-sid='" + $(e).data("sid") + "' data-date='" + $(e).data("date") + "' data-time='" + $(e).data("time") + "' onclick='bookingClick(this);'>確認預約</button> ";
        html += "<button style='font-family: Microsoft JhengHei;' type='button' class='btn btn-secondary  btn-sm' onclick='javascript:var layer = layui.layer;layer.closeAll();'>取消</button>";
        html += "</div>";

        layer.open({
            title: '<span style="font-family: Microsoft JhengHei;">確認預約</span>',
            content: html,
            type: 1,
            scrollbar: false,
            move: false,
        });
    }

    var bookingClick = function (e) {

        var layer = layui.layer;
        layer.closeAll();

        var postData = {
            date: $(e).data("date"),
            time: $(e).data("time"),
            serviceId: $(e).data("sid"),
            customerId: $(e).data("cid"),
            bookingId: $("#Id").val(),
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            data: postData,
            url: "@Url.Action("BookingToModify", "ServiceVendor")",
            dataType: 'json',
            success: function (data) {
                if (data.status == "OK") {

                    var html = "<div style='font-family: Microsoft JhengHei; margin:25px;'><strong>修改成功</strong></div>";

                    layer.open({
                        type: 1,
                        title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
                        content: html,
                        scrollbar: false,
                        move: false,
                        btn: ['確定'],
                        yes: function (index) {
                            location.reload();
                        }
                    });

                } else if (data.status == "ERROR") {

                    var html = "<div style='font-family: Microsoft JhengHei; margin:25px;'><strong>" + data.message + "</strong></div>";

                    layer.open({
                        type: 1,
                        title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
                        content: html,
                        scrollbar: false,
                        move: false,
                        btn: ['確定'],
                        yes: function (index) {
                            layer.close(index);
                        }
                    });
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to load reservation time.');
            }
        });


    }




    var modifyBookingDo = function () {

        var layer = layui.layer;
        layer.open({
            title: '<span style="font-family: Microsoft JhengHei;">修改預約</span>',
            type: 1,
            content: $('#myCalendar'),
            scrollbar: false,
            move: false
        });

    }


    var deleteBookingDo = function () {

        var layer = layui.layer;
        layer.open({
            title: '<span style="font-family: Microsoft JhengHei;">刪除預約</span>',
            content: '<strong style="font-family: Microsoft JhengHei;">確定要刪除？</strong>',
            scrollbar: false,
            move: false,
            btn: ['確定', '取消'],
            yes: function (index) {
                layer.close(index);
                $("#deleteBooking").trigger('click');
            }
        });
    }

    var completeBookingDo = function () {

        @*layer.prompt({
            formType: 0,
            value: '0',
            title: '請輸入使用電子禮券金額',
            area: ['800px', '350px']
        }, function (value, index, elem) {
            alert(value);
            layer.close(index);
        });*@
        layer.open({
            title: '請輸入使用電子禮券金額'
            , content: '<input type="text" class="form-control" id="_total" placeholder="0">'
            , btn: ['確定', '取消']
            , yes: function (index) {
                layer.close(index);
                //alert($("#_OrderTotal").val());
                if (!$.isNumeric($("#_total").val())) {
                    layer.alert('只能是數字', { title: '通知' });
                } else {
                    $("#total").val($("#_total").val());
                    $("#completeBooking").trigger('click');
                }
            }
        });
    }


    var resetBookingDo = function () {

        layer.open({
            title: '通知',
            content: '<strong>確定要執行刪除並重設？</strong>',
            scrollbar: false,
            move: false,
            btn: ['確定', '取消'],
            yes: function (index) {
                layer.close(index);
                $("#resetBooking").trigger('click');
            }
        });
    }

</script>