﻿@model abcOrderDetailsModel

@using Nop.Core
@using Nop.Core.Infrastructure;
@using Nop.Services.Configuration;
@{
    var kendoVersion = "2014.1.318";
    Layout = "~/Views/Shared/_AdminOrderBookingLayout.cshtml";

    Html.AppendCssFileParts("~/Administration/Themes/Pavilion/Content/css/styles.css");
    Html.AppendCssFileParts("~/Administration/Themes/Pavilion/Content/css/tables.css");
    Html.AppendCssFileParts("~/Administration/Themes/Pavilion/Content/css/mobile-only.css");
    Html.AppendCssFileParts("~/Administration/Themes/Pavilion/Content/css/480.css");
    Html.AppendCssFileParts("~/Administration/Themes/Pavilion/Content/css/768.css");
    Html.AppendCssFileParts("~/Administration/Themes/Pavilion/Content/css/1000.css");
    Html.AppendCssFileParts("~/Administration/Themes/Pavilion/Content/css/1280.css");
    Html.AppendCssFileParts("~/Plugins/SevenSpikes.Core/Styles/perfect-scrollbar.min.css");
    Html.AppendCssFileParts("~/Content/bootstrap4/css/font-awesome.min.css");
    Html.AppendCssFileParts("~/Content/bootstrap4/css/iso_bootstrap4.1.0.css");
    Html.AppendCssFileParts("~/Administration/Themes/Pavilion/Content/css/theme.custom-1.css?v=9");

    Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts("~/Scripts/public.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    //Html.AppendScriptParts("~/js/jquery-dateFormat.min.js");
    Html.AddScriptParts("~/Content/webkit/layer/layer.js");


    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
    //page class
    Html.AppendPageCssClassParts("html-order-details-page");

    var orderItem = Model.Items.FirstOrDefault();
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @*@T("Admin.Customers.Customers")*@
        服務供應商訂單管理 -
        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("返回", "AbcOrderList")</small>
    </h1>
</div>

<section class="bootstrap" style="background-color:transparent; font-family: Microsoft JhengHei; font-size:small;">
    <div class="row">
        <div class="col-xs-12">
            <div class="card mx-4 rounded-0">
                <div class="card-body">
                    <h3>服務訂單</h3>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>@T("Order.Order#")：</dt>
                        <dd>@(Model.Id) <small>(@(orderItem.OrderItemGuid.ToString("N")))</small></dd>
                        <dt>@T("Order.OrderDate")：</dt>
                        <dd>@Model.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")</dd>
                        <dt>@T("Order.OrderStatus")：</dt>
                        <dd>@Model.OrderStatus</dd>
                        @*<dt>發票號碼：</dt>
            <dd>@Model.InvNumber</dd>
            <dt>@T("Order.OrderTotal")：</dt>
            <dd><strong>@Model.OrderTotal</strong></dd>*@
                    </dl>

                    @*工單資訊*@
                    <dl class="dl-horizontal">
                        <dt>工單編號：</dt>
                        <dd><a href="javascript:;" data-id="@Model.AbcBookingId" onclick="bookingView(this);" class="btn btn-warning btn-xs" role="button">@Model.AbcBookingId</a></dd>
                    </dl>

                    @*購買人資訊*@
                    <dl class="dl-horizontal">
                        <dt>購買人：</dt>
                        <dd>@Model.BillingAddress.FirstName</dd>
                        <dt>@T("Order.Email")：</dt>
                        <dd>@Model.BillingAddress.Email</dd>

                        @if (Model.BillingAddress.PhoneEnabled)
                        {
                            <dt>@T("Order.Phone")：</dt>
                            <dd>@(!string.IsNullOrEmpty(Model.BillingAddress.PhoneNumber) ? CommonHelper.MaskString(Model.BillingAddress.PhoneNumber) : "")</dd>
                        }

                        <dt>地址：</dt>
                        <dd>@Model.BillingAddress.Address1</dd>
                    </dl>

                    @*付款*@
                    <dl class="dl-horizontal">
                        <dt>@T("Order.Payment.Method")：</dt>
                        <dd>@Model.PaymentMethod</dd>
                        @if (!Model.PrintMode)
                        {
                            <dt>@T("Order.Payment.Status")：</dt>
                            <dd>@Model.PaymentMethodStatus</dd>
                        }


                    </dl>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="bootstrap" style="background-color:transparent; margin-top:15px; font-family: Microsoft JhengHei; font-size:small;">
    <div class="row">
        <div class="col-xs-12">
            <div class="card mx-4 rounded-0">
                <div class="card-body">
                    <h3>服務項目</h3>
                    <hr />
                    @if (Model.Items.Count > 0)
                    {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>名稱</th>
                                <th>價格</th>
                                <th>數量</th>
                                <th>小計</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{var counter = 0;}
                            @foreach (var item in Model.Items)
                            {
                                counter++;
                                <tr>
                                    <td>
                                        <span>@counter</span>
                                    </td>
                                    <td>
                                        @if (!Model.PrintMode)
                                        {
                                            <em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>
                                        }
                                        else
                                        {
                                            @item.ProductName
                                        }
                                        @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                        {
                                            <div class="attributes">
                                                @Html.Raw(item.AttributeInfo)
                                            </div>
                                        }
                                        @if (!String.IsNullOrEmpty(item.RentalInfo))
                                        {
                                            <div class="rental-info">
                                                @Html.Raw(item.RentalInfo)
                                            </div>
                                        }
                                        @if (item.DownloadId > 0)
                                        {
                                            <div class="download">
                                                <a href="@Url.RouteUrl("GetDownload", new { orderItemId = item.OrderItemGuid })">@T("DownloadableProducts.Fields.Download")</a>
                                            </div>
                                        }
                                        @if (item.LicenseId > 0)
                                        {
                                            <div class="download license">
                                                <a href="@Url.RouteUrl("GetLicense", new {orderItemId = item.OrderItemGuid})">@T("DownloadableProducts.Fields.DownloadLicense")</a>
                                            </div>
                                        }
                                    </td>
                                    <td>
                                        @item.UnitPrice
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        @item.SubTotal
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                        
                    }

                </div>
            </div>
        </div>
    </div>

</section>

<script>
 var map;
    $(document).ready(function () {


    });

    var bookingView = function (e) {

        //layer.open({
        //    title: '在线调试'
        //    , content: '可以填写任意的layer代码'
        //});

        var layerLoad = layer.load(2);

        var postData = {
            bid: $(e).data("id")
        };
        //addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "GET",
            data: postData,
            url: "@Url.Action("BookingDetail", "ServiceVendor")" ,
            dataType: 'json',
            success: function (data) {
                layer.close(layerLoad);

                var html = "<table>";
                if (data.BookingType == 1) {
                    html += "<tr><td>服務類別</td><td>套餐服務</td></tr>";
                } else {
                    html += "<tr><td>服務類別</td><td>線下服務</td></tr>";
                }
                html += "<tr><td>客戶名稱</td><td>" + data.CustomerName + "</td></tr>";
                html += "<tr><td>客戶電話</td><td>" + data.CustomerPhone + "</td></tr>";
                html += "<tr><td>預約時間</td><td>" + data.BookingDate + "</td></tr>";
                html += "<tr><td>預約時段</td><td>" + data.BookingTimeSlotStart + " ~ " + data.BookingTimeSlotEnd + "</td></tr>";
                if (data.CheckStatus == "N") {
                    html += "<tr><td>預約狀態</td><td>預約完成</td></tr>";
                } else if(data.CheckStatus == "Y"){
                    html += "<tr><td>預約狀態</td><td>服務完成</td></tr>";
                } else{
                    html += "<tr><td>預約狀態</td><td>" + data.CheckStatus + "</td></tr>";
                }
                html += "</table>";

                var index = layer.open({
                    area: 'auto',
                    title: '預約資訊',
                    scrollbar: false,
                    btn: ['關閉'],
                    content: html
                });

    

            },
            error: function (xhr, ajaxOptions, thrownError) {
                layer.close(layerLoad);
                alert('Failed to load reservation time.');
            }
        });


    }
</script>

