﻿@model CustomerModel

@{


    Html.AddScriptParts("~/Content/webkit/layer/layer.js");


    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");
}


<div class="content-header clearfix">
    <h1 class="pull-left">
        @*@T("Admin.Customers.Customers")*@
        服務供應商訂單管理
    </h1>
</div>

<div class="content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="abcOrder-grid"></div>

            <script>
                    $(document).ready(function () {
                        $("#abcOrder-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetAbcOrderList", "ServiceVendor", new { customerId = Model.Id }))",
                                        type: "GET",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "Id",
                                title: "訂單編號@*@T("Admin.Customers.Customers.Orders.ID")*@",
                                width: 150
                            }, {
                                field: "OrderTotal",
                                title: "訂單金額@*@T("Admin.Customers.Customers.Orders.OrderTotal")*@",
                                width: 150
                            }, {
                                field: "OrderStatus",
                                title: "訂單狀態@*@T("Admin.Customers.Customers.Orders.OrderStatus")*@",
                                width: 200,
                                template: '<span class="grid-report-item ' +
                                                    '# if(OrderStatusId == 10) {# yellow #} #' +
                                                    '# if(OrderStatusId == 20) {# blue #} #' +
                                                    '# if(OrderStatusId == 30) {# green #} #' +
                                                    '# if(OrderStatusId == 40) {# red #} #' +
                                                    '">#=OrderStatus#</span>'
                            }, {
                                field: "PaymentStatus",
                                title: "付款狀態@*@T("Admin.Customers.Customers.Orders.PaymentStatus")*@",
                                width: 200
                            }, {
                                field: "ShippingStatus",
                                title: "預約單號@*@T("Admin.Customers.Customers.Orders.ShippingStatus")*@",
                                    width: 150,
                                    template: '<a href="javascript:;" data-id="#=ShippingStatus#" onclick="bookingView(this);" class="btn btn-warning btn-xs" role="button">#=ShippingStatus#</a>'
                            }, {
                                field: "StoreName",
                                title: "來源@*@T("Admin.Customers.Customers.Orders.Store")*@",
                                width: 200
                            }, {
                                field: "CreatedOn",
                                title: "@T("Admin.System.Log.Fields.CreatedOn")",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            }, {
                                field: "Id",
                                title: "@T("Admin.Common.View")",
                                width: 100,
                                template: '<a href="@Url.Content("~/Admin/servicevendor/abcorderdetail/")#=Id#">@T("Admin.Common.View")</a>'
                            }]
                        });
                    });
            </script>

        </div>
    </div>
</div>
@Html.AntiForgeryToken()



<script>
 var map;
    $(document).ready(function () {


    });

    var bookingView = function (e) {

        var layerLoad = layer.load(2);

        var postData = {
            bid: $(e).data("id")
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            data: postData,
            url: "@Url.Action("BookingDetail", "ServiceVendor")" ,
            dataType: 'json',
            success: function (data) {
                layer.close(layerLoad);

                var html = "<table>";
                if (data.BookingType == 1) {
                    html += "<tr><td>服務類別</td><td>套餐服務</td></tr>";
                } else {
                    html += "<tr><td>服務類別</td><td>線下服務</td></tr>";
                }
                html += "<tr><td>客戶名稱</td><td>" + data.CustomerName + "</td></tr>";
                html += "<tr><td>客戶電話</td><td>" + data.CustomerPhone + "</td></tr>";
                html += "<tr><td>預約時間</td><td>" + data.BookingDate + "</td></tr>";
                html += "<tr><td>預約時段</td><td>" + data.BookingTimeSlotStart + " ~ " + data.BookingTimeSlotEnd + "</td></tr>";
                if (data.CheckStatus == "N") {
                    html += "<tr><td>預約狀態</td><td>預約完成</td></tr>";
                } else if(data.CheckStatus == "Y"){
                    html += "<tr><td>預約狀態</td><td>服務完成</td></tr>";
                } else{
                    html += "<tr><td>預約狀態</td><td>" + data.CheckStatus + "</td></tr>";
                }
                html += "</table>";

                var index = layer.open({
                    area: 'auto',
                    title: '預約資訊',
                    scrollbar: false,
                    btn: ['關閉'],
                    content: html
                });



            },
            error: function (xhr, ajaxOptions, thrownError) {
                layer.close(layerLoad);
                alert('Failed to load reservation time.');
            }
        });


    }
</script>