﻿@model CustomerAddressModel

@{
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.Addresses.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.Customers.Addresses.AddNew") 
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Customers.Customers.Addresses.BackToCustomer").Text, "Edit", new { id = Model.CustomerId })</small>
        </h1>
        <div class="pull-right">
            <button type="submit" class="btn bg-blue" id="formSubmit">
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateAddress", Model)
}