﻿@using Nop.Core
@using Nop.Admin.Models.Booking
@model AbcBookingListModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");


    //var customer = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer;

}


<div class="content-header clearfix">
    <h1 class="pull-left">
        @*@T("Admin.Customers.Customers")*@
        群組預約管理
    </h1>
</div>

<div class="content">

    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">                           
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.VendorName)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.VendorName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-giftcards" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="abcOrder-grid"></div>

                    <script>
                    $(document).ready(function () {
                        $("#abcOrder-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetAdminAbcBookingList", "ServiceVendor"))",
                                        type: "GET",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "Id",
                                title: "店家編號",
                                width: 100
                            }, {
                                field: "BookingCustomerName",
                                title: "店家名稱",
                                template: '<small>#=BookingCustomerName#</small>'
                            },{
                                field: "Id",
                                title: "@T("Admin.Common.View")",
                                width: 100,
                                    template: '<a href="@Url.Content("~/Admin/servicevendor/AbcBookingManage/")#=Id#">@T("Admin.Common.View")</a>'
                            }]
                        });
                    });
                    </script>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#search-giftcards').click(function () {
                                var grid = $('#abcOrder-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });
                        });

                        @*$("#@Html.FieldIdFor(model => model.CouponCode)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-giftcards").click();
                                return false;
                            }
                        });*@

                        function additionalData() {
                            var data = {
                                ActivatedId: $('#@Html.FieldIdFor(model => model.ActivatedId)').val(),
                                OrderId: $('#@Html.FieldIdFor(model => model.OrderId)').val(),
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                VendorName: $('#@Html.FieldIdFor(model => model.VendorName)').val(),
                                BookingId: $('#@Html.FieldIdFor(model => model.BookingId)').val(),
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        
                    </script>

                </div>
            </div>

        </div>
    </div>


</div>