﻿@using Nop.Core
@using Nop.Admin.Models.Booking
@model AgentAbcBookingListModel

@{

    Html.AddCssFileParts("~/Administration/Content/layui_255/css/layui.css");

    Html.AddScriptParts("~/Administration/Content/layui_255/layui.js");

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");


    //var customer = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer;

}

@Html.HiddenFor(model => model.OrderId)
@Html.HiddenFor(model => model.OrderItemId)
@Html.Hidden("ServiceId")

<div class="content-header clearfix">
    <h1 class="pull-left">
        @*@T("Admin.Customers.Customers")*@
        代理預約預約管理 - 選擇店家 <small><i class="fa fa-arrow-circle-left"></i><a href="javascript: history.go(-1)">返回</a></small>
    </h1>
</div>

<div class="content">

    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.VendorName)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.VendorName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-giftcards" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="abcOrder-grid"></div>

                    <script>
                    $(document).ready(function () {
                        $("#abcOrder-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetAgentAbcBookingList", "ServiceVendor"))",
                                        type: "GET",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "Id",
                                title: "店家編號",
                                width: 100
                            }, {
                                field: "BookingCustomerName",
                                title: "店家名稱",
                                template: '<small>#=BookingCustomerName#</small>'
                            },{
                                field: "Id",
                                title: "預約",
                                width: 100,
                                    template: '<a href="javascript:;" data-vendor="#=Id#" onclick="agentBooking(this);">預約</a>'
                            }]
                        });
                    });
                    </script>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#search-giftcards').click(function () {
                                var grid = $('#abcOrder-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });
                        });

                        @*$("#@Html.FieldIdFor(model => model.CouponCode)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-giftcards").click();
                                return false;
                            }
                        });*@

                        function additionalData() {
                            var data = {
                                OrderId: $('#@Html.FieldIdFor(model => model.OrderId)').val(),
                                VendorName: $('#@Html.FieldIdFor(model => model.VendorName)').val(),
                                OrderItemId: $('#@Html.FieldIdFor(model => model.OrderItemId)').val(),
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }


                    </script>

                </div>
            </div>

        </div>
    </div>


</div>

<div style="display:none; font-family: Microsoft JhengHei;" id="myCalendar">
    <div id="selectCalendar"></div>
</div>

@Html.AntiForgeryToken()

<script>

    layui.use(['layer', 'laydate'], function () {
        var $ = layui.$
            , layer = layui.layer
            , laydate = layui.laydate;

        laydate.render({
            elem: '#selectCalendar'
            , position: 'static'
            , showBottom: false
            , change: function (value, date) {

            }
            , done: function (value, date, endDate) {
                //console.log(value); @*//得到日期生成的值，如：2017-08-18*@
                //console.log(date); @*//得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}*@
                //console.log(endDate); @*//得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。*@
                layer.closeAll();

                var postData = {
                    reservationDate: value,
                    serviceId: $("#ServiceId").val(),
                    orderId: $('#@Html.FieldIdFor(model => model.OrderId)').val(),
                    orderItemId: $('#@Html.FieldIdFor(model => model.OrderItemId)').val(),
                };
                addAntiForgeryToken(postData);

                //console.log(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    data: postData,
                    url: "@Url.Action("AgentBookingTimeSlotList", "ServiceVendor")",
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == "OK") {
                            var html = "<div style='font-family: Microsoft JhengHei; margin:15px 25px 0 25px;'>";
                            html += "<table class='table table-sm table-hover account-page'>";
                            html += "<thead class='thead-light'>";
                            html += "<tr>";
                            html += "<th scope='col'><strong>選擇 " + data.date + " 時段</strong></th>";
                            //html += "<th scope='col'>狀態</th>";
                            html += "<th scope='col'></th>";
                            html += "</tr>";
                            html += "</thead>";
                            html += "<tbody>";
                            for (var i = 0; i < data.datas.length; i++) {
                                html += "<tr>";
                                html += "<td style='padding-top:10px;'>" + data.datas[i].timeStart + " ~ " + data.datas[i].timeEnd + "</td>";
                                if (data.datas[i].status == "Y") {
                                    //html += "<td style='padding-top:10px;'>可預約</td>";
                                    html += "<td style='padding:5px;'><button type='button' class='btn btn-warning btn-sm' data-cid='" + postData.customerId + "' data-sid='" + postData.serviceId + "' data-date='" + postData.reservationDate + "' data-time='" + data.datas[i].timeStart + "' onclick='bookingConfirm(this);'>預約</button></td>";
                                } else {
                                    if (data.datas[i].myBooking == "Y") {
                                        //html += "<td style='padding-top:10px;'>不可預約</td>";
                                        html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-cid='" + postData.customerId + "' data-sid='" + postData.serviceId + "' data-date='" + postData.reservationDate + "' data-time='" + data.datas[i].timeStart + "' disabled>我的預約</button></td>";
                                    } else {
                                        //html += "<td style='padding-top:10px;'>不可預約</td>";
                                        html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-cid='" + postData.customerId + "' data-sid='" + postData.serviceId + "' data-date='" + postData.reservationDate + "' data-time='" + data.datas[i].timeStart + "' disabled>無法預約</button></td>";
                                    }

                                }
                                html += "</tr>";
                            }
                            html += "</tbody>";
                            html += "</table></div>";
                            //$("#timeSlotModal").append(html);

                            layer.open({
                                type: 1,
                                title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
                                content: html,
                                scrollbar: false,
                                move: false,
                                btn: ['取消']
                            });

                        } else if (data.status == "ERROR") {

                            var html = "<div style='font-family: Microsoft JhengHei; margin:25px;'><strong>" + data.message + "</strong></div>";

                            layer.open({
                                type: 1,
                                title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
                                content: html,
                                scrollbar: false,
                                move: false,
                                btn: ['確定'],
                                yes: function (index) {
                                    layer.close(index);
                                }
                            });
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to load reservation time.');
                    }
                });
                

                

            }
        });

    });

    var agentBooking = function (e) {

        $("#ServiceId").val($(e).data("vendor"));
        layer.open({
            title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
            type: 1,
            content: $('#myCalendar'),
            scrollbar: false,
            move: false
        });


    }


    var bookingConfirm = function (e) {

        var layer = layui.layer;
        layer.closeAll();

        var html = "<div style='margin:25px; font-family: Microsoft JhengHei;'><strong>請再次確認預約日期時段是否正確<br />" + $(e).data("date") + " " + $(e).data("time") + "</strong></div>";
        html += "<div style='margin:25px;'>";
        //html += "<button type='button' class='btn btn-primary btn-sm' onclick='javascript:location.href=\"/login/checkoutasguest?returnUrl=/PartnerVendor/Detail/" + $("#PartnerVendorId").val() + "\";'>確認</button> ";
        html += "<button style='font-family: Microsoft JhengHei;' type='button' class='btn btn-primary btn-sm' data-cid='" + $(e).data("cid") + "' data-sid='" + $(e).data("sid") + "' data-date='" + $(e).data("date") + "' data-time='" + $(e).data("time") + "' onclick='bookingClick(this);'>確認預約</button> ";
        html += "<button style='font-family: Microsoft JhengHei;' type='button' class='btn btn-secondary  btn-sm' onclick='javascript:var layer = layui.layer;layer.closeAll();'>取消</button>";
        html += "</div>";

        layer.open({
            title: '<span style="font-family: Microsoft JhengHei;">確認預約</span>',
            content: html,
            type: 1,
            scrollbar: false,
            move: false,
        });
    }

    var bookingClick = function (e) {

        var layer = layui.layer;
        layer.closeAll();

        var postData = {
            date: $(e).data("date"),
            time: $(e).data("time"),
            serviceId: $(e).data("sid"),
            orderId: $('#@Html.FieldIdFor(model => model.OrderId)').val(),
            orderItemId: $('#@Html.FieldIdFor(model => model.OrderItemId)').val(),
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            data: postData,
            url: "@Url.Action("BookingToCreate", "ServiceVendor")",
            dataType: 'json',
            success: function (data) {
                if (data.status == "OK") {

                    var html = "<div style='font-family: Microsoft JhengHei; margin:25px;'><strong>預約成功</strong></div>";

                    layer.open({
                        type: 1,
                        title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
                        content: html,
                        scrollbar: false,
                        move: false,
                        btn: ['確定'],
                        yes: function (index) {
                            //location.reload();
                            location.href = "@Url.Content("~/Admin/Order/BookingList/")";
                        }
                    });

                } else if (data.status == "ERROR") {

                    var html = "<div style='font-family: Microsoft JhengHei; margin:25px;'><strong>" + data.message + "</strong></div>";

                    layer.open({
                        type: 1,
                        title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
                        content: html,
                        scrollbar: false,
                        move: false,
                        btn: ['確定'],
                        yes: function (index) {
                            layer.close(index);
                        }
                    });
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to load reservation time.');
            }
        });


    }

</script>