﻿@using Nop.Admin.Models.Booking
@model GroupAbcBookingManageModel

@{
    Html.AddCssFileParts("~/Content/bootstrap-iso.css");
    Html.AddCssFileParts("~/Content/calendar.css");
    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox.min.css");
    Html.AddCssFileParts("~/Administration/Content/layui_255/css/layui.css");

    Html.AddScriptParts("~/Content/fancybox/jquery.fancybox.min.js");
    //Html.AddScriptParts("~/Content/webkit/layer/layer.js");
    Html.AddScriptParts("~/Administration/Content/layui_255/layui.js");

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");


}


<div class="content-header clearfix">
    <h1 class="pull-left">
        @*@T("Admin.Customers.Customers")*@
        群組預約時段管理
    </h1>
</div>

<div class="content">

    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div style="margin-bottom:10px;"><strong>選擇店家</strong></div>
                    <div id="test4" class="demo-transfer"></div>

                    <div style="text-align:center; margin:30px 0 15px 0;">

                        <button type="button" id="setGroupBooking" name="setGroupBooking" class="btn btn-primary" onclick="setGroupBooking();">設定選取店家與約時段</button>
                    </div>


                </div>
            </div>

            @*<div class="panel panel-default">
                    <div class="panel-body">


                    </div>
                </div>*@

        </div>
    </div>


</div>

<div style="display:none; font-family: Microsoft JhengHei;" id="myCalendar">
    <div id="selectCalendar"></div>
</div>

@Html.AntiForgeryToken()






<script>


    layui.use(['transfer', 'layer', 'util', 'laydate'], function () {
        var $ = layui.$
            , transfer = layui.transfer
            , layer = layui.layer
            , util = layui.util
            , laydate = layui.laydate;


        @*取出店家清單*@

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCustomerGroup", "ServiceVendor")",
            data: addAntiForgeryToken(),
            timeout: 15000,
            success: function (data) {

                transfer.render({
                    elem: '#test4'  //绑定元素
                    , title: ['全選', '全選']
                    , showSearch: true
                    , data: data
                    , width: '46%'
                    , id: 'test4' //
                    , text: { none: '無資料', searchNone: '搜尋不到資料' }
                    , onchange: function (data, index) {
                        //console.log(data); 
                        //console.log(index); 
                    }
                });


            },
            error: function () {
                layer.msg('讀取資料發生錯誤');
            },
            complete: function () {

            }
        });


        laydate.render({
            elem: '#selectCalendar'
            , position: 'static'
            , showBottom: false
            , change: function (value, date) {

            }
            , done: function (value, date, endDate) {
                //console.log(value); @*//得到日期生成的值，如：2017-08-18*@
                //console.log(date); @*//得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}*@
                //console.log(endDate); @*//得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。*@
                layer.closeAll();
                
                var html = "<div style='font-family: Microsoft JhengHei; margin:15px 25px 0 25px;'>";
                html += "<table class='table table-sm table-hover account-page'>";
                html += "<thead class='thead-light'>";
                html += "<tr>";
                html += "<th scope='col'><strong>日期：" + value + "</strong></th>";
                //html += "<th scope='col'>狀態</th>";
                html += "<th scope='col'>鎖定</th>";
                html += "<th scope='col'>非鎖定</th>";
                html += "<th scope='col'>不處理</th>";
                html += "</tr>";
                html += "</thead>";
                html += "<tbody>";

                html += "<tr>";
                html += "<td style='padding-top:10px;'>09:00 ~ 10:30</td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time1' value='10' title='鎖定'></td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time1' value='20' title='非鎖定'></td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time1' value='0' title='不處理' checked></td>";
                html += "</tr>";

                html += "<tr>";
                html += "<td style='padding-top:10px;'>10:30 ~ 12:00</td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time2' value='10' title='鎖定'></td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time2' value='20' title='非鎖定'></td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time2' value='0' title='不處理' checked></td>";
                html += "</tr>";

                html += "<tr>";
                html += "<td style='padding-top:10px;'>13:00 ~ 14:30</td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time3' value='10' title='鎖定'></td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time3' value='20' title='非鎖定'></td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time3' value='0' title='不處理' checked></td>";
                html += "</tr>";

                html += "<tr>";
                html += "<td style='padding-top:10px;'>14:30 ~ 16:00</td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time4' value='10' title='鎖定'></td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time4' value='20' title='非鎖定'></td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time4' value='0' title='不處理' checked></td>";
                html += "</tr>";

                html += "<tr>";
                html += "<td style='padding-top:10px;'>16:00 ~ 17:30</td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time5' value='10' title='鎖定'></td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time5' value='20' title='非鎖定'></td>";
                html += "<td style='padding-top:10px; text-align:center;'><input type='radio' name='time5' value='0' title='不處理' checked></td>";
                html += "</tr>";
                
                html += "</tbody>";
                html += "</table></div>";
                //$("#timeSlotModal").append(html);

                layer.open({
                    type: 1,
                    title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
                    content: html,
                    scrollbar: false,
                    maxWidth: 640,
                    move: false,
                    btn: ['確定', '取消'],
                    yes: function (index) {
                        layer.close(index);

                        var getData = transfer.getData('test4'); 
                        var vendors = [];
                        for (var i = 0; i < getData.length; i++) {
                            vendors.push(getData[i].value);
                        }

                        var postData = {
                            time1: $('input[name="time1"]:checked').val(),
                            time2: $('input[name="time2"]:checked').val(),
                            time3: $('input[name="time3"]:checked').val(),
                            time4: $('input[name="time4"]:checked').val(),
                            time5: $('input[name="time5"]:checked').val(),
                            vendors: vendors,
                            date: value,
                        };

                        //console.log(postData);

                        layer.open({
                            type: 1,
                            title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
                            content: "<div style='font-family: Microsoft JhengHei; margin:25px; color:red;'><strong>確定儲存？將覆蓋原有店家設定。</strong></div>",
                            scrollbar: false,
                            maxWidth: 640,
                            move: false,
                            btn: ['確定', '取消'],
                            yes: function (index) {
                                layer.close(index);
                                addAntiForgeryToken(postData);
                                //console.log(postData);
                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    data: postData,
                                    url: "@Url.Action("SetGroupBooking", "ServiceVendor")",
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data.status == "OK") {

                                            var html = "<div style='font-family: Microsoft JhengHei; margin:25px;'><strong>修改成功</strong></div>";

                                            layer.open({
                                                type: 1,
                                                title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
                                                content: html,
                                                scrollbar: false,
                                                move: false,
                                                btn: ['確定'],
                                                yes: function (index) {
                                                    location.reload();
                                                }
                                            });

                                        } else if (data.status == "ERROR") {

                                            var html = "<div style='font-family: Microsoft JhengHei; margin:25px;'><strong>" + data.message + "</strong></div>";

                                            layer.open({
                                                type: 1,
                                                title: '<span style="font-family: Microsoft JhengHei;">選擇預約時段</span>',
                                                content: html,
                                                scrollbar: false,
                                                move: false,
                                                btn: ['確定'],
                                                yes: function (index) {
                                                    layer.close(index);
                                                }
                                            });
                                        }

                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Failed to load reservation time.');
                                    }
                                });

                            }
                        });

                    }
                });
                

                

            }
        });

    });

    var setGroupBooking = function () {

        var transfer = layui.transfer;
        var layer = layui.layer;

        var getData = transfer.getData('test4'); 

        if (getData.length <= 0) {
            var html = "<div style='font-family: Microsoft JhengHei; margin:25px;'><strong>請先選擇店家</strong></div>";

            layer.open({
                type: 1,
                title: '<span style="font-family: Microsoft JhengHei;">群組預約設定</span>',
                content: html,
                scrollbar: false,
                move: false,
                btn: ['確定'],
                yes: function (index) {
                    layer.close(index);
                }
            });
        } else {

            layer.open({
                title: '<span style="font-family: Microsoft JhengHei;">群組預約設定</span>',
                type: 1,
                content: $('#myCalendar'),
                scrollbar: false,
                move: false
            });
        }
       
        

    }




</script>










