﻿
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");
}


    <div class="content-header clearfix">
        <h1 class="pull-left">
            @*@T("Admin.Customers.Customers")*@
            服務供應商帳號管理
        </h1>
    </div>

    <div class="content">
        <div class="panel panel-default">
            <div class="panel-body">
                

            </div>
        </div>
    </div>


