﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap4/css/iso_bootstrap4.1.0min.css" rel="stylesheet" />
    <style type="text/css">
        body .bootstrap {
            font-family: Microsoft JhengHei;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            /*height: 30px;*/
            padding: 10px;
            width: 100%;
            background: #999;
        }
    </style>


    <script src="~/Scripts/jquery-1.6.4.min.js"></script>


</head>
<body>

    <div class="bootstrap">
        <div class="container py-3">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="card border-secondary">
                        <div class="card-header">
                            Chat Test
                        </div>
                        @*<ul class="list-group list-group-flush">
                                <li class="list-group-item">開始聊聊</li>
                            </ul>*@
                        <div class="card-body">
                            <h5 class="card-title">商城線下核銷：消費者端</h5>
                            <p class="card-text">先建立連線取得connectionId後再產生QR Code</p>
                            <p class="card-text">
                                request
                                <ul>
                                    <li>orderId</li>
                                    <li>memberId</li>
                                </ul>
                            </p>
                            <p class="card-text">
                                response
                                <ul>
                                    <li>status</li>
                                    <li>connectionId</li>
                                </ul>
                            </p>
                            <a href="@Url.Action("Send","WebChat", new { orderId = "0000", memberId = 18384 })" class="btn btn-primary">連線測試</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
