﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap4/css/iso_bootstrap4.1.0min.css" rel="stylesheet" />
    <style type="text/css">
        body .bootstrap {
            font-family: Microsoft JhengHei;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            /*height: 30px;*/
            padding: 10px;
            width: 100%;
            background: #999;
        }
    </style>


    <script src="~/Scripts/jquery-1.6.4.min.js"></script>


</head>
<body>

    <div class="bootstrap">
        <div class="container py-3">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-9">
                    <div class="card border-secondary">
                        <div class="card-header">
                            電子禮券核銷測試程式
                        </div>
                        @*<ul class="list-group list-group-flush">
                                <li class="list-group-item">開始聊聊</li>
                            </ul>*@
                        <div class="card-body">

                            @using (Html.BeginForm("OfflineVendorSender", "WebChat", FormMethod.Post, new { id = "form01" }))
                            {
                            <h5 class="card-title">服務商端：Scan取得消費者加密資料，以及加密服務商自己的資料</h5>
                            <p class="card-text">
                                <div>
                                    BData
                                    <input type="text" name="BData" class="form-control" value="@ViewBag.BData">
                                </div>
                            </p>
                            <p class="card-text">
                                <div>
                                    BAESKey
                                    <input type="text" name="BAESKey" class="form-control" value="@ViewBag.BAESKey">
                                </div>
                            </p>
                            <p class="card-text">
                                <div>
                                    BAESIV
                                    <input type="text" name="BAESIV" class="form-control" value="@ViewBag.BAESIV">
                                </div>
                            </p>
                            <p class="card-text">
                                <div>
                                    CData
                                    <input type="text" name="CData" class="form-control" value="@ViewBag.CData">
                                </div>
                            </p>
                            <p class="card-text">
                                <div>
                                    CAESKey
                                    <input type="text" name="CAESKey" class="form-control" value="@ViewBag.CAESKey">
                                </div>
                            </p>
                            <p class="card-text">
                                <div>
                                    CAESIV
                                    <input type="text" name="CAESIV" class="form-control" value="@ViewBag.CAESIV">
                                </div>
                            </p>
                            <br />
                            <p>
                                <button type="submit" name="nextstep" class="btn btn-primary">進行核銷</button>
                            </p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
