﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap4/css/iso_bootstrap4.1.0min.css" rel="stylesheet" />
    <style type="text/css">
        body .bootstrap {
            font-family: Microsoft JhengHei;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            /*height: 30px;*/
            padding: 10px;
            width: 100%;
            background: #999;
        }
    </style>


    <script src="~/Scripts/jquery-1.6.4.min.js"></script>


</head>
<body>

    <div class="bootstrap">
        <div class="container py-3">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-9">
                    <div class="card border-secondary">
                        <div class="card-header">
                            電子禮券核銷測試程式
                        </div>
                        @*<ul class="list-group list-group-flush">
                                <li class="list-group-item">開始聊聊</li>
                            </ul>*@
                        <div class="card-body">

                            @using (Html.BeginForm("OfflineBuyerConnSignalr", "WebChat", FormMethod.Post, new { id = "form01" }))
                            {
                                <h5 class="card-title">消費者端：帶入相關參數，連線Signalr取得核銷碼</h5>
                                <p class="card-text">
                                    <div>
                                        1.輸入會員編號
                                        <input type="text" name="CustomerId" class="form-control" value="">
                                    </div>
                                </p>
                                <p class="card-text">
                                    <div>
                                        2.輸入預約單號
                                        <input type="text" name="BookingId" class="form-control" value="">
                                    </div>
                                </p>
                                <p class="card-text">
                                    <div>
                                        3.輸入電子禮券消費金額
                                        <input type="text" name="Amount" class="form-control" value="">
                                    </div>
                                </p>
                                <br />
                                <p>
                                    <button type="submit" name="nextstep" class="btn btn-primary">取得核銷碼</button>
                                </p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
