﻿@model Nop.Plugin.Widgets.GoogleGtmNoScript.Models.PublicInfoModel
@{
    Layout = "";
}
@using Nop.Web.Framework.UI
@using Nop.Core



@{

    if (!string.IsNullOrEmpty(CommonHelper.GetAppSettingValue("FixedHttpHost")))
    {
        <!--Production-->
        @*<noscript>
            <img height="1" width="1" src="https://www.facebook.com/tr?id=2126651677454053&ev=PageView&noscript=1" />
        </noscript>*@
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSJZRQM"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    }
    else
    {
        <!--Develop-->


    }











}





