﻿@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddCssFileParts("~/Content/bootstrap.min.css");
}
<div class="page news-list-page">
    <style>
        .hide {
            display: none !important;
        }

        .GridOrder-form {
            position: relative;
            width: 630px;
            text-align: left;
            font-family: 'Microsoft JhengHei';
        }

        .GridOrder-row {
            padding: 10px 0px;
        }

        .GridOrder-title {
            font-weight: bold;
            margin: 5px 0px;
        }

            .GridOrder-title span {
                display: inline-block;
                color: white;
                background-color: wheat;
                width: 25px;
                height: 25px;
                text-align: center;
                margin-right: 10px;
            }

        .GridOrder-label {
            margin-right: 20px;
            font-size: 18px;
        }

        .GridOrder-custom {
            font-size: 18px;
            text-align: left;
        }

            .GridOrder-custom input {
                margin-left: -10px;
                width: 60px;
                height: 25px;
            }

        .GridOrder-custom-block {
            margin: 5px 0px;
            display: block;
            color: red;
            font-weight: bold;
        }

        .GridOrder-custom-submit {
            background-color: red;
            width: 100px;
            height: 35px;
            color: white;
            line-height: 35px;
            border: none;
            border-radius: 3px;
            font-weight: bold;
            display: block;
        }

        label input[type=radio] + span {
            margin: 0 5px;
            color: white;
            border-radius: 3px;
            background-color: skyblue;
            height: 35px;
            width: 100px;
            line-height: 35px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
        }

        label input[type=radio]:checked + span {
            background-color: dodgerblue;
        }

        label input[type=radio]:disabled + span {
            background-color: gray;
        }

        @@media screen and (max-width: 1000px) {
            .GridOrder-form {
                margin: 0 auto;
            }

            .GridOrder-row {
                text-align: left;
                padding: 15px 0px;
            }

            .GridOrder-custom {
                display: inline-block;
            }

            .GridOrder-custom-block {
                text-align: center;
            }

            .GridOrder-custom-submit {
                margin: 0 auto;
                margin-top: 20px;
            }
        }
    </style>

    <script>

        // TODO 自選欄位的數值驗證

        $(document).ready(() => {
            $("input[name=grid]").change((event) => {
                $('input[name=grids]').val("");
                if ($(event.target).val() != "") {
                    $('#CountGrid').text($(event.target).val());
                } else {
                    $('#CountGrid').text(0);
                }
                Calculate();
            })
            $("input[name=day]").change((event) => {
                if ($(event.target).val() != "") {
                    $('#CountDay').text($(event.target).val());
                } else {
                    $('#CountDay').text(0);
                }
                Calculate();
            })
            $("input[name=grids]").on("keyup", (event) => {
                console.log($(event.target).val())
                if ($(event.target).val() != "") {
                    console.log("not equ ''")
                    $('#CountGrid').text($(event.target).val());
                } else {
                    console.log("equ ''")
                    $('#CountGrid').text(0);
                }
                $('input[name=grid]').each(function () {
                    $(this).attr("checked", false);
                });
                Calculate();
            })

        })

        function Calculate() {
            const grids = $('#CountGrid').text();
            const days = $('#CountDay').text();
            if (grids == 0 || days == 0) {
                set(0);
                return;
            }
            if (grids > 0 && grids <= 20) {
                if (days == 30) {
                    set(grids * 900);
                } else if (days == 180) {
                    set(grids * 4320);
                } else {
                    set(grids * 7200);
                }
            } else if (grids > 20 && grids <= 40) {
                if (days == 30) {
                    set(grids * 750);
                } else if (days == 180) {
                    set(grids * 3600);
                } else {
                    set(grids * 6000);
                }
            } else if (grids > 40 && grids <= 60) {
                if (days == 30) {
                    set(grids * 600);
                } else if (days == 180) {
                    set(grids * 2880);
                } else {
                    set(grids * 4800);
                }
            } else {
                if (days == 30) {
                    set(grids * 450);
                } else if (days == 180) {
                    set(grids * 2160);
                } else {
                    set(grids * 3600);
                }
            }
            return;
        }

        function set(value) {
            $('#CountTotal').text(value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            $('input[name=total]').val(value);
        }

    </script>

    <div class="page-title">
        車格購買
    </div>
    <div class="page-body">
        <form class="GridOrder-form">
            <h3 class="GridOrder-title"><span>1</span>選數量</h3>
            <div class="GridOrder-row">
                <span class="GridOrder-label">身份</span>
                <label for="store">
                    <input type="radio" class="hide" name="type" id="store" value="3" checked />
                    <span>車商</span>
                </label>
                <label for="person">
                    <input type="radio" class="hide" name="type" id="person" value="2" disabled />
                    <span>個人</span>
                </label>
            </div>
            <div class="GridOrder-row">
                <span class="GridOrder-label">快選</span>
                <label for="twenty">
                    <input type="radio" class="hide" name="grid" id="twenty" value="20" />
                    <span>20格</span>
                </label>
                <label for="forty">
                    <input type="radio" class="hide" name="grid" id="forty" value="40" />
                    <span>40格</span>
                </label>
                <label for="sixty">
                    <input type="radio" class="hide" name="grid" id="sixty" value="60" />
                    <span>60格</span>
                </label>
                <label for="eighty">
                    <input type="radio" class="hide" name="grid" id="eighty" value="80" />
                    <span>80格</span>
                </label>
                <label for="onehundred">
                    <input type="radio" class="hide" name="grid" id="onehundred" value="100" />
                    <span>100格</span>
                </label>
            </div>
            <div class="GridOrder-row">
                <span class="GridOrder-label">自選</span>
                <span class="GridOrder-custom">我想租　<input name="grids" type="text" /> 格車位</span>
            </div>
            <h3 class="GridOrder-title"><span>2</span>選天數</h3>
            <div class="GridOrder-row">
                <span class="GridOrder-label">天數</span>
                <label for="day1">
                    <input type="radio" class="hide" name="day" id="day1" value="30" />
                    <span>我想租30天</span>
                </label>
                <label for="day2">
                    <input type="radio" class="hide" name="day" id="day2" value="180" />
                    <span>我想租180天</span>
                </label>
                <label for="day3">
                    <input type="radio" class="hide" name="day" id="day3" value="360" />
                    <span>我想租360天</span>
                </label>
            </div>
            <h3 class="GridOrder-title"><span>3</span>價格計算</h3>
            <span class="GridOrder-custom">您選擇的是 <span id="CountGrid">0</span> 格車位, <span id="CountDay">0</span> 天</span>
            <span class="GridOrder-custom GridOrder-custom-block">小計 $ <span id="CountTotal">0</span> 元</span>
            <input class="hide" name="total" type="text" />
            <button class="GridOrder-custom-submit">加入購物車</button>
        </form>
    </div>
</div>