﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid" style="margin-top:15px;">
        <div style="height:55px; background-color:#d0021b;">
            <div style="float:left;">
                <img src="~/Content/new/images/2-copy.png" alt="" />
            </div>
            <div style="float:left; color:#ffffff; font-size:medium; padding:18px 0 0 20px;">
                <strong>@T("HomePage.Products")</strong>
            </div>
            <div style="clear:both;"></div>
        </div>

        <div class="title" style="padding-bottom:0;">
            @*<strong>@T("HomePage.Products")</strong>*@
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @Html.Partial("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}