﻿@model IList<ProductOverviewModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="product-grid cross-sells" style="margin-top:25px;">
        <div class="title">
            @*<strong>@T("ShoppingCart.CrossSells")</strong>*@
            <strong>加購專區</strong>
        </div>
        <div class="item-grid">
            @foreach (var product in Model.OrderBy(x=> x.ProductPrice.PriceValue))
            {
                <div class="item-box item-box-new">
                    @Html.Partial("_MyProductBox", product)
                </div>
            }
        </div>
    </div>
}