﻿@model AddressModel
@using Nop.Web.Models.Common;
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(document).ready(function () {
            @*$("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });*@
        });

        $(document).ready(function () {

            @* load abc address *@

            var currentCity = $("#_AbcAddressCity").val();
            var currentArea = $("#_AbcAddressArea").val();
            var currentRoad = $("#_AbcAddressRoad").val();

            $.ajax({
                cache: false,
                type: "GET",
                url: "/api/v1/AbcAddress",
                data: { level:0, city:"", area:"" },
                success: function (data) {

                    $.each(data, function (id, option) {
                        if (currentCity == option.City) {
                            $("#AbcAddressCity").append("<option value='" + option.City + "' selected>" + option.City + "</option>");
                        } else {
                            $("#AbcAddressCity").append($('<option></option>').val(option.City).html(option.City));
                        }

                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve City.');
                }
            });

            if (currentCity.length > 0) {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "/api/v1/AbcAddress",
                    data: { level: 1, city: currentCity, area: "" },
                    success: function (data) {
                        $.each(data, function (id, option) {
                            //$("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                            if (currentArea == option.Area) {
                                $("#AbcAddressArea").append("<option value='" + option.Area + "' selected>" + option.Area + "</option>");
                            } else {
                                $("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                            }
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve City.');
                    }
                });
            }

            if (currentCity.length > 0 && currentArea.length > 0) {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "/api/v1/AbcAddress",
                    data: { level: 2, city: currentCity, area: currentArea },
                    success: function (data) {
                        $.each(data, function (id, option) {
                            //$("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                            if (currentRoad == option.Road) {
                                $("#AbcAddressRoad").append("<option value='" + option.Road + "' selected>" + option.Road + "</option>");
                            } else {
                                $("#AbcAddressRoad").append($('<option></option>').val(option.Road).html(option.Road));
                            }
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve City.');
                    }
                });
            }


            @* load abc address *@

            $("#formSubmit").click(function (event) {
                event.preventDefault();

                var input = {
                    abcAddressFirstName: $("#AbcAddressFirstName").val(),
                    city: $("#AbcAddressCity").val(),
                    area: $("#AbcAddressArea").val(),
                    road: $("#AbcAddressRoad").val(),
                    lane: $("#AbcAddressLane").val(),
                    alley: $("#AbcAddressAlley").val(),
                    num: $("#AbcAddressNum").val(),
                    hyphen: $("#AbcAddressHyphen").val(),
                    suite: $("#AbcAddressSuite").val(),
                };

                var error = "";
                if (input.abcAddressFirstName == "") {
                    error += "請輸入聯絡人名稱\n";
                }
                if (input.city == "") {
                    error += "請輸入縣市\n";
                }
                if (input.area == "") {
                    error += "請輸入鄉鎮市區\n";
                }
                if (input.road == "") {
                    error += "請輸入道路或街名或村里\n";
                }
                if (error.length > 0) {
                    alert(error);
                    return false;
                }

                var addressCollect = input.city + input.area + input.road;
                addressCollect += input.lane.length > 0 ? input.lane + "巷" : "";
                addressCollect += input.alley.length > 0 ? input.alley + "弄" : "";
                addressCollect += input.num.length > 0 ? input.num + "號" : "";
                addressCollect += input.hyphen.length > 0 ? input.hyphen + "樓" : "";
                addressCollect += input.suite.length > 0 ? input.suite + "室" : "";

                //alert(addressCollect);

                $("form#myform").submit();

            });

            //country only taiwan
            //var option = $("#Address_CountryId").find("option");
            $("#@Html.FieldIdFor(model => model.CountryId)").find("option").each(function () {

                var This = $(this);

                if (This.attr("value") == "77") {
                    This.prop("selected", true);
                } else {
                    This.remove();
                }

            });


            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetStatesByCountryId", "Country"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "false" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                    }
                });
            });
        });

        var changeCity = function (e) {

            var elm = $(e);

            $.ajax({
                cache: false,
                type: "GET",
                url: "/api/v1/AbcAddress",
                data: { level: 1, city: elm.val(), area: "" },
                success: function (data) {
                    $("#AbcAddressArea").empty().append($('<option></option>').val("").html("請選擇"));
                    $("#AbcAddressRoad").empty().append($('<option></option>').val("").html("請選擇"));
                    $.each(data, function (id, option) {
                        $("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve City.');
                }
            });

        }

        var changeArea = function (e) {

            var elm = $(e);

            $.ajax({
                cache: false,
                type: "GET",
                url: "/api/v1/AbcAddress",
                data: { level: 2, city: $("#AbcAddressCity").val(), area: elm.val() },
                success: function (data) {
                    $("#AbcAddressRoad").empty().append($('<option></option>').val("").html("請選擇"));
                    $.each(data, function (id, option) {
                        $("#AbcAddressRoad").append($('<option></option>').val(option.Road).html(option.Road));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve Area.');
                }
            });

        }
    </script>
}


@Html.HiddenFor(model => model.Id)

@*自訂台灣地址*@
<div class="bootstrap">

    <div class="p-3">
        <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
                <label for="AbcAddressFirstName">聯絡人名稱 <small style="color:red;">*</small></label>
                <input class="form-control text-box single-line rounded-0" id="AbcAddressFirstName" name="AbcAddressFirstName" type="text" value="@Model.FirstName">
                <input id="_AbcAddressCity" name="_AbcAddressCity" type="hidden" value="@Model.City">
                <input id="_AbcAddressArea" name="_AbcAddressArea" type="hidden" value="@Model.Area">
                <input id="_AbcAddressRoad" name="_AbcAddressRoad" type="hidden" value="@Model.Road">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-md-3">
                <label for="AbcAddressCity">縣市 <small style="color:red;">*</small></label>
                <select class="form-control rounded-0" id="AbcAddressCity" name="AbcAddressCity" onchange="changeCity(this);">
                    <option value="">請選擇</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label for="AbcAddressArea">鄉鎮市區 <small style="color:red;">*</small></label>
                <select class="form-control rounded-0" id="AbcAddressArea" name="AbcAddressArea" onchange="changeArea(this);">
                    <option value="" selected>請選擇</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-3">
                <label for="AbcAddressRoad">道路或街名或村里 <small style="color:red;">*</small></label>
                <select class="form-control rounded-0" id="AbcAddressRoad" name="AbcAddressRoad">
                    <option value="" selected>請選擇</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-6 col-md-1">
                <label for="AbcAddressLane">巷</label>
                <input class="form-control text-box single-line rounded-0" id="AbcAddressLane" name="AbcAddressLane" type="text" value="@ViewData["Lane"]">
            </div>
            <div class="form-group col-6 col-md-1">
                <label for="AbcAddressAlley">弄</label>
                <input class="form-control text-box single-line rounded-0" id="AbcAddressAlley" name="AbcAddressAlley" type="text" value="@ViewData["Alley"]">
            </div>
            <div class="form-group col-6 col-md-1">
                <label for="AbcAddressNum">號之</label>
                <input class="form-control text-box single-line rounded-0" id="AbcAddressNum" name="AbcAddressNum" type="text" value="@ViewData["Num"]">
            </div>
            <div class="form-group col-6 col-md-1">
                <label for="AbcAddressHyphen">樓</label>
                <input class="form-control text-box single-line rounded-0" id="AbcAddressHyphen" name="AbcAddressHyphen" type="text" value="@ViewData["Hyphen"]">
            </div>
            <div class="form-group col-6 col-md-1">
                <label for="AbcAddressSuite">室</label>
                <input class="form-control text-box single-line rounded-0" id="AbcAddressSuite" name="AbcAddressSuite" type="text" value="@ViewData["Suite"]">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <label for="AbcAddressPhoneNumber">連絡電話</label>
                <input class="form-control text-box single-line rounded-0" id="AbcAddressPhoneNumber" name="AbcAddressPhoneNumber" type="text" value="@Model.PhoneNumber">
            </div>
        </div>

    </div>



</div>
@*擴充台灣地址*@

@*<div class="edit-address">
    <div class="inputs">
        @Html.LabelFor(model => model.FirstName, new { }, ":")
        @Html.EditorFor(model => model.FirstName)
        @Html.RequiredHint()
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="inputs">
        @Html.LabelFor(model => model.LastName, new { }, ":")
        @Html.EditorFor(model => model.LastName)
        @Html.RequiredHint()
        @Html.ValidationMessageFor(model => model.LastName)

    </div>
    <div class="inputs">
        @Html.LabelFor(model => model.Email, new { }, ":")
        @Html.EditorFor(model => model.Email)
        @Html.RequiredHint()
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    @if (Model.CompanyEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.Company, new { }, ":")
            @Html.EditorFor(model => model.Company)
            @if (Model.CompanyRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Company)
        </div>
    }
    @if (Model.CountryEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.CountryId, new { }, ":")
            @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries)
            @Html.RequiredHint()
            @Html.ValidationMessageFor(model => model.CountryId)
        </div>
    }

    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.StateProvinceId, new { }, ":")
            @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates)
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            @Html.ValidationMessageFor(model => model.StateProvinceId)
        </div>
    }
    @if (Model.CityEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.City, new { }, ":")
            @Html.EditorFor(model => model.City)

            @if (Model.CityRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.City)
        </div>
    }
    @if (Model.StreetAddressEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.Address1, new { }, ":")
            @Html.EditorFor(model => model.Address1)
            @if (Model.StreetAddressRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Address1)
        </div>
    }
    @if (Model.StreetAddress2Enabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.Address2, new { }, ":")
            @Html.EditorFor(model => model.Address2)
            @if (Model.StreetAddress2Required)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Address2)
        </div>
    }
    @if (Model.ZipPostalCodeEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.ZipPostalCode, new { }, ":")
            @Html.EditorFor(model => model.ZipPostalCode)
            @if (Model.ZipPostalCodeRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.ZipPostalCode)
        </div>
    }
    @if (Model.PhoneEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.PhoneNumber, new { }, ":")
            @Html.EditorFor(model => model.PhoneNumber)
            @if (Model.PhoneRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
    }
    @if (Model.FaxEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.FaxNumber, new { }, ":")
            @Html.EditorFor(model => model.FaxNumber)
            @if (Model.FaxRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.FaxNumber)
        </div>
    }
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @Html.Partial("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>*@
