﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap4/css/iso_bootstrap4.1.0min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap4/css/font-awesome.min.css" rel="stylesheet" />

    <style type="text/css">

        .bootstrap {
            font-family: Microsoft JhengHei;
        }
    </style>
</head>
<body>

    @RenderBody()

    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap4/js/bootstrap.min.js"></script>
    <script src="~/Scripts/common.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>