﻿@model ShoppingCartModel.DiscountBoxModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="coupon-box">
        <div class="title">
            <strong>@T("ShoppingCart.DiscountCouponCode")</strong>
        </div>
        <div class="hint">
            @T("ShoppingCart.DiscountCouponCode.Tooltip")或使用
            <input type="button" name="mydiscountcouponcode" value="我的折價券" class="button-2 apply-discount-coupon-code-button" style="width:90px;" onclick="UseMyCoupon();" />
        </div>
        <div class="coupon-code">
            <input name="discountcouponcode" type="text" class="discount-coupon-code" />
            <input type="submit" name="applydiscountcouponcode" value="@T("ShoppingCart.DiscountCouponCode.Button")" class="button-2 apply-discount-coupon-code-button" />           
        </div>
        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @Model.Message
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.CurrentCode))
        {
            <div class="current-code">
                <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, Model.CurrentCode)</span>
                @*empty value (little hack for FormValueExistsAttribute)*@
                <input type="submit" name="removediscountcouponcode" value=" " title="@T("Common.Remove")" class="remove-discount-button" />
            </div>
        }
    </div>

    <script>
        var UseMyCoupon = function () {

            //$.fancybox.open('<div class="message"><h2>Hello!</h2><p>You are awesome!</p></div>');
            $.fancybox.open({
                src: '#hidden-mycoupon',
                type: 'inline',
                opts: {
                    afterShow: function (instance, current) {
                    }
                }
            });

        }
    </script>
}