﻿@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox.min.css");
    Html.AddCssFileParts("~/Content/fontawesome/css/all.css");
    Html.AddCssFileParts("~/Content/new/itembox.css");


    Html.AddScriptParts("~/Content/fancybox/jquery.fancybox.min.js");

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @Html.Action("MyCheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Cart })
}

<div class="page shopping-cart-page">
    <div class="page-title">
        <h1>@T("ShoppingCart")</h1>
    </div>
    <div class="page-body">
        @Html.Partial("MyOrderSummary", Model)
    </div>
</div>