﻿@using System.Data;
@model System.Data.DataTable

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <h2>@ViewData["WebServiceName"]</h2>
            <p>筆數:@Model.Rows.Count</p>

            <table border="1">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            <th>@col.ColumnName</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                <td>@row[col.ColumnName]</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>