﻿@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    Html.AddCssFileParts("~/Content/layui/css/layui.css");
    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox.min.css");

    Html.AddScriptParts("~/Content/layui/layui.js");
    Html.AddScriptParts("~/Content/fancybox/jquery.fancybox.min.js");

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();
    var showShareButton = EngineContext.Current.Resolve<Nop.Core.Domain.Catalog.CatalogSettings>().ShowShareButton;

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
}
<!--product breadcrumb-->
@section Breadcrumb
{
    @Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
}
@Html.Widget("productdetails_after_breadcrumb", Model.Id)
<div class="page product-details-page">
    <div class="page-body">
        @Html.Widget("productdetails_top", Model.Id)
        @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
        {
            <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                <div class="product-essential">
                    @Html.Widget("productdetails_before_pictures", Model.Id)
                    
                    @{
                        var cloudZoom = Html.Widget("sevenspikes_cloud_zoom");
                    }
                    @if (!MvcHtmlString.IsNullOrEmpty(cloudZoom))
                    {
                        @cloudZoom
                    }
                    else
                    {
                        @Html.Partial("_ProductDetailsPictures", Model)
                    }
                    @Html.Widget("productdetails_after_pictures", Model.Id)
                    <div class="overview">
                        @Html.Widget("productdetails_overview_top", Model.Id)
                        @Html.Partial("_Discontinued", Model)
                        <!--manufacturers-->
                        @Html.Partial("_ProductManufacturers", Model.ProductManufacturers)
                        <div class="product-name">
                            @{
                                if (Model.IsMyAccount)
                                {
                                    <div class="bootstrap">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6><a href="/電子禮券使用說明"><span class="badge badge-secondary rounded-0">電子禮券使用說明</span></a></h6>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <h1 itemprop="name">
                                @Model.Name
                            </h1>
                        </div>
                        <!--reviews-->
                        @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)
                        <!--price & add to cart-->
                        @{
                            var dataDictPrice = new ViewDataDictionary();
                            dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                            @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)
                        }
                        <!--rental info-->
                        @{
                            var dataDictRental = new ViewDataDictionary();
                            dataDictRental.TemplateInfo.HtmlFieldPrefix = string.Format("rental_{0}", Model.Id);
                            @Html.Partial("_RentalInfo", Model, dataDictRental)
                        }
                        @if (!String.IsNullOrEmpty(Model.ShortDescription))
                        {
                            <div class="short-description">
                                @Html.Raw(Model.ShortDescription)
                            </div>
                        }
                        <!--SKU, MAN, GTIN, vendor-->
                        @Html.Partial("_SKU_Man_GTIN_Ven", Model)
                        <!--sample download-->
                        @Html.Partial("_DownloadSample", Model)
                        <!--attributes-->
                        @{
                            var dataDictAttributes = new ViewDataDictionary();
                            dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                            @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                        }
                        <!--gift card-->
                        @{
                            var dataDictGiftCard = new ViewDataDictionary();
                            dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                            @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                        }
                        <!--availability-->
                        @Html.Partial("_Availability", Model)
                        <!--add to cart-->
                        @{
                            var dataDictAddToCart = new ViewDataDictionary();
                            dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                            @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
                        }
                        <!--wishlist, compare, email a friend-->
                        <div class="overview-buttons">
                            @Html.Widget("productdetails_inside_overview_buttons_before", Model.Id)
                            @{
                                var dataDictAddToWishlist = new ViewDataDictionary();
                                dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                @Html.Partial("_AddToWishlist", Model.AddToCart, dataDictAddToWishlist)
                            }
                            @Html.Partial("_CompareProductsButton", Model)
                            @Html.Partial("_ProductEmailAFriendButton", Model)

                            @Html.Widget("productdetails_inside_overview_buttons_after", Model.Id)
                        </div>

                        <div class="email-a-friend" style="margin:20px 0 0 0;">
                            @*<input type="button" data-fancybox data-type="iframe" data-src="@Url.Action("ProductChat", "Home", new { id = Model.Id })" value="聊聊" class="button-2 email-a-friend-button" style="background-position: -174px center; background-color:#d1d1d1; width:80px; font-size:12px;" />*@
                            @*<input type="button" value="即時通聊聊" class="button-2 email-a-friend-button" style="background-position: -174px center; background-color:#d1d1d1; width:90px; font-size:12px;" onclick=" openTalk();" />*@
                            <script type="text/javascript">
                                function openTalk() {
                                        $.fancybox.open({
                                            src: '@Url.Action("ProductChat", "Home", new { id = Model.Id })',
                                            type: 'iframe',
                                            autoScale: false,
                                            width: "50%",
                                            height: "80%",
                                            opts: {
                                                iframe: {
                                                    css: {
                                                        width: 500,
                                                        height: 600
                                                    }
                                                },
                                                fullScreen: false,
                                                afterShow: function (instance, current) {
                                                    console.info('done!');
                                                }
                                            }
                                        });
                                    }

                            </script>

                        </div>

                        


                        @*O2O顯下服務商*@
                        @*@if (Model.ProductWarehouseInventorys != null && Model.ProductWarehouseInventorys.Count > 0)
                        {
                            <lu>
                                @foreach (var wareHouse in Model.ProductWarehouseInventorys)
                                {
                                    <li>@(wareHouse.City)</li>
                                }
                            </lu>
                        }*@

                        @{
                            if (Model.ProductWarehouseAreas != null && Model.ProductWarehouseAreas.Count > 0)
                            {
                                <div class="bootstrap">
                                    <div class="row mt-3">
                                        <div class="col-sm-12">
                                            <h6>全省安裝服務點，依您的需求預約安裝時間及地點</h6>
                                        </div>

                                        <div class="col-sm-6">
                                            <table class="table table-bordered">
                                                @foreach (var wareHouse in Model.ProductWarehouseAreas)
                                                {
                                                    if (wareHouse.Count > 0)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="javascript:;" data-city="@wareHouse.CityId" onclick="OpenVendorTab(this);">@(wareHouse.City)</a>
                                                            </td>
                                                            <td>@(wareHouse.Count) 家</td>
                                                        </tr>
                                                    }

                                                }
                                            </table>
                                        </div>
                                    </div>


                                </div>


                            }



                        }



                        @Html.Widget("productdetails_overview_bottom", Model.Id)
                    </div>
                    <div class="overview-bottom">
                        <!--sharing-->
                        @if (showShareButton)
                        {
                            @Html.Partial("_ShareButton", Model.SeName)
                        }
                        <!--delivery-->
                        @Html.Partial("_DeliveryInfo", Model)
                    </div>
                </div>

                @{
                    var nopQuickTabsHtml = Html.Widget("productdetails_before_collateral", Model.Id);
                }

                @if (!MvcHtmlString.IsNullOrEmpty(nopQuickTabsHtml))
                {
                    var productsCarouselHtml = Html.Widget("productpage_after_collateral", Model.Id);
                    var carouselQuickTabsWrapperClass = "one-column-wrapper";
                    if (!MvcHtmlString.IsNullOrEmpty(productsCarouselHtml))
                    {
                        carouselQuickTabsWrapperClass = "two-column-wrapper";
                    }

                    <div class="@(carouselQuickTabsWrapperClass) fixImage">
                        @nopQuickTabsHtml @*nop quick tabs*@

                        @productsCarouselHtml @*products carousel for related or also purchased with 1 visible item*@
                    </div>
                }

                <div class="product-collateral">
                    @if (!String.IsNullOrEmpty(Model.FullDescription))
                    {
                        <div class="full-description" itemprop="description">
                            @Html.Raw(Model.FullDescription)
                        </div>
                    }
                    @Html.Partial("_ProductTierPrices", Model.TierPrices)
                    @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                    @Html.Partial("_ProductTags", Model.ProductTags)
                </div>
                @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })
                @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
            </div>
        }
        @Html.Widget("productdetails_bottom", Model.Id)
    </div>
</div>

<div style="display:none; max-width:600px; cursor:default;" id="trueModal">
    <h2>I'm a modal!</h2>
    <p>You can close me only by pressing custom button below.</p>
    <p>It would also be possible to prevent closing using `beforeClose` callback.</p>
    <p>
        <button data-fancybox-close class="button-1">Close me</button>
    </p>
</div>

<div style="display:none;" id="quickTab-master">
    @{
        if (Model.ProductWarehouseAreas != null && Model.ProductWarehouseAreas.Count > 0)
        {
            <div class="bootstrap">
                <div class="row mt-3">
                    @foreach (var wareHouse in Model.ProductWarehouseAreas)
                    {
                        if (wareHouse.Count > 0)
                        {
                            var idClass = "city" + wareHouse.CityId;

                            foreach (var addr in wareHouse.Warehouses)
                            {
                                <div class="col-sm-4 pb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title @idClass">
                                                <a href="@Url.Action("Detail", "ServiceVendor", new { id = addr.ServiceId })">@addr.ServiceName</a>
                                            </h5>
                                            <p class="card-text">營業時間：@(addr.ServiceDefaultStartTime.HasValue && addr.ServiceDefaultEndTime.HasValue ? addr.ServiceDefaultStartTime.Value.AddHours(8).ToString("HH:mm") + " ~ " + addr.ServiceDefaultEndTime.Value.AddHours(8).ToString("HH:mm") : "")</p>
                                            <p class="card-text">服務地址：@(addr.City)@(addr.WarehouseAddress1) </p>
                                            <p class="card-text">聯絡電話：@(addr.WarehousePhoneNumber)</p>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                    }
                </div>
            </div>
        }
    }
</div>



<script type="text/javascript">

    $(document).ready(function () {

        var qt = $("div#quickTab-1");
        if (qt.length > 0) {
            qt.html($("div#quickTab-master").html());
        }

    });

    layui.use('layer', function () {
        var $ = layui.jquery, layer = layui.layer;


    });

    var OpenVendorTab = function (e) {

        var that = $(e);
        var cityId = that.data("city");
        var html = "";
        $('.city' + cityId, $("div#quickTab-master")).each(function (key, val) {
            var elm = $($(val).html());
            console.log(elm.attr('href'));
            html += "<div><a style='font-size:medium; color:#ffffff;' href='" + elm.attr('href') + "'>" + elm.html() + "</a></div>";
            
        }).promise().done(function () {

            console.log(html);
            layer.tips(html, that, {
                tips: [3, '##d0021b']
            });
        });




    }

</script>