﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

}
<div class="page account-page">

    <div class="page-body" style="border: 1px solid #f3f3f3; background-color:#ffffff; padding:25px;">

        <section style="width:100%;" class="myCalendarSection">
            <div class="container">
                <div class="tab_container">
                    <div style="display: block;padding: 10px 15px;background: #fff;color: #333333;border-bottom: 2px solid #f0f0f0; margin-bottom:3px;">
                        <span>找服務據點</span>
                        <input type="hidden" id="serviceCustomerId" value="@ViewBag.ServiceCustomerId" />
                    </div>
                </div>
            </div>
        </section>
        <section style="width:100%; padding-top:0;" class="myCalendarSection">
            <div class="container account-page">
                <div class="tab_container">
                    <div style="display: block;padding: 10px 15px;background: #fff;color: #333333;border-bottom: 2px solid #f0f0f0; margin-bottom:3px;">
                        <img src="~/Content/samples/list_service.jpg" />
                    </div>
                </div>
            </div>
        </section>
        


    </div>
</div>