﻿@using Nop.Core
@using Nop.Services.Common
@model NopCommerceNewsModel
@{
    const string panelId = "nopcommerce-news-box";
    const string hidePanelAttributeName = "HideNopCommerceNewsPanel";
    var hidePanel = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.GetAttribute<bool>(hidePanelAttributeName);
}

<div class="box box-info @if(hidePanel){<text>collapsed-box</text>}" id="@panelId">
    <div class="box-header with-border clearfix">
        <div class="box-title">
            <i class="fa fa-newspaper-o"></i>
            @T("Admin.NopCommerceNews")
            @if (Model.HasNewItems)
            {
                <div class="new-item-notification"><span>+1</span></div>
            }
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                @if (hidePanel)
                {
                    <text><i class="fa fa-plus"></i></text>
                }
                else
                {
                    <text><i class="fa fa-minus"></i></text>
                }
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-4">
                @if (Model.NewsItems.Count() > 0)
                {
                    foreach (var item in Model.NewsItems)
                    {

                        <div class="panel panel-info">
                            <div class="panel-heading clearfix">
                                <a class="pull-left" href="@Url.RouteUrl("NewsItem", new { SeName = @item.Title })">@item.Title</a>
                            </div>
                            <div class="panel-body">
                                @Html.Raw(item.Short)
                            </div>
                        </div>

                    }
                }
                else
                {
                    @*@T("Admin.NopCommerceNews.Wrong.NoNewsData")*@
                        <span>NoNewsData</span>
                }
            </div>
            </div>

        <script>
            $(document).ready(function () {
                $('#@panelId').on('click', 'button[data-widget="collapse"]', function () {
                    var collapsed = !$('#@panelId').hasClass('collapsed-box');
                    saveUserPreferences('@(Url.Action("SavePreference", "Preferences"))', '@hidePanelAttributeName', collapsed);
                });
            });
        </script>
    </div>
</div>
