﻿@using Nop.Admin.Models.CustomerBlogs
@using Nop.Services.CustomerBlogs
@model CustomerBlogPostModel

@using System.Text;
@using Nop.Services.Blogs
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.CustomerId)
@Html.HiddenFor(model => model.BlogType)
@Html.HiddenFor(model => model.BlogStatus)

@Html.HiddenFor(model => model.StartDate)
@Html.HiddenFor(model => model.EndDate)
@Html.HiddenFor(model => model.AllowComments)



<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('blog-post-edit');
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div id="blog-post-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.ContentManagement.Blog.BlogPosts.Info"), true)
                @Html.RenderBootstrapTabHeader("tab-seo", @T("Admin.Common.SEO"))
                @Html.RenderBootstrapTabHeader("tab-picture", @T("Admin.Customers.Customers.Pictures"))
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
                @Html.RenderBootstrapTabContent("tab-seo", @TabSeo())
                @Html.RenderBootstrapTabContent("tab-picture", @TabPicture())
            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    @*var eventMessage = new AdminTabStripCreated(this.Html, "blog-post-edit");
        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }*@
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@{
    //resources for product tags input
    Html.AppendCssFileParts("~/Administration/Content/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.caret.min.js");
}

@helper TabInfo()
    {
        <script type="text/javascript">
        @{
            //TODO move to Model
            var blogTags = EngineContext.Current.Resolve<ICustomerBlogService>().GetAllBlogPostTags(0, 0, true);
            var blogTagsSb = new StringBuilder();
            blogTagsSb.Append("var initialBlogTags = [");
            for (int i = 0; i < blogTags.Count; i++)
            {
                var tag = blogTags[i];
                blogTagsSb.Append("'");
                blogTagsSb.Append(HttpUtility.JavaScriptStringEncode(tag.Name));
                blogTagsSb.Append("'");
                if (i != blogTags.Count - 1)
                {
                    blogTagsSb.Append(",");
                }
            }
            blogTagsSb.Append("]");
        }
        //tags
        $(document).ready(function() {
            @Html.Raw(blogTagsSb.ToString())
            $("#@Html.FieldIdFor(model => model.Tags)").tagEditor({
                autocomplete: {
                    delay: 0,
                    position: { collision: 'flip' },
                    source: initialBlogTags
                },
                delimiter: ',',
                placeholder: 'Enter tags ...'
            });
        });
        </script>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group" @(Model.AvailableLanguages.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.LanguageId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.LanguageId, Model.AvailableLanguages)
                            @Html.ValidationMessageFor(model => model.LanguageId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @*@Html.NopLabelFor(model => model.Title)*@
                            <div class="label-wrapper">
                                <label class="control-label" for="Title" title="">廠商名稱</label>
                                <div class="ico-help" title="廠商名稱">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Title)
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Body)
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(x => x.Body, "RichEditor")
                            @Html.ValidationMessageFor(model => model.Body)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @*@Html.NopLabelFor(model => model.BodyOverview)*@
                            <div class="label-wrapper">
                                <label class="control-label" for="BodyOverview" title="">概述</label>
                                <div class="ico-help" title="簡述廠商介紹。支持HTML。">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @*@Html.NopTextAreaFor(model => model.BodyOverview)*@
                            @Html.EditorFor(x => x.BodyOverview, "RichEditor")
                            @Html.ValidationMessageFor(model => model.BodyOverview)
                        </div>
                    </div>
                    <div class="form-group" style="display:none;">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Tags)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Tags)
                            @Html.ValidationMessageFor(model => model.Tags)
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AllowComments)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowComments)
                                @Html.ValidationMessageFor(model => model.AllowComments)
                            </div>
                        </div>*@
                    @*<div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.StartDate)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.StartDate)
                                @Html.ValidationMessageFor(model => model.StartDate)
                            </div>
                        </div>*@
                    <div class="form-group">
                        <div class="col-md-3">
                            @*@Html.NopLabelFor(model => model.StartDate)*@
                            <div class="label-wrapper">
                                <label class="control-label" for="StartTime" title="">營業開始</label>
                                <div class="ico-help" title="營業開始時間">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <select name="StartTime" id="StartTime" class="form-control">
                                @{
                                    string startdTime = Model.StartDate != null ? Model.StartDate.Value.ToString("HH:mm") : "";
                                    for (int i = 0; i < 24; i++)
                                    {
                                        string time1 = string.Format("{0:00}:{1}", i, "00");
                                        <option value="@time1" @(time1.Equals(startdTime)?"selected":"")>@time1</option>
                                        string time2 = string.Format("{0:00}:{1}", i, "30");
                                        <option value="@time2" @(time2.Equals(startdTime)?"selected":"")>@time2</option>
                                    }
                                }

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @*@Html.NopLabelFor(model => model.StartDate)*@
                            <div class="label-wrapper">
                                <label class="control-label" for="EndTime" title="">營業休息</label>
                                <div class="ico-help" title="營業休息時間">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <select name="EndTime" id="EndTime" class="form-control">
                                @{
                                    string endTime = Model.EndDate != null ? Model.EndDate.Value.ToString("HH:mm") : "";
                                    for (int i = 0; i < 24; i++)
                                    {
                                        string time1 = string.Format("{0:00}:{1}", i, "00");
                                        <option value="@time1" @(time1.Equals(endTime)?"selected":"")>@time1</option>

                                        string time2 = string.Format("{0:00}:{1}", i, "30");
                                        <option value="@time2" @(time2.Equals(endTime)?"selected":"")>@time2</option>
                                    }
                                }

                            </select>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.EndDate)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.EndDate)
                            @Html.ValidationMessageFor(model => model.EndDate)
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="col-md-3">
                            @*@Html.NopLabelFor(model => model.SelectedStoreIds)*@
                            <div class="label-wrapper">
                                <label class="control-label" for="SelectedStoreIds" title="">經營類別</label>
                                <div class="ico-help" title="經營類別">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SelectedStoreIds, new { SelectList = Model.AvailableStores })
                            <script>
                                    $(document).ready(function() {
                                        var storesIdsInput = $('#@Html.FieldIdFor(model => model.SelectedStoreIds)').data("kendoMultiSelect");
                                        storesIdsInput.setOptions({
                                            autoClose: false
                                        });

                                        @if (Model.AvailableStores.Count == 0)
                                        {
                                            <text>
                                                storesIdsInput.setOptions({
                                                enable: false,
                                                placeholder: 'No stores available'
                                            });
                                            storesIdsInput._placeholder();
                                            storesIdsInput._enable();
                                        </text>
                                        }
                                    });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

@helper TabSeo()
    {
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.MetaKeywords)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(x => x.MetaKeywords)
                            @Html.ValidationMessageFor(model => model.MetaKeywords)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.MetaDescription)
                        </div>
                        <div class="col-md-9">
                            @Html.NopTextAreaFor(model => model.MetaDescription)
                            @Html.ValidationMessageFor(model => model.MetaDescription)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.MetaTitle)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.MetaTitle)
                            @Html.ValidationMessageFor(model => model.MetaTitle)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SeName)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SeName)
                            @Html.ValidationMessageFor(model => model.SeName)
                        </div>
                    </div>
                </div>
            </div>
        </div>
}


@helper TabPicture()
    {

        if (Model.Id > 0)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="productpictures-grid"></div>

                    <script>
                    $(document).ready(function() {
                        $("#productpictures-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("CustomerPictureList", "Customer", new { customerId = Model.CustomerId}))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    update: {
                                        url: "@Html.Raw(Url.Action("CustomerPictureUpdate", "Customer"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("CustomerPictureDelete", "Customer"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            PictureUrl: { editable: false, type: "string" },
                                            DisplayOrder: { editable: true, type: "number" },
                                            OverrideAltAttribute: { editable: true, type: "string" },
                                            OverrideTitleAttribute: { editable: true, type: "string" }
                                        }
                                    }
                                },
                                requestEnd: function(e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                            {
                                field: "PictureUrl",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.Picture")",
                                template: '<a href="#=PictureUrl#" target="_blank"><img alt="#=PictureId#" src="#=PictureUrl#" width="150" /></a>',
                                width: 200
                            }, {
                                field: "DisplayOrder",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.DisplayOrder")",
                                //integer format
                                format: "{0:0}",
                                width: 150
                            }, {
                                field: "OverrideAltAttribute",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.OverrideAltAttribute")",
                                width: 200
                            }, {
                                field: "OverrideTitleAttribute",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.OverrideTitleAttribute")",
                                width: 200
                            }, {
                                command: [
                                {
                                    name: "edit",
                                    text: {
                                        edit: "@T("Admin.Common.Edit")",
                                        update: "@T("Admin.Common.Update")",
                                        cancel: "@T("Admin.Common.Cancel")"
                                    }
                                }, {
                                    name: "destroy",
                                    text: "@T("Admin.Common.Delete")"
                                }
                                ],
                                width: 200
                            }
                            ]
                        });
                    });
                    </script>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    @T("Admin.Catalog.Products.Pictures.AddNew")
                </div>
                <div class="panel-body">
                    <script type="text/javascript">
                    $(document).ready(function() {
                        $('#addProductPicture').click(function() {
                            var pictureId = $("#@Html.FieldIdFor(model => model.CustomerModel.AddPictureModel.PictureId)").val();
                            var overrideAltAttribute = $("#@Html.FieldIdFor(model => model.CustomerModel.AddPictureModel.OverrideAltAttribute)").val();
                            var overrideTitleAttribute = $("#@Html.FieldIdFor(model => model.CustomerModel.AddPictureModel.OverrideTitleAttribute)").val();
                            var displayOrder = $("#@Html.FieldIdFor(model => model.CustomerModel.AddPictureModel.DisplayOrder)").val();

                            if (pictureId == 0) {
                                alert('Upload picture first');
                                return;
                            }

                            $('#addProductPicture').attr('disabled', true);

                            var postData = {
                                pictureId: pictureId,
                                displayOrder: displayOrder,
                                overrideAltAttribute: overrideAltAttribute,
                                overrideTitleAttribute: overrideTitleAttribute,
                                customerId: @Model.CustomerModel.Id
                                };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("CustomerPictureAdd", "Customer"))",
                                data: postData,
                                success: function(data) {
                                    var grid = $("#productpictures-grid");
                                    grid.data('kendoGrid').dataSource.read();
                                    $('#addProductPicture').attr('disabled', false);
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert('Failed to add product picture.');
                                    $('#addProductPicture').attr('disabled', false);
                                }
                            });
                        });
                    });
                    </script>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CustomerModel.AddPictureModel.PictureId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CustomerModel.AddPictureModel.PictureId)
                            @Html.ValidationMessageFor(model => model.CustomerModel.AddPictureModel.PictureId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CustomerModel.AddPictureModel.OverrideAltAttribute)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CustomerModel.AddPictureModel.OverrideAltAttribute)
                            @Html.ValidationMessageFor(model => model.CustomerModel.AddPictureModel.OverrideAltAttribute)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CustomerModel.AddPictureModel.OverrideTitleAttribute)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CustomerModel.AddPictureModel.OverrideTitleAttribute)
                            @Html.ValidationMessageFor(model => model.CustomerModel.AddPictureModel.OverrideTitleAttribute)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CustomerModel.AddPictureModel.DisplayOrder)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CustomerModel.AddPictureModel.DisplayOrder)
                            @Html.ValidationMessageFor(model => model.CustomerModel.AddPictureModel.DisplayOrder)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="button" id="addProductPicture" class="btn btn-primary">@T("Admin.Catalog.Products.Pictures.AddButton")</button>
                        </div>
                    </div>
                </div>
            </div>
        }


}