﻿@using Nop.Admin.Models.CustomerBlogs
@model CustomerBlogPostModel
@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Vender.VenderPosts.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Blog posts");
}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.ContentManagement.Vender.VenderPosts.AddNew")
        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.ContentManagement.Vender.VenderPosts.BackToList").Text, "List")</small>
    </h1>
    <div class="pull-right">
        <button type="submit" name="save" class="btn bg-blue">
            <i class="fa fa-floppy-o"></i>
            @T("Admin.Common.Save")
        </button>
        <button type="submit" name="save-continue" class="btn bg-blue">
            <i class="fa fa-floppy-o"></i>
            @T("Admin.Common.SaveContinue")
        </button>
    </div>
</div>
@Html.Partial("_CreateOrUpdate", Model)
}