﻿@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.ContentManagement.Vender.VenderPosts").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Blog posts");

    int hasBlog = ViewBag.hasBlog != null ? (int)ViewBag.hasBlog : 0;
}

@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.ContentManagement.Vender.VenderPosts")
    </h1>
    <div class="pull-right">
        @if (hasBlog <= 0)
        {
            <a href="@Url.Action("Create")" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
        }
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="blogpost-grid"></div>

                    <script>
                        $(document).ready(function() {
                            $("#blogpost-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "CustomerBlog"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    //pageSizes: [@(gridPageSizes)],
                                    numeric: false,
                                    previousNext: false,
                                    info: false
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                {
                                    field: "Title",
                                    title: "@T("Admin.ContentManagement.Vender.VenderPosts.Fields.Title")"
                                }, {
                                    field: "LanguageName",
                                    title: "@T("Admin.ContentManagement.Blog.BlogPosts.Fields.Language")"
                                }, {
                                    field: "StartDate",
                                    title: "@T("Admin.ContentManagement.Vender.VenderPosts.Fields.StartDate")",
                                    width: 200,
                                    type: "date",
                                        format: "{0:HH:mm}"
                                }, {
                                    field: "EndDate",
                                    title: "@T("Admin.ContentManagement.Vender.VenderPosts.Fields.EndDate")",
                                    width: 200,
                                    type: "date",
                                        format: "{0:HH:mm}"
                                }, {
                                    field: "CreatedOn",
                                    title: "@T("Admin.ContentManagement.Blog.BlogPosts.Fields.CreatedOn")",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}"
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 100,
                                    template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                                    }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>