﻿@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration
@using Nop.Web.Models.Common

@model FooterModel

@{
    var storeId = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.Id;
    var settingService = EngineContext.Current.Resolve<ISettingService>();
    var removeCopyright = settingService.GetSettingByKey("pavilionthemesettings.removecopyright", false, storeId, true);
    var removeDesignedBy = settingService.GetSettingByKey("pavilionthemesettings.removedesignedby", false, storeId, true);
}

<div class="footer">
    <div class="footer-upper">
        <div class="center">
            @Html.Action("NewsletterBox", "Newsletter")
            @*@Html.Action("Social", "Common")*@
        </div>
    </div>
    <div class="footer-middle">
        <div class="center">
            @*<div class="footer-block">
                    <div class="title">
                        <strong>@T("Footer.Information") SSS</strong>
                    </div>
                    <ul class="list">
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                        {
                            <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                        }
                    </ul>
                </div>*@
            <div class="footer-block">
                <div class="title">
                    <strong>@T("Footer.CustomerService")</strong>
                </div>
                <ul class="list">
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                    {
                        <li>
                            <a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a>
                        </li>
                    }
                    <li>
                        <a href="https://docs.google.com/forms/d/1UVM5aSXnsIB4FIJXzCdwtfelWU_dcCw4AyWK8BBVlDg/viewform?edit_requested=true" target="_blank">店家招募</a>
                    </li>
                </ul>
            </div>
            <div class="footer-block">
                <div class="title">
                    <strong>@T("Footer.MyAccount")</strong>
                </div>
                <ul class="list">
                    <li>
                        <a href="@Url.RouteUrl("CustomerInfo")">@T("Account.CustomerInfo")</a>
                    </li>
                    <li>
                        <a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddresses")</a>
                    </li>
                    <li>
                        <a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a>
                    </li>

                    @if (Model.ShoppingCartEnabled)
                    {
                        <li>
                            <a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a>
                        </li>
                    }
                    @if (Model.WishlistEnabled)
                    {
                        <li>
                            <a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a>
                        </li>
                    }
                    @if (Model.CompareProductsEnabled)
                    {
                        <li>
                            <a href="@Url.RouteUrl("CompareProducts")" style="display:none;">@T("Products.Compare.List")</a>
                        </li>
                    }
                    @if (Model.AllowCustomersToApplyForVendorAccount)
                    {
                        <li>
                            <a href="@Url.RouteUrl("ApplyVendorAccount")" style="display:none;">@T("Vendors.ApplyAccount")</a>
                        </li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                    {
                        <li>
                            <a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="footer-block quick-contact">
                <div class="title">
                    <strong>@T("SevenSpikes.Themes.Pavilion.Footer.ContactUs")</strong>
                </div>
                <ul class="list">
                    <li class="address">
                        <span>@T("SevenSpikes.Themes.Pavilion.Footer.Address")</span>
                    </li>
                    <li class="email">
                        <span>@T("SevenSpikes.Themes.Pavilion.Footer.Email")</span>
                    </li>
                    @*<li class="phone">
                        <span>@T("SevenSpikes.Themes.Pavilion.Footer.Phone")</span>
                    </li>*@
                    <li class="phone">
                        <span><a href="http://nav.cx/8QOj351">客服中心</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="center">
            <ul class="accepted-payments">
                @*<li class="method1"></li>*@
                <li class="method2"></li>
                @*<li class="method3"></li>*@
                <li class="method4"></li>
            </ul>
            <div class="footer-disclaimer">
                @T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)
            </div>
            @if (!removeCopyright)
            {
                <div class="footer-powered-by">
                    @*Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>*@
                    @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                        Please find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
                </div>

            }
            @if (!removeDesignedBy)
            {
                @*<div class="footer-designed-by">
                        Designed by <a href="http://www.nop-templates.com/" title="nopCommerce themes and plugins by Nop-Templates" target="_blank">Nop-Templates.com</a>
                    </div>*@
            }

            @if (Model.DisplayTaxShippingInfoFooter)
            {
                var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                <div class="footer-tax-shipping">
                    @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </div>
            }
            <div class="footer-store-theme">
                @Html.Action("StoreThemeSelector", "Common")
            </div>
        </div>
    </div>
    @Html.Widget("footer")
</div>
