﻿@model HeaderLinksModel
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration
@using Nop.Web.Models.Common;

@{
    var currentStore = EngineContext.Current.Resolve<IStoreContext>().CurrentStore;
    var storeId = currentStore.Id;
    var settingService = EngineContext.Current.Resolve<ISettingService>();

    //Check if the setting ShowLoginPoup is true or false.
    bool shouldShowLoginInPopup = settingService.GetSettingByKey("PavilionThemeSettings.ShowLoginPopup", false, storeId, true);

    //Check if we should show the login popup.
    if (shouldShowLoginInPopup)
    {
        var reCaptchaVersion1 = "Version1";


        bool isReCaptchaV1EnabledOnLoginPage = (settingService.GetSettingByKey("captchasettings.enabled", false, storeId, true) &&
                                                settingService.GetSettingByKey("captchasettings.showonloginpage", false, storeId, true) &&
                                                (reCaptchaVersion1.Equals(settingService.GetSettingByKey("captchasettings.recaptchaversion", reCaptchaVersion1, storeId, true), StringComparison.InvariantCultureIgnoreCase)));

        // Since the LoginPopup is added via Ajax, reCaptcha v1 could not be loaded and won't work.
        // So we better not show the LoginPopup if reCaptcha v1 is enabled on the login page
        // http://stackoverflow.com/questions/23174979/google-recaptcha-doesnt-get-loaded-when-bootstrap-call-the-remote-modal
        if (isReCaptchaV1EnabledOnLoginPage)
        {
            shouldShowLoginInPopup = false;
        }
        else
        {
            bool isSSLEnabled = currentStore.SslEnabled;
            bool isSSLForcedOnAllPages = settingService.GetSettingByKey("securitysettings.forcesslforallpages", false, storeId, true);

            //Check if SSL is Enabled for Current Store and if it is forced for all pages so we do not show the Login Popup in that case.
            bool isSSLEnabledAndNotForcedOnAllPages = isSSLEnabled && !isSSLForcedOnAllPages;

            if (isSSLEnabledAndNotForcedOnAllPages)
            {
                shouldShowLoginInPopup = false;
            }
        }
    }
}


@if (Model.IsAuthenticated)
{
    <span style="padding-left:15px;">
        @*<a href="@Url.RouteUrl("CustomerInfo")" class="link01">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> @Model.CustomerEmailUsername
            </a>*@
        歡迎光臨！ @Model.CustomerEmailUsername
    </span>
    <span style="padding-left:15px;">
        <a href="@Url.RouteUrl("CustomerInfo")">
            <i class="fa fa-user-circle" aria-hidden="true"></i> 會員中心
        </a>
    </span>
    @*<span style="padding-left:15px;">
            <a href="@Url.RouteUrl("PrivateMessages")">
                <i class="fa fa-commenting" aria-hidden="true"></i> 通知 <span class="badge badge-danger" id="MessageNotify"></span>
            </a>
        </span>*@
    <span style="padding-left:15px;">
        <a href="@Url.RouteUrl("CustomerMyCoupon")">
            <i class="fa fa-gift" aria-hidden="true" style="color:#dc3545;"></i> 折價券
        </a>
    </span>
    <span style="padding-left:15px;">
        <a href="@Url.RouteUrl("CustomerMyBookings", new { tab = "0" })">
            <i class="fa fa-calendar" aria-hidden="true"></i> 我的預約 <span class="badge badge-danger" id="BookingNotify">@(Model.BookingMessageCount > 0 ? Model.BookingMessageCount.ToString() : string.Empty)</span>
        </a>
    </span>
    <span style="padding-left:15px;">
        <a href="@Url.RouteUrl("CustomerOrders")">
            <i class="fa fa-list-alt" aria-hidden="true"></i> 我的訂單
        </a>
    </span>
    <span style="padding-left:15px;">
        <a href="@Url.RouteUrl("Logout")">
            <i class="fa fa-sign-out" aria-hidden="true"></i> @T("Account.Logout")
        </a>
    </span>

}
else
{

    <span style="padding-left:15px;">
        <a href="@Url.RouteUrl("Register")">
            <i class="fa fa-users" aria-hidden="true"></i> @T("Account.Register")
        </a>
    </span>
    <span style="padding-left:15px;">
        <a href="@Url.RouteUrl("Login")" data-loginUrl="@Url.Action("Login", "Customer")">
            <i class="fa fa-sign-in" aria-hidden="true"></i> @T("Account.Login")
        </a>
    </span>
}


<span style="padding-left:15px;">
    <a href="@Url.RouteUrl("ServiceVendors")">
        <i class="fa fa-info-circle" aria-hidden="true"></i> 合作店家
    </a>
</span>