﻿@model LoginModel
@using Nop.Web.Models.Customer;
@using Nop.Core;
@using Nop.Core.Infrastructure;

@{
    var isCalledAsPopup = !string.IsNullOrEmpty(Context.Request.QueryString["isPopup"]);

    Layout = isCalledAsPopup ? "" : "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!string.IsNullOrEmpty(Context.Request.QueryString["returnUrl"]))
    {
        var webHelper = EngineContext.Current.Resolve<IWebHelper>();
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + HttpUtility.UrlEncode(Context.Request.QueryString["returnUrl"]), null);
    }
}



<div class="page login-page">
    <div class="page-title bootstrap" style="background-color:#f6f6f6;">
        <div class="row">
            <div class="col-12 col-md-7">
                <h4>@T("Account.Login.Welcome")</h4>
            </div>
            <div class="col-12 col-md-5">
                <div class="row">
                    <div class="col-12 col-md-4 mb-1">
                        <button type="button" class="btn btn-danger btn-sm btn-block rounded-0" onclick="location.href='@Url.Action("AuthenticateFromABCCar","ReturnRequest", new { state = "00000" })'"><i class="fa fa-car"></i> abc好車網登入</button>
                    </div>
                    <div class="col-12 col-md-4 mb-1">
                        <button type="button" class="btn btn-danger btn-sm btn-block rounded-0" onclick="location.href='https://www.facebook.com/v3.2/dialog/oauth?client_id=742350016131465&redirect_uri=@(CommonHelper.GetAppSettingValue("FbReturnUrl"))&auth_type=rerequest&scope=email&state=00000'"><i class="fa fa-facebook-official"></i> facebook登入</button>
                    </div>
                    <div class="col-12 col-md-4 mb-1">
                        <button type="button" class="btn btn-danger btn-sm btn-block rounded-0" onclick="location.href='https://accounts.google.com/o/oauth2/v2/auth?client_id=885559723192-u0besd4revrlujnu5i8pt2o2pbqd0o5c.apps.googleusercontent.com&redirect_uri=@(CommonHelper.GetAppSettingValue("GoogleReturnUrl"))&response_type=code&scope=https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email&state=00000'"><i class="fa fa-google"></i>oogle登入</button>
                    </div>
                </div>            
            </div>
        </div>
        
    </div>
    @Html.Partial("_ExternalAuthentication.AssociateMessage")
    @Html.Partial("_ExternalAuthentication.Errors")
    <div class="page-body" style="margin-top:20px;">
        <div class="customer-blocks">
            @if (Model.CheckoutAsGuest)
            {
                <div class="new-wrapper checkout-as-guest-or-register-block">
                    <div class="title">
                        <strong>@T("Account.Login.CheckoutAsGuestOrRegister")</strong>
                    </div>
                    <div class="inner-wrapper">
                        <div class="text">
                            @Html.Action("TopicBlock", "Topic", new { systemName = "CheckoutAsGuestOrRegister" })
                        </div>
                        <div class="buttons">
                            <input type="button" class="button-1 register-button" onclick="location.href = '@registerUrl'" value="@T("Account.Register")" />
                            <input type="button" class="button-1 checkout-as-guest-button" onclick="location.href = '@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="new-wrapper register-block">
                    <div class="title">
                        <strong>@T("Account.Login.NewCustomer")</strong>
                    </div>
                    <div class="inner-wrapper">
                        <div class="text">
                            @T("Account.Login.NewCustomerText")
                        </div>
                        <div class="buttons">
                            <input type="button" class="button-1 register-button" onclick="location.href = '@registerUrl'" value="@T("Account.Register")" />
                        </div>
                    </div>
                </div>
            }
            <div class="returning-wrapper fieldset">
                @using (Html.BeginForm())
                {
                    var validationSummary = Html.ValidationSummary(true, T("Account.Login.Unsuccessful").Text);

                    <div class="title active">
                        <strong>@T("Account.Login.ReturningCustomer")</strong>
                    </div>
                    <div class="inner-wrapper show">
                        @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                        {
                            <div class="message-error">@validationSummary</div>
                        }
                        <div class="form-fields">
                            @if (Model.UsernamesEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(m => m.Username, new { }, ":")
                                    @Html.TextBoxFor(m => m.Username, new { @class = "username", autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(m => m.Username)
                                </div>
                            }
                            else
                            {
                                <div class="inputs">
                                    @Html.LabelFor(m => m.Email, new { }, ":")
                                    @Html.TextBoxFor(m => m.Email, new { @class = "email", autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                            }
                            <div class="inputs">
                                @Html.LabelFor(m => m.Password, new { }, ":")
                                @Html.PasswordFor(m => m.Password, new { @class = "password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <div class="inputs reversed">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                                <span class="forgot-password">
                                    @Html.RouteLink(T("Account.Login.ForgotPassword").Text, "PasswordRecovery")
                                </span>
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <div class="captcha-box">
                                    @Html.Raw(Html.GenerateCaptcha())
                                </div>
                            }
                        </div>
                        <div class="buttons">
                            <input class="button-1 login-button" type="submit" value="@T("Account.Login.LoginButton")" />
                        </div>
                    </div>
                }
            </div>
        </div>

        @{
            var externalMethods = Html.Action("ExternalMethods", "ExternalAuthentication");

            if (!MvcHtmlString.IsNullOrEmpty(externalMethods))
            {
                <div class="external-authentication">
                    @externalMethods
                </div>
            }
        }

        @if (!isCalledAsPopup)
        {
            @Html.Action("TopicBlock", "Topic", new { systemName = "LoginRegistrationInfo" })
        }
        else
        {
            <div id="login-modal-window-static-resources">
                @Html.NopCssFiles(this.Url, ResourceLocation.Head)
                @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
                @Html.NopScripts(this.Url, ResourceLocation.Head)
                @Html.NopScripts(this.Url, ResourceLocation.Foot)
            </div>
        }
    </div>
</div>


