﻿@{

    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");


}



<div class="bootstrap" style="background-color:transparent;">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 shadow-none p-3 mb-1 bg-transparent rounded">
                <h3>登入錯誤</h3>
                <hr />
            </div>
        </div>
        <div class="row justify-content-md-center">

            <div class="col-xs-12 col-md-6 border bg-white">
                <div class="row bg-light">
                    <div class="col p-3">
                        <strong>Email帳號重複</strong>
                        @{
                            var UseAuth = (int)ViewBag.UseAuth;

                            if (UseAuth == 0)
                            {
                                <br />
                                <strong>請嘗試使用abc好養車會員帳號登入</strong>
                            }
                            else if (UseAuth == 1)
                            {
                                <br />
                                <strong>請嘗試使用abc好車網會員帳號登入</strong>
                            }
                            else if (UseAuth == 2)
                            {
                                <br />
                                <strong>請嘗試使用facebook登入</strong>
                            }
                            else if (UseAuth == 3)
                            {
                                <br />
                                <strong>請嘗試使用google登入</strong>
                            }
                            else if (UseAuth == 100)
                            {
                                <br />
                                <strong>登入操作逾時，請<a href="@Url.RouteUrl("Login")">重新登入</a></strong>
                            }


                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


