﻿@model AdminHeaderLinksModel
@using Nop.Web.Models.Common;
@if (Model.IsCustomerImpersonated || Model.DisplayAdminLink)
{
    @*<div class="admin-header-links">
            @if (Model.IsCustomerImpersonated)
            {
                <div class="impersonate">
                    <span>@string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerEmailUsername)</span>
                    <a href="@Url.RouteUrl("Logout")" class="finish-impersonation" title="@T("Account.ImpersonatedAs.Finish.Hint")">@T("Account.ImpersonatedAs.Finish")</a>
                </div>
            }
            @if (Model.DisplayAdminLink)
            {
                <a href="@Url.Content("~/admin")" class="administration">@T("Account.Administration")</a>
            }
            @if (!String.IsNullOrEmpty(Model.EditPageUrl))
            {
                <a href="@Model.EditPageUrl" class="manage-page">@T("Common.ManagePage")</a>
            }
        </div>*@

    if (Model.IsCustomerImpersonated)
    {
        @*<div class="impersonate">
                <span>@string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerEmailUsername)</span>
                <a href="@Url.RouteUrl("Logout")" class="finish-impersonation" title="@T("Account.ImpersonatedAs.Finish.Hint")">@T("Account.ImpersonatedAs.Finish")</a>
            </div>*@
    }
    if (Model.DisplayAdminLink)
    {
        <span style="padding-right:15px;">
            <a href="@Url.Content("~/admin")">
                <i class="fa fa-cog" aria-hidden="true"></i> @T("Account.Administration")
            </a>
        </span>
        
    }
    if (!String.IsNullOrEmpty(Model.EditPageUrl))
    {
        <span style="padding-right:15px;">
            <a href="@Model.EditPageUrl">
                <i class="fa fa-cog" aria-hidden="true"></i> @T("Common.ManagePage")
            </a>
        </span>
        
    }
}