﻿@model FaviconModel
@using Nop.Web.Models.Common;
@*<link rel="icon" href="@Model.FaviconUrl" />*@
<link rel="shortcut icon" href="@Model.FaviconUrl" />
@*<link rel="shortcut icon" href="https://www.abcmore.com.tw/abcMorefavicon.ico" />*@
