﻿@model Nop.Plugin.Widgets.FacebookPixel.Models.PublicInfoModel
@{
    Layout = "";
}
@using Nop.Web.Framework.UI
@using Nop.Core
@using System.Web.Mvc

@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action");
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase) &&
                        actionName.Equals("index", StringComparison.InvariantCultureIgnoreCase);

    var isProductDetail = controllerName.Equals("Product", StringComparison.InvariantCultureIgnoreCase) &&
                        actionName.Equals("ProductDetails", StringComparison.InvariantCultureIgnoreCase);


}


@{

    if (!string.IsNullOrEmpty(CommonHelper.GetAppSettingValue("FixedHttpHost")))
    {
        <!--Production-->

    }
    else
    {
        <!--Develop @(controllerName) @(actionName)-->
        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
                n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '2126651677454053');
            fbq('track', 'PageView');
        </script>

        if (isProductDetail)
        {
            <script>
                fbq('track', 'ViewContent', {
                    value: '',
                    currency: 'TWD',
                    content_ids: 'replace with value',
                    content_type: 'product',
                });
            </script>

        }


        <!-- End Facebook Pixel Code -->

    }

}