﻿@model BookingListModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Bookings").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Bookings");
}

@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Bookings")
    </h1>
    @*<div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>*@
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.ActivatedId)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopDropDownListFor(model => model.ActivatedId, Model.ActivatedList)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.StartDate)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.StartDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.EndDate)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.EndDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.OrderId)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.OrderId)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-giftcards" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="giftcards-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#giftcards-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("BookingDataList", "Order"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [{
                                    field: "OrderId",
                                    title: "訂單編號"
                                }, {
                                    field: "OrderItemId",
                                    title: "明細編號"
                                }, {
                                    field: "CreatedOn",
                                    title: "訂單時間"
                                }, {
                                    field: "ProductName",
                                    title: "安裝商品"
                                }, {
                                    field: "IsBooking",
                                    title: "預約狀態",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                        template: '# if(IsBooking) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                }, {
                                    field: "BookingId",
                                    title: "預約單號"
                                }, {
                                    field: "BookingCreatedOn",
                                    title: "預約時間"
                                }, {
                                    field: "OrderItemId",
                                    title: "通知",
                                    width: 80,
                                        template: '# if(!IsBooking) {# <a href="javascript:;" data-orderid="#=OrderId#" onclick="notifyBooking(this);">簡訊通知</a> #} else {# <span>-</span> #} #'
                                }, {
                                    field: "OrderItemId",
                                    title: "管理",
                                    width: 80,
                                        template: '# if(!IsBooking) {# <a href="@Url.Content("~/Admin/servicevendor/AgentAbcBookingList/")#=OrderId#?orderItemId=#=OrderItemId#">代理預約</a> #} else {# <span>-</span> #} #'
                                }]
                            });
                        });
                    </script>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#search-giftcards').click(function () {
                                var grid = $('#giftcards-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });
                        });

                        @*$("#@Html.FieldIdFor(model => model.CouponCode)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-giftcards").click();
                                return false;
                            }
                        });*@

                        function additionalData() {
                            var data = {
                                ActivatedId: $('#@Html.FieldIdFor(model => model.ActivatedId)').val(),
                                OrderId: $('#@Html.FieldIdFor(model => model.OrderId)').val(),
                                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        var notifyBooking = function (e) {

                            var msg = "確定要送簡訊給會員？\n\n請會員盡快預約！"; 

                            if (confirm(msg) == true) {

                                var postData = {
                                    orderId: $(e).data("orderid")
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    data: postData,
                                    url: "@Url.Action("NotifyCustomerBooking", "Order")" ,
                                    dataType: 'json',
                                    success: function (data) {

                                        if (data.status == "OK") {
                                            alert("發送成功");
                                        } else {
                                            alert("發送失敗");
                                        }
    
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Failed to load.');
                                    }
                                });


                                //return true;
                            } else {
                                return false;
                            }                            
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

