﻿@using Nop.Web.Models.Catalog

@model CategoryNavigationModel

@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration

@{

    var currentStore = EngineContext.Current.Resolve<IStoreContext>().CurrentStore;
    int storeId = currentStore.Id;
    var settingsService = EngineContext.Current.Resolve<ISettingService>();
    bool stickyCategoryMenuFlyout = settingsService.GetSettingByKey("pavilionthemesettings.StickyCategoryMenuFlyout", true, storeId, true);





}

@functions{

    public bool DoesCurrentCategoryHasSubcategories(IList<CategorySimpleModel> categories)
    {
        foreach (var category in categories)
        {
            if (category.Id == Model.CurrentCategoryId && category.SubCategories.Count > 0)
            {
                return true;
            }

            if (DoesCurrentCategoryHasSubcategories(category.SubCategories))
            {
                return true;
            }

        }

        return false;
    }
}

@helper RenderCategoryLineOnCategoryPage(CategorySimpleModel category, bool isInCurrentCategory = false)
{
    if (category.Id == Model.CurrentCategoryId)
    {
        foreach (var subCategory in category.SubCategories)
        {
            @RenderCategoryLineOnCategoryPage(subCategory, true)
        }
    }
    else if (isInCurrentCategory)
    {
        <li>
            <a href="@Url.RouteUrl("Category", new {SeName = category.SeName})">
                @category.Name
                @if (category.NumberOfProducts.HasValue)
                {
                    <text> </text>
                    @T("Categories.TotalProducts", category.NumberOfProducts.Value)
                }
            </a>

            @if (category.SubCategories.Count > 0)
            {
                <ul class="sublist">
                    @foreach (var subCategory in category.SubCategories)
                    {
                        @RenderCategoryLineOnCategoryPage(subCategory, true)
                    }
                </ul>
            }
        </li>
    }
    else
    {
        foreach (var subCategory in category.SubCategories)
        {
            @RenderCategoryLineOnCategoryPage(subCategory)
        }
    }
}

@if (Model.Categories.Count > 0)
{
    var controllerName = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
    var actionName = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action");

    var isCategoryPage = controllerName.Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
                        actionName.Equals("category", StringComparison.InvariantCultureIgnoreCase);


    @*if (isCategoryPage && DoesCurrentCategoryHasSubcategories(Model.Categories))
        {
            <div class="block block-category-navigation" style="margin:0; border-top-color:#ffffff;">
                <div class="title subcategories-title">
                    <strong>@T("SevenSpikes.Themes.Pavilion.Catalog.Subcategories")</strong>
                </div>
                <div class="listbox category-page-navigation">
                    <ul class="list">
                        @foreach (var category in Model.Categories)
                        {
                            @RenderCategoryLineOnCategoryPage(category)
                        }
                    </ul>
                </div>
            </div>


        }
        else
        {

        }*@


    <div class="block block-category-navigation" style="margin:0; border-top-color:#ffffff;" id="mySubCatList2">
        <div class="title subcategories-title">
            <strong>@T("SevenSpikes.Themes.Pavilion.Catalog.Subcategories")</strong>
        </div>
        <div class="listbox category-page-navigation">
            <ul class="list">
                @foreach (var category in Model.Categories)
                {
                    @RenderCategoryLineOnCategoryPage(category)
                }
            </ul>
        </div>
    </div>



    <div class="block block-category-navigation" style="margin:0; border-top-color:#ffffff; display:none;" id="mySubCatList_disable">
        <div class="title subcategories-title">
            <strong>@T("SevenSpikes.Themes.Pavilion.Catalog.Subcategories")</strong>
        </div>
        <div class="listbox category-page-navigation">
            <ul class="list">
                @*@foreach (var category in Model.Categories)
                    {
                        @RenderCategoryLineOnCategoryPage(category)
                    }*@
                @*<li><a href="/14%E5%90%8B">14吋</a></li>*@
            </ul>
        </div>
    </div>


    <div class="catalog-clone header-mobile-inline" style="margin-top:10px; margin-bottom:25px; border-style:solid; border-color:#e9e9e9; border-width:1px 0 0 0;">
        @*<div class="catalog-clone" style="margin-top:10px; margin-bottom:25px; border-style:solid; border-color:#e9e9e9; border-width:1px 0 0 0;">*@

    </div>

    <div class="catalog-page" style="margin-top:25px; margin-bottom:15px;">
        <div class="category-navigation-list-wrapper" style="margin-top:-15px;">
            <ul style="border-color:#f6f6f6;" class="category-navigation-list @if (stickyCategoryMenuFlyout){<text>sticky-flyout</text>}"></ul>
        </div>
    </div>





    <script>
        $(document).ready(function () {

            var h = $.trim($("ul.list", $("#mySubCatList2")).html());
            if (h.length <=0) {

                $("#mySubCatList2").hide();
            }



            var topMenuCategoryItems = $('.top-menu > li.root-category-items, ' +
                '.mega-menu > li.root-category-items, ' +
                '.mega-menu > li.category-menu-item > .sublist-wrap > .sublist > li.root-category-items');

            @*console.log(topMenuCategoryItems);*@

            //+++++++++++++++++++++++++++++++++

            var cpCategoriesList = $('.catalog-page > .category-navigation-list-wrapper > .category-navigation-list');
            cpCategoriesList.css('display', 'block');


            //+++++++++++++++++++++++++++++++++++++++

            //var current_catalog_text = $(".current-catalog-text").html();
            var current_catalog_text = $("div.page-title>h1").html();
            @*console.log(current_catalog_text);*@

            var firstCat = $(".breadcrumb > ul > li").eq(1);

            var lastCat = $(".breadcrumb > ul > li").last();

            //console.log(firstCat.index());

            topMenuCategoryItems.each(function (index, option) {

                console.log($(option).html());
                var This = $(option);
                var elm = $("a", This).first();
                var catName = $("span", elm).html();

                @*console.log("aaa", current_catalog_text, catName);*@

                @* 第一階類別 *@
                if (current_catalog_text != catName) {

                    var item = "<div data-sc='" + elm.attr("href") + "' onmouseover='hoverIn(this);' onmouseout='hoverOut(this);' onclick='gotoCat(this);' style='cursor:pointer; font-weight:bold; font-size:medium; background-color:#ffffff; padding:15px 45px; border-style:solid; border-color:#e9e9e9; border-width:0 1px 1px 1px;background-image: " + elm.css("background-image") + ";background-repeat: no-repeat; background-size: 16px 16px; background-position: 20px 18px;'>";
                    item += elm.html();
                    item += "</div>";
                    $(".catalog-clone").append(item);

                } else {
                    $(".current-catalog-text").parent().css({ "background-image": elm.css("background-image"), "background-repeat": "no-repeat", "background-size": "16px 16px", "background-position": "20px 15px" });

                    var item = "<div data-sc='" + elm.attr("href") + "' onmouseover='hoverIn(this);' onmouseout='hoverOut(this);' onclick='gotoCat(this);' style='cursor:pointer; font-weight:bold; font-size:medium; background-color:#ffffff; padding:15px 45px; border-style:solid; border-color:#e9e9e9; border-width:0 1px 1px 1px;background-image: " + elm.css("background-image") + ";background-repeat: no-repeat; background-size: 16px 16px; background-position: 20px 18px;'>";
                    item += elm.html();
                    item += "</div>";
                    $(".catalog-clone").append(item);

                }

                if (lastCat.index() >= 2) {

                    if (firstCat.length > 0) {

                        if (catName == firstCat.children().first().html()) {

                            var subCatList = $('.sublist-wrap > .sublist > .inner-wrap > .row > .box', This);
                            if (subCatList.length > 0) {
                                subCatList.each(function () {
                                    var subCat = $(".title > a", this);

                                    if (current_catalog_text == subCat.attr("title")) {
                                        //var item = "<div data-sc='" + subCat.attr("href") + "' onmouseover='hoverIn(this);' onmouseout='hoverOut(this);' onclick='gotoCat(this);' style='cursor:pointer; color:red; font-weight:normal; font-size:small; background-color:#ffffff; padding:15px 45px; border-style:solid; border-color:#e9e9e9; border-width:0 1px 1px 1px;'>";
                                        //item += subCat.attr("title");
                                        //item += "</div>";
                                        //$(".catalog-clone").append(item);
                                    } else {
                                        var item = "<div data-sc='" + subCat.attr("href") + "' onmouseover='hoverIn(this);' onmouseout='hoverOut(this);' onclick='gotoCat(this);' style='cursor:pointer; font-weight:normal; font-size:small; background-color:#ffffff; padding:15px 45px; border-style:solid; border-color:#e9e9e9; border-width:0 1px 1px 1px;'>";
                                        item += subCat.attr("title");
                                        item += "</div>";
                                        $(".catalog-clone").append(item);
                                    }
                                });
                            }

                            var subCatList2 = $(This).children(".sublist-wrap").children(".sublist").children("li");
                            if (subCatList2.length > 0) {

                                subCatList2.each(function (index, elm) {

                                    if (!$(elm).hasClass("back-button")) {

                                        var subCat = $(elm).children("a").eq(0);

                                        if (current_catalog_text == subCat.attr("title")) {
                                            //var item = "<div data-sc='" + subCat.attr("href") + "' onmouseover='hoverIn(this);' onmouseout='hoverOut(this);' onclick='gotoCat(this);' style='cursor:pointer; color:red; font-weight:normal; font-size:small; background-color:#ffffff; padding:15px 45px; border-style:solid; border-color:#e9e9e9; border-width:0 1px 1px 1px;'>";
                                            //item += subCat.attr("title");
                                            //item += "</div>";
                                            //$(".catalog-clone").append(item);
                                        } else {
                                            var item = "<div data-sc='" + subCat.attr("href") + "' onmouseover='hoverIn(this);' onmouseout='hoverOut(this);' onclick='gotoCat(this);' style='cursor:pointer; font-weight:normal; font-size:small; background-color:#ffffff; padding:15px 45px; border-style:solid; border-color:#e9e9e9; border-width:0 1px 1px 1px;'>";
                                            item += subCat.attr("title");
                                            item += "</div>";
                                            $(".catalog-clone").append(item);
                                        }

                                    }

                                });

                            }

                        }

                    }
                }


                @* 第二階類別 *@
                if (lastCat.index() == 1) {

                    if (firstCat.length > 0) {

                        //console.log("a:", firstCat.html());
                        //console.log("b:", firstCat.children().first().html());

                        if (catName == firstCat.children().first().html()) {

                            var subCatList = $('.sublist-wrap > .sublist > .inner-wrap > .row > .box', This);

                            if (subCatList.length > 0) {
                                $("#mySubCatList").show();

                                var liData = "";
                                subCatList.each(function () {

                                    var subCat = $(".title > a", this);

                                    if (current_catalog_text == subCat.attr("title")) {
                                        liData += "<li><a style='color:red;' href='" + subCat.attr("href") + "'>" + subCat.attr("title") + "</a></li>";
                                    } else {
                                        liData += "<li><a href='" + subCat.attr("href") + "'>" + subCat.attr("title") + "</a></li>";
                                    }


                                });

                                //console.log(liData);
                                $('ul.list', $("#mySubCatList")).html(liData);

                            }

                            //var subCatList2 = $('.sublist-wrap > .sublist > li', This);
                            var subCatList2 = $(This).children(".sublist-wrap").children(".sublist").children("li");
                            if (subCatList2.length > 0) {
                                $("#mySubCatList").show();

                                var liData = "";
                                subCatList2.each(function (index, elm) {

                                    if (!$(elm).hasClass("back-button")) {

                                        var subCat = $(elm).children("a").eq(0);

                                        if (current_catalog_text == subCat.attr("title")) {
                                            liData += "<li><a style='color:red;' href='" + subCat.attr("href") + "'>" + subCat.attr("title") + "</a></li>";
                                        } else {
                                            liData += "<li><a href='" + subCat.attr("href") + "'>" + subCat.attr("title") + "</a></li>";
                                        }
                                    }

                                });

                                //console.log(liData);
                                $('ul.list', $("#mySubCatList")).html(liData);

                            }
                        }
                    }

                } else if (lastCat.index() == 2) {

                    //繼續查找
                    @*console.log("繼續查找", catName, firstCat.children().first().html());*@
                    if (catName == firstCat.children().first().html()) {

                        @*console.log("繼續查找");*@

                        var subCatList = $('.sublist-wrap > .sublist > .inner-wrap > .row > .box > .subcategories > li', This);
                        if (subCatList.length > 0) {

                            var liData = "";
                            subCatList.each(function (indx, elemt) {

                                var parent = $(elemt).closest(".box");
                                var parentCat = $(".title > a", parent);
                                @*console.log(">>>>>>>>>>>>>>>>", parentCat.attr("title"));*@

                                if (current_catalog_text == parentCat.attr("title")) {
                                    //console.log(elemt);
                                    var subCat = $("a", elemt);

                                    //console.log(subCat.attr("title"));

                                    if (current_catalog_text == subCat.attr("title")) {
                                        liData += "<li><a style='color:red;' href='" + subCat.attr("href") + "'>" + subCat.attr("title") + "</a></li>";
                                    } else {
                                        liData += "<li><a href='" + subCat.attr("href") + "'>" + subCat.attr("title") + "</a></li>";
                                    }
                                }


                            });

                            //console.log(liData);
                            if (liData.length > 0) {
                                $("#mySubCatList").show();
                                $('ul.list', $("#mySubCatList")).html(liData);
                            }


                        }

                        var subCatList2 = $(This).children(".sublist-wrap").children(".sublist").children("li.has-sublist").children(".sublist-wrap").children(".sublist").children("li");
                        @*console.log("subCatList2", subCatList2.length);*@
                        if (subCatList2.length > 0) {

                            var liData = "";
                            subCatList2.each(function (index, elm) {

                                var parent = $(elm).closest(".has-sublist");
                                var parentCat = $(parent).children("a").eq(0);
                                @*console.log(">>>>>>>>>>>>>>>>", parentCat.attr("title"));*@

                                if (current_catalog_text == parentCat.attr("title")) {
                                    if (!$(elm).hasClass("back-button")) {

                                        var subCat = $(elm).children("a").eq(0);

                                        if (current_catalog_text == subCat.attr("title")) {
                                            liData += "<li><a style='color:red;' href='" + subCat.attr("href") + "'>" + subCat.attr("title") + "</a></li>";
                                        } else {
                                            liData += "<li><a href='" + subCat.attr("href") + "'>" + subCat.attr("title") + "</a></li>";
                                        }
                                    }
                                }

                            });

                            if (liData.length > 0) {
                                $("#mySubCatList").show();
                                $('ul.list', $("#mySubCatList")).html(liData);
                            }

                        }

                    }
                }

            });

        });

        var hoverIn = function (e) {
            $(e).css({ "color": "#e73928", "background-color": "#f6f6f6" });
        }

        var hoverOut = function (e) {
            $(e).css({ "color": "#777777", "background-color": "#ffffff" });
        }

        var gotoCat = function (e) {
            location.href = $(e).data("sc");
        }






    </script>
}