﻿@using SevenSpikes.Nop.Framework.MVCExtensions
@using SevenSpikes.Nop.Plugins.MegaMenu.Models

@model MenuItemCategoryModel

@{
    var areCategoriesInASingleItem = Model.Item.EntityId == 0;
    var hasSubCategories = Model.Categories.Count > 0;
    var hasSublistClass = hasSubCategories ? "has-sublist" : string.Empty;
    var withSubcategoriesClass = hasSubCategories ? "with-subcategories" : string.Empty;
}

<li class="@hasSublistClass @Model.Item.CssClass root-category-items">
    @if (areCategoriesInASingleItem)
    {
        <span class="@withSubcategoriesClass single-item-categories labelfornextplusbutton">@Model.Item.Title</span>
    }
    else
    {
        <a class="@withSubcategoriesClass" href="@Model.Item.Url"><span>@Model.Item.Title</span></a>
    }

    @if (hasSubCategories)
    {
        <div class="sublist-wrap categories with-pictures fullWidth boxes-@Model.Categories.Count">
            <div class="sublist sublistMain">
                <div class="inner-wrap">
                    @(Html.DataTable<MegaMenuCategoryModel>(Model.Categories, Model.Item.NumberOfBoxesPerRow, "row", "box",
                    @<text>
                        <div class="picture-title-wrap">
                            <div class="title">
                                <a style="font-size:medium;" href="@Url.RouteUrl("Category", new {item.CategoryModel.SeName})" title="@item.CategoryModel.Name"><span>@item.CategoryModel.Name</span></a>
                            </div>
                            <div class="picture">
                                <a href="@Url.RouteUrl("Category", new {item.CategoryModel.SeName})" title="@item.CategoryModel.PictureModel.Title">
                                    <img class="lazy" alt="@item.CategoryModel.PictureModel.AlternateText" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="@item.CategoryModel.PictureModel.ImageUrl" />
                                </a>
                            </div>
                        </div>
                        <ul class="subcategories">
                            @foreach (var subCategory in item.SubCategories)
                            {
                                <li>
                                    <a style="font-size:medium;" href="@Url.RouteUrl("Category", new {subCategory.CategoryModel.SeName})" title="@subCategory.CategoryModel.Name"><span>@subCategory.CategoryModel.Name</span></a>
                                </li>
                            }

                            @if (item.ShouldShowViewAllLink)
                            {
                                <li>
                                    <a class="view-all" href="@Url.RouteUrl("Category", new {item.CategoryModel.SeName})" title="@T("SevenSpikes.MegaMenu.ViewAllCategories")">
                                        <span>@T("SevenSpikes.MegaMenu.ViewAllCategories")</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </text>
                ))
                </div>
                @if (areCategoriesInASingleItem)
                {
                    @Html.Widget("mega_menu_categories_before_dropdown_end")
                }
                else
                {

                    @Html.Widget(string.Format("mega_menu_categories_before_dropdown_end_{0}", Model.CategoryMenuItemIndex))
                }
            </div>
        </div>
    }
</li>