﻿@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">配送資訊</div>
            <div class="panel-body">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>圖片</th>
                                <th>商品</th>
                                <th>價格</th>
                                <th>數量</th>
                                <th>小計</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                @**@


                                @*宅配商品DEMO*@
                                foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                        </td>
                                        <td>
                                            <p>
                                                <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name">@item.ProductName</a>
                                            </p>
                                            <p>
                                                <ul>
                                                    <li>商品類別：精品百貨</li>
                                                    <li>配送方式：宅配 @item.ProductCategorys.Count</li>
                                                    <li>收件人：@Model.OrderReviewData.BillingAddress.FirstName @Model.OrderReviewData.BillingAddress.LastName</li>
                                                    <li>收件地址：@(Model.OrderReviewData.BillingAddress.City + Model.OrderReviewData.BillingAddress.Address1)</li>
                                                </ul>
                                            </p>
                                        </td>
                                        <td class="unit-price">
                                            <span class="product-unit-price">@item.UnitPrice</span>
                                        </td>
                                        <td class="quantity">
                                            @if (Model.IsEditable)
                                            {
                                                if (item.AllowedQuantities.Count > 0)
                                                {
                                                    <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                                        @foreach (var qty in item.AllowedQuantities)
                                                        {
                                                            <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input" />
                                                }
                                            }
                                            else
                                            {
                                                <span>@item.Quantity</span>
                                            }
                                        </td>
                                        <td class="subtotal">
                                            <span class="product-subtotal">@item.SubTotal</span>
                                            @if (!String.IsNullOrEmpty(item.Discount))
                                            {
                                                <div class="discount">
                                                    @T("ShoppingCart.ItemYouSave"): @item.Discount
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }

                                @*安裝商品DEMO*@
                                foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                        </td>
                                        <td>
                                            <p>
                                                <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name">@item.ProductName</a>
                                            </p>
                                            <p>
                                                <ul>
                                                    <li>商品類別：安裝保修  @item.ProductCategorys.Count</li>
                                                    <li>配送方式：線下安裝，結帳後預約安裝</li>
                                                </ul>
                                            </p>
                                        </td>
                                        <td class="unit-price">
                                            <span class="product-unit-price">@item.UnitPrice</span>
                                        </td>
                                        <td class="quantity">
                                            @if (Model.IsEditable)
                                            {
                                                if (item.AllowedQuantities.Count > 0)
                                                {
                                                    <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                                        @foreach (var qty in item.AllowedQuantities)
                                                        {
                                                            <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input" />
                                                }
                                            }
                                            else
                                            {
                                                <span>@item.Quantity</span>
                                            }
                                        </td>
                                        <td class="subtotal">
                                            <span class="product-subtotal">@item.SubTotal</span>
                                            @if (!String.IsNullOrEmpty(item.Discount))
                                            {
                                                <div class="discount">
                                                    @T("ShoppingCart.ItemYouSave"): @item.Discount
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="3">

                                    @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">賬單資訊</div>
            <div class="panel-body">
                <ul class="billing-info">
                    <li class="name" id="blName" data-name="@Model.OrderReviewData.BillingAddress.FirstName @Model.OrderReviewData.BillingAddress.LastName">
                        @Model.OrderReviewData.BillingAddress.FirstName @Model.OrderReviewData.BillingAddress.LastName
                    </li>
                    <li class="email">
                        @T("Order.Email"): @Model.OrderReviewData.BillingAddress.Email
                    </li>
                    @if (Model.OrderReviewData.BillingAddress.PhoneEnabled)
                    {
                        <li class="phone">
                            @T("Order.Phone"): @Model.OrderReviewData.BillingAddress.PhoneNumber
                        </li>
                    }
                    @if (Model.OrderReviewData.BillingAddress.CityEnabled || Model.OrderReviewData.BillingAddress.StreetAddressEnabled)
                    {
                        <li class="address1" id="blAddress1" data-address1="@(Model.OrderReviewData.BillingAddress.City + Model.OrderReviewData.BillingAddress.Address1)">
                            @Model.OrderReviewData.BillingAddress.Address1
                        </li>
                    }

                    
                    @if (!String.IsNullOrEmpty(Model.OrderReviewData.PaymentMethod))
                    {
                        <li class="payment-method">
                            <span>
                                @T("Order.Payment.Method")：
                            </span>
                            <span>
                                @Model.OrderReviewData.PaymentMethod
                            </span>
                        </li>
                    }
                    @if (Model.OrderReviewData.CustomValues != null)
                    {
                        foreach (var item in Model.OrderReviewData.CustomValues)
                        {
                            <li class="custom-value">
                                <span class="label">
                                    @item.Key:
                                </span>
                                <span class="value">
                                    @(item.Value != null ? item.Value.ToString() : "")
                                </span>
                            </li>
                        }
                    }
                </ul>

            </div>
        </div>

    </div>

</div>