﻿@model MiniShoppingCartModel
@using Nop.Web.Models.ShoppingCart;



<div class="float-left dropdown">
    <div class="more-cart-icon" style="position:relative; cursor:pointer;" id="miniCart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="~/Content/new/images/more_cart.png" alt="cart" />
        <div class="text-center more-counter more-cart-count" style="padding-top:2px;">@Model.TotalProducts</div>
    </div>
    <div class="dropdown-menu dropdown-menu-right rounded-0" aria-labelledby="miniCart" style="padding:0; max-width:350px; z-index:9999;">
        <div class="card text-dark bg-light rounded-0" style="width:350px;">
            <div class="card-header rounded-0" style="padding-top:10px;padding-bottom:7px; background-color:#d0021b; color:#ffffff;">
                <span style="padding-left:40px; background-image: url(/Content/new/images/more_cart.png);background-repeat: no-repeat;">
                    購物車
                </span>
                @if (!string.IsNullOrEmpty(Model.SubTotal))
                {
                    <span> - @Model.SubTotal</span>
                }
            </div>
            <div class="card-body bg-white p-2">
                @if (Model.TotalProducts <= 0)
                {
                    <p>目前無任何商品</p>
                }
                else
                {

                    for (int i = 0; i < Model.Items.Count; i++)
                    {
                        var item = Model.Items[i];

                        <div class="media">
                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
                                <img style="width:70%;" alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                            </a>
                            <div class="media-body">
                                <p class="mt-0" style="font-size:small; font-weight:bold;">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                                </p>
                                <p style="font-size:small;">
                                    <span>@item.Quantity</span>
                                    <span>x</span>
                                    <strong>@item.UnitPrice</strong>
                                </p>
                            </div>
                        </div>

                        if ((i + 1) != Model.Items.Count)
                        {
                            <hr />
                        }

                    }

                    @*total*@
                    <div class="text-right mt-2 p-2 bg-light" style="font-size:small; font-weight:bold;">
                        @T("ShoppingCart.Totals.SubTotal"):
                        <strong>@Model.SubTotal</strong>
                    </div>

                    <div class="text-right mt-2 p-2">
                        @if (Model.DisplayShoppingCartButton)
                        {
                            <button type="button" class="btn btn-danger rounded-0" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')">@T("ShoppingCart.Mini.ViewCart")</button>

                        }
                        @if (Model.DisplayCheckoutButton)
                        {
                            var checkoutUrl = "";
                            if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                            {
                                checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                            }
                            else
                            {
                                checkoutUrl = Url.RouteUrl("Checkout");
                            }
                            <input type="button" value="@T("Checkout.Button")" class="button-1 checkout-button" onclick="setLocation('@checkoutUrl')" />
                        }
                    </div>
                }

            </div>
        </div>
    </div>
</div>




@*<div class="flyout-cart-wrapper" id="flyout-cart">
    <a href="@Url.RouteUrl("ShoppingCart")" class="cart-trigger">
        <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.TotalProducts)</span>
        <!--<span class="cart-label">@T("SevenSpikes.Themes.Pavilion.Flyout.Cart")</span>-->
        <span class="cart-label">購物車</span>
        @if (!string.IsNullOrEmpty(Model.SubTotal))
        {
            <span class="cart-ttl">- @Model.SubTotal</span>
        }
    </a>
    <div class="flyout-cart">
        <div class="mini-shopping-cart">
            <div class="count">
                @if (Model.TotalProducts == 0)
                {
                    @T("ShoppingCart.Mini.NoItems")
                }
                else
                {
                    @Html.Raw(string.Format(T("ShoppingCart.Mini.ItemsText").Text, string.Format("<a href=\"{0}\">{1}</a>", Url.RouteUrl("ShoppingCart"), string.Format(T("ShoppingCart.Mini.Items").Text, Model.TotalProducts))))
                }
            </div>
            @if (Model.TotalProducts > 0)
            {
                <div class="items">
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        var item = Model.Items[i];
                        <div class="item @(i == 0 ? "first" : null)">
                            @if (Model.ShowProductImages)
                            {
                                <div class="picture">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                    </a>
                                </div>
                            }
                                <div class="product">
                                    <div class="name">
                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                                    </div>
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                {
                                <div class="attributes">
                                    @Html.Raw(item.AttributeInfo)
                                </div>
                                }
                                    <!--<div class="price">@T("ShoppingCart.Mini.UnitPrice"): <span>@item.UnitPrice</span></div>-->
                                    <!--<div class="quantity">@T("ShoppingCart.Mini.Quantity"): <span>@item.Quantity</span></div>-->
                                    <div class="price"><label>@item.Quantity</label> <span>x</span> <strong>@item.UnitPrice</strong></div>
                                </div>
                                </div>
                            }
                        </div>
                        <div class="totals">@T("ShoppingCart.Totals.SubTotal"): <strong>@Model.SubTotal</strong></div>
                        <div class="buttons">
                            @if (Model.DisplayShoppingCartButton)
                            {
                                <input type="button" value="@T("ShoppingCart.Mini.ViewCart")" class="button-1 cart-button" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')" />

                            }
                            @if (Model.DisplayCheckoutButton)
                            {
                                var checkoutUrl = "";
                                if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                                {
                                    checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                                }
                                else
                                {
                                    checkoutUrl = Url.RouteUrl("Checkout");
                                }
                                <input type="button" value="@T("Checkout.Button")" class="button-1 checkout-button" onclick="setLocation('@checkoutUrl')" />
                            }
                        </div>
                    }
                </div>
            </div>
        </div>*@

