﻿@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();


    //abc商品現abc會員
    var workContext = EngineContext.Current.Resolve<IWorkContext>();
    string userName = workContext.CurrentCustomer.Username;

    bool hasABCProduct = false;
    bool canBuy = true;

    int[] abcCatalogs = new int[] { 14, 15, 7838 };

    foreach (var item in Model.Items)
    {
        if (item.ProductCategorys.Where(x => abcCatalogs.Contains(x.CategoryId)).Any())
        {
            hasABCProduct = true;
        }
    }

    if (hasABCProduct && !string.IsNullOrEmpty(userName))
    {
        int checkPoint = userName.IndexOf("@abccar.com.tw");
        if (checkPoint < 0)
        {
            canBuy = false;
        }
    }


}

<div class="order-summary-content">
    @Html.Widget("order_summary_content_before")
    @Html.Partial("_OrderReviewData", Model.OrderReviewData)
    @if (Model.Items.Count > 0)
    {
        if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
        @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
        //using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data", id = "shopping-cart-form" }))
        using (Html.BeginForm("MyCart", "ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data", id = "shopping-cart-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="table-wrapper">
                <table class="cart">
                    <colgroup>
                        <col width="1" />
                        @if (Model.IsEditable)
                        {
                            <col width="1" />
                        }
                        @if (Model.ShowSku)
                        {
                            <col width="1" />
                        }
                        @if (Model.ShowProductImages)
                        {
                            <col width="1" />
                        }
                        <col />
                        <col width="1" />
                        <col width="1" />
                        <col width="1" />
                    </colgroup>
                    <thead>
                        <tr class="cart-header-row">
                            <th>
                                <span class="item-count">#</span>
                            </th>
                            @if (Model.IsEditable)
                            {
                                <th class="remove-from-cart" data-hide="w410, w480, w580">
                                    @T("ShoppingCart.Remove")
                                </th>
                            }
                            @if (Model.ShowSku)
                            {
                                <th class="sku" data-hide="w410, w480, w580, w768, w980">
                                    @T("ShoppingCart.SKU")
                                </th>
                            }
                            @if (Model.ShowProductImages)
                            {
                                <th class="product-picture">
                                    @T("ShoppingCart.Image")
                                </th>
                            }
                            <th class="product" data-hide="w410, w480">
                                @T("ShoppingCart.Product(s)")
                            </th>
                            <th class="unit-price" data-hide="w410, w480, w580, w768">
                                @T("ShoppingCart.UnitPrice")
                            </th>
                            <th class="quantity" data-hide="w410, w480, w580, w768">
                                @T("ShoppingCart.Quantity")
                            </th>
                            <th class="subtotal">
                                @T("ShoppingCart.ItemTotal")
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bootstrap">
                        @{var counter = 0;}
                        @foreach (var item in Model.Items)
                        {
                            counter++;
                            <tr class="cart-item-row">
                                <td>
                                    <span class="item-count">@counter</span>
                                </td>
                                @if (Model.IsEditable)
                                {
                                    if (item.Id == 0)
                                    {
                                        <td class="remove-from-cart">
                                            <i class="fas fa-gifts" style="color:#d0021b;"></i>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="remove-from-cart">
                                            <input type="checkbox" name="removefromcart" value="@(item.Id)" style="display:none" />
                                            <a href="javascript:;" onclick="removeOneProduct(this);"><span class="badge badge-secondary">刪除</span></a>
                                        </td>
                                    }

                                }
                                @if (Model.ShowSku)
                                {
                                    <td class="sku">
                                        @item.Sku
                                    </td>
                                }
                                @if (Model.ShowProductImages)
                                {
                                    <td class="product-picture">
                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                    </td>
                                }
                                <td class="product">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name">@item.ProductName</a>
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                    {
                                        <div class="recurring-info">
                                            @Html.Raw(item.RecurringInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RentalInfo))
                                    {
                                        <div class="rental-info">
                                            @Html.Raw(item.RentalInfo)
                                        </div>
                                    }
                                    @if (Model.IsEditable && item.AllowItemEditing)
                                    {
                                        var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName });
                                        editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + item.Id, null);
                                        <div class="edit-item">
                                            <a href="@editCartItemUrl">@T("Common.Edit")</a>
                                        </div>
                                    }
                                    @if (item.Warnings.Count > 0)
                                    {
                                        <div class="message-error">
                                            <ul>
                                                @foreach (var warning in item.Warnings)
                                                {
                                                    <li>@warning</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                                <td class="unit-price">
                                    @if (!String.IsNullOrEmpty(item.Discount))
                                    {
                                        <span class="product-unit-price">@item.OrgPrice</span>
                                        <br />
                                        <span class="product-unit-price" style="color:#d0021b">折扣價:@item.UnitPrice</span>
                                        <div class="discount" style="color:#d0021b">
                                            @T("ShoppingCart.ItemYouSave"): @item.Discount
                                        </div>
                                    }
                                    else
                                    {
                                        <span class="product-unit-price">@item.UnitPrice</span>
                                    }

                                </td>
                                <td class="quantity">
                                    @if (Model.IsEditable && item.Id != 0)
                                    {
                                        if (item.AllowedQuantities.Count > 0)
                                        {
                                            <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                                @foreach (var qty in item.AllowedQuantities)
                                                {
                                                    <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input" />
                                        }
                                    }
                                    else
                                    {
                                        <span>@item.Quantity</span>
                                    }
                                </td>
                                <td class="subtotal">
                                    <span class="product-subtotal">@item.SubTotal</span>
                                    @*@if (!String.IsNullOrEmpty(item.Discount))
                                        {
                                            <div class="discount">
                                                @T("ShoppingCart.ItemYouSave"): @item.Discount
                                            </div>
                                        }*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="cart-options" style="margin-bottom:20px;">
                @if (Model.IsEditable)
                {
                    <div class="common-buttons">
                        <div class="cartOption-1">
                            <input type="submit" name="updatecart" value="更新數量" class="button-2 update-cart-button" />
                        </div>
                        <div class="cartOption-2">
                            <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" class="button-2 continue-shopping-button" />
                        </div>

                        @*<input type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" class="button-2 update-cart-button" style="float:right;" />*@


                        <div style="clear:both;"></div>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                {
                    <div class="selected-checkout-attributes">
                        @Html.Raw(Model.CheckoutAttributeInfo)
                    </div>
                }
            </div>

            if (Model.IsEditable)
            {
                @Html.Action("MyCrossSellProducts", "Product")
            }

            if (Model.IsEditable && Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
            {
                var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                //of course, you can modify appropriate locales to include VAT info there
                <div class="tax-shipping-info">
                    @T(inclTax ? "ShoppingCart.TaxShipping.InclTax" : "ShoppingCart.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </div>
            }

            <div class="cart-footer">
                @Html.Widget("order_summary_cart_footer")
                @if (Model.IsEditable)
                {
                    <div class="cart-collaterals" style="margin-bottom:20px;">
                        @if (Model.EstimateShipping.Enabled)
                        {
                            <div class="accordion-tab estimate-shipping">
                                <div class="accordion-tab-title">
                                    <strong>@T("ShoppingCart.EstimateShipping")</strong>
                                </div>
                                <div class="accordion-tab-content">
                                    @Html.Partial("EstimateShipping", Model.EstimateShipping)
                                </div>
                            </div>
                        }
                        @if (Model.DiscountBox.Display)
                        {
                            @*<div class="accordion-tab coupon-codes">
                                    <div class="accordion-tab-title">
                                        <strong>@T("ShoppingCart.DiscountCouponCode")</strong>
                                    </div>
                                    <div class="accordion-tab-content">
                                        @Html.Partial("_MyDiscountBox", Model.DiscountBox)
                                    </div>
                                </div>*@
                            @*<div class="accordion-tab coupon-codes">
                                    <div class="accordion-tab-title">
                                        <strong>@T("ShoppingCart.DiscountCouponCode")</strong>
                                    </div>
                                    <div class="accordion-tab-content" style="display: block;">
                                        @Html.Partial("_MyDiscountBox", Model.DiscountBox)
                                    </div>
                                </div>*@
                            <div style="border:solid #e9e9e9 1px; background-color:#ffffff; margin-bottom:10px;">
                                <div style="border-bottom: solid #e9e9e9 1px; padding:15px 30px;">
                                    <strong>@T("ShoppingCart.DiscountCouponCode")</strong>
                                </div>
                                <div style="padding:15px 30px;">
                                    @Html.Partial("_MyDiscountBox", Model.DiscountBox)
                                </div>
                            </div>
                        }
                        @if (Model.GiftCardBox.Display)
                        {

                            @*<div class="accordion-tab gift-cards">
                                    <div class="accordion-tab-title">
                                        <strong>@T("ShoppingCart.GiftCardCouponCode")</strong>
                                    </div>
                                    <div class="accordion-tab-content" style="display: block;">
                                        @Html.Partial("_GiftCardBox", Model.GiftCardBox)
                                    </div>
                                </div>*@
                            <div style="border:solid #e9e9e9 1px; background-color:#ffffff; margin-bottom:10px;">
                                <div style="border-bottom: solid #e9e9e9 1px; padding:15px 30px;">
                                    <strong>@T("ShoppingCart.GiftCardCouponCode")</strong>
                                </div>
                                <div style="padding:15px 30px;">
                                    @Html.Partial("_GiftCardBox", Model.GiftCardBox)
                                </div>
                            </div>
                        }
                        @Html.Partial("_MyCheckoutAttributes", Model.CheckoutAttributes, new ViewDataDictionary())
                        @Html.Widget("order_summary_content_deals")
                    </div>
                }
                <div class="totals">
                    @*@Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })*@
                    @Html.Action("MyOrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })

                    @if (Model.IsEditable)
                    {
                        if (!String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                        {
                            <div class="min-amount-warning">
                                @Model.MinOrderSubtotalWarning
                            </div>
                        }
                    }
                    @if (Model.IsEditable)
                    {
                        if (Model.TermsOfServiceOnShoppingCartPage)
                        {
                            <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display:none;">
                                <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                            </div>
                            <div class="terms-of-service">
                                <div>
                                    <input id="termsofservice" type="checkbox" name="termsofservice" />
                                    <span>
                                        @T("Checkout.TermsOfService.IAccept")
                                        <a class="read" id="read-terms">
                                            @T("Checkout.TermsOfService.Read")
                                        </a>
                                    </span>
                                    <script>
									   $(document).ready(function() {
									       $('#read-terms').on('click', function(e) {
									           e.preventDefault();
									           displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', '@T("Checkout.TermsOfService")');
									       });
									   });
                                    </script>
                                </div>
                            </div>
                        }
                        <div class="checkout-buttons">
                            @if (String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                            {
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#checkout').click(function () {

                                            @{
                                                if (!canBuy)
                                                {
                                                    <text>
                                            alert("很抱歉，購物車商品限定abc好車網會員購買");
                                            return false;
                                                    </text>
                                                }
                                            }

                                            //terms of service
                                            var termOfServiceOk = true;
                                            if ($('#termsofservice').length > 0) {
                                                //terms of service element exists
                                                if (!$('#termsofservice').is(':checked')) {
                                                    $("#terms-of-service-warning-box").dialog();
                                                    termOfServiceOk = false;
                                                } else {
                                                    termOfServiceOk = true;
                                                }
                                            }
                                            return termOfServiceOk;
                                        });
                                    });
                                </script>
                                <button type="submit" id="checkout" name="checkout" value="checkout" class="button-1 checkout-button">
                                    @T("Checkout.Button")
                                </button>
                            }
                        </div>

                        var addonButtonsHtml = Html.Partial("_ButtonPaymentMethod", Model);
                        if (!MvcHtmlString.IsNullOrEmpty(addonButtonsHtml))
                        {
                            <div class="addon-buttons">
                                @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                                @addonButtonsHtml
                            </div>
                        }

                    }
                </div>
            </div>
            @*if (Model.IsEditable)
            {
                @Html.Action("CrossSellProducts", "Product")
            }*@
        }

    }
    else
    {
        <div class="no-data">
            @T("ShoppingCart.CartIsEmpty")
        </div>
    }
    @Html.Widget("order_summary_content_after")
</div>


<div style="display:none;" id="hidden-mycoupon" class="bootstrap">
    <div style="margin-top:30px">
        @if (Model.MyCoupons != null && Model.MyCoupons.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>折扣說明</th>
                        <th>折扣碼</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var myCoupon in Model.MyCoupons)
                    {
                        <tr>
                            <td>@myCoupon.Name</td>
                            <td>
                                <span class="badge badge-info">@myCoupon.CouponCode</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm rounded-0" data-coupon="@myCoupon.CouponCode" onclick="useMyCoupon(this);">使用</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }
        else
        {

            @*<h2>目前無任何轉屬折扣</h2>*@
            <p style="margin-top:30px;">目前無任何專屬折價券</p>
        }
    </div>
</div>


<script>
    var removeOneProduct = function (e) {

        var removeCheckBox = $(e).siblings("input");

        var msg = "確定要刪除？";
        if (confirm(msg) == true) {
            removeCheckBox.prop('checked', true);
            $("input[name='updatecart']").trigger("click");

        } else {
            return false;
        }

    }

    var useMyCoupon = function (e) {

        $("input[name='discountcouponcode']").val($(e).data("coupon"));
        $.fancybox.close();
        $("input[name='applydiscountcouponcode']").trigger("click");

    }

</script>