﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh-tw">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/webkit/layui/css/layui.css" rel="stylesheet" />

    <style type="text/css">
        .layui-col-sm1 {
            width: 10%;
        }
        .layui-col-sm2 {
            width: 15%;
        }

        .calendar-title {
            height: 25px;
            border: solid darkred 1px;
            padding: 9px 0 0 0;
            text-align: center;
            background-color: darkred;
            color: #ffffff;
        }
        .calendar-body {
            min-height:95px;
            border: solid #efefef 1px;
            padding: 2px;
        }
    </style>
</head>
<body>

    <div class="layui-container" style="margin-top:20px;">
        <div class="layui-row layui-col-space3">
            <div class="layui-col-sm1">
                <div class="calendar-title"><strong>日</strong></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-title"><strong>一</strong></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-title"><strong>二</strong></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-title"><strong>三</strong></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-title"><strong>四</strong></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-title"><strong>五</strong></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-title"><strong>六</strong></div>
            </div>
        </div>

        <div class="layui-row layui-col-space3" style="padding-bottom:30px;">
            <div class="layui-col-sm1">
                <div class="calendar-body">
                    <div>
                        <div style="float:left;"><span class="layui-badge layui-bg-gray">0</span></div>
                        <div style="float:right;"><span class="layui-badge-rim">預約</span></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="margin-top:5px; font-size:12px; color:darkgray;">09:00~10:30<br />09:00~10:30<br />09:00~10:30<br />09:00~10:30<br />09:00~10:30<br /></div>
                </div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>

            <div class="layui-col-sm1">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>
            <div class="layui-col-sm2">
                <div class="calendar-body"><span class="layui-badge layui-bg-gray">0</span></div>
            </div>

        </div>

    </div>
   


    <div class="layui-container">
        <div class="layui-row layui-col-space3" style="margin-top:20px;">
            <div class="layui-col-sm1">
                <div style="height:25px; border:solid darkred 1px; padding:9px 0 0 0; text-align:center; background-color:darkred; color:#ffffff;"><strong>日</strong></div>
            </div>
            <div class="layui-col-sm2">
                <div style="height:25px; border:solid darkred 1px; padding:9px 0 0 0; text-align:center; background-color:darkred; color:#ffffff;"><strong>一</strong></div>
            </div>
            <div class="layui-col-sm2">
                <div style="height:25px; border:solid darkred 1px; padding:9px 0 0 0; text-align:center; background-color:darkred; color:#ffffff;"><strong>二</strong></div>
            </div>
            <div class="layui-col-sm2">
                <div style="height:25px; border:solid darkred 1px; padding:9px 0 0 0; text-align:center; background-color:darkred; color:#ffffff;"><strong>三</strong></div>
            </div>
            <div class="layui-col-sm2">
                <div style="height:25px; border:solid darkred 1px; padding:9px 0 0 0; text-align:center; background-color:darkred; color:#ffffff;"><strong>四</strong></div>
            </div>
            <div class="layui-col-sm2">
                <div style="height:25px; border:solid darkred 1px; padding:9px 0 0 0; text-align:center; background-color:darkred; color:#ffffff;"><strong>五</strong></div>
            </div>
            <div class="layui-col-sm2">
                <div style="height:25px; border:solid darkred 1px; padding:9px 0 0 0; text-align:center; background-color:darkred; color:#ffffff;"><strong>六</strong></div>
            </div>



        </div>
        <div class="layui-row" style="padding-bottom:30px;" id="calendar">
        </div>




    </div>












    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/webkit/layui/layui.js"></script>
    <script>
        ////一般直接写在一个js文件中
        //layui.use(['layer', 'form'], function () {
        //    var layer = layui.layer
        //        , form = layui.form;

        //    layer.msg('Hello World');
        //});


        $(document).ready(function () {

            createCalendar();

        });

        var now = new Date();
        var date = new Date();//當天

        //var edate = new Date($("#ecDate").val());
        var edate = new Date();//Test
        edate.setDate(edate.getDate() + 14);

        var m = edate.getFullYear() + '-' + (edate.getMonth() + 1) + '-' + edate.getDate();

        function createCalendar() {

            // 每月日數陣列
            var monthDays = new Array(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);

            // 閏年判斷
            mYear = date.getFullYear();
            if (((mYear % 4 == 0) && (mYear % 100 != 0)) || (mYear % 400 == 0)) monthDays[1] = 29;

            // 設定日期為該月第一天
            date.setDate(1);

            // 該月第一天的星期
            var day = date.getDay();

            // 計算秀出時需要的格數
            var total = monthDays[date.getMonth()] + day;
            var totalCells = total + (total % 7 ? 7 - total % 7 : 0);

            var html = '';
            for (var i = 0; i < totalCells; i++) {

                if ((i + 1) % 7 == 1 || (i + 1) % 7 == 0) {
                    html += '<div class="layui-col-sm1">';
                    html += '<div style="height:85px; border:solid #efefef 1px; padding:2px;"><span class="layui-badge layui-bg-gray">' + i + '</span></div>';
                    html += '</div>';
                } else {
                    html += '<div class="layui-col-sm2">';
                    html += '<div style="height:85px; border:solid #efefef 1px; padding:2px;"><span class="layui-badge layui-bg-gray">' + i + '</span></div>';
                    html += '</div>';
                }



                //if (i >= day && i < total) {
                //    var tempDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/";
                //    var whichDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + ((i - day) + 1);
                //    var currDate = new Date(whichDate);
                //    var nowDate = new Date(now.getFullYear() + "/" + (now.getMonth() + 1) + "/" + now.getDate());

                //    if (currDate.getTime() < nowDate.getTime()) {
                //        html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                //        html += "<div class='date'><span class='badge badge-pill badge-secondary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                //        html += "<br style='clear:both;' /><div class='booking'></div>";
                //        html += "</li>";
                //    } else if (currDate.getTime() > nowDate.getTime()) {

                //        //var d3 = (currDate - nowDate) / 86400000;
                //        //if (d3 <= 14) {
                //        //    html += "<li style='position:relative;' class='day canUse' data-code='" + shopCode + "' data-date='" + whichDate + "' onclick='gotoBooking(this);'>";
                //        //    html += "<div class='date'><span class='badge badge-pill badge-primary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                //        //    html += "<button type='button' class='btn btn-info btn-sm fullDate' style='position: absolute; right:5px; top:5px;'>選擇時段</button>";
                //        //    html += "<br style='clear:both;' /><div class='booking'></div>";
                //        //    html += "</li>";
                //        //} else {
                //        //    html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                //        //    html += "<div class='date'><span class='badge badge-pill badge-secondary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                //        //    html += "<br style='clear:both;' /><div class='booking'></div>";
                //        //    html += "</li>";
                //        //}
                //        if (currDate.getTime() <= edate.getTime()) {
                //            html += "<li style='position:relative;' class='day canUse' data-code='" + shopCode + "' data-date='" + whichDate + "' onclick='gotoBooking(this);'>";
                //            html += "<div class='date'><span class='badge badge-pill badge-primary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                //            html += "<button type='button' class='btn btn-info btn-sm fullDate' style='position: absolute; right:5px; top:5px; display:none;'>選擇時段</button>";
                //            html += "<br style='clear:both;' /><div class='booking'></div>";
                //            html += "</li>";

                //        } else {
                //            html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                //            html += "<div class='date'><span class='badge badge-pill badge-secondary'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                //            html += "<br style='clear:both;' /><div class='booking'></div>";
                //            html += "</li>";
                //        }

                //    } else if (currDate.getTime() == nowDate.getTime()) {
                //        html += "<li class='day over-day' data-code='" + shopCode + "' data-date='" + whichDate + "'>";
                //        html += "<div class='date'><span class='badge badge-pill badge-info'><span class='fullDate'>" + tempDate + "</span>" + ((i - day) + 1) + "<span class='fullDate'>" + week(i) + "</span></span></div>";
                //        html += "<br style='clear:both;' /><div class='booking'></div>";
                //        html += "</li>";
                //    }


                //}
                //else {
                //    html += "<li class='day other-month'>";
                //    html += "<div class='date'>-</div>";
                //    html += "<br style='clear:both;' /><div class='booking'></div>";
                //    html += "</li>";
                //}



            }
            $("#calendar").append(html);

            //$("#current_date").html("<strong>" + date.getFullYear() + "年" + (date.getMonth() + 1) + "月</strong>");

            //listBooking(shopCode);//顯示已被預約時間

        }






    </script>

</body>
</html>
