﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddCssFileParts("~/Content/Vendor/flexslider.css");

    Html.AddScriptParts("~/Content/Vendor/jquery.flexslider.js");


}
@model Nop.Web.Models.Customer.PartnerVendorInfoModel




<div class="page">
    <section class="bootstrap">
        <div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">

                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="https://placeimg.com/1000/1000/animals" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/arch" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/nature" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/people" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/animals" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/arch" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/nature" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/people" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/animals" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/arch" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/nature" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/people" />
                            </li>
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="https://placeimg.com/1000/1000/animals" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/arch" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/nature" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/people" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/animals" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/arch" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/nature" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/people" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/animals" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/arch" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/nature" />
                            </li>
                            <li>
                                <img src="https://placeimg.com/1000/1000/people" />
                            </li>
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>



                </div>


            </div>
        </div>
    </section>

    <div style="width:500px;">



    </div>



</div>




@*<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp2sgHJbLuJn8EW4PF3tAKoPLaCYgBbbY&callback=initMap">
    </script>*@

<script type="text/javascript">

    //var map;
    $(document).ready(function () {







    });


    $(window).load(function () {
        // The slider being synced must be initialized first
        $('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 50,
            itemMargin: 5,
            asNavFor: '#slider'
        });

        $('#slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel"
        });
    });


</script>


