﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddCssFileParts("~/Content/Vendor/flexslider.css");

    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox.min.css");

    Html.AddCssFileParts("~/Content/layui/css/layui.css");


    Html.AddScriptParts("~/Content/Vendor/jquery.flexslider.js");
    Html.AddScriptParts("~/Content/fancybox/jquery.fancybox.min.js");

    Html.AddScriptParts("~/Content/layui/layui.js");




}
@model Nop.Web.Models.Customer.PartnerVendorInfoModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@{

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;

}

<div class="breadcrumb">
    <ul>
        @Html.Widget("productbreadcrumb_before", Model.CustomerId)
        <li>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="@Url.RouteUrl("HomePage")" itemprop="url">
                    <span itemprop="title">@T("Products.Breadcrumb.Top")</span>
                </a>
            </span>
            <span class="delimiter">@breadcrumbDelimiter</span>
        </li>
        <li>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="@Url.RouteUrl("PartnerVendors")" itemprop="url">
                    <span itemprop="title">找服務據點</span>
                </a>
            </span>
            <span class="delimiter">@breadcrumbDelimiter</span>
        </li>
        <li>
            <strong class="current-item">@Model.VendorTitle</strong>
            @*<strong class="current-item"><a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })" itemprop="url">@Model.ProductName</a></strong>*@
            @Html.Widget("productbreadcrumb_after", Model.CustomerId)
        </li>
    </ul>
</div>

<div class="page">
    <section class="bootstrap">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                @if (Model.PartnerVendorPictures != null && Model.PartnerVendorPictures.Count > 0)
                {
                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            @foreach (var pic in Model.PartnerVendorPictures)
                            {
                                <li>
                                    <img src="@pic.PictureUrl" />
                                </li>
                            }

                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            @foreach (var pic in Model.PartnerVendorPictures)
                            {
                                <li>
                                    <img src="@pic.PictureUrl" />
                                </li>
                            }
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>

                }
                else
                {

                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="/Content/Images/default-image.png" />
                            </li>
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="/Content/Images/default-image.png" />
                            </li>
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>

                }
            </div>
            <div class="col-sm-12 col-md-4 pt-3">
                <div class="px-3">
                    <h4>@Model.VendorTitle</h4>
                    <p>
                        <span class="fa fa-star text-warning" id="star1"></span>
                        <span class="fa fa-star text-warning" id="star2"></span>
                        <span class="fa fa-star text-warning" id="star3"></span>
                        <span class="fa fa-star text-warning" id="star4"></span>
                        <span class="fa fa-star text-warning" id="star5"></span>
                    </p>
                    <p>
                        營業時間：@Model.VendorStartTime ~ @Model.VendorEndTime
                    </p>
                    <p>
                        服務地址：@Model.AddressInfo
                    </p>
                    <p>
                        連絡電話：@Model.PhoneInfo
                    </p>
                    <p style="margin-bottom:30px;">
                        營業種類：
                        @if (Model.VendorTags != null)
                        {
                            foreach (var item in Model.VendorTags)
                            {
                                <span class='border p-2'><strong>@item</strong></span>
                            }
                        }
                    </p>
                    @if (Model.IsLogin)
                    {
                        <p>
                            <span style="font-size:large;">我的電子禮券：<span style="color:mediumvioletred; font-weight:bold;">@Model.MyAccountValue</span> 點</span>
                        </p>
                    }
                    @*<p>
            <a class="btn btn-danger btn-lg rounded-0" href="/電子禮券" role="button">立即購買</a>
            <button type="button" class="btn btn-danger btn-lg rounded-0" id="bookingNowBtn" onclick="showCalendar();">立即預約</button>
        </p>*@
                    <p>
                        <div>
                            <div style="float:left;">
                                <a class="btn btn-danger btn-lg rounded-0" href="/電子禮券" role="button">立即購買</a>
                            </div>
                            <div style="float:left; margin-left:10px; width:0px;">
                                <button type="button" class="btn btn-danger btn-lg rounded-0" style="width:0px;" id="bookingNowContent">1999-01-01</button>
                            </div>
                            <div style="float:left;">
                                <button type="button" class="btn btn-danger btn-lg rounded-0" id="bookingNowBtn" onclick="showCalendar();">立即預約</button>
                            </div>
                            <div style="clear:left;"></div>
                        </div>

                    </p>
                </div>

            </div>
            <div class="col-sm-12 col-md-4 pt-3">
                @*<div class="px-3">
                        <button type="button" class="btn btn-info btn-block rounded-0" style="height:60px;" onclick="LayerTest();">立即預約</button>
                    </div>*@
                <div class="px-3">
                    <div class="card text-dark bg-light mb-3 rounded-0">
                        <div class="card-header"><span style="font-weight:bold;">我的預約</span></div>
                        <div class="card-body" style="padding-top:7px; padding-bottom:7px;">
                            <div class="row pb-1">
                                <div class="col-sm-4">
                                    <small><a href="javascript:;" onclick="lastMonth();" class="badge badge-secondary">上個月</a></small>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <small id="current_date"></small>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <small><a href="javascript:;" onclick="nextMonth();" class="badge badge-secondary">下個月</a></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="border text-center py-1 text-white bg-secondary" style="width:14.2%;">
                                    <small>日</small>
                                </div>
                                <div class="border text-center py-1 text-white bg-secondary" style="width:14.2%;">
                                    <small>一</small>
                                </div>
                                <div class="border text-center py-1 text-white bg-secondary" style="width:14.2%;">
                                    <small>二</small>
                                </div>
                                <div class=" border text-center py-1 text-white bg-secondary" style="width:14.2%;">
                                    <small>三</small>
                                </div>
                                <div class="border text-center py-1 text-white bg-secondary" style="width:14.2%;">
                                    <small>四</small>
                                </div>
                                <div class="border text-center py-1 text-white bg-secondary" style="width:14.2%;">
                                    <small>五</small>
                                </div>
                                <div class="border text-center py-1 text-white bg-secondary" style="width:14.2%;">
                                    <small>六</small>
                                </div>
                            </div>
                            <div class="row" id="calendar"></div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <div id="map" style="height:180px;"></div>
                    </div>

                </div>

            </div>
        </div>
        <hr />
    </section>

    <section class="bootstrap">

        <div class="card">
            <div class="card-header">
                廠商介紹
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.VendorTitle</h5>
                <p class="card-text">
                    @Html.Raw(Model.VendorBody)

                </p>

            </div>
        </div>

    </section>

</div>
<div class="bootstrap" style="display:none;" id="hidden-content">
    <div style="min-width:360px;" id="timeSlotModal">
    </div>
</div>
<input type="hidden" id="PartnerVendorId" value="@Model.CustomerId" />
<input type="hidden" id="DelayDay" value="@Model.DelayDay" />
<input type="hidden" id="CanSunday" value="@Model.CanSunday" />




<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp2sgHJbLuJn8EW4PF3tAKoPLaCYgBbbY&callback=initMap">
</script>

<script type="text/javascript">

    var date = new Date();//當天
    //var edate = new Date($("#ecDate").val());
    var edate = new Date();//Test
    //edate.setDate(edate.getDate() + 14);
    edate.setDate(edate.getDate() + 30);

    var mm = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();

    var laydate;
    layui.use('laydate', function () {
        laydate = layui.laydate;
    });

    var showCalendar = function () {
       
        laydate.render({
            eventElem: '#bookingNowBtn',
            trigger: 'click',
            theme: '#e73928',
            elem: '#bookingNowContent',
            showBottom: false,
            show: true,
            value: new Date(),
            done: function (value, date) {
                alert(date.year);
                
            },
            ready: function (date) {
                
            }
        });



    }


    //var map;
    $(document).ready(function () {

        $("#bookingNowContent").html(mm);

        createCalendar();

        $(window).load(function () {
            // The slider being synced must be initialized first
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 50,
                itemMargin: 5,
                asNavFor: '#slider'
            });

            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                sync: "#carousel"
            });
        });

    });

    
   

    function createCalendar() {
        var canSunday = parseInt($("#CanSunday").val());
        var delayDay = parseInt($("#DelayDay").val());
        var now = new Date();
        var realNow = new Date();
        now.setDate(now.getDate() + delayDay);

        // 每月日數陣列
        var monthDays = new Array(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);

        // 閏年判斷
        mYear = date.getFullYear();
        if (((mYear % 4 == 0) && (mYear % 100 != 0)) || (mYear % 400 == 0)) monthDays[1] = 29;

        // 設定日期為該月第一天
        date.setDate(1);

        // 該月第一天的星期
        var day = date.getDay();

        // 計算秀出時需要的格數
        var total = monthDays[date.getMonth()] + day;
        var totalCells = total + (total % 7 ? 7 - total % 7 : 0);
        
        var html = '';
        for (var i = 0; i < totalCells; i++) {
            
            if (i >= day && i < total) {
                var isSunday = (i % 7 == 0 && canSunday == 1);
                var whichDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + ((i - day) + 1);
                var currDate = new Date(whichDate);
                var nowDate = new Date(now.getFullYear() + "/" + (now.getMonth() + 1) + "/" + now.getDate());

                var todayStyle;
                if (currDate.getTime() == new Date(realNow.getFullYear() + "/" + (realNow.getMonth() + 1) + "/" + realNow.getDate()).getTime()) {
                    todayStyle = "<span style='color:#0066FF;'>" + ((i - day) + 1) + "</span>";
                } else {
                    todayStyle = ((i - day) + 1);
                }

                if (currDate.getTime() <= nowDate.getTime()) {
                    html += '<div class="border pl-1 text-secondary" style="background-color:#F0F0F0; width:14.2%; height:30px; cursor:not-allowed;">';
                    html += '<small>' + todayStyle + '</small>';
                    html += '</div>';
                } else if (currDate.getTime() > nowDate.getTime()) {
                    if (currDate.getTime() <= edate.getTime()) {
                        if (!isSunday) {
                            html += '<div class="border pl-1 canUse" style="color:#777777; background-color:#ffffff; width:14.2%; height:30px; cursor:pointer;" data-book="0" data-date="' + whichDate + '" onmouseover="mOver(this);" onmouseout="mOut(this);" onclick="setBooking(this);">';
                            html += '<small>' + todayStyle + ' <span class="badge badge-pill badge-info mybooking"></span></small>';
                            html += '</div>';
                        } else {
                            html += '<div class="border pl-1 text-secondary" style="background-color:#F0F0F0; width:14.2%; height:30px; cursor:not-allowed;">';
                            html += '<small>' + todayStyle + '</small>';
                            html += '</div>';
                        }
                        
                    } else {
                        html += '<div class="border pl-1 text-secondary" style="background-color:#F0F0F0; width:14.2%; height:30px; cursor:not-allowed;">';
                        html += '<small>' + todayStyle + '</small>';
                        html += '</div>';
                    }

                }


            }
            else {
                html += '<div class="border pl-1 text-secondary bg-light" style="width:14.2%; height:30px; cursor:not-allowed;">';
                html += '</div>';
            }

        }
        $("#calendar").empty().append(html);

        $("#current_date").html("<strong>" + date.getFullYear() + "年" + (date.getMonth() + 1) + "月</strong>");

        listBooking();//顯示已被預約時間

    }

    var lastMonth = function () {

        //alert(date.getMonth());

        var m = date.getMonth();

        if (m == 0) {
            date.setFullYear(date.getFullYear() - 1);
            date.setMonth(11);
        } else {
            date.setMonth(m - 1);
        }

        createCalendar();
    }

    var nextMonth = function () {

        var m = date.getMonth();

        if (m == 11) {
            date.setFullYear(date.getFullYear() + 1);
            date.setMonth(0);
        } else {
            date.setMonth(m + 1);
        }

        createCalendar();

    }

    var listBooking = function () {

        var pid = $("#PartnerVendorId").val();

        $("div.canUse").each(function () {

            var elm = $(this);
            var d = elm.data("date");

            if (d === undefined) {

            } else {
                //console.log("/api/v1/StoreBookingApi?shopAddressId=0&reservationDate=" + $(this).data("date") + "&shopCode=" + shopCode);
                $.ajax({
                    cache: false,
                    type: "POST",
                    data: { reservationDate: $(this).data("date"), shopCode: pid },
                    url: "@Url.Action("BookingList", "PartnerVendor")",
                    dataType: 'json',
                    success: function (data) {

                        if (data.status == "OK") {
                            var html = "";
                            for (var i = 0; i < data.datas.length; i++) {
                                if (data.datas[i].myBooking == "Y") {
                                    html = "Me";
                                }

                            }
                            @*$("span.mybooking", elm).html(html);*@
                            if (html.length > 0) {
                                elm.css({ 'background-color': '#ffb5b5' });
                                elm.data("book", "1");
                            }

                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //alert('Failed to load reservation time.');
                    }
                });
                //$("div.booking", elm).html("<div style='font-size:12px; color:red;'>" + $(this).data("date") + "</div>");
                //console.log($(this).data("date"));
            }

        });
    }

    var mOver = function (e) {
        //console.log('#d2e9ff');

        if ($(e).data("book")=="0") {
            $(e).css('background-color', '#f2e6e6');
        }

    }
    var mOut = function (e) {
        //console.log('#ffffff');
        if ($(e).data("book") == "0") {
            $(e).css('background-color', '#ffffff');
        }

    }

    var setBooking = function (e) {

        $("#timeSlotModal").empty();

        console.log($(e).data("date"), $("#PartnerVendorId").val());

        $.fancybox.open({
            src: '#hidden-content',
            type: 'inline',
            opts: {
                afterShow: function (instance, current) {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        data: { reservationDate: $(e).data("date"), shopCode: $("#PartnerVendorId").val() },
                        url: "@Url.Action("BookingList", "PartnerVendor")",
                        dataType: 'json',
                        success: function (data) {
                            if (data.status == "OK") {
                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>預約 " + data.date + " 時段</strong></div>";
                                html += "<table class='table table-sm table-hover account-page'>";
                                html += "<thead class='thead-light'>";
                                html += "<tr>";
                                html += "<th scope='col'>時段</th>";
                                html += "<th scope='col'>狀態</th>";
                                html += "<th scope='col'></th>";
                                html += "</tr>";
                                html += "</thead>";
                                html += "<tbody>";
                                for (var i = 0; i < data.datas.length; i++) {
                                    html += "<tr>";
                                    html += "<td style='padding-top:10px;'>" + data.datas[i].timeStart + " ~ " + data.datas[i].timeEnd + "</td>";
                                    if (data.datas[i].status == "Y") {
                                        html += "<td style='padding-top:10px;'>可預約</td>";
                                        html += "<td style='padding:5px;'><button type='button' class='btn btn-warning btn-sm' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' onclick='bookingClick(this);'>預約</button></th>";
                                    } else {
                                        if (data.datas[i].myBooking == "Y") {
                                            html += "<td style='padding-top:10px;'>不可預約</td>";
                                            html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' disabled>我的預約</button></th>";
                                        } else {
                                            html += "<td style='padding-top:10px;'>不可預約</td>";
                                            html += "<td style='padding:5px;'><button type='button' class='btn btn-light btn-sm' data-code='" + $(e).data("code") + "' data-date='" + $(e).data("date") + "' data-time='" + data.datas[i].timeStart + "' disabled>無法預約</button></th>";
                                        }

                                    }
                                    html += "</tr>";
                                }
                                html += "</tbody>";
                                html += "</table>";
                                $("#timeSlotModal").append(html);

                            } else if (data.status == "LOGIN"){
                                var html = "<div style='margin-top:20px; margin-bottom:15px; width:100%;'><strong>請先登入</strong></div>";
                                html += "<div style='margin-top:20px; margin-bottom:15px; width:100%;'>";
                                html += "<button type='button' class='btn btn-primary btn-sm' onclick='javascript:location.href=\"/login/checkoutasguest?returnUrl=/PartnerVendor/Detail/" + $("#PartnerVendorId").val() + "\";'>確認</button> ";
                                html += "<button type='button' class='btn btn-secondary  btn-sm' onclick='javascript:$.fancybox.close();'>取消</button>";
                                html += "</div>";

                                $("#timeSlotModal").append(html);
                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to load reservation time.');
                        }
                    });
                }
            }
        });
    }

    var bookingClick = function (e) {

        $.fancybox.close();
        $.ajax({
            cache: false,
            type: "POST",
            data: { reservationDate: $(e).data("date"), shopCode: $("#PartnerVendorId").val(), time: $(e).data("time") },
            url: "@Url.Action("BookingInsert", "PartnerVendor")",
            dataType: 'json',
            success: function (data) {

                if (data.status == "OK") {
                    alert("預約完成");
                    location.reload();
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert('Failed to load reservation time.');
            }
        });





    }

    var LayerTest = function () {

        $.fancybox.open({
            src: '@Url.Action("Booking", "PartnerVendor")',
            type: 'iframe',
            autoScale: true,
            smallBtn: true,
            opts: {
                iframe: {},
                fullScreen: false,
                afterShow: function (instance, current) {
                    console.info('done!');
                }
            }
        });

    }

    function initMap() {

        //var myLatLng = { lat: 25.037493, lng: 121.564358 };
        var myLatLng = { lat: @Model.Latitude, lng: @Model.Longitude };
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(myLatLng.lat, myLatLng.lng)
                });
                marker.setMap(map);
        //if (navigator.geolocation) {
        //    navigator.geolocation.getCurrentPosition(function (position) {
        //        myLatLng.lat = position.coords.latitude;
        //        myLatLng.lng = position.coords.longitude;

        //        map = new google.maps.Map(document.getElementById('map'), {
        //            zoom: 14,
        //            center: myLatLng
        //        });
        //    });
        //}

    }


</script>


