﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddCssFileParts("~/Content/simplePagination.css");

    Html.AddScriptParts("~/Scripts/jquery.simplePagination.js");
}

@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@{

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;

}
<div class="breadcrumb">
    <ul>
        <li>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="@Url.RouteUrl("HomePage")" itemprop="url">
                    <span itemprop="title">@T("Products.Breadcrumb.Top")</span>
                </a>
            </span>
            <span class="delimiter">@breadcrumbDelimiter</span>
        </li>
        <li>
            <strong class="current-item">找服務店家</strong>
        </li>
    </ul>
</div>

<div class="page">
    <section class="bootstrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="card rounded-0" style="background-color:#ffffff;">
                    <div class="card-header" style="background-color:#ffffff;">
                        <strong style="font-size:1.2em;">找服務店家</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-2 mb-1">
                                <select class="form-control rounded-0" id="ServiceCatalog" name="ServiceCatalog" onchange="changeCatalog(this);">
                                    <option value="0">全部類別</option>
                                    <option value="1">輪胎鋁圈</option>
                                    <option value="2">油品保養</option>
                                    <option value="3">汽車美容</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-2 mb-1">
                                <select class="form-control rounded-0" id="AbcAddressCity" name="AbcAddressCity" onchange="changeCity(this);">
                                    <option value="">請選擇縣市</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-2 mb-1">
                                <select class="form-control rounded-0" id="AbcAddressArea" name="AbcAddressArea" onchange="changeArea(this);">
                                    <option value="" selected>請選擇區域</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 mb-1">
                                <div class="form-row">
                                    <div class="col-auto">
                                        <label class="sr-only" for="AbcKeyword">搜尋</label>
                                        <input type="text" class="form-control rounded-0" id="AbcKeyword" placeholder="搜尋">
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-light rounded-0" onclick="keywordSearch();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12" id="vendorList">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="pagination wrap" style="padding:10px;">
    </div>

    <div style="margin-top:20px;">
        <div id="map" style="height:600px;"></div>
    </div>

</div>
<input type="hidden" id="size" name="size" value="8" />
<input type="hidden" id="page" name="page" value="1" />
<input type="hidden" id="total" name="total" value="0" />
@Html.AntiForgeryToken()


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp2sgHJbLuJn8EW4PF3tAKoPLaCYgBbbY&callback=initMap">
</script>

<script>

    var map;
    var stateName;
    var myLatLng = { lat: 25.037493, lng: 121.564358 };
    var activeInfoWindow;

    $(document).ready(function () {
        //initMap();
    });

    function initMap() {

        var geocoder = new google.maps.Geocoder();

        if (navigator.geolocation) {

            navigator.geolocation.getCurrentPosition(function (position) {

                myLatLng.lat = position.coords.latitude;
                myLatLng.lng = position.coords.longitude;

                console.log(position.coords.latitude, position.coords.longitude);
                //map = new google.maps.Map(document.getElementById('map'), {
                //    zoom: 14,
                //    center: myLatLng
                //});
                @*
                myLatLng.lat = 25.053961;
                myLatLng.lng = 121.533408;
                *@

                geocoder.geocode({ 'location': myLatLng }, function (results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                        //var location = results[0].geometry.location;
                        var hasState = false;
                        var address_components = results[0].address_components;
                        $(address_components).each(function (index, element) {

                            if (element.types[0] == "administrative_area_level_1") {
                                console.log("location detect:", element.long_name);
                                stateName = element.long_name;
                                hasState = true;
                            }
                        });
                        if (hasState) {
                            loaded(1, stateName);
                        } else {
                            stateName = "";
                            loaded(2, stateName);
                        }
                    } else {
                        console.log("無法取得位置");
                        stateName = "";
                        //loaded(3, stateName);
                    }
                });

            }, function (error) {
                //alert('Error occurred. Error code: ' + error.code);
                stateName = "";
                loaded(3, stateName);
            }, { timeout: 5000 });
        }

    }


</script>


<script type="text/javascript">

    String.prototype.format = function () {
        a = this;
        for (k in arguments) {
            a = a.replace("{" + k + "}", arguments[k])
        }
        return a
    }

    var params = "city={0}&area={1}&pagesize={2}&page={3}&keyword={4}&catalog={5}";
    var result;

    $(document).ready(function () {


    });//documemt end

    var loaded = function (arg1, arg2) {

        $("html, body").animate({ scrollTop: 0 }, "fast");

        console.log("loaded", "from:", arg1, "value:", arg2);

        var hash = window.location.hash.substr(1);
        console.log("hash:", hash);

        @*
            2019 - 06 - 06 變更顯示邏輯
        若hash是空字串, 則要取得location來做第一次搜尋, 無法取得位置則使用預設
            *@

        if (hash.length <= 0) {
            if (arg2 == "台北市") {
                arg2 = "臺北市"
            }
            if (arg2 == "台中市") {
                arg2 = "臺中市"
            }
            if (arg2 == "台南市") {
                arg2 = "臺南市"
            }
            if (arg2 == "台東市") {
                arg2 = "臺東市"
            }
            hash = params.format(arg2, "", $("#size").val(), $("#page").val(), "", $("#ServiceCatalog").val());
            window.location.hash = params.format(arg2, "", $("#size").val(), $("#page").val(), $("#AbcKeyword").val(), $("#ServiceCatalog").val());
        }

        result = hash.split('&').reduce(function (result, item) {
            var parts = item.split('=');
            result[parts[0]] = parts[1];
            return result;
        }, {});

        //$("#hash_text").html(decodeURI(result["city"]));
        var currentCity = result["city"] != null ? decodeURI(result["city"]) : "";
        var currentArea = result["area"] != null ? decodeURI(result["area"]) : "";
        var currentKeyword = result["keyword"] != null ? decodeURI(result["keyword"]) : "";
        var currentCatalog = result["catalog"] != null ? decodeURI(result["catalog"]) : "";
        var currentSize = result["pagesize"] != null ? result["pagesize"] : "8";
        var currentPage = result["page"] != null ? result["page"] : "1";

        $("#size").val(currentSize);
        $("#page").val(currentPage);
        $("#AbcKeyword").val(currentKeyword);

        @* load abc address *@
        $.ajax({
            cache: false,
            type: "GET",
            url: "/api/v1/AbcAddress",
            data: { level: 0, city: "", area: "" },
            success: function (data) {
                $.each(data, function (id, option) {
                    if (currentCity == option.City) {
                        $("#AbcAddressCity").append("<option value='" + option.City + "' selected>" + option.City + "</option>");
                    } else {
                        $("#AbcAddressCity").append($('<option></option>').val(option.City).html(option.City));
                    }
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve City.');
            },
            complete: function () {
                if (currentCity.length > 0) {
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: "/api/v1/AbcAddress",
                        data: { level: 1, city: currentCity, area: "" },
                        success: function (data) {
                            $.each(data, function (id, option) {
                                //$("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                                if (currentArea == option.Area) {
                                    $("#AbcAddressArea").append("<option value='" + option.Area + "' selected>" + option.Area + "</option>");
                                } else {
                                    $("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                                }
                            });
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to retrieve City.');
                        },
                        complete: function () {
                            loadVendor();
                        }
                    });
                } else {
                    loadVendor();
                }
            }
        });

    }

    var changeCity = function (e) {

        var elm = $(e);
        result["city"] = encodeURI(elm.val());
        result["area"] = "";
        $("#page").val(1);
        window.location.hash = params.format(encodeURI(elm.val()), "", $("#size").val(), $("#page").val(), $("#AbcKeyword").val(), $("#ServiceCatalog").val());

        $.ajax({
            cache: false,
            type: "GET",
            url: "/api/v1/AbcAddress",
            data: { level: 1, city: elm.val(), area: "" },
            success: function (data) {
                $("#AbcAddressArea").empty().append($('<option></option>').val("").html("請選擇"));
                $.each(data, function (id, option) {
                    $("#AbcAddressArea").append($('<option></option>').val(option.Area).html(option.Area));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve City.');
            },
            complete: function () {
                loadVendor();

            }
        });

    }

    var changeArea = function (e) {

        var elm = $(e);
        result["city"] = encodeURI($("#AbcAddressCity").val());
        result["area"] = encodeURI(elm.val());
        $("#page").val(1);
        window.location.hash = params.format(encodeURI($("#AbcAddressCity").val()), encodeURI(elm.val()), $("#size").val(), $("#page").val(), $("#AbcKeyword").val(), $("#ServiceCatalog").val());
        loadVendor();
    }

    var keywordSearch = function () {

        result["city"] = encodeURI($("#AbcAddressCity").val());
        result["area"] = encodeURI($("#AbcAddressArea").val());
        $("#page").val(1);
        window.location.hash = params.format(encodeURI($("#AbcAddressCity").val()), encodeURI($("#AbcAddressArea").val()), $("#size").val(), $("#page").val(), $("#AbcKeyword").val(), $("#ServiceCatalog").val());
        loadVendor();
    }

    var changeCatalog = function (e) {

        var elm = $(e);
        result["city"] = encodeURI($("#AbcAddressCity").val());
        result["area"] = encodeURI($("#AbcAddressArea").val());
        result["catalog"] = $("#ServiceCatalog").val();
        result["keyword"] = $("#AbcKeyword").val();
        $("#page").val(1);

        //console.log(result["city"], result["area"], result["catalog"]);

        window.location.hash = params.format(encodeURI($("#AbcAddressCity").val()), encodeURI($("#AbcAddressArea").val()), $("#size").val(), $("#page").val(), $("#AbcKeyword").val(), $("#ServiceCatalog").val());
        loadVendor();
    }

    var loadVendor = function () {

        $(".pagination").pagination('destroy');
        $("#vendorList").empty();

        var postData = {
            city: result["city"] != null ? decodeURI(result["city"]) : "",
            area: result["area"] != null ? decodeURI(result["area"]) : "",
            size: $("#size").val(),
            page: $("#page").val(),
            keyword: $("#AbcKeyword").val(),
            catalog: $("#ServiceCatalog").val()
                    };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            url: "@Url.Action("List","PartnerVendor")",
            data: postData,
            success: function (data) {
                $("#total").val(data.total);
                $("#size").val(data.size);
                $("#page").val(data.page);
                if (data.total > 0) {
                    $("#map").show();
                    var count = 0;
                    var html = "";
                    $.when(
                        $.each(data.datas, function (id, option) {
                            count++;
                            if (count % 4 == 1) {
                                html += "<div class='card-deck mt-3'>";
                            }
                            html += "<div class='card rounded-0'>";
                            if (option.PartnerVendorPictures.length <= 0) {
                                html += "<a href='@Url.Action("Detail", "PartnerVendor")/" + option.CustomerId + "'><img class='card-img-top rounded-0' src='/Content/Images/default-image.png' alt=''></a>";
                            } else {
                                html += "<a href='@Url.Action("Detail", "PartnerVendor")/" + option.CustomerId + "'><img class='card-img-top rounded-0' src='" + option.PartnerVendorPictures[0].PictureUrl + "' alt=''></a>";
                            }
                            html += "<div class='card-body'>";
                            html += "<h5 class='card-title'><a href='@Url.Action("Detail", "PartnerVendor")/" + option.CustomerId + "'>" + option.VendorTitle + "</a></h5>";
                            if (option.AddressInfo != null) {
                                html += "<p class='card-text'>" + option.AddressInfo + "</p>";
                            }
                            if (option.VendorBodyOverview != null) {
                                html += "<p class='card-text'>" + option.VendorBodyOverview + "</p>";
                            }
                            if (option.VendorTags != null) {
                                html += "<p class='card-text'>";
                                for (var j = 0; j < option.VendorTags.length; j++) {
                                    html += "<span class='border p-1'>" + option.VendorTags[j] + "</span> ";
                                }
                                html += "</p>";
                            }
                            //html += " <p class='card-text'><small class='text-muted'>營業時間：" + option.VendorStartTime + " ~ " + option.VendorEndTime + "</small></p>";
                            html += "</div>";
                            html += "</div>";
                            if (count % 4 == 0) {
                                html += "</div>";
                            }

                        })
                    ).done(function () {

                        var h = count % 4;

                        if (h > 0) {
                            for (var i = 0; i < (4 - h); i++) {
                                html += "<div class='card' style='visibility: hidden;'></div>";
                            }
                            html += "</div>";
                        }

                        $("#vendorList").html(html);
                        $(".pagination").pagination({
                            items: $("#total").val(),
                            itemsOnPage: $("#size").val(),
                            currentPage: $("#page").val(),
                            cssStyle: 'light-theme',
                            onPageClick: function (pageNumber, event) {
                                event.preventDefault();
                                $("#page").val(pageNumber);
                                result["city"] = encodeURI($("#AbcAddressCity").val());
                                result["area"] = encodeURI($("#AbcAddressArea").val());
                                window.location.hash = params.format(encodeURI($("#AbcAddressCity").val()), encodeURI($("#AbcAddressArea").val()), $("#size").val(), pageNumber, $("#AbcKeyword").val(), $("#ServiceCatalog").val());
                                loadVendor();
                            }
                        });

                        var mapArea = {
                            city: $("#AbcAddressCity").val(),
                            area: $("#AbcAddressArea").val()
                        };

                        if (mapArea.city.length > 0) {

                            var addressCollect = mapArea.city + mapArea.area;

                            var geocoder = new google.maps.Geocoder();
                            geocoder.geocode({ 'address': addressCollect }, function (results, status) {
                                if (status === google.maps.GeocoderStatus.OK) {
                                    var location = results[0].geometry.location;
                                    var mapOptions = {
                                        center: new google.maps.LatLng(location.lat(), location.lng()),
                                        zoom: 12,
                                        mapTypeId: google.maps.MapTypeId.roadmap
                                        //mapTypeId: google.maps.MapTypeId.HYBRID
                                    };
                                    map = new google.maps.Map(document.getElementById("map"),
                                        mapOptions);

                                    $.each(data.dataAll, function (id, option) {

                                        console.log(option.VendorTitle, option.Latitude, option.Longitude);
                                        var marker = {
                                            position: { lat: Number(option.Latitude), lng: Number(option.Longitude) },
                                            map: map,
                                            title: option.VendorTitle
                                        }

                                        var content = '<div id="content">' +
                                            '<div>安裝廠 : ' + option.VendorTitle + '</div>' +
                                            '<div>地址 : ' + option.AddressInfo + '</div>' +
                                            '<div>庫存 : 足夠</div>' +
                                            '<div class="bootstrap" style="padding:5px 0;"><a class="btn btn-primary" href="@Url.Action("Detail", "PartnerVendor")/' + option.CustomerId + '" role="button">立即預約</a></div>' +
                                            '</div>';

                                        var infowindow = new google.maps.InfoWindow();

                                        var _marker = new google.maps.Marker(marker);

                                        @*
                                        google.maps.event.addListener(_marker, 'mouseover', (function (_marker, content, infowindow) {
                                            return function () {
                                                infowindow.setContent(content);
                                                if (activeInfoWindow) { activeInfoWindow.close(); }
                                                infowindow.open(map, _marker);
                                                activeInfoWindow = infowindow;
                                            };
                                        })(_marker, content, infowindow));
                                        *@
                                        google.maps.event.addListener(_marker, 'click', (function (_marker, content, infowindow) {
                                            return function () {
                                                infowindow.setContent(content);
                                                if (activeInfoWindow) { activeInfoWindow.close(); }
                                                infowindow.open(map, _marker);
                                                activeInfoWindow = infowindow;
                                            };
                                        })(_marker, content, infowindow));

                                    });

                                } else {
                                    console.log("not localtion");
                                    //alert('此位置無法定址');
                                }
                            });

                        } else {
                            $("#map").hide(); @* 沒選區域 *@
                        }

                    });

                } else {
                    $("#vendorList").html("<div style='margin-top:30px;'>找不到資料</div>");
                    $("#map").hide();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve City.');
            },
            complete: function () {
                //searchVendor();
            }
        });

    }


</script>