﻿
@media (min-width: 1281px){

    .center-1 .product-grid .item-box {
        width: 14.9%;
    }

        .center-1 .product-grid .item-box:nth-child(5n+1) {
            clear: none;
            margin-left: 2%;
        }

        .center-1 .product-grid .item-box:nth-child(6n+1) {
            clear: both;
            margin-left: 0;
        }
}
