﻿
.header-line {
    height: 44px;
    background-image: url(/Content/new/1ED2D012-7FD0-463D-B133-F9A4DCE5B194.png);
    background-repeat: no-repeat;
    background-size: 928px 44px;
    background-position: 195px 0px;
    background-color: #f6f6f6;
}

.more-counter {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    color: #d0021b;
    top: -5px;
    right: -20px;
    border-radius: 16px;
}


#more_search_input, #small-searchterms {
    float: left;
    width: 288px;
    margin: 0px 0px 0px 12px;
    height: 27px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 0px solid #DBDBDB;
    padding-left: 20px;
    font-size:14px;
}

#more_search_button {
    background: #d0021b;
    color: #ffffff;
    border: 0px solid #000;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 27px;
    width: 40px;
    float: left;
    font-size: 14px;
}

.fixCss {
    position: fixed;
    top: 0px;
    z-index: 9998;
}

.myHeaderLink{
    color:white !important;
}
    .myHeaderLink:hover {
        text-decoration: underline;
    }


.header-mobile {
    display: none;
}
.header-mobile-inline {
    display: none;
}
.header-not-mobile {
    display: inline-block;
}
.header-not-mobile-inline {
    display: inline;
}
.hasTopSpace{
    margin-top:15px;
    padding-top:15px;
}

.cartOption-1 {
    float: right;
}

.cartOption-2 {
    float: left;
}


/*輪播*/
.layui-carousel > [carousel-item] {
    overflow: visible;
}

    .layui-carousel > [carousel-item] > * {
        height: auto;
    }

.layui-carousel-ind {
    margin-top: -20px;
    top: auto;
    bottom: 10px;
}

/*item-box*/
.item-box-new{}


@media (max-width: 575.98px) {
    .header-mobile {
        display:inline-block;
    }
    .header-mobile-inline {
        display: inline;
    }
    .header-not-mobile {
        display: none;
    }
    .header-not-mobile-inline {
        display: none;
    }

    .hasTopSpace {
        margin-top: 0px;
        padding-top: 0px;
    }

    .item-box-new {
        margin-bottom:15px;
        width:49%;
    }

    .cartOption-2 {
        float: right;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

    .header-mobile {
        display: inline-block;
    }
    .header-mobile-inline {
        display: inline;
    }
    .header-not-mobile {
        display: none;
    }

    .header-not-mobile-inline {
        display: none;
    }

    .item-box-new {
        margin-bottom: 15px;
        width: 49%;
    }

    .cartOption-2 {
        float: right;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

    .header-mobile {
        display: inline-block;
    }
    .header-mobile-inline {
        display: inline;
    }
    .header-not-mobile {
        display: none;
    }

    .header-not-mobile-inline {
        display: none;
    }

    .hasTopSpace {
        margin-top: 0px;
        padding-top: 0px;
    }

    .cartOption-2 {
        float: right;
    }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    
}
